[2021-12-03 04:41] eviltofu commented on #3500
Also, Travis only tests iOS 15, 14. It should technically test all the way down to the minimum level we support.

[2021-12-03 04:42] eviltofu commented on #3499
It's easier to fix the missing lines once the files are sorted. I'll start on this.

[2021-12-03 04:43] hboon commented on #3500
Yes, but that's ok, our users are dominated by iOS 14 and 15.

[2021-12-03 05:15] eviltofu commented on #3492
Suggest we use a class to build the UI elements.
[code]

[2021-12-03 06:09] eviltofu commented on #3499
Ok sorted. There are no missing lines. I wrote a small python script to do the comparison, should I check this in someplace?

[2021-12-03 07:30] hboon commented on #3492
Doesn't rely on inheritance, easy to copy and paste and not so brittle. Might work?

[2021-12-03 07:35] hboon commented on #3499
Is that to check for missing lines? Can you try rewriting it in simple JavaScript in this file https://github.com/AlphaWallet/alpha-wallet-ios/blob/3cb19bf54ea8f50a8bb82c986a93c7aa9db04ce5/dangerfile.js#L21 ? You can add it to your precommit hooks if it doesn't slow you down.

Run it with something like:

[code]

[2021-12-03 07:45] eviltofu commented on #3499
It's a python 2 and a bash script. Why not put this in the makefile? `make local_strings_check`. I'm not sure I know enough javascript to rewrite this quickly.

[2021-12-03 07:47] hboon commented on #3499
Then never mind. Because the next person who comes along might add a ruby script :)

[2021-12-03 07:55] hboon commented on #3493
Seems like a bug in client code #3501

[2021-12-03 09:21] #3499 closed

[2021-12-05 16:04] hboon opened #3504 "TokensCardCollectionCoordinator instance's delegate not set"
https://github.com/AlphaWallet/alpha-wallet-ios/blob/79ae11b8b97cac88f013b54c9e0f9b0b313c04d5/AlphaWallet/Tokens/ViewControllers/Collectibles/Coordinators/TokensCardCollectionCoordinator.swift#L35

Looks like a bug?

[2021-12-07 00:07] eviltofu opened #3505 "Project master branch cannot compile for simulator on M1 Mac system"
name: Bug Report
about: There are no problems when compiling to device. When compiling the master branch on a M1 MacBook Air, Xcode reports the following errors when compiling for the 15.0 and 14.5 simulators:

1. EthereumABI Group
2. web3swift Group
3. TrustWalletCore Group
4. TrustKeystore Group

1. CompileSwiftSources normal arm64 com.apple.xcode.tools.swift.compiler (in target 'EthereumABI' fr

[2021-12-07 00:43] #3505 closed

[2021-12-07 01:44] eviltofu opened #3506 "Makefile crash when install cocoapods on M1 Macbook Air with `pod install --repo-update`"
When installing via `make bootstrap`, cocoapods crashes with the following:

`/Users/jerome/Documents/alpha-wallet-ios/vendor/bundle/ruby/2.6.0/gems/ethon-0.12.0/lib/ethon/curls/classes.rb:35: [BUG] Illegal instruction at 0x0000000100870000
ruby 2.6.8p205 (2021-07-07 revision 67951) [universal.arm64e-darwin21]`

[2021-12-07 03:14] hboon opened #3509 "Update fallback icon (derived from favicon) in dapp browser"
Refer to: https://github.com/AlphaWallet/alpha-wallet-ios/issues/3223#issuecomment-981465461 onwards

They are used in (at least) 3 screens accessible from the Browser tab:

<img width="443" alt="Screenshot 2021-12-07 at 11 12 26 AM" src="https://user-images.githubusercontent.com/56189/144959496-00f53d70-d42e-47db-821b-6cd804c81e92.png">

<img width="443" alt="Screenshot 2021-12-07 at 11 12 28 AM"

[2021-12-07 05:01] eviltofu opened #3510 "Unable to compile app for simulator in Xcode"
Using the fixed Makefile (see #3507), the following errors occur when compiling for a simulator.

## iOS 15.0 / iPhone 13
1. TrustWalletCore Group: In /Users/jerome/Documents/alpha-wallet-ios/Pods/TrustWalletCore/build/ios/libCore.a(TWAES.cpp.o), building for iOS Simulator, but linking in object file built for iOS, for architecture arm64
2. WalletConnectSwift Group: Command CompileSwiftSources fai

[2021-12-07 05:01] eviltofu commented on #3510
1. Ld /Users/jerome/Library/Developer/Xcode/DerivedData/AlphaWallet-hgxearcldyzcnmdqqntbraaarssg/Build/Products/Debug-iphonesimulator/TrustWalletCore/WalletCore.framework/WalletCore normal (in target 'TrustWalletCore' from project 'Pods')
    cd /Users/jerome/Documents/alpha-wallet-ios/Pods
    /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang -target arm

[2021-12-07 05:01] eviltofu commented on #3510
2. CompileSwiftSources normal arm64 com.apple.xcode.tools.swift.compiler (in target 'WalletConnectSwift' from project 'Pods')
    cd /Users/jerome/Documents/alpha-wallet-ios/Pods
    export DEVELOPER_DIR\=/Applications/Xcode.app/Contents/Developer
    export SDKROOT\=/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator15.0.sdk
    /Applicatio

[2021-12-07 05:01] eviltofu commented on #3510
3. CompileSwiftSources normal arm64 com.apple.xcode.tools.swift.compiler (in target 'Charts' from project 'Pods')
    cd /Users/jerome/Documents/alpha-wallet-ios/Pods
    export DEVELOPER_DIR\=/Applications/Xcode.app/Contents/Developer
    export SDKROOT\=/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator15.0.sdk
    /Applications/Xcode.app

[2021-12-07 05:01] eviltofu commented on #3510
4. CompileSwiftSources normal arm64 com.apple.xcode.tools.swift.compiler (in target 'APIKit' from project 'Pods')
    cd /Users/jerome/Documents/alpha-wallet-ios/Pods
    export DEVELOPER_DIR\=/Applications/Xcode.app/Contents/Developer
    export SDKROOT\=/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator15.0.sdk
    /Applications/Xcode.app

[2021-12-07 05:05] eviltofu commented on #3510
5. CompileSwiftSources normal arm64 com.apple.xcode.tools.swift.compiler (in target 'TrustKeystore' from project 'Pods')
    cd /Users/jerome/Documents/alpha-wallet-ios/Pods
    export DEVELOPER_DIR\=/Applications/Xcode.app/Contents/Developer
    export SDKROOT\=/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator15.0.sdk
    /Applications/Xc

[2021-12-07 05:05] eviltofu commented on #3510
6. CompileSwiftSources normal arm64 com.apple.xcode.tools.swift.compiler (in target 'WalletConnectSwift' from project 'Pods')
    cd /Users/jerome/Documents/alpha-wallet-ios/Pods
    export DEVELOPER_DIR\=/Applications/Xcode.app/Contents/Developer
    export SDKROOT\=/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator15.0.sdk
    /Applicatio

[2021-12-07 05:06] eviltofu commented on #3510
7. Ld /Users/jerome/Library/Developer/Xcode/DerivedData/AlphaWallet-hgxearcldyzcnmdqqntbraaarssg/Build/Products/Debug-iphonesimulator/TrustWalletCore/WalletCore.framework/WalletCore normal (in target 'TrustWalletCore' from project 'Pods')
    cd /Users/jerome/Documents/alpha-wallet-ios/Pods
    /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/clang -target arm

[2021-12-07 05:06] eviltofu commented on #3510
8. CompileSwiftSources normal arm64 com.apple.xcode.tools.swift.compiler (in target 'RealmSwift' from project 'Pods')
    cd /Users/jerome/Documents/alpha-wallet-ios/Pods
    export DEVELOPER_DIR\=/Applications/Xcode.app/Contents/Developer
    export SDKROOT\=/Applications/Xcode.app/Contents/Developer/Platforms/iPhoneSimulator.platform/Developer/SDKs/iPhoneSimulator15.0.sdk
    /Applications/Xcode

[2021-12-07 13:59] eviltofu commented on #3483
@colourfreak What about the navigation bar text colour?

[2021-12-07 15:41] #3094 closed

[2021-12-07 15:41] #3040 closed

[2021-12-07 15:41] hboon commented on #3022
Duplicate of #3275

[2021-12-07 15:42] #3022 closed

[2021-12-07 15:42] hboon commented on #3019
Outdated. There's way more than 1 common/public bridge server now

[2021-12-07 15:42] #3019 closed

[2021-12-07 15:44] hboon commented on #2965
Sorry for the delay.

Not for the time being, as we are currently heavily focused on EVM support only.

[2021-12-07 15:44] #2965 closed

[2021-12-07 15:44] #2950 closed

[2021-12-07 15:45] hboon commented on #2744
Duplicate of #3275

[2021-12-07 15:45] #2744 closed

[2021-12-07 15:46] #2716 closed

[2021-12-07 15:46] #2639 closed

[2021-12-07 15:46] hboon commented on #2585
Focused mainly on EVM chains at the moment.

[2021-12-07 15:46] #2585 closed

[2021-12-07 15:47] hboon commented on #2326
Corrected

[2021-12-07 15:47] #2326 closed

[2021-12-07 15:48] hboon commented on #2064
Outdated

[2021-12-07 15:48] #2064 closed

[2021-12-07 15:48] hboon commented on #2025
Outdated

[2021-12-07 15:48] #2025 closed

[2021-12-07 15:49] hboon commented on #1612
Outdated

[2021-12-07 15:49] #1612 closed

[2021-12-07 15:49] hboon commented on #1090
Closed for now

[2021-12-07 15:49] #1090 closed

[2021-12-07 15:59] hboon opened #3511 "Display chain icons in Settings > Select Active Networks screen"
Maybe chain ID too.

Related: https://github.com/AlphaWallet/alpha-wallet-ios/issues/3464#issuecomment-979787211

[2021-12-07 16:02] hboon commented on #3464
@eviltofu can you help to work on this? But excluding: #3511, i.e. don't change that screen to add the icon/chain ID.

Probably need to look at https://github.com/ethereum-lists/chains and see if we should include it as a submodule (how big is it?) or download it on-demand

[2021-12-08 13:48] colourfreak commented on #3483
White #ffffff Follow the intuition.

[2021-12-09 01:50] eviltofu commented on #3464
@hboon @colourfreak Some notes and clarifications.

### Browse Screen
1. The user can select and deselect multiple networks in the browse screen.
2. Networks which are already selected do not appear in the browse screen (otherwise this would be a **manage** and not **add** function). This is done by comparing ChainIDs.
3. The network list should be cached and a modification date of some kind be us

[2021-12-09 03:38] #3493 closed

[2021-12-09 03:59] hboon commented on #3464
You might be referring to caching either of these:

A. chains that are added through Browse
B. the list of chains in the Browse tab

A. Chains that are added through Browse
---
After the user adds their selections, we must not automatically/silently modify the copy they have added to

B. The list of chains in the Browse tab
---
I am leaning towards just embedding it as a git submodule, for us to r

[2021-12-09 07:00] eviltofu commented on #3464
@colourfreak Can we have a pop up appear after you tap the + button which then lets the user pick manual or browse and then just go to that screen?

[2021-12-09 08:26] eviltofu opened #3517 "Dapp browser fallback icons have square focus on initial appearance"
![Screen Shot 2021-12-09 at 4 11 39 PM](https://user-images.githubusercontent.com/1050309/145360494-fad7f277-6aef-418f-8a32-142e675efe4d.png)

[2021-12-09 08:28] hboon commented on #3517
Probably should verify on iOS 13, 14, 15 too.

[2021-12-09 08:29] eviltofu opened #3518 "User interface testing attempt"
There needs to be UI testing for our screens. I propose to create one for "Add Custom RPC" screen to see if it can be adapted for all new screens in the future.

[2021-12-09 09:44] eviltofu commented on #3517
I’ll check on my intel MacBook for 13. I have devices for 15 and 14. This screen shot was taken on 15.

[2021-12-09 11:38] eviltofu opened #3520 "Bug: When starting app for the first time, WhatsNewList causes screen freeze."
# Bug report
## Delete app from device ###
1. Install new copy of app.
2. Start app.
3. Create new wallet.
4. **What's New** sheet appears. **Back up your wallet** appears behind the sheet.
5. Press X on the **What's New** sheet. **What's New** sheet disappears.
6. Tapping on the green CONTINUE button no longer works dismisses **Back up your wallet**..

However, if you slide the **What's New** she

[2021-12-09 11:39] eviltofu commented on #3520
On iOS 14, the text does not show up on iPhone 6S Plus.

![Screen Shot 2021-12-09 at 7 07 51 PM](https://user-images.githubusercontent.com/1050309/145389858-743976eb-17ce-43ef-b3a6-fc77c9c769a5.png)

[2021-12-09 11:40] eviltofu commented on #3520
It looks like the WhatsNewListingViewController is not dismissed correctly.

<img width="720" alt="exploded" src="https://user-images.githubusercontent.com/1050309/145389971-4f2695cf-b5c7-42e5-ad9d-bee23212c571.png">

[2021-12-10 05:18] #3449 closed

[2021-12-10 08:36] #3489 closed

[2021-12-10 09:03] colourfreak commented on #3449
Is this now in the new build 414? @hboon

[2021-12-10 09:05] hboon commented on #3449
@colourfreak no, not yet. But will be in the next one.

[2021-12-10 09:35] vladyslav-iosdev commented on #3224
@hboon  can u provide more details on it

[2021-12-10 10:04] colourfreak commented on #3464
@hboon @eviltofu

**I updated the prototype:**
https://invis.io/MW1220T36ET3

**Changes:**
- Switch Browse and Enter tabs, so Browse appear as the first one
- When you go to the Browse tab, you will see only these networks that are not in the main Select Custom RPC screen
- In the Browse tab, you can select multiple networks and the "Add Network" button appears in the bottom sheet to confirm
- If

[2021-12-10 10:14] colourfreak commented on #3511
Do you mean something like this?

![Settings_Select_Active_Network_RPC](https://user-images.githubusercontent.com/51817359/145557350-72cc7af1-f236-44e7-a2f6-81e56f8ea749.jpg)

[2021-12-10 10:17] hboon commented on #3511
Yes.

[2021-12-10 10:20] colourfreak opened #3524 "Unify the color of all single line separators"
<img width="1045" alt="Screenshot 2021-12-10 at 11 16 20" src="https://user-images.githubusercontent.com/51817359/145557936-957da5c2-4002-495f-bca9-8701e815e019.png">
<img width="551" alt="Screenshot 2021-12-10 at 11 16 06" src="https://user-images.githubusercontent.com/51817359/145557940-0ce7c995-053c-43bf-8ef2-f8624429eb0e.png">

I made a mistake in the past and created 3 different colors of a s

[2021-12-10 10:21] colourfreak commented on #3524
https://zpl.io/bJ6Xj06

[2021-12-10 10:40] vladyslav-iosdev opened #3525 "improve collectibles displaying"

[2021-12-10 11:22] colourfreak opened #3527 "Add "Search for a token" inside a new search box in the Wallet tab"
![2021-12-10 11 23 18](https://user-images.githubusercontent.com/51817359/145566572-97854973-e5d1-4dd0-a37f-42a07b591d34.png)

[2021-12-10 11:32] colourfreak opened #3528 "Sort tokens Value: Descending in the Wallet tab by default"
Native coin should go first for a network, then the rest with the value descending. Usually, you are the most interested in tokens that have the highest value in your wallet.

- Ethereum
- Token with the highest value in USD
- Token with the second highest value in USD
- Token with the third highest value in USD
- ...

**Now:**
![2021-12-10 12 26 00](https://user-images.githubusercontent.com/51817

[2021-12-10 11:42] colourfreak opened #3529 "Improve the transition to Search Box at the top"
Notice how the navigation bar animates. It slides up and it's not visually pleasant. Maybe we can speed up this animation.
https://user-images.githubusercontent.com/51817359/145568622-8a2073b1-813d-4abc-ac84-3d2b9e0f4705.mp4

This is the frame I am talking about.
<img width="631" alt="Screenshot 2021-12-10 at 12 39 57" src="https://user-images.githubusercontent.com/51817359/145568957-6c421c4d-a7f2

[2021-12-10 11:50] colourfreak opened #3530 "Increase the height of the Wallet's cell"
Now the height is 74pt, let's make it according to the design 80pt.

https://zpl.io/aB3X98k

<img width="1331" alt="Screenshot 2021-12-10 at 12 47 16" src="https://user-images.githubusercontent.com/51817359/145569629-f10fad50-0b6d-4740-82f6-1e4b8b456bb4.png">

[2021-12-10 12:02] colourfreak opened #3531 "Use , as thousands separator and . as decimal separator no matter the locale"
I know in the past we used to change decimals depending on location. But I think we should stick to only one version. People get used to tools like Coinmarketcap, where all goes with the English way to present decimals. Let's stick to it.

**Good:**
1,000,000.00 = 1 mln
2,000.00 = 2k
5.67% = 5 point 67 %

**No more of this:**
1000000,00 = 1 mln
2000,00 = 2k
5,67% = 5 point 67 %

<img width="588" a

[2021-12-10 14:31] colourfreak opened #3532 "Standardize chevron/checkmark usage in list of Wallet screen"
1. We don't need to show which wallet you are in (checkmark). Instead, show unified icons for all.
2. Make sure we have decimals right #3531
3. Update chevrons (arrows) https://zpl.io/bAKlY3q

**Zeplin:**
https://zpl.io/bz4Rq4M

**Prototype:**
https://invis.io/7TZHRQ8W265

Now
![126964979-452669ea-9a5e-4fe7-ae88-ef30aba7899b](https://user-images.githubusercontent.com/51817359/145589690-e5544c98-cf

[2021-12-12 10:47] hboon commented on #3529
Not sure if this is caused by moving the search bar out from the navigation bar though

[2021-12-12 10:48] hboon commented on #3527
@colourfreak do you mean to add "Search for a token" as placeholder text?

[2021-12-12 10:50] vladyslav-iosdev commented on #3529
ok, i will try to improve it. The problem is that we are not really using Search bar in navigation bar, that is why there is such transition

[2021-12-12 10:53] hboon commented on #3529
Yes, I thought it might be related. See what you can do first. If it's fighting the system, we'll see if there's other ways to improve it (like restoring it in the navigation bar).

[2021-12-13 02:21] eviltofu commented on #3531
I'll just make a default currency formatter and insert it into all the instances where it's required so if we decide to change our minds again it will be easier to implement. There already exists a USD currency formatter.

[2021-12-13 03:01] eviltofu commented on #3531
@colourfreak on a side note, the current code uses (or should be using) the built-in OS code to determine the format. It's a non-trivial task to change the format throughout the app. It's going to take a few days so please be patient.

[2021-12-13 03:13] hboon commented on #3531
@eviltofu great. Also check what are these:

[code]

The `usd` naming might be legacy, don't worry too much about it. Read it as "fiat" if it works better.

[2021-12-13 03:33] #3509 closed

[2021-12-13 03:35] hboon opened #3534 "Favicons detection looks broken"
To reach this screen, go to:

1. Browser tab
2. Visit 1 or more URLs
3. Tap the Browser tab
4. Tap My History

At least some of the favicons should show up.

<img width="443" alt="Screenshot 2021-12-13 at 11 34 35 AM" src="https://user-images.githubusercontent.com/56189/145748376-3cfa125f-a799-4734-b4d1-d0af01863128.png">

[2021-12-13 03:47] hboon commented on #3224
I was trying to build the PR to recall what I meant :) Did we miss including `Apollo` in the Podfile maybe?

[2021-12-13 04:48] hboon commented on #3532
@colourfreak what if there's more than a handful of wallets with no ENS names? I might just want to go here to check what is my total holdings and then quickly get back to my previous wallet. Wouldn't the checkmark give a sense of where to go?

<img width="487" alt="Screenshot 2021-12-13 at 12 47 00 PM" src="https://user-images.githubusercontent.com/56189/145754005-e2c4044c-9e0a-4557-96e8-3052e017

[2021-12-13 05:09] hboon opened #3535 "Swipe to delete wallet is broken for simulator on M1"
The screen is available in 2 (similar) forms:

* Wallet tab > top left blockie/avatar
* Settings > Change / Add Wallet

See if we can do it better so it works for simulators running on M1 too (especially if we are doing it wrongly currently), or as a fallback, have an alternative way so it works on simulators + M1 and finally, if it's really not our problem and nothing reasonable we can do, docume

[2021-12-13 06:23] vladyslav-iosdev commented on #3224
`Apollo` has installed via spm

[2021-12-13 06:24] vladyslav-iosdev commented on #3224
can u provide error message u've got

[2021-12-13 06:34] vladyslav-iosdev commented on #3535
@hboon can u provide more details. i've tested it, works as expected

[2021-12-13 06:41] hboon commented on #3535
@vladyslav-iosdev oh no, maybe it's on my side. Let me double check first.

[2021-12-13 06:42] vladyslav-iosdev commented on #3535
ok, just let me know

[2021-12-13 07:03] hboon commented on #3224
Ah, I see it now. It's outdated. Ignore it.

[2021-12-13 07:06] hboon commented on #3224
I'm sorry, do you think we can switch to using Cocoapods for this (and future new libraries) for now. I know I said we want to use SPM where possible. But it seems to be having build problems with M1 [^1] . Eg. with MailChimp, I created a PR #3533 to disable it in simulators, but  we can't use that approach for most libraries.

[^1] Building for M1 + simulators work if we run Xcode in Rosetta mode

[2021-12-13 07:16] hboon commented on #3535
@vladyslav-iosdev seems like it's a problem with simulator running on M1: https://developer.apple.com/forums/thread/693731

It's not a problem with building on M1 and TestFlight. So you can leave it for now.

[2021-12-13 07:16] hboon commented on #3535
FYI @eviltofu

[2021-12-13 07:23] eviltofu commented on #3531
Does the ETH formats also need to obey this?
See [AS_Checkout_Item_Confirm
Loading layers…](https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/screen/5e26175ad78e4558e45ffc20)
So if Doctor Mildews has over 1000 ETH, the display is `1,500.00 ETH`

[2021-12-13 07:28] hboon commented on #3531
Yes, I think so. But skip ETH for the moment.

I just realized a problem with this change: user's keyboard will still be affected by their locale and we need to make sure we can continue to parse the input correctly. But let's start the refactor for fiat and then we'll test to see if it's workable.

[2021-12-13 07:39] colourfreak commented on #3532
Add a small, 8x8 Azure color #007FED circle on the right of the blockie.
<img width="985" alt="Screenshot 2021-12-13 at 08 37 49" src="https://user-images.githubusercontent.com/51817359/145771215-56987fa2-084c-40eb-ac16-fcb8e8864fd7.png">

[2021-12-13 08:58] eviltofu commented on #3535
On master, when I swipe to delete on my iPhone X, I get the following error message and the app crashes.
[code]

[2021-12-13 11:36] hboon commented on #3535
@eviltofu no. Different screen. Can you create a separate issue for this and fix it?

[2021-12-13 12:04] eviltofu commented on #3535
ok!

[2021-12-13 12:07] eviltofu opened #3537 "Swiping to delete a wallet on main screen Wallet Tab causes app to crash"
Commit hash: e4581507a0718abbeabb55cb52814497b9610cfd

On master, on the Wallet screen, when I swipe to delete on both my iPhone X (15.1) and iPhone 6S Plus (14.8.1), I get the following error message and the app crashes. Built on M1 Air.
[code]
It looks like when the entry is deleted, the table view cell above it is not removed.
![Screen Shot 2021-12-13 at 5 35 41 PM](https://user-images.githubus

[2021-12-13 22:59] zhangzhongnan928 opened #3541 "Nonce calculation issue with WalletConnect"
I experienced a lot of Nonce of the Transaction is too low issue, when using WalletConnect with Gnosis.

It seems the wallet calculates the nonce for TX with and without using WalletConnect separately.
If there are normal TX in between WalletConnect TXs, then the WalletConnnect TX nonce will still be based on the previous WalletConnect TX.

[2021-12-13 23:53] eviltofu commented on #3506
Upgrading to `Ruby 3.0.3` via `rbenv` seems to work. But this means I had to delete the `Gemfile.lock` file to get `Ruby 3.0.3` compatible versions of the Gems. Is this an acceptable work around?

[2021-12-14 00:04] eviltofu commented on #3531
The old number formatter codes still exist. Those can be used for parsing.

[2021-12-14 03:17] hboon commented on #3541
@zhangzhongnan928 is there a testnet version of Gnosis available?

We figure out the nonce based on the number of transactions for that wallet, including pending transactions so it shouldn't matter whether it is done via WalletConnect or not.

Do you have private transactions enabled (Settings > Advanced > Private ETH transactions > Ethermine/Eden)? [^1]

[^1] Nonce for private transactions looks

[2021-12-14 03:19] hboon commented on #3506
Yes, I think so. And I think it's the right way to go, not so much a workaround :)

If it poses a problem for some people to upgrade to Ruby 3.0.3, then they can bypass the Makefile for now.

[2021-12-14 03:37] zhangzhongnan928 commented on #3541
no, I didn't have it enabled.
![IMG_4225](https://user-images.githubusercontent.com/33795543/145928475-085560f5-5eca-4460-ab6b-df6fa49e41f0.PNG)
![IMG_4226](https://user-images.githubusercontent.com/33795543/145928481-cbc3708f-accc-4fc5-b2b5-2dfcd26f4ac5.PNG)

Just now, when I trying to put through the latest 3 TXs
https://etherscan.io/address/0xbc8dafeaca658ae0857c80d8aa6de4d487577c63
the nonce i

[2021-12-14 03:55] hboon commented on #3532
@eviltofu The screen is available in 2 (similar) forms:

* Wallet tab > top left blockie/avatar
* Settings > Change / Add Wallet

- [ ] Replace chevron (if the existing one is wrong)
- [ ] Replace checkmark on the right with dot on the left for current wallet

[2021-12-14 04:03] #3520 closed

[2021-12-14 11:09] colourfreak opened #3542 "Display token network's symbol of each token in the wallet tab (and other places where the token icon is displayed)"
We need to add a network symbol in each of tokens appearing in a wallet tab. Note, that this is already made in the newest Android build.

Unlike we used to do this using iconassets, now we will have just one token symbol taken from iconassets (if not there, use the imported library). So my job right now is to re-upload all token icons I uploaded in the past where by default they won't have a netw

[2021-12-14 11:38] hboon commented on #3542
Yes. Do the 3rd sentence of https://github.com/AlphaWallet/alpha-wallet-ios/issues/3496 first

[2021-12-14 11:38] hboon commented on #3542
It’s all described there alrrady

[2021-12-14 11:54] eviltofu commented on #3506
Ok so I will include instructions on how to build with and without the make file.

[2021-12-14 12:58] hboon commented on #3506
Nah. Just fix the make file and leave it for now and we will see what happens. The product is more important that instructions for others to build it.

[2021-12-14 13:34] colourfreak opened #3544 "Add "Change language" option"
You will access the "Change Language" screen straight from the Main Settings screen.
I can take care of getting translated strings. What I would need is a document (no idea what exactly), where I would enter translated strings. We have a multi-language team, so it will be fun to create.

@JamesSmartCell How is Android translation made?

Maybe we could use https://lokalise.com/ ?

<img width="1555"

[2021-12-14 14:19] hboon commented on #3544
We had this feature. It doesn't work properly on iOS, so we had to remove it. Localization is available on AlphaWallet iOS. Just that it relies on the user's device setting (as it should).

[2021-12-14 14:20] hboon opened #3545 "Remove chain overlay on every token icon in iconassets"
After this issue:

- [ ] #3542

[2021-12-14 14:21] hboon commented on #3542
Created  #3545 and updated #3496 to refer to it

[2021-12-14 14:22] hboon commented on #3542
And this issue is the 2nd sentence of #3496 (linked from there too, now)

[2021-12-14 14:24] hboon commented on #3542
Waiting for:

- [ ] #3545

[2021-12-14 14:42] hboon commented on #3506
@eviltofu Actually, this is a bit strange. Can you specify the simplest command(s), without involving using `make` to produce the error prior to the PR? It seems to be working for me, with Ruby 2.7. If you can reproduce it, can you clone the repo to another folder and repeat that to be sure? Here's what worked for me:

[code]

(maybe the problem is with the Makefile and how it specifies the vendor

[2021-12-14 15:50] colourfreak opened #3546 "Improve Segmented Controls and Token Groups"
Another issue related to the Wallet tab. We are very, very close to the end design I made while designing Samoa.
So based on Hu's recent work, we now have specified token groups.

- All (Assets, Defi, Governance but no Collectibles)
- Assets (ERC20)
- Collectibles (ERC721 and ERC1155),
- DeFi (all ctokens, atokens, ptokens, itokens, liquidity pools, etc...),
- Governance (DAO tokens like COMP, UNI

[2021-12-14 15:56] colourfreak commented on #3546
Examples of scrollablesegmentedcontrol

https://user-images.githubusercontent.com/51817359/146033231-15e38a17-c863-491b-98f8-b530b9993589.MOV

https://user-images.githubusercontent.com/51817359/146033184-487ae25c-5157-4e0b-b900-4a7d6396db63.MOV

[2021-12-14 22:43] JamesSmartCell commented on #3546
@hboon We need to come up with a way to distinguish these tokens - I don't know of any way to tell from looking at the token, but maybe an API can say? Failing this we should maintain a common list of tokens that are governance or defi.

[2021-12-14 23:45] eviltofu commented on #3530
@colourfreak I'd like to know if dynamic font sizes are being considered in the design. Older people (like me) tend to increase the default font size.

[2021-12-15 02:29] hboon opened #3549 "Categorize tokens into known groups"
Put each token in our token mapping into a group. A group is a label/name.

[2021-12-15 02:40] hboon commented on #3496
@JamesSmartCell umbrella issue

[2021-12-15 02:40] hboon commented on #3546
@JamesSmartCell It's already in the token mapping schema, but the data hasn't been populated yet: https://github.com/AlphaWallet/tokens/blob/main/tokens.json, eg.

[code]

So how to group them should be done #3549

[2021-12-15 02:57] eviltofu commented on #3506
This will work. The crash only happens when you do `bundle exec pod install --repo-update` which was in the original makefile. Pull Request #3507 was to simply remove the `--repo-update` command line option.

[2021-12-15 03:15] hboon commented on #3506
Got it. Thanks for the clarification.

[2021-12-15 03:41] hboon commented on #3535
Updated https://github.com/AlphaWallet/alpha-wallet-ios/issues/3535#issue-1078093752 to be clear

[2021-12-15 04:46] hboon opened #3550 "Add support for users to export JSON keystore file for the private key of the 0th Ethereum address for current seed"
Follow up for https://github.com/AlphaWallet/alpha-wallet-ios/blob/4e0bc83761eadfaf0fc4f60a4f391459ed48ed74/AlphaWallet/Settings/ViewModels/ExportJsonKeystoreFileViewModel.swift#L21

[2021-12-15 04:47] hboon commented on #2719
Needs #3550

[2021-12-15 05:18] hjhjdev commented on #3544
@hboon I've changed user's device setting, but It didn't changed. Maybe it's a bug?

[2021-12-15 05:20] hboon commented on #3544
Could be. Can you help describe which language you are changing from and to, and preferrably how you did it in Settings? (screenshots would be great, if possible).

[2021-12-15 07:23] colourfreak commented on #3530
I believe that are more important issues at this moment. But I am designing this in a way, that by default it large enough to read.

Note, that the token value font should be larger - 20pt. I added you a Swift extension to Zeplin.
Please check https://extensions.zeplin.io/ if you want any other extension.

[code]
<img width="1341" alt="Screenshot 2021-12-15 at 08 15 01" src="https://user-images.gi

[2021-12-15 07:30] colourfreak commented on #3549
Groups:

- Assets (ERC20)
- Collectibles (ERC721 and ERC1155)
- DeFi (cToken, aTokens, pTokens, xTokens, iTokens, sTokens, , liquidity pools, etc...)
- Governance (DAO tokens like COMP, UNI, ENS, AAVE, Maker, etc...)

is there anything else I can do? I hoped that this part was done, while we are working on token scrapper.

[2021-12-15 07:32] colourfreak commented on #3496
@hboon Can you go ahead and make an order with current iconsets? Let's chat about it on Discord.

[2021-12-15 07:34] hboon commented on #3549
No, it wasn't done. It's all grouped as "Governance". I suppose either of this:

A. Manually go through https://github.com/AlphaWallet/tokens/blob/main/tokens.json and map it to list of 2 columns. We can figure out the format of this. And while producing `tokens.json`, we can read from this new list and read the group.
B. Figure out a way to group it automatically. This [comment](https://github.co

[2021-12-15 07:37] hboon opened #3552 "Strange (layout) animation when showing "Set Password for Keystore JSON" screen"
Need to test this particular one with the iOS keyboard shown (if running in simulator) as the animation might be different.

https://user-images.githubusercontent.com/56189/146143370-fb5769e6-cc12-4630-b9c9-a720e254ddb7.mp4

[2021-12-15 07:39] hboon commented on #3496
Sure, let's chat. But what do you mean by "make an order with current iconsets" ?

[2021-12-15 07:49] colourfreak commented on #3496
So currently all BSC, Heco, Polygon tokens uploaded to iconassets (sorry, missed this with iconsets) have this small network icon already there. It might look weird sometimes if we have this network icon inside a graphical file and as another layer.

Example:
https://github.com/AlphaWallet/iconassets/blob/master/0x2170Ed0880ac9A755fd29B2688956BD959F933F8/logo.png

[2021-12-15 07:58] hboon commented on #3496
@colourfreak ok. Let me think a bit about what’s the easiest way to do this. Will get back to you tomorrow. Feel free to update the icons locally first, but don’t upload yet.

[2021-12-15 08:23] colourfreak commented on #3549
**DeFi**

Aave - aTokens
https://etherscan.io/tokens/label/aave-v2
https://etherscan.io/tokens/label/aave

uTokens
https://www.coingecko.com/en/categories/utokens

Compound - cTokens
https://etherscan.io/tokens/label/compound

Fulcrum iTokens
https://etherscan.io/tokens/label/bzx

Synthetix sTokens
https://etherscan.io/tokens/label/synthetix

Anyswap
https://etherscan.io/tokens/label/anyswap

Curv

[2021-12-15 08:24] foxgem commented on #3549
currently, the `token.json` is using `coingecko-token-list` as the main token list and looking for the corresponding tokens on the other chains.

do we have a rule for grouping?

[2021-12-15 08:36] hboon commented on #3549
Can we formulate something from Tomek’s last 2 comments? Might have to hardcode those logic based on token type etc.

[2021-12-15 09:00] colourfreak commented on #3549
**Governance**

https://etherscan.io/tokens/label/dao
https://etherscan.io/tokens/label/governance

[2021-12-15 09:06] colourfreak commented on #3549
**Asstes** - I mean, anything that does not belong to DeFi and Governance should go to Assets, basically all ERC20
**Collectibles** - just check against token standard if this is erc721, erc1155, erc777 maybe?

[2021-12-15 09:40] colourfreak commented on #3544
let me know how to get started with this. I assume I need a document where I can push translated strings.

[2021-12-15 09:51] #3530 closed

[2021-12-15 09:57] foxgem commented on #3549
I find there is a better way to do this: using `https://api.coingecko.com/api/v3/coins/ethereum/contract/${address}`. in response, you can find `categories`. I verified the result based on @colourfreak links, all are expected.

here is my thought: if it includes

- `aave` only, then `defi`, <-- aave is special, not like others, it is a sole category.
- `defi` only, then `defi`,
- `governance` only

[2021-12-15 12:41] colourfreak opened #3553 "Make the “Hit test surface area” bigger"
How to explain...  note that when you tap in here nothing will happen. This is because we set links area only to the text. But in reality, it should be a way beyond the text.
<img width="834" alt="Screenshot 2021-12-15 at 13 36 36" src="https://user-images.githubusercontent.com/51817359/146188138-db0ed4f4-2c20-4fe2-93f3-74a49a5e73ad.png">

Now:
<img width="952" alt="Screenshot 2021-12-15 at 13 40

[2021-12-15 13:00] hboon commented on #3553
Make the “Hit test surface area” bigger

[2021-12-15 13:16] hboon commented on #3553
Probably after #3546 since it might need to be changed somewhat to support horizontal scrolling

[2021-12-15 13:19] hboon commented on #3544
We support 5 languages in iOS. They are in https://github.com/AlphaWallet/alpha-wallet-ios/tree/master/AlphaWallet/Localization, eg for English: https://github.com/AlphaWallet/alpha-wallet-ios/blob/master/AlphaWallet/Localization/en.lproj/Localizable.strings

What do you intend to do with them? I was planning to get a localization service to do it for us. They usually specialize in iOS and Android

[2021-12-15 13:40] hboon commented on #3549
Ah, that sound good. Do we need a fallback for those we can't determined like "Others"?

[2021-12-15 15:22] #3532 closed

[2021-12-15 23:17] eviltofu opened #3555 "Update .travis.yml to use travis_wait instead of travis_retry"
[code]
Travis [recommends](https://docs.travis-ci.com/user/common-build-problems/#build-times-out-because-no-output-was-received) that we use `travis_wait` to handle timeout issues.

[2021-12-16 00:18] eviltofu commented on #3447
I was able to generate a 24 word seed phrase from an [external](https://iancoleman.io/bip39/) web site (iancoleman.io). The current master branch (85ca64640f11dd01728e624c48d1948ec018a81d) does not allow the 24 word phrase to be imported. I had to disable the mnemonic checks because the mnemonic generated by our code is only 12 words long.
[code]

[2021-12-16 00:29] eviltofu commented on #3447
The app only has TWO textual instances where the 12 word seed phrase is mentioned. Both are in the localised strings.

"Making backup is very simple and safe:\n just write down 12 words and\n keep them in a secret place, offline."
"Seed phrase has to be 12 words"

[2021-12-16 00:39] eviltofu commented on #3447
@hboon how do we proceed? It looks like we need a way to generate 24 word seed phrases.

[2021-12-16 01:53] eviltofu commented on #3464
@hboon We embed https://github.com/ethereum-lists/chains as a git submodule and run the Kotlin code to generate "chains.json" which we then embed into our app as the source for RPC networks?

[2021-12-16 02:53] #3555 closed

[2021-12-16 02:55] foxgem commented on #3549
the following is the whole category list returned by coingecko. maybe we can reorg it and set up a mapping like: `[coingecko_category1, coingecko_category2 ...] <-> our_group`, then it will be more helpful.

[code]

[2021-12-16 03:08] hboon commented on #3447
@eviltofu Ok, so assuming that you have tweaked it so we can import (but not generate 24 word seed phrase), what are the blockers?

We don't want to add support to the UI to generate 24 word seed phrases for users so we don't complicate the UI. Do we need to add it just in the code, but not as a feature for the user?

Let's keep these references as 12 words for now

[2021-12-16 03:13] hboon commented on #3464
@eviltofu Ah. Didn't realise there's already a `chains.json `. How about we just wget https://chainid.network/chains.json (or https://chainid.network/chains_mini.json) when the user access that screen and cache it in memory? Less work and developer-side dependency and it's updated. If that fails, then we still about building it or caching it somewhere?

[2021-12-16 03:23] hboon commented on #3549
@colourfreak So something like this:

CoinGecko's ID | AlphaWallet Group name
-|-
aave-tokens | DeFi
analytics | Others
collectibles | NFT

left column: category_id from the the list in https://github.com/AlphaWallet/alpha-wallet-ios/issues/3549#issuecomment-995392757
right column: one Group name to be shown in AlphaWallet

Hu: the format doesn't matter, I will reorg in code. only the mapping is o

[2021-12-16 05:35] eviltofu opened #3557 "Remove redundant chevron on Wallet screen"
![Screen Shot 2021-12-16 at 1 34 44 PM copy](https://user-images.githubusercontent.com/1050309/146314202-d2e6bf18-ae98-4885-9d05-fa50c1b1d9ce.png)

[2021-12-16 05:56] eviltofu commented on #3447
We need to verify that the imported 24 word seed phrase account is valid. I got a crash earlier this morning but I'm not sure what the cause is.

Only in code for import wallet verification.

One of them is an error message when your seed phrase is not exactly 12 words. That should be modified to say "Seed phrase has to be 12 or 24 words".

[2021-12-16 06:07] eviltofu commented on #3464
We should provide a base `chains.json` file in the app and then the app should download a new version of the file when it is determines that there is an update at the GitHub site. With a base `chains.json` the user can start immediately without waiting for the file to be download. Before any release, we update the `chains.json` file in the app.

We can use the HTTP header `last-modified: Wed, 15 D

[2021-12-16 06:48] hboon commented on #3464
We can do the caching as you suggested.

But I don't think we should include the file. It's huge for what it does, but can you verify how big it is if compressed? It seems unnecessary to include it when most users will never access it in the app.

[2021-12-16 06:51] hboon commented on #3447
Hmm.. not sure. But you can add it, then we can evaluate, unless it's a lot of work that coudld be thrown away. But since you know it is necessary, it probably is?

Sure.

[2021-12-16 07:11] hboon commented on #3496
Here's how I suggest we do it.

Tomek:

1. Download the entire iconassets repo by going to https://github.com/AlphaWallet/iconassets, click the green Code button, Download ZIP.
2. Modify the relevant icon files to remove the chain overlay
3. Zip it up, send it to Boon
4. Also update the native token icons (e.g Ethereum) to remove the chain overlays. These are bundled with the apps.

Boon:

5. Crea

[2021-12-16 07:29] hboon opened #3558 "Pasteboard broken on M1 + Simulator"
This happening for you @eviltofu and @vladyslav-iosdev ?

[2021-12-16 07:31] hboon opened #3559 "Sluggish UITableView scrolling on M1 + simulator"
This happening for you @eviltofu and @vladyslav-iosdev ?

[2021-12-16 07:46] #3557 closed

[2021-12-16 07:57] hboon opened #3562 "Warning about `UIApplication.shared` being accessed in ShareContextHandler"
https://github.com/AlphaWallet/alpha-wallet-ios/blob/fff831d6b19c17311e1a07097550371a6ec41d5e/AlphaWalletShare/ShareContextHandler.swift#L41

[2021-12-16 07:59] #2719 closed

[2021-12-16 07:59] #3550 closed

[2021-12-16 08:13] hboon opened #3563 "Should automatically pop up 1 screen (to enter password screen) after export fails and user taps to close error popup in Settings > Advanced > Export Keystore JSON"
eg. if user cancels Touch ID / Face ID

<img width="443" alt="Screenshot 2021-12-16 at 4 09 26 PM" src="https://user-images.githubusercontent.com/56189/146332950-03e364eb-4bea-45fc-920e-e4d44d2df903.png">

[2021-12-16 08:41] #3528 closed

[2021-12-16 08:46] #3524 closed

[2021-12-16 08:49] eviltofu opened #3566 "Empty Assets and Collectibles Tabs on Wallet screen needs to be filled."
There should be a screen to explain that there is nothing here and this is not a bug?

![Simulator Screen Shot - iPhone 12 - 2021-12-16 at 16 30 42 copy](https://user-images.githubusercontent.com/1050309/146338137-f9de1f2a-6a03-4d52-aa4b-0b3fdaa4f36d.png)
![Simulator Screen Shot - iPhone 12 - 2021-12-16 at 16 30 48 copy](https://user-images.githubusercontent.com/1050309/146338148-54151b43-06a0-4d6

[2021-12-16 08:54] eviltofu commented on #3464
`curl https://chainid.network/chains_mini.json > chains.json` shows `chains.json` is 74k uncompressed. 13k compressed with macOS Finder Compress Function.

[2021-12-16 08:58] hboon commented on #3464
I don't know. Can you compare chains.json and chains_mini.json to see what's the difference? If it is small enough to bundle (say 30k or less, zipped?), then let's just download a copy and bundle and skip the runtime caching entirely. Simplest approach.

[2021-12-16 09:05] eviltofu commented on #3464
| Files | Size | Compressed size |
| --- | --- | --- |
| chains.json | 99k | 27k |
| chains_mini.json | 74k | 21k |

[2021-12-16 09:06] hboon commented on #3464
Ah, pick one. The mini if possible and let's just bundle.

[2021-12-16 09:09] eviltofu commented on #3464
From the Kotlin source code, the mini version only contains `"name", "chainId", "shortName", "networkId", "nativeCurrency", "rpc", "faucets", "infoURL"` fields while the other one contains everything.

[2021-12-16 09:19] eviltofu commented on #3563
Maybe we can do the export process on the password screen and only jump to this screen if export is successful.

[2021-12-16 09:20] #3525 closed

[2021-12-16 09:21] hboon commented on #3563
But we'll have to pass the JSON around. Not desirable.

[2021-12-16 09:22] eviltofu commented on #3563
Here we have to pass the password around.

[2021-12-16 09:23] hboon commented on #3563
Yes, but can't do anything with the password. On the other hand, the JSON keystore file can be brute forced.

[2021-12-16 09:35] hboon opened #3569 "Repurpose fiat total value header in Wallet tab when in testnet mode"
Maybe hide or use that space to make it clear it's testnet?

<img width="443" alt="Screenshot 2021-12-16 at 5 31 51 PM" src="https://user-images.githubusercontent.com/56189/146346046-d84b99ff-b006-4228-87e1-7ac198602795.png">

[2021-12-16 09:45] hboon opened #3570 "Fix Travis caching"
https://docs.travis-ci.com/user/caching/

At least gems and pods should be cached. From a recent run: https://app.travis-ci.com/github/AlphaWallet/alpha-wallet-ios/builds/243493658:

<img width="922" alt="Screenshot 2021-12-16 at 5 45 14 PM" src="https://user-images.githubusercontent.com/56189/146347760-653b03b3-b76d-4fb0-bbae-5510281a4ff1.png">

[2021-12-16 10:32] eviltofu commented on #3558
Paste is broken for me in simulator. Copy is working.

[2021-12-16 11:02] hboon commented on #3559
Doesn’t matter. Seems like swipe to scroll doesn’t work at all

[2021-12-16 11:53] colourfreak commented on #3566
https://zpl.io/aRkyZlp
https://zpl.io/bzzJ4KE
https://zpl.io/25ln7XQ

![Wallet-Collectibles-Empty](https://user-images.githubusercontent.com/51817359/146366972-e3b95bd4-165e-4a80-8097-cc7364be3878.jpg)
![Wallet-Defi-Empty](https://user-images.githubusercontent.com/51817359/146366979-1bc7f1ed-727f-4384-8bab-053bb73d0960.jpg)
![Wallet-Governance-Empty](https://user-images.githubusercontent.com/51817

[2021-12-16 11:59] colourfreak commented on #3569
"Testnet"

https://zpl.io/2Gj7APW
https://zpl.io/2j3jMqW
https://zpl.io/bexzLRz

![07_Testnet_Wallet_Test_Networks](https://user-images.githubusercontent.com/51817359/146367658-e529c577-30d8-4759-bb4c-fa0831c17544.png)

![08_Testnet_Rinkeby_Info](https://user-images.githubusercontent.com/51817359/146367661-1ab77edb-146d-41de-bfe1-a349dbe6fdd7.png)

![09_Testnet_Modal](https://user-images.githubuse

[2021-12-16 12:02] colourfreak commented on #3496
Sounds good. I am on it. @hboon

[2021-12-16 12:15] hboon commented on #3496
@colourfreak sorry, one more (on mobile). The little chain icons to bundle with the app. Not sure we already have them in the app.

[2021-12-16 12:21] colourfreak commented on #3496
Network icons:
https://zpl.io/agE1LeZ

This one?

[2021-12-16 12:30] colourfreak commented on #3549
Is there any action required from me?

[2021-12-16 14:03] hboon commented on #3566
Thanks Tomek.

[2021-12-16 14:05] hboon commented on #3496
@colourfreak  yes. Thanks.

[2021-12-16 14:10] hboon commented on #3549
Yes, Hu is asking for a 2-column table to map it. The one I created in https://github.com/AlphaWallet/alpha-wallet-ios/issues/3549#issuecomment-995404605 is a sample of what it should be like. Get the left column from https://github.com/AlphaWallet/alpha-wallet-ios/issues/3549#issuecomment-995392757. Each category_id is a row. Then the right column is what you want it to be shown as in the AlphaWa

[2021-12-16 17:39] eviltofu commented on #3570
@hboon From the Travis [website](https://docs.travis-ci.com/user/caching/): `To use the caching feature, in your repository settings, set Build pushed branches to ON.` I can only find references to a web setting. How do I access the web interface for Travis for our git repository?

[2021-12-17 01:32] hjhjdev commented on #3544
Sure! Images below are what I did.
Changed Language Engligh to Korean(image 1, image 2)
Found only Search String changed(image 3)
After revisiting settings menu, option changed to english automatically.

Also I tried changing device language, english to korean, but app locale strings didn't changed either(english)

<img src="https://user-images.githubusercontent.com/17705694/146473148-90f95e19-6ae

[2021-12-17 03:04] hboon commented on #3570
It's in Travis https://app.travis-ci.com/github/AlphaWallet/alpha-wallet-ios/settings. It is enabled (and have been so at least for a while now).

<img width="586" alt="Screenshot 2021-12-17 at 11 03 00 AM" src="https://user-images.githubusercontent.com/56189/146482160-f6c8f697-9804-42a0-b1a3-22aa0717e6ac.png">

[2021-12-17 03:40] hboon opened #3573 "travis_wait brew update fails (ocassionally?)"
Example: https://app.travis-ci.com/github/AlphaWallet/alpha-wallet-ios/builds/243569307

[2021-12-17 03:45] hboon opened #3574 "When computing nonce while private transactions are enabled, check against the private JSON-RPC endpoint instead"
So that pending transactions sent privately are included

[2021-12-17 04:49] eviltofu commented on #3447
Do you know offhand if there is a library that does this? And if it's possible to generate a 24 word seed phrase for ETH? The web page (iancoleman.io) didn't appear to let me generate a 24 word seed phrase for ETH.

[2021-12-17 05:18] #3563 closed

[2021-12-17 05:53] hboon commented on #3447
https://iancoleman.io/bip39/ does generate 24 seed phrases. I just tried. You might need to click the GENERATE button 1 more time after the error message.

`WalletCore`, which we are using, already supports 24 seed phrases.

I think importing might be broken because it only supports 12 seed phrases, for the time being, modify `EtherKeystore.doesSeedMatchWalletAddress(mnemonic:)` to always return t

[2021-12-17 06:56] hboon commented on #3541
@zhangzhongnan928 I tried against https://example.walletconnect.org and looks like the nonce is passed to AlphaWallet through WalletConnect, so maybe Gnosis generated it or their WalletConnect library did. Are you able to report the problem to them? Have you experienced this with other wallets + WalletConnect + Gnosis?

On our side, I think we'll add a button like "Set Nonce to "1879" to this scre

[2021-12-17 07:01] eviltofu commented on #3447
[code]
Generates a 24 word seed phrase.

[2021-12-17 07:06] hboon commented on #3447
Yes, it does. Remember to use "" as the passphrase.

[2021-12-17 07:09] hboon opened #3575 "Scanning (browsing) QR codes on M1 + simulator is broken"
This ones particularly painful when combined with #3558 for working with WalletConnect @vladyslav-iosdev 😭

[2021-12-17 09:22] colourfreak commented on #3527
Yes. Currently, this is empty.

[2021-12-17 11:26] colourfreak commented on #3549
CoinGecko's ID | AlphaWallet Group name
-- | --
aave-tokens | DeFi
analytics | Assets
collectibles | NFT
arbitrum-ecosystem | Assets
artificial-intelligence | Assets
asset-backed-tokens | Assets
asset-manager | Assets
augmented-reality | Assets
automated-market-maker-amm | Governance
avalanche-ecosystem | Assets
axie-infinity | Assets
big-data | Assets
binance-launchpool | DeFi
binance-smart-chain

[2021-12-18 23:10] eviltofu commented on #3447
Spanish, Chinese localisations for "importWallet.import.invalidMnemonicCount" has to be updated to reflect 24 word seed phrase.

[2021-12-19 00:04] eviltofu commented on #3447
EtherKeystore.swift:343
[code]
This part is failing because for a 24 word phrase, the `seed` computed creates a wallet which has `""` as it's `mnemonic`. I don't know enough about the math to fix the code.

[2021-12-19 00:06] eviltofu commented on #3447
Mnemonic generated via this method does not appear to work when I try to import the seed phrase via the app.

[2021-12-20 01:14] eviltofu commented on #3447
EtherKeystore.swift:344
[code]
HDWallet+Extension.swift:30
[code]
But the length of the seed is 66 for 24 word see phrase. Increasing the length to 66 still results in an invalid account.

[2021-12-20 03:43] hboon commented on #3549
Looks great. Thanks @foxgem.

@colourfreak Do we display the uncategorized ones like 0x26CE25148832C04f3d7F26F32478a9fe55197166 as "Others" in the app or only show them in the "All" tab?

There are 80 tokens which are unclassified if you want to check them out:

$ cat tokens.json | jq '.[] | select(has("group") == false)'

[code]

[2021-12-20 04:10] #3506 closed

[2021-12-20 04:11] #3570 closed

[2021-12-20 04:11] #3573 closed

[2021-12-20 04:14] #3552 closed

[2021-12-20 04:17] hboon commented on #3447
@eviltofu can you push to a branch first? And add commits/comments if relevant to reproduce?

[2021-12-20 04:19] hboon commented on #3447
I have updated the first comment in this issue with this: can you help hide this functionality behind a `Features` flag? I just realized the backup screen might be affected (e.g the longer seed phrase might not fit). So better to try it out a bit more first, but we can get the core merged with the flag disabled first to not stretch out the PR.

[2021-12-20 05:51] eviltofu commented on #3447
The branch you want me to push allows the 24 seed phrase to be accepted? I just disable the failing checks to allow the creation of the wallet?

[2021-12-20 05:55] colourfreak commented on #3549
Move them to "Assets" and of course "All". If we were to create "Others" then many more groups might go to that category.

[2021-12-20 06:56] hboon commented on #3549
Ok!

@foxgem let's keep the file as it is? We'll just display those without groups in Assets in the mobile apps. No need for unnecessary work in the `tokens` repo and might help to keep them unclassified in case we want to fix some of them in the future.

[2021-12-20 07:00] hboon commented on #3549
So this ones's done. I just realized I created the issue in the wrong repo, but can't move it anymore without breaking incoming links :(

I'll follow up with next steps for the apps.

[2021-12-20 07:00] #3549 closed

[2021-12-20 07:08] hboon opened #3580 "Tweak Segmented Controls ("tabs") in Wallet tab"
Part of #3546

Other than look/font (they might have changed), also that they can scroll horizontally if it doesn't fill the screen.

Keep the same tabs.

The same bit of UI is probably used in the screen to import wallets.

Out of scope:

* Read token groups from the token.json file
* Change the grouping

Refer to https://github.com/AlphaWallet/alpha-wallet-ios/issues/3546#issue-1079923187 for UI

[2021-12-20 07:09] hboon opened #3581 "Read tokens.json and put tokens into the correct group in Wallet tab"
Part of #3546
Depends on: #3580

A token matches if the contract and chain ID matches an entry in each array.

This file: https://github.com/AlphaWallet/tokens/blob/main/tokens.json (check update: https://github.com/AlphaWallet/alpha-wallet-ios/issues/3581#issuecomment-1019835025)

"All" should contain every token that is not hidden (like it is before the PR).

If a token is not categorized, displ

[2021-12-20 07:09] hboon commented on #3580
Next: #3581

[2021-12-20 10:31] eviltofu commented on #3464
Some of the entries in chains_mini.json have empty attributes for `rpc`. The `rpc` attribute maps to `rpcEndpoint` for `CustomRPC`. In `SaveCustomRpcViewModel`, the `rpcEndpoint` cannot be blank. Do we ignore this validation check?

[2021-12-20 10:38] hboon commented on #3464
Filter out those that aren’t valid for uss

[2021-12-20 10:39] eviltofu commented on #3464
I'll use the validation routines in the `SaveCustomRpcViewModel`.

[2021-12-20 13:47] colourfreak commented on #3496
[iconassets-master.zip](https://github.com/AlphaWallet/alpha-wallet-ios/files/7745725/iconassets-master.zip)

@hboon

[2021-12-20 13:48] colourfreak commented on #3545
[iconassets-master.zip](https://github.com/AlphaWallet/alpha-wallet-ios/files/7745732/iconassets-master.zip)

[2021-12-21 14:12] #3562 closed

[2021-12-21 14:20] #3223 closed

[2021-12-21 16:24] #3569 closed

[2021-12-21 18:46] eviltofu commented on #3464
Having trouble with using UISearchController in a child container. Temporarily using a SearchBar to do the filtering.

[2021-12-22 03:37] hboon commented on #3224
@oa-s can you help to see if there's anything remaining for this issue; otherwise help close it?

[2021-12-22 03:57] hboon commented on #3510
@eviltofu this seems to be fixed? If so, can you help close this issue, linking to the PR?

[2021-12-22 03:58] hboon commented on #2410
Can't do this at the moment.

[2021-12-22 03:58] #2410 closed

[2021-12-22 03:59] hboon commented on #1286
Outdated

[2021-12-22 03:59] #1286 closed

[2021-12-22 04:00] hboon commented on #3534
After this PR:

- [ ] #1103

[2021-12-22 06:25] oa-s commented on #3224
@hboon  seems like we don't access to https://github.com/AlphaWallet/AlchemyNFT/issues/513

[2021-12-22 07:06] hboon commented on #3224
@oa-s add you and @eviltofu to the repo as well as to the organization

[2021-12-22 07:07] oa-s commented on #3224
@hboon Thanks ;)

[2021-12-22 08:10] oa-s commented on #3224
in case if there is some decoding error appears (that shouldn't happen). But if the issue related to displaying base64 encoded image, it works fine. Tested with example from issue

[2021-12-22 08:13] oa-s commented on #3224
While adding a new erc1155 token, the balance value displays like `0`

[2021-12-22 11:05] eviltofu commented on #3510
There is no pull request specifically for this issue.

[2021-12-22 11:05] #3510 closed

[2021-12-22 12:15] oa-s opened #3589 "Remove deprecation warnings `UIApplication.shared.keyWindow`"

[2021-12-22 12:20] eviltofu commented on #3535
If I run the Simulator in Rosetta mode, I can swipe to delete. I created a **new** project that has a minimum deployment of iOS 15.2 and that has no problem swiping even when the simulator is not running in Rosetta mode. I bumped up the deployment version of the project to iOS 15.2 and it was NOT able to swipe. @hboon how much time do you want me to spend to track down the issue?

[2021-12-22 12:36] #3527 closed

[2021-12-22 12:46] hboon commented on #3535
Say 1-2 days for now and circle back when you have time or are inspired to? It *might* get fixed with a new release so we can revisit it again if it's too painful and still not fixed.

So it works in both of these cases?

A. AlphaWallet + Rosetta
B. New project at 15.2 - Rosetta

but not AlphaWallet even with deployment target = 15.2?

[2021-12-22 14:31] oa-s opened #3591 "Improve WebImage Displaying"

[2021-12-22 14:31] oa-s opened #3592 "Improve WebImage Displaying"

[2021-12-22 14:31] oa-s opened #3593 "Improve WebImage Displaying"

[2021-12-22 14:56] eviltofu commented on #3553
@hboon I think this has to be rewritten. UIButtons tend to shrink themselves.

[2021-12-22 15:12] hboon commented on #3553
Sure. Remember #3546

[2021-12-22 15:14] eviltofu commented on #3464
@hboon Is there a reason why we have switches in section headers to select Mainnet or Testnet Custom RPC Servers
![Simulator Screen Shot - iPhone 12 - 2021-12-22 at 23 13 29 copy](https://user-images.githubusercontent.com/1050309/147114165-de288e59-367f-437e-8dbe-a55137e3b47e.png)
?

[2021-12-22 15:35] hboon commented on #3464
@eviltofu UI design decision. But we wanted to be clear it is mainnet vs testnet, and it worked in that way.

[2021-12-22 17:14] #3593 closed

[2021-12-22 17:14] hboon commented on #3592
Duplicate of #3593

[2021-12-22 17:14] #3592 closed

[2021-12-22 17:14] hboon commented on #3591
Duplicate of #3593

[2021-12-22 17:14] #3591 closed

[2021-12-23 02:04] eviltofu commented on #3464
@colourfreak Can you recommend the phrase / position of the empty search result message? Currently, it is placed in the middle of the screen. (Also font, colour, etc)

![Simulator Screen Shot - iPhone 12 - 2021-12-23 at 10 00 58 copy](https://user-images.githubusercontent.com/1050309/147176372-d3676fce-7723-42d2-a846-87d2868840ff.png)

[2021-12-23 03:31] eviltofu commented on #3464
@hboon What happens when someone adds multiple CustomRPCs but one of the CustomRPCs is invalid? For error recovery, do we want the state to be exactly as before the add operation or allow those added to remain?

[2021-12-23 07:14] colourfreak commented on #3464
![network-search-no-results](https://user-images.githubusercontent.com/51817359/147202809-9d2559b3-1c63-4e04-bfcb-110b06bfe5f9.jpg)

https://zpl.io/VxjBXQg

[2021-12-23 12:20] eviltofu commented on #3464
@hboon @colourfreak Adding a single CustomRPC takes some time. Adding multiple will take a long time. Do we want to limit the number of servers that can be added? We also need to be able to allow the user to cancel in the middle of the add operation if it takes too long.

[2021-12-24 02:40] eviltofu commented on #3553
Maybe base it off UICollectionView?

[2021-12-24 08:24] eviltofu commented on #3566
Solution is present in the pull request that fixes #3464 (which I've not created yet --- the code does the same thing there so I am making a note here to refer to it)

[2021-12-24 10:20] eviltofu commented on #3464
@hboon Any solutions to something like this?

https://user-images.githubusercontent.com/1050309/147344326-ab76167c-779a-4482-b05a-8373555a3036.mp4

[2021-12-27 05:20] eviltofu commented on #3464
What we could do is pop up a modal view that lists all the customRPCs in a tableview and have an animation indicating which customRPC is being added (we automatically do the check on the blockchain explorer url). Once added, we add a check mark at the end of the row. There are buttons that will allow the user to cancel the entire operation. All added networks are actually only added after all netw

[2021-12-27 12:31] oa-s opened #3597 "Adjust Web ImageView content"
Its need properly adjust large and small web images. The current implementation doesn't handle it, large images are displayed mostly ok, but small images stretched on all container that causes quality loosing.

[2021-12-27 13:02] eviltofu commented on #3553
Ok first draft is completed (I created a small stand alone project to write this). Will clean up then transplant to AlphaWallet.

[2021-12-28 02:29] hboon opened #3599 "The "<N> <Symbol>" subtitle under collection in Wallet tab Collectible sub-tab is clipped off at the bottom"
iPhone 11 simulator, iOS 15.0.

Eg: "1 MLOOT" and "3 OPENSTORE".

<img width="443" alt="Screenshot 2021-12-28 at 10 26 49 AM" src="https://user-images.githubusercontent.com/56189/147521061-70a71b61-b307-4d1b-a3a3-e0e3b02850fb.png">

[2021-12-28 02:37] #3589 closed

[2021-12-28 02:41] hboon commented on #3464
If you are referring to the layout of the UI elements being animated when it appears, they have to be laid out before the screen is animated. The keyboard showing up might be causing it. Try disable the call to `becomeFirstResponder()` if there is one and trace from there?

[2021-12-28 02:48] hboon commented on #3464
Presuming these 2 are about the same point:

Just block the app with a UIActivityView for now? If the user tries to add 20 chains at a go, they have to make extra efforts to do it (we don't have a Select All button). But we do have to make sure that if the app is terminated while processing the chains that we don't end up in an inconsistent state, but just adding X out of 20 chain is fine. It's no

[2021-12-28 02:50] hboon commented on #3464
BTW, are we still changing this to a pop up that user choose between browsing and manual entry?

[2021-12-28 03:25] hboon opened #3600 ""Search for a token" search bar in Assets tab in ERC1155 (and soon ERC721) should filter"
Currently does nothing.

<img width="443" alt="Screenshot 2021-12-28 at 11 24 23 AM" src="https://user-images.githubusercontent.com/56189/147524719-f26c5368-1352-4b67-9a44-e81e5fa3ceb5.png">

[2021-12-28 03:30] eviltofu commented on #3464
No, it is now a combined screen.

[2021-12-28 03:40] hboon commented on #3464
Ok. BTW, according to https://projects.invisionapp.com/share/MW1220T36ET3#/screens/461348027, the tab title should be "Enter", not "Manual"

[2021-12-28 08:45] #3224 closed

[2021-12-28 08:45] #3504 closed

[2021-12-29 05:59] zhangzhongnan928 commented on #3541
This should work

On Fri, Dec 17, 2021 at 5:56 PM Hwee-Boon Yar ***@***.***>
wrote:

[2021-12-29 13:38] eviltofu commented on #3464
It's not setting the keyboard for firstResponder. I think I made a design mistake by adding/removing the child view controllers . I'm going to try and add them both child view controllers to the container view and then show/hide the correct view.

[2021-12-29 14:58] oa-s opened #3606 "Configure layout for collectibles tokens"

[2021-12-29 18:08] hieronymus4826 commented on #3534
Hey @hboon can you please assign lexypaul13 to this one and/or add privileges to me for the future. Thank you!

[2021-12-30 00:35] eviltofu opened #3608 "During 12 or 24 word seed phrase wallet import, app should reject words not in dictionary"
Currently, the app allows words which are not in the seed phrase dictionary to be entered. The app should prohibit the entry of such words.

[2021-12-30 01:29] eviltofu commented on #3464
@hboon I'm going to make a simple view controller to handle this. Just a simple progress bar with a "x/y" caption so no localisation will be needed, and a cancel button.

[2021-12-30 01:37] hboon commented on #3534
@hieronymus4826 You should have access to assign issues (if you click the gear button beside Assignees and see a list, you've got it) . GitHub requires some interaction in the issue from someone outside the team before we can assign it to them.

@lexypaul13 can you please reply to this? Any comment should do. I think that would fulfill that condition

[2021-12-30 01:46] hboon commented on #3464
Does browsing to add chains have a UISwitch in the mainnet and testnet headers as shown in https://github.com/AlphaWallet/alpha-wallet-ios/issues/3464#issuecomment-999988935 ? If there is, then we should only allow them to add mainnets or testnets separately each time, i.e. X mainnet or Y testnets, but not X mainnet + y testnets to mirror the behavior enabling/disabling screen.

If there are no `U

[2021-12-30 01:59] hboon commented on #3608
Relevant: `MnemonicInWordListRule`

[2021-12-30 02:23] #3599 closed

[2021-12-30 02:29] #3553 closed

[2021-12-30 02:31] #3606 closed

[2021-12-30 02:37] eviltofu commented on #3464
@hboon Currently, the user is able to switch from mainnet to testnet in both browse and search modes. What happens to the selected networks when I switch sections?

https://user-images.githubusercontent.com/1050309/147717146-8c90de4d-daff-4e73-a627-210c18ffe78c.mp4

[2021-12-30 10:01] oa-s opened #3609 "Backup wallet doesn't work on simulator"
name: `Backup wallet doesn't work on simulator`
about: Using AlphaWallet, but it's not working as you expect?

---

**Describe the bug**
After writing down the seed phrase and selection backup wallet, on settings screen it still displaying not backuped

**Steps to reproduce (REQUIRED)**

0. Switch to non backedup wallet
1. Tap on `Back up this wallet`
2. Tap on `Back up my wallet`
3. Tap on `OK, i

[2021-12-31 01:30] hboon commented on #3609
@oa-s Seems like not a bug because in #3457 we made `EtherKeystore.isUserPresenceCheckPossible` false for simulators.

Can you close this if that makes sense?

[2021-12-31 01:39] hboon opened #3610 "`yarn run danger local` broken"
[code]

[2021-12-31 01:45] hboon commented on #3464
Remember them so they remain selected when the user toggles back, but don't add them unless the user switchs back to that tab.

Unrelated: seems a bit odd the user has to tap `Cancel` to add the selected chains, but not a big issue. Don't worry about it.

[2021-12-31 01:56] hboon opened #3611 "QuickSwap — staking MATIC/QUICK doesn't work after approval (which works)"

[2021-12-31 02:06] hboon commented on #3447
@eviltofu updated 1st comment above to include this:

* Check verify seed phrase screen works for both 12-words and 24-words. This might not be accessible on the simulator due to #3609

Sorry, miss this earlier.

[2021-12-31 03:01] hboon opened #3614 "Remove Eureka pod if it is only used for validation and not UI"
Eureka is useful as a form/screen builder, but we might not be using it for that anymore, and it'll be good to replace it with our own code if we are only using it for rule/validation.

After #3613  is merged

[2021-12-31 03:57] hboon commented on #3545
Have pushed to https://github.com/AlphaWallet/iconassets/tree/with-chain-overlay-removed so I might just update the code to

[2021-12-31 03:59] hboon commented on #3545
@colourfreak I'm updating the code to handle this but just noticed that they all seem to be 80x80px, would be better if they are 120x120 (the current version with the chain overlays are 120x120). But we can try these out first. Code isn't affected by this. If you want to update this, would you drop me a zip file here again?

[2021-12-31 09:43] #3574 closed

[2021-12-31 11:08] colourfreak commented on #3545
This is very bad. I need to save them again and rename them all from original names to logo.png (folder by folder)
Very time-consuming, so please double-check if there is anything else you might miss.

[2021-12-31 11:27] hboon commented on #3545
If you can give them file names that matches the contract names, I can rename them for you too. Should save you some time.

[2021-12-31 13:30] colourfreak commented on #3545
[iconassets-master.zip](https://github.com/AlphaWallet/alpha-wallet-ios/files/7796299/iconassets-master.zip)

[2022-01-01 03:25] hboon commented on #3545
A couple of them are still not 120x120.

These are 128x128:

0x000004F5A30d9394316782AC3EE971546bcAa682/logo.png
0x00000D5B7AaBD11768CC14f8474e5B34f8D39F2B/logo.png
0x000080C09264F55160b719d6700424b877C8d977/logo.png
0x0000AD880efD1690EFd57Da2929bEA1d6eF221Ec/logo.png
0x117CC8a04eF99FB1cC566919502D7a79dE578EF9/logo.png
0xc987b821048EdcB9f5aa126125b95E44e2532A6A/logo.png

These are 47x47:

0x000085

[2022-01-01 11:44] colourfreak commented on #3545
I don't know about them. They were uploaded by James. Do you want me to research for better quality and size?

[2022-01-01 13:27] hboon commented on #3545
Oh. Never mind then. Thanks.

[2022-01-02 05:45] zhangzhongnan928 opened #3621 "WalletConnect is not working in the 3.34(417)"
1. Scan QR
2. QR disappear without confirming on mobile
3. wallet is not connected
4. later wallet asks to scan again

[2022-01-02 05:47] hboon commented on #3621
@zhangzhongnan928 I have seen this a few times but can't reproduce. When this happens, can you try this:

1. Scan a new WalletConnect QR code. Does it work?
2. If it doesn't, kill the app and try to scan a new WalletConnect QR code again. Does it work?

[2022-01-02 05:49] zhangzhongnan928 commented on #3621
this is different, I have never experienced it before.
**QR disappear without confirming on mobile** previously QR code won't disappear

The same sites work well with the app store version.

[2022-01-02 06:30] hboon opened #3622 "Support Polygon for OpenSea"
Eg. collection on Polygon: https://opensea.io/collection/darkdormneighbors

- [ ] Verify it works (i.e. it is supported)
- [ ] Create Android issue
- [ ] Implement for iOS

[2022-01-02 06:33] hboon commented on #2911
@oa-s can you help to follow up on this and see if this is still a problem and how if we can fix this?

[2022-01-03 00:46] eviltofu commented on #2918
What about using more protocol oriented programming and dependency injection? Or is this considered low level?

[2022-01-03 01:32] eviltofu opened #3623 "Map Features object into Settings app"
Map the Features.isXXXX = true/false into the settings application so that testers can manually turn on/off features for testing (instead of recompiling).

https://developer.apple.com/library/archive/documentation/Cocoa/Conceptual/UserDefaults/Preferences/Preferences.html

However, no direct documentation from Apple (the above link is in archive) so I'm wondering if this feature is being depreciat

[2022-01-03 02:36] hboon commented on #2918
Using protocols as an interface when there are more than 1 implementation (either in the logic or because we need a version for testing) is good. And as an alternative to subclassing (especially our own classes), using protocols is generally better too.

But I think protocol oriented programming as many people have taken it is going too far. We should just start with the actual type (struct, class

[2022-01-03 03:14] eviltofu opened #3624 "Bug: When importing wallet with seed phrase, extra carriage returns results in failure"
When importing a wallet via a 12 or 24 word seed phrase, extra carriage returns at the end of the phrase results in a failure to import the wallet.
![Screen Shot 2022-01-03 at 11 08 26 AM copy](https://user-images.githubusercontent.com/1050309/147897433-36451316-c734-4b73-b961-149b34f5acb5.png)
![Screen Shot 2022-01-03 at 11 11 17 AM copy](https://user-images.githubusercontent.com/1050309/14789743

[2022-01-03 03:44] hboon commented on #3623
Is it possible to only enable for TestFlight but not appstore? Remember that it's the same build. We can check for the build running on TestFlight with `Environment.isTestFlight`, but not sure how we can do it here.

[2022-01-03 03:56] eviltofu opened #3625 "Increase display space for 24 word seed phrase in backup your wallet screen screen"
![Screen Shot 2022-01-03 at 11 49 41 AM copy](https://user-images.githubusercontent.com/1050309/147898684-b5196cca-7a49-4ac5-ad66-d7ac5032d8e8.png)

[2022-01-03 04:03] eviltofu commented on #3623
I think we can use a combination of build phase (copy Root.plist resource only if it's a debug build) and `#if DEBUG` or `Environment.isTestFlight` for connecting the settings to the `Features` class code. I'll investigate and report later.

[2022-01-03 04:08] hboon commented on #3623
Ok. Just to be clear: TestFlight isn't a debug build, it's a release build. It's an acceptable limitation if TestFlights don't include the `Features` bundle, but it might not be what you originally intended.

[2022-01-03 04:36] #3545 closed

[2022-01-03 07:04] hboon opened #3629 "Show chain icon in WalletConnect new session confirmation dialog"
Shall we show the chain icon beside "Ethereum" in the screenshot?

<img width="443" alt="Screenshot 2021-12-31 at 3 34 26 PM" src="https://user-images.githubusercontent.com/56189/147906080-8d686e51-3280-4a7c-8b55-52286f3d539f.png">

[2022-01-03 07:07] hboon commented on #3629
Note to self/hboon:

Similarly, but bigger in the switch network screens, accessible from existing WalletConnect session and dapp browser. But this affects "Select Active Networks" too which has some pending changes:

<img width="443" alt="Screenshot 2022-01-03 at 3 05 20 PM" src="https://user-images.githubusercontent.com/56189/147906189-4b6694ce-6d8c-460e-b592-765edc02b040.png">

[2022-01-03 13:43] oa-s commented on #3622
@hboon  do we need to user specific url for `poligon` server like we do for `mainet` i mean that we use `https://api.opensea.io/ ` for  mainet;
`https://rinkeby-api.opensea.io/` for rinkeby;

[2022-01-03 14:03] oa-s commented on #3609
@hboon  so out of this backup won't work on simulator ?

[2022-01-03 14:15] oa-s commented on #3622
@hboon need your help of configuring infura project to enable poligon in infura console

[2022-01-03 14:31] hboon commented on #3609
It goes like this, we define 3 states of backup

A. Not backed up
B. Backed up
C. Backed up and "locked" (i.e. elevated security). This is basically saving the seed/key into the keychain with `SecAccessControlCreateFlags.userPresence`.

Sort of. So because we force `EtherKeystore.isUserPresenceCheckPossible` to always be false on the simulator, we can never get to C, but the user will get to B.

[2022-01-03 14:31] hboon commented on #3609
You can trace this by looking for "func didTapLock(inViewController viewController: ElevateWalletSecurityViewController)"

[2022-01-03 14:32] hboon commented on #3622
I have no idea :)

[2022-01-03 14:34] hboon commented on #3622
If you are using da3717f25f824cc1baa32d812386d93f (this one and only this one is safe to paste here, because it's embedded in the repo), it should be enabled for Polygon already. Actually all our Infura keys should be enabled for Polygon.

[2022-01-03 14:35] hboon commented on #3622
I took a quick look at the docs before creating the issue and didn't see their docs mentioning the endpoint, so not sure how it works or if it is provided at all.

[2022-01-03 14:40] oa-s commented on #3609
i see, thanks for explanation

[2022-01-03 14:40] #3609 closed

[2022-01-03 14:41] oa-s commented on #3622
ok, trying to find out appropriate account with tokens on `Poligon` for testing

[2022-01-03 14:49] hboon commented on #3622
Thanks. You probably know, but just in case this might save you some time, you can go to a collection on OpenSea eg https://opensea.io/collection/darkdormneighbors. Click one of the NFT, look for "Owned by" at the top and get an address.

[2022-01-03 15:04] oa-s commented on #3622
`0x0b380e76cb334b2949ed218b748e5417199aca69` - is owner of https://opensea.io/collection/darkdormneighbors
so i sent request kind of this `https://api.opensea.io/api/v1/assets/?owner=0x0b380e76cb334b2949ed218b748e5417199aca69&order_by=pk&order_direction=asc&limit=50&offset=0`
and as response there is an empty response:
[code]

[2022-01-04 03:32] eviltofu commented on #3464
@colourfreak @hboon What should the error message be when some networks failed who be added?

[2022-01-04 14:31] #3542 closed

[2022-01-05 02:27] #3447 closed

[2022-01-05 02:30] hboon commented on #3464
Reuse something that we already have in the manual/enter screen if we can. Otherwise propose something. Faster that way, because it's not so critical. We can tweak it after that.

[2022-01-05 02:41] hboon opened #3631 "Chain overlay shouldn't show up `TokenImageView` is not used in as a small icon"
i.e. the chain overlay shouldn't show up here (or maybe it shouldn't but it doesn't look nice)

<img width="443" alt="Screenshot 2022-01-05 at 10 41 10 AM" src="https://user-images.githubusercontent.com/56189/148152272-4e57ce01-f341-4717-b989-f45765546428.png">

[2022-01-05 03:01] hboon commented on #3622
Oh. So it isn't supported yet?

According to https://docs.opensea.io/reference/api-overview:

[2022-01-05 03:02] hboon commented on #3622
If you can't get anything out of it, let's close the PR for the time being and hold this first then.

[2022-01-05 05:35] seabornlee opened #3635 "1INCH not listed in wallet tab"
name: Bug Report
about: Using AlphaWallet, but it's not working as you expect?

---

**Describe the bug**
I have `1INCH`, it is listed correctly on Android.
![image](https://user-images.githubusercontent.com/735708/148164153-7c256b5c-33cd-46b4-925c-06b764a0cc97.png)
But not listed on iPhone.

**Steps to reproduce (REQUIRED)**

1. Import wallet
2. Navigate to wallet tab, `1INCH` not listed
3. Click

[2022-01-05 05:39] seabornlee commented on #3635
https://etherscan.io/tx/0x50dcee758879f3e88d30fcc9627ce2beab42ce98c598d84476a9a94f59a81db4

[2022-01-05 06:27] hboon commented on #3580
Closed by #3603

[2022-01-05 06:27] #3580 closed

[2022-01-05 06:30] hboon opened #3636 "Use the same/one copy of token icon in https://github.com/AlphaWallet/iconassets for mapped tokens on the same/different chains"
i.e. Display the same token icon for native token on Ethereum and WETH on Ethereum and WETH on Polygon, etc. if WETH doesn't have an icon available

[2022-01-05 08:26] colourfreak opened #3638 "Change xDAI network name to Gnosis"
They have recently changed the native name
https://www.xdaichain.com/

[2022-01-05 11:31] #3597 closed

[2022-01-05 11:41] oa-s commented on #3622
@hboon  that is strange but for some reasons the OpenSea API doesn't  return some tokens, especially those are on polygon

[2022-01-05 11:47] oa-s commented on #3622
@hboon  oh, out of their documentation polygon doesn't support by api https://docs.opensea.io/reference/api-overview
`Looking for Polygon APIs? Our V2 API is not quite ready yet, but stay tuned for more updates soon!`

[2022-01-05 14:06] oa-s commented on #2911
@hboon i am able to reproduce this issue, but without displaying this alert. I am getting the same error in debug console, but  even with it the chain adds to list.

[2022-01-05 14:07] oa-s commented on #2911
@AW-STJ can u please provide screenshot with filled fields, without alert , to make sure all fields are filled the same as your?

[2022-01-05 14:11] hboon commented on #3622
Yeah. Let’s just leave this for now and check back again. I thought there’s a chance it already worked.

[2022-01-05 15:03] hboon commented on #3638
@oa-s would you also check if the native token name/symbol is affected?

[2022-01-05 23:42] eviltofu commented on #3623
For TestFlight use, we cannot use the Settings bundle. I would suggest we have a custom screen just for TestFlight to turn on/off the `Features`.

[2022-01-05 23:45] eviltofu commented on #3559
Is this issue resolved? @hboon

[2022-01-06 00:00] eviltofu opened #3641 "Replace SegmentedControl with ScrollableSegmentedControl"
Currently there are 14 instances (according to GitHub search) where `SegmentedControl` is used. Some of these are just using the `SegmentedControl.Selection` type. We should replace these instances of `SegmentedControl` with `ScrollableSegmentedControl`. I also suggest renaming `SegmentedControl.Selection` into something else, perhaps `Control.Selection` or rewriting it into `ControlSelectable<T>`

[2022-01-06 01:10] eviltofu opened #3642 "Enabled Networks screen should have search filter"
Settings > Select Active Networks
Enabled Networks screen should have a search filter.

[2022-01-06 02:53] hboon commented on #2911
@oa-s the top comment includes the values filled in (though not a screenshot like you asked for)

[2022-01-06 02:54] #3624 closed

[2022-01-06 02:55] hboon commented on #3623
Yes, can you chuck in Settings > Advanced? The UI design doesn't matter since it's not going to be sure for users who install it via the app store.

[2022-01-06 02:57] hboon commented on #3559
Still there. There's a list of issues: https://github.com/AlphaWallet/alpha-wallet-ios/issues?q=is%3Aissue+is%3Aopen+m1

I don't think it's something we can solve until a version of Xcode + simulator fixes this? I'm building and running with Xcode 13.0 + iPhone 11/iOS 15 simulator

Can you reproduce this?

[2022-01-06 03:03] hboon commented on #3641
Sure, if it can be generalized. I suppose a selection is always an item that fits in a array (i.e. it has a unique non-negative index), so sounds like it would?

[2022-01-06 03:12] eviltofu commented on #3614
Eureka is currently used in 8 files.

| File name | UI | Validation |
| --- | --- | --- |
| EnterPasswordViewController.swift | √ | √ |
| EthereumAddressRule.swift | | √ |
| PrivateKeyRule.swift | | √ |
| MnemonicLengthRule.swift | | √ |
| MnemonicInWordListRule.swift | | √ |
| FormAppearance.swift | √ | |
| FloatLabelCell.swift | √ | |
| FloatLabelTextField.swift |√ | |

However, these all files

[2022-01-06 03:17] hboon commented on #3614
Yes, and that seems like a very simple screen, so if you can remove it quite easily, go ahead.

[2022-01-06 06:01] hboon opened #3644 "Fiat value not appearing for all tokens at the same time"
It seems that the price for the native token appears first. Happens on mainnet too

Almost immediately at launch|Few seconds later
-|-
<img width="487" alt="Screenshot 2022-01-06 at 1 59 49 PM" src="https://user-images.githubusercontent.com/56189/148336120-4bce8f4a-6ec7-49ce-a0fa-5e4a22c26394.png">|<img width="487" alt="Screenshot 2022-01-06 at 1 59 34 PM" src="https://user-images.githubuserconten

[2022-01-06 06:22] oa-s commented on #2911
i filed form according to values on top message, but no error message appeared for me. Just wanted to make sure that app values are right. i will try one more time.

[2022-01-06 08:05] oa-s commented on #2911
@hboon seems like it not replicates for me, i've tried several times, to reproduce it.

[2022-01-06 08:59] eviltofu commented on #3642
It's not that many now because it takes time to add one entry. Once the ability to add multiple is available, this area might be have more entries.

[2022-01-06 11:04] hboon commented on #3559
Any one. It doesn't matter how many rows. The rubberbanding seems to break some times. I always thought it's because of M1. Are you not experiencing it at all?

[2022-01-06 11:15] hboon commented on #3611
Stacking works.

[2022-01-06 11:35] hboon commented on #3559
Forgot to use Quicktime. See if you can spot it. Flicked finger down and then up. Noticed the second time, it doesn't reach the end.

https://user-images.githubusercontent.com/56189/148376918-c8a3fae0-b018-48d7-bc88-178e052f1dfe.mp4

[2022-01-06 11:38] hboon commented on #3642
I see. Let's leave it this first then. We have analytics so we can check how many they have enabled.

[2022-01-06 11:48] hboon commented on #2911
Maybe not an issue anymore because it’s fixed as a side effect. If you conclude it’s not a problem anymore, you can close it

[2022-01-06 11:49] #2911 closed

[2022-01-06 12:59] hieronymus4826 commented on #2947
Application sent

[2022-01-06 13:17] hieronymus4826 commented on #3419
application sent.

[2022-01-06 13:40] #3448 closed

[2022-01-06 13:40] #3600 closed

[2022-01-06 14:06] seabornlee opened #3645 "Balance incorrect on Add/Hide token page"
name: Bug Report
about: Using AlphaWallet, but it's not working as you expect?

---

**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce (REQUIRED)**
Steps to reproduce the behavior

1. Tap Wallet tab
2. Tap Add/Hide Tokens

**Expect**
Check the `Displayed Tokens` section, all balance are correct, 2 ENS, 1 xPUNK.
Or do not show the balance as Android does

[2022-01-06 20:33] oa-s commented on #3645
it seems like it doesn't work for collectibles tokens, will take a look on it

[2022-01-06 23:49] eviltofu opened #3647 "Bug: Failed to compile when running Tests after merging with master"
After merging with `52b1dff3 Merge pull request #3596 from oa-s/#3448` I get the following when trying to run the tests.
[code]

[2022-01-07 02:04] hboon opened #3649 "When we show the (list of) Wallets screen, it should automatically scroll to reveal the current wallet"
A. Wallet tab > blockie/avatar
B. Settings tab > Change / Add Wallet

This screen:

<img width="487" alt="Screenshot 2022-01-07 at 10 02 19 AM" src="https://user-images.githubusercontent.com/56189/148479347-d8683d0f-9911-4e2e-9396-97d2f8f78f63.png">

[2022-01-07 02:18] hboon opened #3650 "Spurious "..." at end of .travis.yml ?"
https://github.com/AlphaWallet/alpha-wallet-ios/blob/52b1dff373ab2f331344364e89d5d91d9335b532/.travis.yml#L20

[2022-01-07 02:23] #3647 closed

[2022-01-07 02:36] hboon opened #3651 "Localized strings not appearing when set to Simplified Chinese"
Verify if simulator only.

1. Change language in Settings.app to Simplified Chinese
2. Launch AlphaWallet app
3. Activity tab

Dates are in Chinese but "Wallet" tab title is still in English. Our localization effort is somewhat patchy and incomplete so not all English strings are localized, but it seems like none of the localized ones are used.

Let's figure out why this is broken before fixing it

[2022-01-07 03:03] hboon opened #3652 "Tap to add custom token after searching for address in Add/Hide tokens should auto search that address"
1. Wallet tab
2. Tap …
3. Add / Hide Tokens
4. Search for 0xe1e546e25A5eD890DFf8b8D005537c0d373497F8 (or any address that is not in the app. 0xe1e54… exists on Ethereum mainnet)
5. "Add Custom Token" appears
6. Tap "Add Custom Token"

Expected:

7. If the search string is a valid `AlphaWallet.Address`, prepopulate the "Contract Address" textbox and kick off search

<img width="487" alt="Screenshot

[2022-01-07 03:18] eviltofu opened #3653 "Should Podfile iOS version be bumped up to 13.0 as well?"
[code]
Should this be bumped up to 13.0

[2022-01-07 03:20] hboon commented on #3653
@eviltofu Ah yes. Also the deployment target at the bottom of the Podfile. Would you try running it on both M1 simulator and device? Just to be sure.

[2022-01-07 04:02] hboon opened #3654 "Fetching ERC1155 (and probably ERC721) tokens owned using OpenSea API is broken?"
This line doesn't seem like it should be there:

https://github.com/AlphaWallet/alpha-wallet-ios/blob/620d9b7f35a43a337005944a288571c9b6144de3/AlphaWallet/Core/Coordinators/WalletBalance/PrivateBalanceFetcher.swift#L253

Looks like it was introduced in #3261

We can reproduce this by importing a wallet which contains ERC1155 tokens and then see if OpenSea API is called. It seems like it is called

[2022-01-07 04:03] hboon opened #3655 "Unwanted layout animation after tapping on ERC1155 token in Wallet tab"
Verify for ERC721 too

https://user-images.githubusercontent.com/56189/148489670-801b9bc2-5108-4d79-b5f8-5d09d60dcd74.mp4

[2022-01-07 06:53] hboon opened #3656 "Label clipped in configure transaction ("Set Speed") screen when there's an error"
This is for nonce. Need to check if it happens for other fields too

![145928481-cbc3708f-accc-4fc5-b2b5-2dfcd26f4ac5](https://user-images.githubusercontent.com/56189/148504032-ea24f766-9a07-49b4-a7bc-16936b8b1745.PNG)

[2022-01-07 06:59] colourfreak opened #3657 "Crashed when switching wallets very fast"
3.34 (417) iOS

https://user-images.githubusercontent.com/51817359/148504640-2736a84a-fa9d-4507-97cc-28870901992b.mp4

https://user-images.githubusercontent.com/51817359/148504650-39da1cdd-e915-471c-8603-c30597bb99a8.mp4

[2022-01-07 10:53] eviltofu commented on #3656
How do I start a transaction?

[2022-01-07 12:16] hboon commented on #3656
@oa-s help :)

[2022-01-07 12:21] #3649 closed

[2022-01-07 12:23] #3654 closed

[2022-01-07 12:26] eviltofu commented on #3650
https://yaml.org/spec/1.2.2/
[code]

[2022-01-07 12:34] hboon commented on #3650
TIL. But is there any reason to add it at the end explicitly?

[2022-01-07 16:43] colourfreak opened #3661 "Get listed among Optimism Wallets"
https://www.optimism.io/apps/wallets
https://gateway.optimism.io/choose-wallet

[2022-01-08 00:25] eviltofu opened #3662 "Inconsistent Realm state causes crash after running Unit Tests"
After running unit tests, sometimes the app crashes with the following:
[code]

[2022-01-08 02:45] eviltofu commented on #3656
I mean I don't have a wallet with anything in it.

[2022-01-08 06:08] eviltofu commented on #3653
Should I also update all the code which has depreciation warnings?
[code]

[2022-01-08 07:09] hboon commented on #3653
Sure. Separate PR? Deprecation aren’t that urgent so doesn’t have to be together

[2022-01-08 07:15] #3652 closed

[2022-01-08 07:15] hboon commented on #3656
Create one and paste the address here.

[2022-01-08 08:05] oa-s opened #3665 "Reduce iOS 13 warnings"

[2022-01-08 08:27] oa-s opened #3667 "Missing activities for erc721, erc1155 tokens"

[2022-01-08 08:28] eviltofu commented on #3653
On iPhone X/iOS15.2 when I'm scrolling on the Wallet screen, it's not smooth. I think it's worse than the non 13 Podfile version.

[2022-01-08 08:30] hboon commented on #3653
Device or simulator? Are you saying this PR is causing the difference?

[2022-01-08 08:54] #3537 closed

[2022-01-08 09:26] eviltofu opened #3668 "Wallets on three different simulators show different amounts."
All three simulators are watching `0x73bceb1cd57c711feac4224d062b0f6ff338501e`. I erased the app before installing and running AlphaWallet. This is the only wallet it is watching. Different iOS versions appear to report different figures. The simulators running 15.2 are in close agreement while the simulator running 14.5 is quite different.

<img width="1108" alt="Screenshot 2022-01-08 at 5 19 07

[2022-01-09 03:56] lexypaul13 commented on #3534
Hi @hboon , My apologies for the late response; I just recovered from an illness.  I would like to work on the task.

[2022-01-09 04:00] eviltofu opened #3669 "After a crash during unit testing, the app cannot start up"
On hardware, after the app crashes during unit testing, the app cannot start up.

1. Delete the app.
2. Install a new copy and run unit tests from Xcode.
3. App crashes (see #3662).
4. Restart app.
5. App is frozen at start up screen.

[2022-01-09 07:02] hboon commented on #3534
@lexypaul13 hope you are well now. Let us know of your findings or if you need help :)

[2022-01-09 23:39] #3464 closed

[2022-01-10 00:20] eviltofu commented on #3653
I am not sure if there is an actual slowdown, how can I measure the scrolling smoothness? It just felt more jerky but that could be from several other factors.

After watching `0x73bceb1cd57c711feac4224d062b0f6ff338501e` things get very choppy. However, after several hours, the scrolling is smooth now.

[2022-01-10 02:20] eviltofu commented on #3669
@hboon @oa-s @colourfreak I've tracked down the problem to `AppCoordinator.swift:86`
[code]
where in `AppCoordinator.swift:120`
[code]
The functions keeps returning false because the RealmDatabase exists but the keyStore has no wallets. This keeps the app in an infinite loop in `AppCoordinator.swift:107`
[code]
Once I can verify @colourfreak 's problem has the same cause, we can fix it.

[2022-01-10 03:42] eviltofu commented on #3657
[code]

[2022-01-10 06:46] eviltofu commented on #3650
It's the standard?

[2022-01-10 08:26] #3665 closed

[2022-01-10 08:36] eviltofu commented on #3651
It appears that all the internationalised strings have to be called.
[code]

[2022-01-10 11:30] oa-s commented on #3655
@hboon seems like its not reproducing for me on simulator iphone 11 pro, can u check if its still exists for u?

[2022-01-10 11:39] oa-s opened #3670 "Fix `Erc1155TokenIdsFetcher` memory leaks"
during switching between wallets instances of `Erc1155TokensFetcher` dont get deleted

[2022-01-10 11:42] oa-s opened #3672 "Fix `AccountsViewController` memory leaks"
While closing opened AccountsViewController from setting, it doesn't get deleted

[2022-01-10 11:46] oa-s opened #3674 "Apply caching for `Subscribable<TokenImage>`"
var icon: Subscribable<TokenImage> {
        <--------<this> ------->
        switch type {
        case .nativeCryptocurrency:
            if let img = server.iconImage {
                return .init((image: .image(img), symbol: "", isFinal: true, overlayServerIcon: nil))
            }
        case .erc20, .erc875, .erc721, .erc721ForTickets, .erc1155:
            if let img = contractAddress.tok

[2022-01-10 11:49] oa-s commented on #3657
@eviltofu are these steps reproducible for simulator? can't reproduce it, not for simulator and not for real device.

[2022-01-10 12:22] eviltofu commented on #3657
Yes I crashed it four times and three times it had the stack dump above.

1. Add up to 5 wallets.
2. Watch 0x73bceb1cd57c711feac4224d062b0f6ff338501e
3. Make sure you switch accounts using the Settings > Change/Add Wallet.
4. Repeat changing from one wallet to another and after 5-8 times I get the crash.

[2022-01-10 13:41] eviltofu commented on #3651
Using regular expressions, I was able to convert all the R.string. localizable.xxx to R.string. localizable.xxx(preferredLanguages: nil)

Regular expression:
`R\.string\.localizable.([a-zA-Z0-0]+)(\()(\))`
Replaced by:
`R.string.localizable.$1$2preferredLanguages: nil$3`

There were some instances where I used nil when I first started on this project. Then I'll convert the `nil` to `Bundle.main.pr

[2022-01-10 15:09] oa-s opened #3677 "improve building Blockchain Explorer URL"
https://github.com/AlphaWallet/alpha-wallet-ios/pull/3639#issuecomment-1006362129

[2022-01-10 21:22] hieronymus4826 commented on #3661
@colourfreak they require a 400x400 png logo for the application. I seem to find only other sizes in the files, can you export one of this size, please. You can ping me on Discord or mail me with it. Thanks!

[2022-01-10 22:33] mmurali88 commented on #3534
@hboon took a look into this and it seems the favicons deployment is broken for a while.

when I try to access the URL manually from the History model I get

![image](https://user-images.githubusercontent.com/4982265/148849371-399b2920-5957-4f23-a8ab-d5ec30e5c55c.png)

Also, I tried their website and found their deployment in vercel is not up anymore

![image](https://user-images.githubusercontent

[2022-01-11 01:58] eviltofu commented on #3669
@hboon @oa-s I would recommend a 15 second timer that will break this loop and asks if the user wants to reinitialise/reinstall the app. A second recommendation would be to store the wallet data in the secure user keychain as a back up and ask the user if they wish to reload from the keychain instead of reinitialising.

[2022-01-11 03:42] hboon commented on #3653
They are libraries that display FPS in-app or you can use Instruments. We haven't bothered with FPS much. But if you do check, remember to test on device, not simulator.

[2022-01-11 03:45] hboon commented on #3650
Why does it have that sometimes and why it doesn't have that sometimes? And if it's optional in our case, why do we add it explicitly? Is there any benefit to it?

[2022-01-11 04:02] hboon commented on #3655
Seems not anymore. Thanks

[2022-01-11 04:02] #3655 closed

[2022-01-11 04:04] hboon opened #3681 "After searching in Wallet tab, can't tap search results in iOS 13.7. Works in iOS 15"
Could it be related to https://github.com/AlphaWallet/alpha-wallet-ios/pull/3666  ?

<img width="771" alt="Screenshot 2022-01-11 at 12 02 37 PM" src="https://user-images.githubusercontent.com/56189/148879250-e1d58e36-86fd-48fb-b30b-d1a8f5644fd8.png">

[2022-01-11 04:05] #3670 closed

[2022-01-11 04:08] #3674 closed

[2022-01-11 04:14] hboon commented on #3651
@eviltofu Can you dig further? Go further back in our repo history, if it still builds. Say around the early in the year 2020. Unless it's changed recently, `R` never requires us to pass in the language to use.

In `257a5308c2617b0aaca1de92ff51311c531f886c` (Oct 2021), R was upgraded, maybe that and the commit before that is a good place to start with.

[2022-01-11 04:20] #3644 closed

[2022-01-11 04:22] hboon commented on #3669
@eviltofu Thanks. Let me check this out.

[2022-01-11 04:26] hboon commented on #3534
@mmurali88 thanks for helping to check too! All help welcome :) Let's give @lexypaul13 a bit of time and for their feedback first.

[2022-01-11 06:53] #3672 closed

[2022-01-11 07:35] oa-s opened #3682 "Fix build error"

[2022-01-11 08:18] oa-s opened #3684 "Empty new features view"
name: Bug Report
about: Using AlphaWallet, but it's not working as you expect?

---

**Describe the bug**
Empty features view

**Steps to reproduce (REQUIRED)**
Steps to reproduce the behavior

1. uninstall the AlphaWallet app
2. install the AlphaWallet app on iPhone 8 Plus simulator with iOS 15

**Expect**
6a. List of features is displaying

**Observed**
6b. List of features is empty

**Screensho

[2022-01-11 09:25] #3682 closed

[2022-01-11 11:36] #3413 closed

[2022-01-11 11:46] oa-s commented on #3631
@hboon Seems like this issue was closed with https://github.com/AlphaWallet/alpha-wallet-ios/pull/3598

[2022-01-11 13:06] colourfreak opened #3689 "Add option to rename wallet straight from a dotted menu in the top right"
https://zpl.io/VkPqp8g
<img width="693" alt="Screenshot 2022-01-11 at 14 02 59" src="https://user-images.githubusercontent.com/51817359/148947858-302c9236-7cc2-4c34-a22d-93274a3de4b9.png">

[2022-01-11 13:11] hboon commented on #3689
@colourfreak  Not a biggie now, but there's a bunch of unrelated functions tucked under the … button. Copy Address, Show My Wallet Address and Rename This Wallet are related to the wallet/address, maybe we can look into moving them somewhere *in the future*? Maybe when the title "tomek.eth" is tapped or when the blockie/ENS avatar is tapped?

[2022-01-11 13:25] hboon commented on #3631
Oh. Can you help close it if it isn’t relevant anymore?

[2022-01-11 14:15] #3631 closed

[2022-01-11 14:42] colourfreak commented on #3638
It is affected.
https://zpl.io/255xXwW

[2022-01-11 14:54] hieronymus4826 commented on #3661
If we are doing a rebrand, better wait with the application. It probably takes time and best do it once. Also lets sort out the OP ethereum display issue, before we say it works :)

[2022-01-12 02:05] eviltofu commented on #3651
Ok I created a new project, localised the strings files, switch to Simplified Chinese, and it works just like you said.
[code]
English: `"a.title"="Me";`
Chinese (Simplified): `"a.title"="我";`
Japanese: `"a.title"="私";`
![image](https://user-images.githubusercontent.com/1050309/149050847-781eaae6-206a-4d56-b567-5ab6838a9294.png)

[2022-01-12 02:25] eviltofu commented on #3651
x`

I am not able to build. Xcode is failing to compile several (6 instances) Pods.

[2022-01-12 02:38] hboon commented on #3651
Some suggestions:

* try manually "bisect" it and see if you can find a commit where it works (and still builds for you)
* strip down the project of most of the code, the extensions and reproduce?
* look at the commit logs messages and see there's a deliberate change to languages/locale that *unintentionally* broke this. For example I see that in 304f5d1ec8b93c5df3ca5240b5c88df32e62b165, we hide t

[2022-01-12 02:38] hboon commented on #3651
BTW, if it doesn't build on the simulator, try build for the device.

[2022-01-12 02:57] eviltofu opened #3691 "Cannot compile master (4ea6700c8b62ae281bb727cecabd51f6bb595895)"
`RPCServers.swift:720:28: Type 'R.image' has no member 'xdai'`

![image](https://user-images.githubusercontent.com/1050309/149055803-7c4ae870-19e5-4208-ba02-4a2b78e2b2ca.png)

[2022-01-12 03:03] hboon commented on #3691
@eviltofu I'll get this one

[2022-01-12 03:17] #3691 closed

[2022-01-12 03:29] #3681 closed

[2022-01-12 03:32] #3645 closed

[2022-01-12 03:55] #3677 closed

[2022-01-12 06:08] eviltofu commented on #3651
The App Store version doesn't appear to display simplified Chinese.

[2022-01-12 06:30] eviltofu commented on #3651
I went back to (129c7b14866e5060930745385f6457fc91eefd54) 31/3/21 when the app doesn't compile anymore. All the versions I compiled never displayed Simplified Chinese.

[2022-01-12 06:34] hboon commented on #3651
Ok. Do what you can and buzz me if you want me to check too.

[2022-01-12 06:38] eviltofu commented on #3651
The temporary fix is #3680. I'm puzzled because the new project file I created displays the Simplified Chinese text perfectly!

[2022-01-12 06:48] oa-s opened #3693 "Remove unused pods"

[2022-01-12 06:50] oa-s commented on #3693
@hboon do we still need this pod, seems like it's not using in the app
`pod 'TrezorCrypto', :git=>'https://github.com/AlphaWallet/trezor-crypto-ios.git', :commit => '50c16ba5527e269bbc838e80aee5bac0fe304cc7'`

[2022-01-12 06:52] hboon commented on #3693
@oa-s I can't remember what it's for without looking it up. If it builds, then you can remove it :)

[2022-01-12 06:59] #3693 closed

[2022-01-12 07:24] oa-s opened #3695 "Remove unused Ramp code"

[2022-01-12 07:27] #3695 closed

[2022-01-12 07:31] hboon commented on #3534
Looks like our very own @oa-s missed this discussion and create a PR.

@lexypaul13 would you help to check it out and respond there in the PR? https://github.com/AlphaWallet/alpha-wallet-ios/pull/3688. I'll just leave it for a few days and if you don't have the chance to look at it yet, I'll do a check and merge it. (But we'll come out with other issues to work on if you would like to help out).

[2022-01-12 07:43] #3684 closed

[2022-01-12 07:49] #3667 closed

[2022-01-12 19:25] oa-s opened #3699 "App crashes on launch"
The app is crashing on launch due to failure access
[code]

[2022-01-13 00:03] eviltofu commented on #3699
Could you paste the file name and line number?

[2022-01-13 00:07] eviltofu commented on #3669
Ok it's not the switching wallet rapidly bug. I was able to restart the app when I had a crash due to the switching wallet bug. #3657

[2022-01-13 00:32] eviltofu opened #3701 "Should we localised app name?"
Should we localise the AlphaWallet app name?

![image](https://user-images.githubusercontent.com/1050309/149244614-4a473803-b321-4708-a526-676da68ddaca.png)

[2022-01-13 05:06] hboon commented on #3701
@eviltofu no.

[2022-01-13 05:06] #3701 closed

[2022-01-13 06:50] oa-s commented on #3699
@eviltofu its in `TokenObject.swift` line number `99`

[2022-01-13 07:10] hboon commented on #3517
Ok, if you want me or Vlad to look into it (or anything else), unassign yourself and assign the right person.

[2022-01-13 07:20] #3529 closed

[2022-01-13 07:37] hboon commented on #3669
@oa-s would you help to check this too? Thanks :)

[2022-01-13 08:20] #3689 closed

[2022-01-13 08:30] hboon opened #3704 "Repeated error popups if visit Uniswap with watch wallet"
This errors appears again and again after it's closed:

<img width="487" alt="Screenshot 2022-01-13 at 4 29 54 PM" src="https://user-images.githubusercontent.com/56189/149293940-0f4de99f-9445-4cc1-a168-5f4231abeb40.png">

[2022-01-13 09:05] hboon opened #3708 "Add support for universal link with embedded URL so that when the link is is tapped, URL is opened in dapp browser"
So:

1. Tap on the universal link, `https://aw.app/openurl?url=<dapp-url-here>`
2. Operating system automatically switch to AlphaWallet app
3. AlphaWallet switches to browser tab and loads <dapp-url-here> in the browser

Samples to test:

[code]

I think this doesn't work, but can you verify?

[code]

[2022-01-13 09:05] hboon commented on #3708
@oa-s Once you confirm the URL scheme is working correctly, would you help create an issue in the Android repo and assign to James, tag it with `High Priority`

[2022-01-13 09:08] colourfreak commented on #3689
That was fast. I am impressed how things just speeded up :)

[2022-01-13 09:34] #3704 closed

[2022-01-13 10:40] colourfreak opened #3709 "Remove the chevron icon from the Wallet Summary screen"
![2022-01-13 11 16 11](https://user-images.githubusercontent.com/51817359/149314907-b116d46b-3469-4698-a73e-554c45d5f4a5.png)

Why? Cause this is confusing. It's an indication that you can see more, where this is not the case yet.

[2022-01-13 11:21] oa-s commented on #3708
https://user-images.githubusercontent.com/96283950/149320117-a1199649-5d04-4ae2-aa4c-3e0b01a1988e.MP4

for me it works in the next way

[2022-01-13 12:16] hboon commented on #3708
Yeah, that's how it is currently. We want it to do this when the link is in this format: `https://aw.app/openurl?url=<dapp-url-here>`:

1. Tap on the universal link, `https://aw.app/openurl?url=<dapp-url-here>`
2. Operating system automatically switch to AlphaWallet app
3. AlphaWallet switches to browser tab and loads in the browser

[2022-01-13 12:17] hboon commented on #3708
Similar to how when there's a WalletConnect WCURL at the end for supporting WalletConnect

[2022-01-13 14:11] oa-s opened #3712 "Cleanup unused image resources"

[2022-01-13 14:36] oa-s commented on #3709
@colourfreak can you please check build version you are using? the latest build doesn't have this chevron icon. Here is what we got
<img width="445" alt="Screenshot 2022-01-13 at 16 36 07" src="https://user-images.githubusercontent.com/96283950/149349938-37b52134-6ae3-4312-baa5-bce01e70e575.png">

[2022-01-13 14:37] oa-s commented on #3517
i was able to reproduce it

[2022-01-13 14:59] oa-s commented on #3669
Yep, i was able to reproduce it, the problem is that after passing tests we got the list of created `realm` dbs and as `UsersDefaults` are empty that is why it stucks.

[2022-01-13 15:20] oa-s commented on #3669
The app crashes due to error:
[code]

[2022-01-13 17:43] colourfreak commented on #3709
All good then.

[2022-01-13 17:43] #3709 closed

[2022-01-14 00:37] #3517 closed

[2022-01-14 01:11] #3712 closed

[2022-01-14 01:40] eviltofu opened #3715 "Add make test feature to Makefile"
Add
[code]
as a test option to the Makefile.
[code]
Makes it a very fast and easy thing to do when switching branches/doing reviews.

[2022-01-14 03:14] eviltofu commented on #3650
I think it's like the case where some people don't close <html></html> tags. They know the browser will compensate for it. I don't see a point in taking it out. @hboon

[2022-01-14 03:21] hboon commented on #3650
Yeah, just curious. No big deal.

[2022-01-14 03:21] #3650 closed

[2022-01-14 04:04] #3715 closed

[2022-01-14 04:06] hboon commented on #3669
@oa-s can you create a PR? Careful with Realm databases and user keys in production.

[2022-01-14 05:52] hboon commented on #3653
Already done in other PR, but #3718 finishes up what's missing.

[2022-01-14 05:53] hboon commented on #3559
Working as expected as of 25a0a0d89e32bf0125ccdcd7f7c8151794da0430

[2022-01-14 05:53] #3559 closed

[2022-01-14 05:55] hboon commented on #3558
Working as expected as of 25a0a0d89e32bf0125ccdcd7f7c8151794da0430

[2022-01-14 05:55] #3558 closed

[2022-01-14 05:55] hboon commented on #3575
Working as expected as of 25a0a0d89e32bf0125ccdcd7f7c8151794da0430

[2022-01-14 05:55] #3575 closed

[2022-01-14 05:55] hboon commented on #3535
Working as expected as of 25a0a0d89e32bf0125ccdcd7f7c8151794da0430

[2022-01-14 05:55] #3535 closed

[2022-01-14 07:13] #3653 closed

[2022-01-14 07:37] hboon commented on #3544
Yes indeed. Sorry, it took a while to figure out. We are close to merging the fix in and should be available in the next update.

[2022-01-14 07:38] hboon commented on #3544
Closing because: https://github.com/AlphaWallet/alpha-wallet-ios/issues/3544#issuecomment-993588053

[2022-01-14 07:38] #3544 closed

[2022-01-14 07:39] hboon commented on #3531
@eviltofu are you working on this? Otherwise reassign it to @oa-s so he can take over this? Take care that #3702 will be merged.

[2022-01-14 07:40] hboon commented on #3077
Fixed after restarting server a long while ago.

[2022-01-14 07:40] #3077 closed

[2022-01-14 07:40] hboon commented on #2750
Done

[2022-01-14 07:40] #2750 closed

[2022-01-14 07:48] oa-s commented on #1688
@hboon can u remind me how to trigger it?

[2022-01-14 07:52] hboon opened #3719 "Refactor custom URL scheme handling (eg. ethereum:) and universal link handling (eg. https://aw.app)"
After #3711

It's getting a little messy as we add support for different schemes. Can we move the bulk of it into a single class with just the logic and have some enums to see and follow the types and then have the other coordinators or AppDelegate use them? I know we already have some enums (`MagicLinkURL`). Maybe a wrapper for them so it can be grouped together eg.

[code]

So have to move some

[2022-01-14 08:00] hboon commented on #1688
@oa-s never mind that. Seems like it is done already:

![IMG_9403](https://user-images.githubusercontent.com/56189/149472179-7b8bedf1-8a52-482b-8fb5-ce2df531a759.PNG)

[2022-01-14 08:00] #1688 closed

[2022-01-14 08:05] hboon commented on #3205
@oa-s can you try this again?

[2022-01-14 08:06] hboon commented on #2306
@oa-s can you try this again?

[2022-01-14 08:07] oa-s commented on #3205
sure

[2022-01-15 02:22] eviltofu commented on #3566
@colourfreak What text do I use for search filters resulting in no results for the Wallet screen.

1. All
2. Currencies
3. Assets
4. Collectibles

[2022-01-15 10:20] hboon commented on #3566
What do you mean?

[2022-01-16 05:22] hboon opened #3722 "Unstoppable Domains name resolution deprecation/changes"
There are some changes to name resolution or deprecation.

This:

and this:

There's also a separate integration doc. Will send you the link privately.

Would you help to check them, summarize what we need to do? And if it's obvious it needs to be done and simple enough, would you make the change?

We'll also need to follow up and add the integration for Android

[2022-01-16 05:23] hboon opened #3723 "Figure out Login with Unstoppable Domains"
Figure out what it is and how it works and let's see if/how we can integrate.

Description https://unstoppabledomains.com/blog/introducing-login-with-unstoppable

Login integration guide https://docs.unstoppabledomains.com/login-with-unstoppable/login-integration-guides

[2022-01-16 11:21] eviltofu commented on #3566
I am currently using this:
![image](https://user-images.githubusercontent.com/1050309/149657771-c30a109f-45fd-4d84-a6b3-17234fa441b1.png)

What should it actually be?

[2022-01-16 11:23] hboon commented on #3566
"No results"

or

"No matches"

[2022-01-16 14:33] Saif-Fazlani opened #3724 "Email option not working on second time."
In support section, when email is tapped, it opens a MFMailComposeViewController, but when user cancels or sends the email and taps the email again, the cancel and send buttons for MFMailComposeViewController doesn't seem to work.

[2022-01-16 14:39] hboon commented on #3724
@Saif-Fazlani I can reproduce this too. Thanks for reporting!

[2022-01-16 14:40] Saif-Fazlani commented on #3724
@hboon You're welcome.
Any idea on how to resolve this?

[2022-01-16 14:42] hboon commented on #3724
@Saif-Fazlani we'll have to fix it in the codebase.

[2022-01-16 14:45] Saif-Fazlani commented on #3724
Could you please share the solution here?
I'm working on an MVP and I'm stuck on this issue for a few hours now.

[2022-01-16 14:46] hboon commented on #3724
Do you mean you are trying to fix the bug, perhaps in a fork?

If so, we should be getting to this shortly. We'll create a PR with the fix, which links back to this issue, so you'll get notified too.

[2022-01-16 14:55] #3651 closed

[2022-01-16 15:05] eviltofu commented on #3581
Does this tokens.json file need to be compressed?

[2022-01-16 15:10] hboon commented on #3581
Don't work on this one yet.

[2022-01-16 15:14] #3699 closed

[2022-01-16 15:53] eviltofu opened #3725 "Unit tests fail if device is not in English"
AssetDefinitionStoreTests.swift:8
[code]

XMLHandlerTest.swift:916
[code]

[2022-01-17 01:07] eviltofu commented on #3669
@hboon @oa-s My suggestion now is to have separate name spaces/folders for testing. This way we won't have to modify the start up code. The realm database could have a new folder just for testing. The Config user defaults could have a prefix `tests-` added to all the keys.

[2022-01-17 01:22] eviltofu opened #3726 "Proposal to refactor Config for User Interface Testing"
Config needs to be able to

1. Have it's own namespace for uiTesting (perhaps by adding `ui-testing` in front of the `UserDefault` keys.
2. Create several sets of fixed Wallets for uiTesting.
3. Passed from one coordinator to another instead of just creating it on the coordinator's `init` method.

[2022-01-17 07:15] oa-s commented on #3669
@eviltofu @hboon Yep, that is what the pr does for this issue. We creating a new folder for realm files during testing. In cache directory we create `wallets` folder, with realm files, even if the app is crashing we drop folders content on next launch, so this issue shouldn't appear.

[2022-01-17 07:37] #3566 closed

[2022-01-17 08:02] hboon commented on #3725
Ah, probably OK. Just have to assume it's English for now.

[2022-01-17 08:02] #3725 closed

[2022-01-17 09:21] hboon commented on #3726
Definitely. We have removed many of these. But appears to have come back. Maybe a PR to get rid of these first? Might involve a number of files.

[2022-01-17 09:24] hboon commented on #3726
Since `Config` mostly reads from `UserDefaults` [^1], maybe it's easier to just add a initializer `init(defaults: UserDefaults)`, change `Config` to use it and pass in a different `UserDefaults` instance for tests?

[^1]: we should probably see if we can fix any values that aren't.

[2022-01-17 09:25] hboon commented on #3726
Actually, we are already halfway there: https://github.com/AlphaWallet/alpha-wallet-ios/blob/c98072d2771fe4f3d277c2e7e9a07916470a3663/AlphaWalletTests/Factories/Config.swift#L7

[2022-01-17 09:26] hboon commented on #3726
Maybe it's the static functions in `Config` which are the problem

[2022-01-17 09:26] hboon commented on #3726
@eviltofu do you have enough feedback from me?

[2022-01-17 09:47] oa-s commented on #3205
@eviltofu if you have throughput, could u check this issue?

[2022-01-17 10:19] hboon opened #3729 "Table animation glitch after popping from token back to Wallet tab if searching"
1. Search
2. Tap token
3. Back

At the "jump" at ~3rd second of the video. Not sure if it appears on the device too.

https://user-images.githubusercontent.com/56189/149751295-4670d8a8-4034-4b98-a83e-7c7584585387.mp4

[2022-01-17 10:29] hboon opened #3730 "Show more collection-level data from OpenSea"
We can get this additional data for NFTs available on OpenSea:

[code]

Here's the corresponding OpenSea page showing some of these data:

<img width="756" alt="Screenshot 2022-01-17 at 6 04 09 PM" src="https://user-images.githubusercontent.com/56189/149752094-c9a21a7b-4dcd-40da-8c95-cbc67561cb45.png">

Maybe we can display them in the Info tab:

<img width="504" alt="Screenshot 2022-01-17 at 6 20

[2022-01-17 11:18] Saif-Fazlani commented on #3724
Yes, I am.
That'd be great, thanks!

[2022-01-17 11:23] hboon commented on #3730
@colourfreak sorry. Hold this one. Can get more

[2022-01-17 11:49] oa-s opened #3731 "Move `tokenActionsService` initialization to `AppCoordinator`"
the instance of inCoordinator could be created several times, (each time we change wallet) due to this we make some requests for some services in `tokenActionsService`, we can skip them and perform these calls only once.

[2022-01-17 11:52] #3708 closed

[2022-01-17 12:10] oa-s opened #3733 "Change block range <eth_getLogs> for Polygon network"
`server: polygon address: <addr> nodeError("eth_getLogs block range too large, range: 99991, max: 3500") from: fetchEvents(tokenContract:server:card:eventsDataStore:queue:wallet:)`

[2022-01-17 12:10] oa-s opened #3734 "Change block range <eth_getLogs> for Polygon network"
`server: polygon address: <addr> nodeError("eth_getLogs block range too large, range: 99991, max: 3500") from: fetchEvents(tokenContract:server:card:eventsDataStore:queue:wallet:)`

[2022-01-17 12:13] #3669 closed

[2022-01-17 12:46] #3733 closed

[2022-01-17 15:33] #3734 closed

[2022-01-17 15:47] hboon opened #3736 "Tests broken on master"

[2022-01-17 15:57] #3638 closed

[2022-01-17 16:40] hboon opened #3738 "Wallet fiat total don't get refreshed after enabling/disabling chain until app is restarted"
If we have $E amount of crypto in chain Ethereum mainet and $G in Gnosis:

1. Make sure app only has Ethereum mainnet and Gnosis enabled
2. Kill app
3. Launch app
4. Verify fiat total shown in Wallet tab header is E + G
5. Disable Ethereum mainnet so only Gnosis is active

Expect:

6. Total = G

Observed:

6. Total = E + G (until restart app)

eg. "Fiat total" in screenshot is "$2.63":

<img width

[2022-01-17 19:39] #3731 closed

[2022-01-18 02:48] eviltofu commented on #3531
There are places where there are number formatters being used. I should extract these out as well? So that all the NumberFormatters are in one file should we want to change the format again? @hboon

[2022-01-18 02:52] #3736 closed

[2022-01-18 02:57] hboon commented on #3531
Not sure what you are referring to. But sounds like yes.

[2022-01-18 03:09] eviltofu commented on #3531
Places which create and format their own NumberFormatter(). I replaced those with a NumberFormatter in the Formatters file.

[2022-01-18 03:12] eviltofu commented on #3531
@colourfreak Do we always want to use the "," separator? Currently some places (Wallet Summary) do not use ",".
![image](https://user-images.githubusercontent.com/1050309/149864430-c6d85b71-1d8d-4b70-99fe-f745dc35ca76.png)

[2022-01-18 03:24] hboon commented on #3531
We might have discussed this, but it's been a while:

BTW, remember to check that entering decimal separators continues to work with locales that are defined to use commas. So I think we might have to do this:

* Users enter with their locale-specific decimal separators (Might be `,` or `.`) I guess we'll just hardcode to accept both. I think we might already do this.
* We display them always with

[2022-01-18 04:22] #3534 closed

[2022-01-18 04:32] hboon opened #3741 "Display traits for NFTs (ERC721 and ERC1155) retrieved from OpenSea"
We used to display them for ERC721s like CryptoKitties before we aligned the UI for ERC721 with 1155's.

Let's show them again.

Buzz @colourfreak if we need design help.

This screen, for individual token IDs:

<img width="504" alt="Screenshot 2022-01-18 at 12 29 48 PM" src="https://user-images.githubusercontent.com/56189/149871309-58de3d7a-1b51-407e-9591-3795bc0afd6b.png">

Sample, in the OpenSe

[2022-01-18 04:39] hboon commented on #3730
Looks like just one more field is useful:

[code]

According to docs:

So the values can be:

* not_requested
* requested
* approved
* verified

[2022-01-18 04:40] hboon commented on #3730
@colourfreak So summing up, there's:

* a bunch of stats: https://github.com/AlphaWallet/alpha-wallet-ios/issues/3730#issue-1105671620
* safelist_request_status: https://github.com/AlphaWallet/alpha-wallet-ios/issues/3730#issuecomment-1015065563

[2022-01-18 06:04] eviltofu commented on #3531
@hboon None of the NumberFormatters I converted appear to be used to convert from String -> Number. It appears to be `EtherNumberFormatter` which I haven't touched at all in EtherNumberFormatter.swift is used for the conversion.

[2022-01-18 11:21] #3719 closed

[2022-01-19 00:59] eviltofu commented on #3531
@hboon Do you want me to rewrite the integer parsing code? Currently, the code assumes that "," is the group separator, and "." is the decimal separator.

[2022-01-19 02:35] #3738 closed

[2022-01-19 02:43] eviltofu opened #3744 "Repeated crypto implementation"
[code]

[2022-01-19 02:44] eviltofu commented on #3744
@oa-s @hboon It appears that a library is being embedded twice?

[2022-01-19 02:45] hboon commented on #3531
Can you point us to that piece of code?

I think ideally, for user input it should be:

* Parse using user's locale
* If it fails, we just use whichever appears at the rightmost (`,` or `.`) as the decimal separator and ignore the other

For non-user input (I can't remember if we have any), always use "." as the decimal separator.

I can't remember if we have to make allowance to accept both "," a

[2022-01-19 03:14] eviltofu opened #3745 "App terminated due to memory issues"
I have `0x00000000219ab540356cBB839Cbe05303d7705Fa` as my watched wallet. After about 15 minutes, the app was terminated due to memory issues.

[2022-01-19 03:21] eviltofu commented on #3531
@hboon `func number(from string: String, units: EthereumUnit = .ether) -> BigInt?` in `EtherNumberFormatter.swift` I think.

[2022-01-19 03:45] #3724 closed

[2022-01-19 03:46] hboon commented on #3745
Probably too big of a whale wallet though. So if it's overly complicated, don't worry about it for now.

[2022-01-19 03:47] hboon commented on #3744
I think it's included as both a pod by us directly and as Swift Package by another Swift Package (WalletConnect v2 SDK)

[2022-01-19 03:49] hboon commented on #3744
Since SPM seems to work for us now, try replacing our CryptoSwift dependency in the `Podfile` and into SPM? Remember to try to build for both simulator and device?

[2022-01-19 04:41] hboon commented on #3531
@eviltofu Seems like we should keep it:

[code]

and:

[code]

[2022-01-19 06:56] oa-s commented on #3741
@hboon @colourfreak do we have design for displaying such kind of data?

[2022-01-19 08:17] eviltofu commented on #3531
@hboon ok so there is nothing remaining on this issue besides the items in the PR?

[2022-01-19 08:24] hboon commented on #3531
@eviltofu seems so

[2022-01-19 10:22] oa-s opened #3747 "Wallet connect request with Local Notifications"
It would be greate if to use local notification for wallet connect requests, in case if the app in backgroud. To notify user about incoming request

[2022-01-19 12:41] hboon commented on #3747
Sounds useful. So request background time if there’s an active WalletConnect session? Want to try it out?

Actually without this, what happens if the app is suspended, an incoming request and the app is resumed? Is it queued?

[2022-01-19 12:45] hboon commented on #3747
But wait. Doesn’t the universal link for AlphaWallet get triggered and the apps switched to for signing requests?

[2022-01-20 00:35] eviltofu opened #3748 "Crash Report indicates Realm Error"
My simulator crashed and gave this crash report. Looking through it I found:
[code]
and further down
[code]
Should someone look at `TokenObjectsCache.updateCache() + 520 (ActivitiesService.swift:132)`
Full report below.
[code]

[2022-01-20 00:40] eviltofu opened #3749 "Scrollable content size is ambiguous warning on analytics screen"
<img width="1552" alt="Untitled 2" src="https://user-images.githubusercontent.com/1050309/150241275-a5e9f1e4-ed12-46b6-8157-6dc7fbd6ffe5.png">

[2022-01-20 02:36] hboon commented on #3748
This gives a clue:

We have added checks against `isInvalidated` to solve something else like this. If this is the reason, maybe it's an architecture problem or the approach doesn't scale (it's too easy to get into an invalidated state if we can't prevent it with architecture)

There's probably a correct way to use Realm and we haven't done it correctly; but it's been giving us mysterious crashes

[2022-01-20 03:01] eviltofu commented on #3205
Ok so running `./vendor/bundle/bin/bundle exec fast lane ios release` results in `[!] Your current version ($(ALPHAWALLET_INFO_PLIST_FILE)) does not respect the format A or A.B or A.B.C`.

[2022-01-20 03:12] hboon commented on #3205
Changed assignments just to be clear. Update yourself to reflect reality :)

[2022-01-20 03:12] hboon commented on #3205
BTW, I updated the first comment to include this:

[2022-01-20 03:40] eviltofu commented on #3744
Maybe it's easier just to remove the SPM version? @hboon
![Podfile](https://user-images.githubusercontent.com/1050309/150269150-df650275-f592-4eb2-83e2-62cc04504acf.png)
![Podfile](https://user-images.githubusercontent.com/1050309/150268997-548d9a0e-ddda-484d-ae36-a695ca69fd9d.png)

[2022-01-20 04:12] hboon commented on #3744
@eviltofu We can't remove the SPM version because the WalletConnect v2 SDK specifies it.

Oh, maybe we can't remove the pod version for the same reason?

Any ideas? Otherwise, let's keep them both around and make sure the version number always sync (not the best idea of course!)

[2022-01-20 05:36] hboon opened #3751 "Gas price and Gas limit textboxes' keyboard should not allow entering "." in configure transaction screen"
`ConfigureTransactionViewController`

Probably should be `.numberPad`? (like `Nonce` in the same screen).

<img width="504" alt="Screenshot 2022-01-20 at 1 34 58 PM" src="https://user-images.githubusercontent.com/56189/150279751-c14599aa-5c89-4e2a-ab68-832af57232c5.png">

[2022-01-20 05:39] hboon opened #3752 "Chain ID textbox's keyboard should not allow entering "." in Add/edit custom RPC screen"
<img width="504" alt="Screenshot 2022-01-20 at 1 38 01 PM" src="https://user-images.githubusercontent.com/56189/150280028-ce2e3559-f20f-4238-a6fd-8d80bdcf8919.png">

[2022-01-20 05:43] hboon opened #3753 "Chain ID textbox's keyboard should not allow entering "." in Add/edit custom RPC screen"
<img width="504" alt="Screenshot 2022-01-20 at 1 38 01 PM" src="https://user-images.githubusercontent.com/56189/150280028-ce2e3559-f20f-4238-a6fd-8d80bdcf8919.png">

[2022-01-20 05:43] hboon commented on #3753
Duplicate #3752

[2022-01-20 05:43] #3753 closed

[2022-01-20 06:09] eviltofu commented on #3744
Ok I've checked the entire Podfiles list and it seems like only a handful are not supported on SwiftPackageManager. Blockie, Charts, StatefulViewController, QRCodeReaderViewController, PaperTrailLumberjack, and one or two more.

Maybe shift everything to SwiftPackageManager?

@hboon

[2022-01-20 06:15] hboon commented on #3744
Yes, originally wanted to. But like you said not everything third party dependency we use supports SPM. *and* it looks like SPM can't have dependencies on pods, so we are going to have a mixture anyway. So it doesn't seem like the right time to move completely (or as much as we can) to SPM.

But are you suggesting we move only those pods that depend on CryptoSwift over to SPM? If that's the case,

[2022-01-20 06:18] eviltofu commented on #3744
Why not move WalletConnect to the pod file?

[2022-01-20 06:20] hboon commented on #3744
Because it's a third party library that only supports SPM. One way to go about it is to create PR to add support for Cocoapods.

[2022-01-20 06:57] oa-s commented on #3747
actually don't know for now, it needs to check.

[2022-01-20 06:59] oa-s commented on #3747
it the app get triggered by universal link (and its in suspended state) it still should process the universal link, and open approproate screen.

[2022-01-20 07:00] oa-s commented on #3747
so yes, we need to check if there is connection for socket with WalletConnect

[2022-01-20 07:01] hboon commented on #3747
Oh of course! The user wouldn't know to check their phone I guess, even if the app is triggered via Universal Link. Yes, good to explore this.

[2022-01-20 07:05] oa-s commented on #3614
i have implementation for this issue

[2022-01-20 07:08] hboon commented on #3614
Remember to negotiate and reassign yourselves

[2022-01-20 07:26] hboon opened #3755 "Migrate from Realm"

[2022-01-20 07:42] oa-s commented on #3755
sqlite its a good alternative.
in this case we will need to implement all stuff like, fetching, watching changes, and migration by own

[2022-01-20 08:56] eviltofu commented on #3205
How are you all using `fastlane`? `./vendor/bundle/bin/bundle exec fastlane ios release` or you have your own copy of `fastlane`? @oa-s @hboon

[2022-01-20 11:11] eviltofu commented on #3755
Use a [facade pattern](https://en.wikipedia.org/wiki/Facade_pattern)? Then we can change the back end later? How many types and entries are we talking about?

[2022-01-20 11:54] oa-s commented on #3755
its about most main of instances:
<img width="353" alt="Screenshot 2022-01-20 at 13 53 44" src="https://user-images.githubusercontent.com/96283950/150333948-b97effb4-6ee4-479f-ac83-3350a96915c1.png">

[2022-01-20 13:02] hboon commented on #3744
Ok. Let’s close it for now. Maybe we can see if we can add support to the WC SDK for cocoa pods later.

[2022-01-20 13:32] #3744 closed

[2022-01-20 13:52] oa-s opened #3757 "Refactor Enjin OpenSea providers"

[2022-01-20 15:36] oa-s commented on #3748
check out `TokenObjectsCache.swift`

[2022-01-21 03:32] hboon commented on #3205
Should use the copy installed with `Gemfile`. So:

[code]

[2022-01-21 03:41] lexypaul13 commented on #3534
@hboon  My apologies for the late response, Ive been receiving a lot of interviews and I have been studying leet code. Yes please I would like to look at it

[2022-01-21 03:47] hboon commented on #3748
What about it?

[2022-01-21 03:49] hboon commented on #3748
If it's about using `TokenObjectsCache` as it is now or fixing it. I *think* the problem with using Realm (or any kind of object-based or graph-based datastore) is caching and invalidation. Those are good for performance if we use them right. But seems hard, and not worth the tradeoff here.

[2022-01-21 03:49] hboon commented on #3534
@lexypaul13 no worries! We have since merged that PR. But we'll come out with new issues that are suitable. Stay tuned.

[2022-01-21 04:19] lexypaul13 commented on #3534
Awesome thank you so much for understanding.

[2022-01-21 05:11] hboon opened #3760 "Migrate wallet addresses storage from `UserDefaults` to a single JSON file"
I have stumbled on the hanging at launch issue on the simulator and managed to dig into it. It appears that the 4 wallet lists in `com.stormbird.alphawallet.plist` are emptied out. Interestingly the other values stored in `UserDefaults.standard` seem to be intact. Also these 4 values are the only ones stored as `Data` and generated using `NSKeyedArchiver`. Unfortunately I can't reproduce what's ca

[2022-01-21 05:15] #3531 closed

[2022-01-21 05:22] eviltofu commented on #3748
@hboon

Maybe we just remove the cache (just report the object is not found in the cache) and then transition to the new solution? This will at least lower the amount of crashing.

[2022-01-21 05:24] hboon commented on #3748
In case I mised you:

The cache and invalidate here isn't referring to `TokenObjectsCache`. It's referring to `Realm`'s.

@eviltofu does this still apply? :

[2022-01-21 05:34] eviltofu opened #3761 "Remove all checks for iOS13 in code"
Remove all the checks for iOS13 in the code since the minimum supported version is iOS13 now.

[2022-01-21 06:10] hboon commented on #3755
It'll be quite an abstraction that way, so let's not overdo it. But still, we can be careful not to be too leaky.

OK, let's say we go with sqlite, to be concrete, we can try something like:

* Create a Cocoapod to do this
* Pass only dumb Swift data types and instructions to update across app/pod
* Optimize for our usage, we have only ~10 types and we are mostly reading and bulk inserting:
    *

[2022-01-21 06:20] eviltofu commented on #3748
The crash is happening in TokenObjects.Cache.

[2022-01-21 06:36] eviltofu opened #3762 "Set Preserve Vector Data for PDFs in XCAssets file"
I noticed some PDFs in the XCAssets file don't have the Preserve Vector Data checkbox clicked. Someone should go through all the PDF images in the XCAssests file and turn Preserve Vector Data on.

[2022-01-21 06:44] #1767 closed

[2022-01-21 06:47] eviltofu commented on #3755
[code]
I thinking something simple like the above.

[2022-01-21 07:07] oa-s commented on #3755
Btw when we started to get these crashes? seems like the app stopped crashing after updating realm accessing from different threads. And after some changes it started again.

[2022-01-21 07:10] oa-s commented on #3755
Also one important moment, when we start watching a large wallet we made a lot of web3swift calls. If you take a look at objects inspector you can facing there a lot of retained `web3swift` objects and `Promise` objects.

[2022-01-21 07:53] colourfreak opened #3763 "Umbrella issue for minor UI changes"
- [x] #3764
- [x] #3765
- [x] #3766
- [x] #3767
- [x] #3768
- [x] #3769
- [x] #3770
- [x] #3771
- [x] #3772

[2022-01-21 07:56] #2809 closed

[2022-01-21 07:57] #3460 closed

[2022-01-21 08:01] oa-s commented on #3761
there also present batch of checks for lowest versions checks

[2022-01-21 08:27] colourfreak opened #3764 "Update headers/separators height in the Wallet Summary screen"
<img width="1233" alt="Screenshot 2022-01-21 at 08 49 51" src="https://user-images.githubusercontent.com/51817359/150492219-9bbf4d3f-a371-4c7b-b048-4867506545eb.png">

Zeplin:
https://zpl.io/bWEARp7

Height: 50pt
Font:  15pt Left SemiBold Dove #727272

[code]

[2022-01-21 08:47] colourfreak opened #3765 "Remove the gray line under nav bar in all ERC20, ERC721, ERC1155 tokens"
<img width="1112" alt="Screenshot 2022-01-21 at 09 40 41" src="https://user-images.githubusercontent.com/51817359/150494795-e4761a27-6c46-474d-87a3-1237bbe16013.png">

Zeplin
https://zpl.io/2p8ozYy
https://zpl.io/aB3JRgq
https://zpl.io/V4Ngj04

[2022-01-21 08:59] colourfreak opened #3766 "Make the font larger 20pt in the wallet tab, token value"
<img width="1408" alt="Screenshot 2022-01-21 at 09 55 16" src="https://user-images.githubusercontent.com/51817359/150497173-e0eff6a6-b4dc-46c4-8046-a079b9dded28.png">

This issue is coming back.

Zeplin:
https://zpl.io/aB3X98k

Font: SourceSansPro-SemiBold, 20pt, Black #000000, line height 34pt

react
[code]

Swift
[code]

[2022-01-21 09:04] colourfreak opened #3767 "Remove the gray line under nav bar in the wallet tab"
<img width="1166" alt="Screenshot 2022-01-21 at 09 53 13" src="https://user-images.githubusercontent.com/51817359/150498123-85de6c3f-5b3b-47ba-83cc-97a4020a373e.png">

We have two options:
1. We remove this line completely
2. We show this line only when you scroll down

<img width="971" alt="Screenshot 2022-01-21 at 10 03 45" src="https://user-images.githubusercontent.com/51817359/150498282-3879eb

[2022-01-21 09:13] colourfreak opened #3768 "Change the red font color in the ERC20 Performance section"
<img width="1377" alt="Screenshot 2022-01-21 at 10 11 18" src="https://user-images.githubusercontent.com/51817359/150499607-262d99ba-9e9c-483d-9491-1252541eca25.png">

Zeplin:
https://zpl.io/bWZnXz1

[code]

[code]

[2022-01-21 09:17] colourfreak opened #3769 "Enlarge the font in the tab bar"
<img width="1361" alt="Screenshot 2022-01-21 at 10 15 18" src="https://user-images.githubusercontent.com/51817359/150500330-887b7eea-d1bf-4677-8e73-87021e405aba.png">

Make it 13pt.

Zeplin
https://zpl.io/aNWMXkD

[code]

[code]

[2022-01-21 09:28] colourfreak opened #3770 "Remove green sent/received icons from the Activity"
At this point, I don't think they make any sense.
- too similar to each other
- look very bad with a network symbol on the other side of a token symbol
- look cluttered

I know that there are many issues related to Activities in https://github.com/AlphaWallet/alpha-wallet-ios/issues/3278, but this is the easy gain.

<img width="1781" alt="Screenshot 2022-01-21 at 10 25 54" src="https://user-images

[2022-01-21 09:57] colourfreak opened #3771 "Update chevron color in the Settings tab"
<img width="1379" alt="Screenshot 2022-01-21 at 10 56 55" src="https://user-images.githubusercontent.com/51817359/150506662-7488aab7-22ef-4627-8eda-1adac2d1adef.png">

Zeplin:
https://zpl.io/bAKlY3q
https://zpl.io/bee6kjp
https://zpl.io/VYn67Bw

[2022-01-21 10:01] colourfreak opened #3772 "Make the Change/Add Wallet cell higher in the Settings"
When we have two lines of text, the cell should be higher.

<img width="1182" alt="Screenshot 2022-01-21 at 10 58 29" src="https://user-images.githubusercontent.com/51817359/150507071-418e9dc5-0db9-49ba-b7e8-91556544e861.png">

<img width="1122" alt="Screenshot 2022-01-21 at 11 00 40" src="https://user-images.githubusercontent.com/51817359/150507211-743263e8-8279-4138-9764-58a4658cd431.png">

http

[2022-01-21 12:23] oa-s opened #3773 "Fix layout for ConfigureTransactionViewController on iphone 8"
| BEFORE PR     | AFTER PR |
| ------------ | -------- |
| <img width="300" src="https://user-images.githubusercontent.com/96283950/150524192-be08dc3e-d733-47b7-a597-1da11d35c9a9.png"> | <img width="300" src="https://user-images.githubusercontent.com/96283950/150524427-ad211c80-cd46-43a6-8ac3-27a79e30fea6.png"> |
| <img width="300"  src="https://user-images.githubusercontent.com/96283950/150524208

[2022-01-21 13:13] hieronymus4826 opened #3776 "Check/Replace the RPC for Fantom"
Got two reports the current RPC for the Fantom network is not performing transactions on multiple websites. Can we please diagnose?

Maybe time to revisit the idea of allowing the end-user to edit the included networks to save us some time in the future

[2022-01-22 02:00] eviltofu commented on #3765
@colourfreak What about erc875?

[2022-01-22 11:10] colourfreak commented on #3765
Yes

[2022-01-22 11:48] eviltofu commented on #3531
@colourfreak from latest master.

![Simulator Screen Shot - iPhone 12 - 2022-01-22 at 19 47 37 copy](https://user-images.githubusercontent.com/1050309/150637304-7c4b8bfb-24da-48e1-91ea-02dd462d7b70.png)

[2022-01-23 03:43] eviltofu commented on #3769
I'm using these two lines but somehow only the `.normal` text attribute is being used. The selected text attribute is being ignored.
[code]
This is somehow due to `UINavigationController` being the view controllers in `UITabBarController`. I created a new project with just `UIViewControllers` in `UITabBarController` and the different font styles do appear. Once I embed the view controller into a `

[2022-01-23 09:43] oa-s commented on #3748
it shouldn't be, all realm calls are made on main queue.

[2022-01-23 10:19] oa-s commented on #3769
@eviltofu try this one
[code]

[2022-01-23 10:55] luckyMehndiratta2525 opened #3785 "Cannot find 'R' in scope"
![Uploading Screenshot 2022-01-23 at 4.24.53 PM.png…]()

[2022-01-23 12:08] eviltofu commented on #3785
@luckyMehndiratta2525 Just try compiling.

[2022-01-23 12:12] eviltofu commented on #3769
@oa-s Ok, this works. Thanks!

[2022-01-24 01:14] eviltofu opened #3786 "Tapping "BACK UP WALLET" returns to "Back up your Wallet with Seed Phrase" screen"
Also the app should provide instructions on how to lock it? Screen says "Not locked" but I don't know how to lock it? Tapping "Back Up Wallet" should lead to screen where user is asked to lock/unlock if back up is done?

![Simulator Screen Shot - iPhone 12 - 2022-01-24 at 09 07 42 copy](https://user-images.githubusercontent.com/1050309/150706766-80f33cf7-771a-447c-a09b-1b8fddd8ee3e.png)

![Simulat

[2022-01-24 02:17] eviltofu opened #3787 "Scanning wrong type of QR code results in the app asking you to open the browser but nothing happens after that"
In the Import Wallet screen, if you scan a Singapore COVID QR entry code with the AlphaWallet qr code scanner, it asks if you want to open the url in the browser but if the user answers open nothing happens. If you scan in other places, the app does open a built in browser.

https://user-images.githubusercontent.com/1050309/150711372-749056c4-e24a-4220-82e3-47e119cb2ba9.mov

[2022-01-24 02:29] eviltofu opened #3788 "Telegram Support results in invalid address on Telegram web site"
Settings > Support > Telegram (Customer Support) results in the image below:

![IMG_3A7F65602A07-1](https://user-images.githubusercontent.com/1050309/150712254-149b3d76-951c-446a-b923-0edc3e889a55.jpeg)

[2022-01-24 04:40] #3641 closed

[2022-01-24 05:01] #3757 closed

[2022-01-24 05:12] #3656 closed

[2022-01-24 05:12] #3773 closed

[2022-01-24 05:14] #3764 closed

[2022-01-24 05:15] hboon commented on #3776
Yes

[2022-01-24 05:16] hboon opened #3789 "Figure out allowing editing of RPC and blockchain explorer/API endpoints for built in chains"
#3776

Some considertions:

* Be able to reset to default
* Know they are overridden
* Show problems/status of those endpoints

[2022-01-24 05:21] hboon commented on #3766
@oa-s heads-up! @eviltofu worked on this in #3779. Remember to assign yourselves.

[2022-01-24 06:03] #3766 closed

[2022-01-24 06:04] hboon commented on #3788
Seems like it's a problem with their site?

[2022-01-24 06:18] #3772 closed

[2022-01-24 06:21] #3771 closed

[2022-01-24 06:21] #3768 closed

[2022-01-24 06:31] eviltofu commented on #3581
@hboon Is this still on hold?

[2022-01-24 06:38] eviltofu opened #3790 "Missing ExportJSONKeyStore option"
Settings > Advanced > ExportJSONKeyStore option is missing.

[2022-01-24 06:40] hboon commented on #3581
Yes, but should be moving soon.

[2022-01-24 06:41] hboon commented on #3770
@colourfreak got it. @oa-s should go ahead. Will keep a lookout.

[2022-01-24 06:42] hboon commented on #3786
@eviltofu try on device to see if it's a problem.

[2022-01-24 06:42] hboon commented on #3785
Re-open if it's still a problem

[2022-01-24 06:42] #3785 closed

[2022-01-24 06:43] eviltofu opened #3791 "Text for No Browse Networks Available is missing"
Settings > Select Active Networks > + > Browse > Search
When there are no results matching the search criteria, the text under image is missing.
![IMG_8E74A319AF6F-1](https://user-images.githubusercontent.com/1050309/150734428-e342adff-e006-4bbf-81d1-7964fe5d8bf5.jpeg)

[2022-01-24 06:44] colourfreak commented on #3531
All good.

[2022-01-24 06:54] hboon commented on #3534
@lexypaul13 @mmurali88 more at https://github.com/AlphaWallet/alpha-wallet-ios/labels/Good%20first%20issue if you are interested. You might not be able to self-assign, so leave a comment in the issue if you would like to take it up and we'll leave you with it for a bit of time.

[2022-01-24 06:56] hboon commented on #3755
@oa-s I think I found a leak in `web3swift` but couldn't fix it without breaking things a long time ago. So we might have to look at it again to verify and see if we can have a proper fix.

[2022-01-24 06:58] hboon commented on #3755
#3777 should fix the most scary one about data storage so we can bake this migration from Realm a while and be sure if the crashes are that bad.

Do you have access to crash logs in Xcode?

[2022-01-24 07:36] #3769 closed

[2022-01-24 07:47] hboon opened #3793 "Build a throwaway AppClip target"
* Figure out what's the current uncompressed app size
* How far we need to slim down
* How much effort if we maintain it (i.e. refactor the app to get it working and any effect on future work)

[2022-01-24 08:14] #3765 closed

[2022-01-24 08:24] hboon commented on #3581
@eviltofu ok, can you try this file instead (it's embedded in the comment) : https://github.com/AlphaWallet/tokens/issues/1#issuecomment-1014318436

It looks small enough after the filtering/verification. Let's just embed it in the app directly. You'll have to hunt down wallets (to watch) that contains those tokens (buzz me if you are not sure how).

[2022-01-24 08:55] eviltofu commented on #3786
On iPhoneX/15.2.1 with Face recognition, it recognised my face and then locked the phrase. On iPhone6SPlus/14.8.1 it did nothing but go back to the Settings page. @hboon

[2022-01-24 09:15] oa-s opened #3795 "Right after importing a wallet and going to the Collectibles tab and waiting for a short while, the app shows this (a vertical gap)"
- [ ] Right after importing a wallet and going to the Collectibles tab and waiting for a short while, the app shows this (a vertical gap). Not sure if it's because the data is already loaded and not filled yet or is it a layout issue:

<img width="504" alt="Screenshot 2022-01-20 at 12 33 49 PM" src="https://user-images.githubusercontent.com/56189/150274495-55063269-16ec-4a0b-8f16-49ef56c6f2ce.png"

[2022-01-24 09:16] oa-s opened #3796 "Could we make list (collection view too) cover all the way to the bottom of the screen with safe area margins to handle the virtual home button?"
- [ ] This might be unrelated to this GitHub issue/PR, but could we make list (collection view too) cover all the way to the bottom of the screen with safe area margins to handle the virtual home button?

<img width="504" alt="Screenshot 2022-01-20 at 12 37 53 PM" src="https://user-images.githubusercontent.com/56189/150274520-46feda43-b0ba-47d3-8543-cdbac8224788.png">

- [ ] There seems to be many

[2022-01-24 09:24] hboon commented on #3786
Does the 6 have Touch ID enabled?

[2022-01-24 09:30] #3767 closed

[2022-01-24 09:48] oa-s opened #3798 "Removed gray line under navigation bar of TokenInstanceViewController"

[2022-01-24 11:00] ramen2020 commented on #3762
@eviltofu @hboon
I have resolved this issue and submitted a pull request. Please confirm.

https://github.com/AlphaWallet/alpha-wallet-ios/pull/3801

[2022-01-24 12:09] eviltofu commented on #3795
Is there a default view when the image isn’t loaded yet?

[2022-01-24 12:21] oa-s commented on #3795
it displays placeholder image while the image is loading. in this PR there was a problem with caching cells. The caching breaks table view layout

[2022-01-24 12:41] oa-s opened #3802 "Grayed navigation bar"
<img width="529" alt="Screenshot 2022-01-24 at 14 40 38" src="https://user-images.githubusercontent.com/96283950/150784668-170a57d5-4578-4132-8036-ab4cb1436957.png">

[2022-01-24 13:24] oa-s commented on #3787
@eviltofu can u share URL example scanned in qr code?

[2022-01-24 13:54] oa-s commented on #3755
no i don't

[2022-01-24 13:55] oa-s commented on #3755
i will take a look on it

[2022-01-24 14:35] eviltofu commented on #3787
https://share.icloud.com/photos/038jNZBwOCtPg3RdcJo-nH-IQ

[2022-01-25 01:21] eviltofu commented on #3802
Can you explain in more detail what is wrong and what the fix should be? @oa-s

[2022-01-25 01:23] eviltofu commented on #3791
@hboon @oa-s Also do you think the image is too big and should be scaled down?

[2022-01-25 02:08] eviltofu opened #3806 "Reset App Home Screen Action"
Add an option to reset the app as a Home Screen Action. This is to allow the app to be reset `realm` and `Config` databases in case of corruption. (Also good for testing).

[2022-01-25 03:42] eviltofu commented on #3751
@hboon How do I get to this screen?

[2022-01-25 03:56] #3795 closed

[2022-01-25 04:00] hboon commented on #3751
@eviltofu

1. Wallet tab
2. Tap Ethereum
3. Tap Receive
4. Tap address to copy
5. Back
6. Tap Send
7. Paste address
8. Done
9. Send
10. Edit (this is the screen to adjust gas fees and nonce)
11. Tap Custom

[2022-01-25 04:28] #3776 closed

[2022-01-25 04:30] hboon commented on #3791
@eviltofu as in the file size or the dimensions? The former: sure if there's no noticeable loss of sharpness. Buzz Tomek to shrink if it's too big?

The latter, up to Tomek (unless it becomes ridiculously small or big :) )

[2022-01-25 04:32] hboon commented on #3791
Reopening. To close when topic on file size/dimensions concluded

[2022-01-25 04:44] hboon commented on #3755
@oa-s thanks

[2022-01-25 04:54] #3762 closed

[2022-01-25 05:32] eviltofu commented on #3791
We could set the top and bottom margins to a minimum constant and have the image with proportionally constraint.

[2022-01-25 05:36] eviltofu opened #3807 "When tapping Support > SendMail there is sometimes no response"
[code]
If `MFMailComposeViewController.canSendMail()` returns false, there is no feedback to the user.

Proposed show a message "Your device isn't configured to send email".

[2022-01-25 06:12] hboon commented on #3791
@eviltofu Seems OK when I did., would you help open an issue and close this one?

[2022-01-25 06:43] #3770 closed

[2022-01-25 07:07] #3761 closed

[2022-01-25 07:16] oa-s commented on #3802
For now can't reproduce it, will send once reproduce it again

[2022-01-25 07:24] eviltofu commented on #3791
iPhone 12 mini

![Simulator Screen Shot - iPhone 12 mini - 2022-01-25 at 15 23 16](https://user-images.githubusercontent.com/1050309/150930124-3536e80c-ab79-4265-8359-afc97cacc0e5.png)

[2022-01-25 07:25] #3791 closed

[2022-01-25 07:44] eviltofu opened #3809 "EmptyTextView's image is cropped in iPhone 12 mini screen."
Settings > Select Active Network > + > Search > gg

![Simulator Screen Shot - iPhone 12 mini - 2022-01-25 at 15 23 16](https://user-images.githubusercontent.com/1050309/150933059-dff542dd-a25f-42bf-afd5-a37842c0aae9.png)

[2022-01-25 07:45] #3741 closed

[2022-01-25 07:46] eviltofu opened #3810 "Remove TabBarController as it's added method is not used."
Remove `AlphaWallet > UI > TabBarController `and replace all instances where it is used with `UITabBarController`.

[2022-01-25 07:56] eviltofu commented on #3793
@hboon What does the App Clip do?

[2022-01-25 11:20] pekkanikander commented on #2135
I'm seeing this, too, now, with Monterey 12.1 and XCode 13.2.1.  I've never used CocoaPods before, so I have hard time figuring out why Swift does not seem to find the pods.  The pods themselves seem to get properly installed with `make bootstrap`

[2022-01-25 12:46] eviltofu commented on #2135
@BitLox @pekkanikander are you opening the Xcode workspace file or the project file?

[2022-01-25 13:42] pekkanikander commented on #2135
Thanks @eviltofu !  That was it.  Opening the workspace file instead of the project worked nicely.

The reason I had switched to the project file was that initially I had a lot of problems in getting the BUNDLE_INDENTIFIERs and App Groups working.  Being not that experienced with modern Apple Concepts, I thought fixing them in the project would be easier.  (I started developing for the Mac already

[2022-01-25 14:55] eviltofu commented on #2135
@pekkanikander You can edit the bundle identifiers while in the workspace file. The interface is almost the same I think.

[2022-01-25 15:00] #3752 closed

[2022-01-25 22:36] hieronymus4826 opened #3812 "Error in the background (console while running a whitelabel version)"
Hey @hboon one of the devs is getting this error in the background when he runs in Simulator. Its not a critical error and doesnt stop it from working.

`2022-01-25 15:07:29.093071-0700 PlayZap[33290:1010984] convertToUserFriendlyError error: responseError(APIKit.ResponseError.unacceptableStatusCode(403)) from: convertToUserFriendlyError(error:baseUrl:)
2022-01-25 15:07:29.326833-0700 PlayZap[3329

[2022-01-26 01:48] eviltofu opened #3813 "Erc1155TokenInstanceViewController needs to have gray line removed from navigation bar"
How to get to this screen:

1. Watch this wallet: `0xE115De7efe6129538C7F6F846801Cd45dF60b36d`
2. Tap Wallet > Assets
3. Scroll, find, and tap Creepz Invasion Pass
4. Tap Assets, tap Creepz Invasion Pass

![Screen Shot 2022-01-26 at 9 40 40 AM copy](https://user-images.githubusercontent.com/1050309/151089031-a29e22d6-d8d6-4926-a74e-f9558be568b3.png)

[2022-01-26 02:20] eviltofu commented on #3786
I turned on `Passcode / Touch ID` in `Settings`, entered a passcode, then tried `Back up this Wallet` and it just bounced me back to the `Settings` screen after verifying the 12 word pass phrase.

Master a196bd07b952b2c6db1fdcffd6fdaaf3fb334d96

[2022-01-26 02:30] #3809 closed

[2022-01-26 02:30] eviltofu commented on #3787
![IMG_0005](https://user-images.githubusercontent.com/1050309/151093937-290662cf-3ae7-4f3a-a692-1dd31f26209a.jpg)

@oa-s

[2022-01-26 02:32] hboon commented on #3793
Ultimately? Not exactly sure.

See how much of the app can fit in and what doesn't? Is it code and frameworks (which means we have to drop functionality) or is it images (maybe we can resize them or load on demand).

[2022-01-26 02:45] eviltofu opened #3815 "Replace conversion code and other occurrences of such code"
Improve this conversion process
`BigInt` -> `Float` -> `String` -> `Decimal` -> `String` -> `BigUInt`

TokensCardCoordinator.swift:326
[code]

[2022-01-26 02:48] #3796 closed

[2022-01-26 02:49] eviltofu opened #3816 "Replace occurrences of String(format: "%.5f"... with appropriate NumberFormatter"
Use an existing `NumberFormatter` or create a new `NumberFormatter` in `Formatters.swift` so that the rounding and precision is the same. Rounding is implementation-defined as seen below (the fprintf [specification](https://pubs.opengroup.org/onlinepubs/009695399/functions/printf.html))
[code]

[2022-01-26 02:52] eviltofu commented on #3751
@eviltofu Why does this not show up in my inbox? Tagged myself for this to show.

[2022-01-26 02:56] hboon commented on #3751
@eviltofu does it now? It should.

[2022-01-26 02:58] hboon commented on #3786
As in Settings.app right? But you also said:

Is it on or off?

And I think I remember wrongly, you only need passcode on, Touch ID (or Face ID) doesn't have to be on. Could you help rephrase your test findings again? Thanks.

[2022-01-26 02:59] eviltofu commented on #3786
In Settings there is an option to turn on Passcode/Touch ID. It was off.

[2022-01-26 03:15] hboon commented on #3812
@hieronymus4826 Thanks! This is helpful.

I have modified that logging so it includes the URL with #3818.

Pull from `master` and it should be included. So the log will go from:

[code]

to something like:

[code]

[2022-01-26 03:29] hboon commented on #3786
In the Settings tab (not app)? That's not related. That option is to "protect" the app by making the user authenticate when the app is launched.

---

Locking the wallet is about storing the key differently so it's more secure (maybe it's a copywriting problem):

Does it tell you it is now locked? i.e. going:

from|to
-|-
<img width='200' src='https://user-images.githubusercontent.com/56189/151099

[2022-01-26 03:31] eviltofu commented on #3786
No, it did not @hboon It's still Yellow/Not Locked

[2022-01-26 03:33] hboon opened #3819 "A proper clear/secondary button in verify seed phrase screen"
@colourfreak could we one for that?

<img width='200' src='https://user-images.githubusercontent.com/56189/151099345-19bac11c-3ddc-46d6-9ec8-8b8ee480a767.PNG'>

Maybe the same (or different) style for the "Import from iCloud…" button too when importing:

<img width="200" alt="Screenshot 2022-01-26 at 11 31 53 AM" src="https://user-images.githubusercontent.com/56189/151099575-153d10a3-d0d9-4ab8-882

[2022-01-26 03:34] hboon commented on #3786
@eviltofu can you help to take multiple screenshots or a short video after creating a new wallet to capture this? I will take a look.

[2022-01-26 03:34] #3614 closed

[2022-01-26 03:37] hboon commented on #3614
So happy. @oa-s @eviltofu:

[code]

[2022-01-26 03:43] eviltofu opened #3820 "Replace or consolidate the Password validation rules (we have two sets)"
Replace or consolidate the Password validation rules.
`StringValidator.swift`
`EnterKeystorePasswordViewController.swift`

[2022-01-26 05:59] oa-s opened #3821 "Refactor `TokenProviderType` removing unused callback implementations"

[2022-01-26 06:02] oa-s opened #3823 "Fix memory leak in WebImageView"

[2022-01-26 06:11] #3823 closed

[2022-01-26 06:12] oa-s commented on #3802
It happens not all the time but for me it was in the next steps:
- open import wallets screen (by selection on blockie image);
- create a new wallet (by selection on Create Wallet);
- navigation bar become grayed

[2022-01-26 08:08] oa-s commented on #3747
Close due to disconnection web socket on entering background:
[code]

[2022-01-26 09:50] eviltofu opened #3825 "After scanning a watched wallet with the camera icon on the Wallet screen, the current wallet is not switched to the watched wallet."
I was watching `hweeboon.eth` then I added `0xEA674fdDe714fd979de3EdF0F56AA9716B898ec8` with the QR code scanner in the `Wallet` screen as a watched wallet. The current wallet did not switch from `hweeboon.eth` to the new wallet.

Adding a watched wallet via the `Wallets` screen does change the current wallet to the added wallet.

URL to [Wallet](https://etherscan.io/address/0xea674fdde714fd979de3

[2022-01-26 11:20] colourfreak opened #3826 "When you open ERC721 or ERC 1155 collection, Assets tab should be opened by default"
So the middle tab is opened by default. This works fine on Android and ERC1155.

[2022-01-26 11:20] colourfreak commented on #3826
![image](https://user-images.githubusercontent.com/51817359/151154440-0aab6a15-30b3-49ad-bd92-900156d0dbe0.png)

Middle tab - Assets

[2022-01-26 11:40] colourfreak opened #3827 "Hardcode a new Collection picture for the Enjin ERC1155 token"
https://zpl.io/VqrDmol

[2022-01-26 11:41] colourfreak commented on #3827
![image](https://user-images.githubusercontent.com/51817359/151157145-2b9909c3-6fad-4957-a8d6-7f37e4e8091d.png)

![image](https://user-images.githubusercontent.com/51817359/151157160-0fffc7e1-410e-4e2e-8118-d54132af16b9.png)

[2022-01-26 11:52] colourfreak opened #3828 "Hardcode a new Collection picture for ENS token"
https://zpl.io/VqrDmG5

[2022-01-26 11:53] colourfreak commented on #3828
![image](https://user-images.githubusercontent.com/51817359/151158643-8e880223-6a3a-468a-97dd-fc5f7cd6326a.png)

[2022-01-26 11:53] colourfreak commented on #3828
![image](https://user-images.githubusercontent.com/51817359/151158681-6404bf08-4875-40f3-af2c-4e05455b345e.png)

[2022-01-26 12:07] oa-s opened #3829 "Fix memory leaks with web3swift"

[2022-01-26 12:47] colourfreak commented on #3819
Before we do this, I do consider a global change of the green color. What do you think? @JamesSmartCell @hboon @vladyslav-iosdev @seabornlee @justindg @eviltofu
<img width="1482" alt="Screenshot 2022-01-26 at 13 43 04" src="https://user-images.githubusercontent.com/51817359/151165442-65a882d2-dee6-4e76-9bb6-9a02803bc35d.png">

[2022-01-26 13:36] colourfreak commented on #3730
![ERC-721-Token-Long](https://user-images.githubusercontent.com/51817359/151172701-84a0d05f-c0ed-4a81-8452-8de9356df976.jpg)

[2022-01-26 14:36] eviltofu commented on #3819
Do we have dark and light mode versions of the button colour?

[2022-01-27 02:37] eviltofu commented on #3813
Cannot find a ERC1155 token in a wallet to verify. The example above was removed or not detectable. @oa-s @hboon

[2022-01-27 04:02] hboon commented on #3747
@oa-s can we request for background time and delay calling `disconnect()` until background session is expiring?

Do close if it's concluded after this.

[2022-01-27 04:08] hboon commented on #3825
But better not to use an address like 0xea674fdde714fd979de3edf0f56aa9716b898ec8. It's Ethermine's. Way too many transactions unless that's the point.

[2022-01-27 04:15] hboon commented on #3828
Related: #3827

[2022-01-27 04:15] hboon commented on #3827
Related: #3828

[2022-01-27 04:17] #3821 closed

[2022-01-27 04:43] hboon commented on #3813
Is it like this?

<img width="498" alt="Screenshot 2022-01-27 at 12 42 28 PM" src="https://user-images.githubusercontent.com/56189/151293324-5ac0b4a7-a7bf-4d83-b4ad-533a2d253d0e.png">

This is the "Sugar (Genesis)" in hweeboon.eth

[2022-01-27 04:49] hboon opened #3832 "Move non-fileprivate UIViewController extension code out"
This and the rest of the extension (if they are not fileprivate) https://github.com/AlphaWallet/alpha-wallet-ios/blob/26ab42eb942f3fe0a39abb83a4e6ea34e83fa846/AlphaWallet/Wallet/ViewControllers/SeedPhraseBackupIntroductionViewController.swift#L108

[2022-01-27 04:53] #3813 closed

[2022-01-27 05:06] hboon opened #3833 "Are the Info and Activity tabs unnecessary when viewing a single ERC1155 token instance?"
ERC721 assets list | single token
-|-
<img width="498" alt="Screenshot 2022-01-27 at 12 56 06 PM" src="https://user-images.githubusercontent.com/56189/151294514-cf63244f-cdc5-4ce6-877e-3595f1dfa09a.png">|<img width="498" alt="Screenshot 2022-01-27 at 12 56 07 PM" src="https://user-images.githubusercontent.com/56189/151294516-157a4957-71a7-4e91-b04b-4e2a49010e6e.png">
ERC1155 assets list | single t

[2022-01-27 05:14] hboon commented on #3730
@colourfreak Thanks! Is this the final version to implement?

And is the action button dark gray-ish color confirmed? (if so, oa-s: let's do that separately and update the entire app).

[2022-01-27 07:09] eviltofu commented on #3828
@colourfreak How does one manually add the image? What steps does the user take? Long press on the image and pop up an image selector? Can you elaborate? Am I understanding the issue correctly?

[2022-01-27 07:11] hboon commented on #3828
No. It's to hardcode the image displayed for this specific token (contract)

[2022-01-27 08:14] #3798 closed

[2022-01-27 08:16] eviltofu commented on #3828
After #3581 ? @hboon

[2022-01-27 08:37] colourfreak opened #3837 "Umbrella issue for listing AlphaWallet"
- [ ] #3661
- [ ] #3426
- [ ] #3419
- [ ] #3247
- [ ] #2947

[2022-01-27 08:37] colourfreak commented on #3837
Related issue on Android https://github.com/AlphaWallet/alpha-wallet-android/issues/2359

[2022-01-27 11:17] #3832 closed

[2022-01-27 11:38] colourfreak opened #3838 "Replace the primary button color "green" to "cod""
Cod #141414

https://zpl.io/ag7YvpO
https://zpl.io/AmkONme
https://zpl.io/AmkONme

<img width="943" alt="Screenshot 2022-01-27 at 12 37 58" src="https://user-images.githubusercontent.com/51817359/151351640-1e2edbbc-55c9-4299-a063-c2a72f1f33ff.png">

[2022-01-27 11:42] colourfreak opened #3839 "Replace the secondary button color"
https://zpl.io/V1gKq1w
https://zpl.io/g8qgRnN

We need to change the outline color of secondary buttons from "Azure" to "Cod" #141414

<img width="882" alt="Screenshot 2022-01-27 at 12 39 13" src="https://user-images.githubusercontent.com/51817359/151351956-055cc557-10f5-4123-a6b2-8c79ca9d7e3e.png">

<img width="1122" alt="Screenshot 2022-01-27 at 12 41 13" src="https://user-images.githubuserconte

[2022-01-27 11:47] colourfreak commented on #3819
<img width="1778" alt="Screenshot 2022-01-27 at 12 45 21" src="https://user-images.githubusercontent.com/51817359/151352957-2fc91681-c8a3-4683-b756-9ebaa30b9046.png">

[2022-01-27 11:57] eviltofu commented on #3786
Not signed in, no passcode set, no Touch ID.

https://user-images.githubusercontent.com/1050309/151354289-64578ab4-4242-4b84-aa7f-fe0ca75287a9.MP4

[2022-01-27 12:08] eviltofu commented on #3786
@hboon Not signed in, passcode set, no Touch ID.

https://user-images.githubusercontent.com/1050309/151355881-7c46d93b-2580-4208-9698-94adc87b581d.MP4

[2022-01-27 12:15] eviltofu commented on #3786
@hboon not signed in, no passcode, Touch ID fingerprint added. Same as for Not signed in, no passcode set, no Touch ID.

[2022-01-27 12:18] eviltofu commented on #3786
Not signed in, passcode on, finger print added.
It backs up the wallet but instead of using a password, it uses the finger print to unlock the keychain to get the passcode. So the presence of the PASSCODE is essential.

[2022-01-27 12:20] eviltofu commented on #3786
@hboon Also after backing up the wallet I am still able to `Tap Settings > Back up this Wallet` and lock it again.

[2022-01-27 12:38] colourfreak commented on #3827
@hboon Maybe it's a good idea if you could create me a way to upload it. Something similar to what you did for iconassets

[2022-01-27 14:34] hboon opened #3841 "Token title's descender clipped in Collectibles tab"
"Enjin". Verify first? I pulled this screenshot from an unrelated issue :)

![151157145-2b9909c3-6fad-4957-a8d6-7f37e4e8091d](https://user-images.githubusercontent.com/56189/151379704-dd0f85d3-d252-48e4-ab22-d0fa35f0efc6.png)

[2022-01-27 14:36] hboon commented on #3828
@eviltofu unrelated. But hold off this one first.

[2022-01-27 14:37] hboon commented on #3581
@eviltofu I forgot: do remember that the "Collectibles" tab is handled differently. I think, just ignore the tokens tagged as "Collectibles" (if there are any) in the JSON. We still show all and only ERC721 and ERC115 in the hardcoded Collectibles tab. Otherwise it wouldn't work.

[2022-01-27 14:40] hboon commented on #3827
@colourfreak hmm.. Do we show this new icon in the search results too? If so, maybe all we have to do is just upload a file with a more suitable/bigger dimensions to the `iconassets` repo. Or would you like to stylized it a bit when it's bigger, maybe?

<img width="498" alt="Screenshot 2022-01-27 at 10 38 51 PM" src="https://user-images.githubusercontent.com/56189/151380586-6710a8a9-5ea2-474a-80cf

[2022-01-27 14:42] hboon commented on #3827
(But I'll check if we can use the same repo that way if we use the same icon in both places as described in the comment above, seems no reason why it wouldn't technically work)

[2022-01-27 14:49] colourfreak commented on #3819
Import with Seed:
https://zpl.io/Z09qdgG

Import with Keystore
https://zpl.io/9qkN9ye

Import with Private Key
https://zpl.io/Dlkp8ng

Backup
https://zpl.io/VxvqDAW

<img width="713" alt="Screenshot 2022-01-27 at 15 44 38" src="https://user-images.githubusercontent.com/51817359/151381665-4d44a0a0-baaa-4a9c-a87f-b889b60f682c.png">

<img width="936" alt="Screenshot 2022-01-27 at 15 44 25" src="https

[2022-01-27 15:06] colourfreak commented on #3827
Let me know. My goal: make these two screenshots I uploaded to look better and apply the same to the most common nft collections.

[2022-01-27 15:19] eviltofu commented on #3581
@hboon im still trying to figure out how this screen works; where the updates are coming from etc.

[2022-01-27 15:21] colourfreak commented on #3730
https://zpl.io/aB3JRgq
https://zpl.io/aXRA3QP

Yes. This is final.

[2022-01-27 15:23] colourfreak commented on #3839
Dark Mode:
https://zpl.io/bemqYpp
https://zpl.io/Q0AMJBA

[2022-01-27 15:24] colourfreak commented on #3838
Dark Mode
https://zpl.io/ag7YvpO
https://zpl.io/GEkne6r

[2022-01-28 03:42] hboon commented on #3819
@colourfreak thanks!

[2022-01-28 03:42] hboon opened #3843 "Update `BarButton`'s primary and secondary colors"
- [x] #3838
- [x] #3839

Follow up with: #3819

[2022-01-28 03:52] hboon commented on #3786
Yes, that's deliberate.

In new document I emailed:

[2022-01-28 04:28] #3825 closed

[2022-01-28 04:30] hboon commented on #3730
@colourfreak thanks!

[2022-01-28 04:30] hboon commented on #3730
@oa-s `ButtonBar` changes already covered in #3843

[2022-01-28 04:33] hboon commented on #3581
@eviltofu Sure. I think a good place to start is how `TokensViewModel` exposes the data to `TokensViewController`'s `func tableView(_ tableView: UITableView, numberOfRowsInSection section: Int) -> Int {` etc.

Probably have to modify how this works:

[code]

Good luck :)

[2022-01-28 06:23] hboon commented on #3827
@colourfreak yeah, think it will work, just upload it to the `iconassets` repo with the larger file dimensions and it should work for the Wallet tab as well as the 1st screenshot in https://github.com/AlphaWallet/alpha-wallet-ios/issues/3827#issuecomment-1022120532. Will need to modify the app so it's also picked up for the 2nd screenshot though.

Can you attach one here? For Enjin maybe? I'll try

[2022-01-28 08:55] colourfreak commented on #3827
What format (png, jpeg, svg) and size?

[2022-01-28 10:40] hboon commented on #3827
PNG, like the ones we have for `iconassets`.

[2022-01-28 11:08] hboon commented on #3827
Not at the moment. This is for a repo of images that has to be PNG. Look for `static let file = "logo.png"` in the codebase.

[2022-01-28 12:05] oa-s commented on #3841
@hboon seems like it doesn't relevant anymore

[2022-01-28 12:07] oa-s commented on #3833
firstly it was implemented in erc721, and design didn't contain it, that isn't problem, we can add it.

[2022-01-28 13:14] hboon commented on #3833
Yeah. I think we should remove them. It’s in the previous screen already right?

[2022-01-28 13:20] colourfreak commented on #3827
![arts-large-19](https://user-images.githubusercontent.com/51817359/151553741-357a3c0b-368c-4d0a-b907-bb0f751d36b9.png)
![arts-large-19@2x](https://user-images.githubusercontent.com/51817359/151553752-534020e6-ccd7-4d1a-b368-95df8ac6a163.png)
![arts-large-19@3x](https://user-images.githubusercontent.com/51817359/151553758-8a74766e-0e2c-4395-8f46-cd0bfac059ba.png)

[2022-01-28 14:29] oa-s commented on #3833
a little bit confused, do you want to remove pages or add them for erc1155?

[2022-01-28 14:32] oa-s commented on #3833
ok, sure

[2022-01-28 15:10] hboon commented on #3841
Right. Thanks for checking.

[2022-01-28 15:10] #3841 closed

[2022-01-29 00:54] eviltofu commented on #3751
There are lower limits on gas price and gas limit. When I move the slider to the minimum level, I get gas price 1 and gas limit 21000. It is possible to type in 0 for both these fields. Do you want me to limit the values in both these fields to 1 and 21000 respectively? @hboon

[2022-01-29 01:00] eviltofu commented on #3751
Also the Gas Price box appears to change from red to black but only for a very narrow range (99-120) regardless of the Gas Limit. @hboon

[2022-01-29 01:07] eviltofu commented on #3751
Also keyboard keeps showing **Done** and no **Next**. Tapping **Done** moves the focus to the next textfield. When I tap on the textfield, the keyboard obscures the textfield. When focus shifts to next textfield, that textfield is not scrolled into view.

![Screen Shot 2022-01-29 at 9 05 12 AM copy 2](https://user-images.githubusercontent.com/1050309/151640768-72148d62-91ec-4b85-8e2c-babf3fb3e7e5.

[2022-01-29 01:48] aliveli186 opened #3850 "Account with hundreds of tokens crashes the app"
If the newly added account has long list of tokens and AlphaWallet tries to identify all of them in the background results with AlphaWallet crash.

[2022-01-29 02:03] aliveli186 opened #3851 "Trying to convert custom network to testnet fails"
![image](https://user-images.githubusercontent.com/8914034/151643084-1ec2cda1-b553-4691-99cc-7d814a37905a.jpeg)

[2022-01-29 05:00] eviltofu opened #3852 "ScrollableSegmentedControl should have option not to animate the highlighted tab"
ScrollableSegmentedControl should have an option not to animate the highlighted tab. Do a "Import Watch Wallet" in the Wallets screen, you can see the animation when the screen opens.

[2022-01-29 15:51] colourfreak commented on #3483
Note that we have recently changed button colors.

[2022-01-30 04:45] #3826 closed

[2022-01-30 04:54] #3807 closed

[2022-01-30 04:58] hboon commented on #3850
@aliveli186 (I know you mentioned hundreds), but how many tokens would you say that should be in that account? Say ~100, or 300-800, or a thousand?

How about number of transactions?

[2022-01-30 19:17] aliveli186 commented on #3850
Seems to be 1069 assets total.
Here is the addres:
https://ropsten.etherscan.io/tokenholdings?a=0xf39Fd6e51aad88F6F4ce6aB8827279cffFb92266

[2022-01-31 01:59] hboon commented on #3850
@aliveli186 thanks! Will check it out.

[2022-01-31 02:11] hboon commented on #3751
@eviltofu can you help create a new issue for https://github.com/AlphaWallet/alpha-wallet-ios/issues/3751#issuecomment-1024775364 and the comments following it? And separate issues if appropriate? Easier to track.

[2022-01-31 02:27] hboon opened #3853 "After tapping ERC1155 (and ERC721), Assets tab is selected, but contents is still from Info tab"
Related to #3846

After tap token in Wallet tab|Tap Info and then Assets again
-|-
<img width="498" alt="Screenshot 2022-01-31 at 10 24 53 AM" src="https://user-images.githubusercontent.com/56189/151730824-cc938f85-88c1-4004-abdb-9ba84e26eea8.png">|<img width="498" alt="Screenshot 2022-01-31 at 10 24 56 AM" src="https://user-images.githubusercontent.com/56189/151730831-a4a748b1-95d4-4c08-a5c1-c044

[2022-01-31 03:25] hboon commented on #3827
@colourfreak the 1080x1080 looks like this:

<img width="498" alt="Screenshot 2022-01-31 at 11 22 42 AM" src="https://user-images.githubusercontent.com/56189/151734720-3a503376-551c-4cd1-8936-2e39b3bb4cb0.png">
<img width="498" alt="Screenshot 2022-01-31 at 11 22 37 AM" src="https://user-images.githubusercontent.com/56189/151734721-a2689159-1254-4893-b509-c19efe8d7c94.png">
<img width="498" alt="S

[2022-01-31 05:24] eviltofu commented on #3205
Strangely this is not the version that is installed via the Gemfile. The version of bundle here is the current Ruby's version of bundle.

[2022-01-31 05:29] eviltofu commented on #3205
I created a new Fastfile via Fastlane init and tinkered around until I was able to upload (where I hit control-c to kill the process).

[code]

[2022-01-31 05:34] hboon commented on #3205
Great! I suppose you managed to sign? that was what I was stumbing over.

[2022-01-31 05:36] eviltofu opened #3854 "Use fast lane discord notifier"
Use [Fastlane Discord Notifier](https://github.com/nikolas-theodosis/fastlane-discord_notifier) to inform the discord when a new release is available.

[2022-01-31 05:56] eviltofu commented on #3853
Probably an error due to the new ScrollableSegmentedControl.

[2022-01-31 06:12] eviltofu opened #3856 "Gas price and Gas limit textbox behaviours clarification"
There are lower limits on gas price and gas limit. When I move the slider to the minimum level, I get gas price 1 and gas limit 21000. It is possible to type in 0 for both these fields. Do you want me to limit the lower values in both these fields to 1 and 21000 respectively?

Gas Price box appears to change from red to black but only for a very narrow range (99-120) regardless of the Gas Limit.

[2022-01-31 06:18] hboon commented on #3856
I will check back for the rest, but:

Would you fix this or create an issue and someone can fix it?

[2022-02-01 01:30] JamesSmartCell opened #3859 "Polygonscan API update"
Polygonscan updated their API code, it now takes the action=tokennfttx switch same as Etherscan, so you'll need to check both `=tokentx` and `=tokennfttx`, if you aren't already doing so.

[2022-02-01 05:36] #3722 closed

[2022-02-01 05:49] #3833 closed

[2022-02-01 13:57] hboon commented on #3859
@JamesSmartCell Hmm.. we have always done it that way. But just to be sure, here's how we classify the chains to decide whether to use `tokennfttx` (those returning `.etherscan` does): https://github.com/AlphaWallet/alpha-wallet-ios/issues/3859

[2022-02-01 13:57] #3859 closed

[2022-02-03 02:55] #3853 closed

[2022-02-03 03:19] hboon opened #3861 "Unwanted layout animation if tap NFT in Wallet search results"
1. Wallet tab
2. Search for an NFT
3. Tap NFT

This doesn't happen if we skip step (2).

https://user-images.githubusercontent.com/56189/152275796-49877882-7ea2-4a55-9245-05a5cee9dc4e.mp4

[2022-02-03 03:38] hboon opened #3862 "Tapping universal link with /openurl doesn't switch to app and open embedded URL"
This functionality: #2330

With v3.51 RC2

[2022-02-03 03:44] #3751 closed

[2022-02-03 04:14] hieronymus4826 opened #3863 "Possible websocket issue"
Reported by a dev working on whitelabels
--------------

Another problem i've been seeing with the last 2 releases is an issue with the API for infura (before you say its on my end). I've tested APII with other releases and it works fine...

2022-01-31 10:58:52.966560-0700 AlphaWallet[1499:234012] convertToUserFriendlyError URL: https://polygon-mainnet.infura.io/v3/8c6e8f42bfc84f68bb8b4c2973fc55d6

[2022-02-03 06:47] oa-s commented on #3730
@hboon Could you help in figuring out the `issuer` value for collection?

[2022-02-03 08:48] oa-s commented on #3730
[code]
Here is a request for retrieving one of [Blitmap](https://opensea.io/collection/blitmap) tokens. The response has `foor_price` values equal to `0`

[2022-02-03 11:04] hboon commented on #3730
You can get it with:

[code]

[code]

Or at the collection level (which includes `stats`):

[code]

[2022-02-03 11:04] hboon commented on #3730
Will check

[2022-02-04 03:41] hieronymus4826 opened #3864 "Polygon Transations Not working on Quickswap and Aragon"
Hello gents, couple of reports of interactions not working on polygon

-----------
1st case

https://user-images.githubusercontent.com/84448420/152467578-8b2fe186-71b8-4958-ad9b-5b35ebcb361e.MP4

The transaction seems confirmed on AW level but leads to this (https://polygonscan.com/tx/0x0466d76d173cab20b5e7b60e746c40f0093d3d1412a3a08daa44f0604530d5d3)
Never initiated on the chain, no timestamp and

[2022-02-04 04:24] hboon commented on #3730
@oa-s Interestingly if we access the asset instead:

[code]

It includes this:

[code]

Sometimes (most of the time!) the `username` is null, but the `address` is the contract deployer:

[code]

We can't really show the issuer, but we can show the contract deployer, so maybe we can do:

if user not null
    link to user on OpenSea //OpenSea seems to use this: https://opensea.io/{username}?tab=crea

[2022-02-04 07:21] eviltofu commented on #3838
@hboon Would this be a good place to suggest a `UIKitFactory`?

[2022-02-04 07:49] eviltofu commented on #3793
Variant: AlphaWallet.ipa
Supported variant descriptors: Universal
App + On Demand Resources size: 20.3 MB compressed, 50.6 MB uncompressed
App size: 20.3 MB compressed, 50.6 MB uncompressed
On Demand Resources size: Zero KB compressed, Zero KB uncompressed

[2022-02-04 07:52] eviltofu commented on #3793
Again, what does this thing do? Load Wallets and display the total sum of the wallet?

[2022-02-04 10:35] hboon commented on #3793
Ideally everything. Is there anything we can do to trim it down without losing functionality?

[2022-02-04 10:49] oa-s opened #3865 "Tests broken"

[2022-02-04 12:13] oa-s commented on #3865
Emmm, not sure in this PR, made it bacause it failes https://app.travis-ci.com/github/AlphaWallet/alpha-wallet-ios/jobs/558375338 for https://github.com/AlphaWallet/alpha-wallet-ios/pull/3777

[2022-02-05 12:12] hboon commented on #3838
Nope. Changing the 2 button colors should be quite easy currently.

[2022-02-05 14:10] #3861 closed

[2022-02-05 14:23] hboon opened #3868 "Change all search bar behavoir so we don't resize the table view when keyboard appears/disappears, instead hide the keyboard upon scrolling starts"
Simpler to code and maintain and avoids issues like #3861.

We can make exceptions in certain screens if necessary. I don't know of any which requires that at the moment.

[2022-02-05 14:50] hboon opened #3869 "Make https://github.com/AlphaWallet/tokens/blob/main/tokens.json include `isSpam` flag?"
https://github.com/AlphaWallet/alpha-wallet-ios/pull/3860#issuecomment-1030637903

[2022-02-05 15:38] hieronymus4826 opened #3870 "Infura Error on iOS"
The issue started today.

![image](https://user-images.githubusercontent.com/84448420/152648343-3fb7154d-ce2a-44ad-95ad-513afea369aa.png)

A user reported this as well:

https://youtu.be/fDwap0li0yo
https://youtu.be/XfWtm3fgu3A

[2022-02-07 03:23] hboon opened #3871 "WalletConnect v2 doesn't work with Mobile Safari on same device"
Received this about WalletConnect v2:

Apparently it works if we scan a QR code, but not if we use mobile Safari on the same device. I'm not sure I reproduced the same problem, but I do get this:

1. Visit https://react-app.walletconnect.com with Mobile Safari
2. Connect
3. Connected
4. Tap personal_sign in dapp
5. Doesn't switch to AlphaWallet

Works with desktop browser, *but* if I do this:

1.

[2022-02-07 13:22] colourfreak commented on #3827
Yeah. Exactly.

[2022-02-07 14:20] oa-s commented on #3730
ready for review

[2022-02-08 03:39] hboon commented on #3730
Wrapped|Truncated
-|-
<img width="498" alt="Screenshot 2022-02-08 at 11 37 55 AM" src="https://user-images.githubusercontent.com/56189/152913625-a8712e15-d67d-482c-99d1-b24506766e88.png">|<img width="474" alt="Screenshot 2022-02-08 at 11 37 59 AM" src="https://user-images.githubusercontent.com/56189/152913640-3e5f8dc2-4ddf-4f65-ab50-fee96d239bc2.png">

[2022-02-08 05:42] colourfreak commented on #3827
@hboon So shall I upload 1080x1080? That might a fun task for me. Lots of graphics etc.

[2022-02-08 05:50] hboon commented on #3827
@colourfreak Yes. You wouldn't see them in the app right away because of https://github.com/AlphaWallet/iconassets/issues/9 and because this PR isn't merged yet, but they will start popping up in the next TestFlight.

1080x1080 sounds good, but can you help to check that each image isn't bigger than say ~40kb? If it's bigger, you can use a smaller file dimension for that particular one, eg. 720x72

[2022-02-08 05:58] colourfreak commented on #3827
Sure, .png is usually heavy. I prefer .jpgs optimized with tools such as [mozjpeg](https://mozjpeg.com/). The compression is even better than with webp or avif images.

[2022-02-08 08:50] oa-s commented on #3871
Here the problem in inner implementation of `WalletConnect v2`. `WalletConnect v2` disconnects from socket  on `didEnterBackgroundNotification` eventand connects to it on `willEnterForegroundNotification`, so even if event has been sent, it wount be accepted on the device

[2022-02-08 09:16] oa-s opened #3879 "Tweak back button for `TokenInstanceViewController`"

[2022-02-08 10:28] oa-s opened #3881 "Update CoinTickersFetcher with removing creating AlphaWallet.Address for `Ticker` as its expensive operation"

[2022-02-08 13:39] oa-s opened #3882 "Upgrade WalletConnect with latest `0.4.0` version"
https://github.com/WalletConnect/WalletConnectSwiftV2

[2022-02-08 13:58] oa-s commented on #3882
@colourfreak Can we make an icon of AlphaWallet and upload it somewhere kind of `iconassets`. We  need an icon, for Wallet Connect session. For now we are using the next url: `https://avatars.githubusercontent.com/u/36216689?s=88&v=4`. The size, actually i don't know maybe some kind of `100*100`
<img width="508" alt="Screenshot 2022-02-08 at 15 54 56" src="https://user-images.githubusercontent.com

[2022-02-08 14:24] hboon commented on #3871
Does it not reconnect when the app is active again and get a queued request, or is there no queuing at the relay server?

[2022-02-08 14:25] hboon commented on #3871
Becaused if it's not queued, using Mobile Safari would never work, right?

[2022-02-08 14:29] oa-s opened #3884 "Remove supporting UnstoppableDomain v1"
Out of **Albert Hu's**  (guy from `Alchemy`) comment:
`I'd recommend switching to v2 when you can, we will keep backwards compatibility for a while but are looking to standardize soon. We'll definitely keep everyone updated before we deprecate anything!`
We can remove UnstoppableDomain v1

[2022-02-08 14:37] hboon commented on #3882
@oa-s maybe in alphawallet.com. Probably better to do it with aw.app, but seems less reliable there

[2022-02-08 15:26] #3884 closed

[2022-02-08 15:38] hboon commented on #3882
No, I mean if you get one, let’s host it on AlphaWallet.com

[2022-02-08 15:45] oa-s commented on #3882
Oh, i see. That not a problem.
`url: https://avatars.githubusercontent.com/u/36216689?s=88&v=4.` I only shown where i got current icon

[2022-02-08 16:59] hieronymus4826 opened #3887 "WalletConnect doesn't work properly on Uniswap and Anyswap (Polygon Network)"
When trying to connect to the Polygon version of Uniswap or Anyswap via WC on iOS I get this.

![image](https://user-images.githubusercontent.com/84448420/153036209-afc2f52d-9e57-48a8-a524-78b2a5ad3fcf.png)

Next, I enable Ethereum just to allow WC to connect, but the app is then locked on Ethereum mainnet. Clicking the 'switch to polygon' in the dapp doesn't do anything (press, no change in the n

[2022-02-08 17:03] hieronymus4826 opened #3888 "Incosistent price charts on Avax chain and Fantom"
From a user report, some coins show some don't on Avax. Nothing shows on Fantom. (disregard if the feature is not for all chains)

![image](https://user-images.githubusercontent.com/84448420/153037591-13a0fc8f-bbc7-44fb-96a0-2e1e39647382.png)

![image](https://user-images.githubusercontent.com/84448420/153037645-669fffe5-d31d-437e-b6e8-4514f242a836.png)

Observation (might not be relevant): it doe

[2022-02-09 01:25] eviltofu commented on #3838
So do you want light/dark mode to be implemented as well? @hboon

[2022-02-09 03:19] hboon commented on #3838
Separately. This  button color change #3843 and then #3819 should be a quick change, then Dark mode after some refactoring

[2022-02-09 03:43] eviltofu commented on #3838
I can do this with dark/light mode with just one extra line…

[2022-02-09 03:44] hboon commented on #3838
Nah, better to ship this first. Dark mode is a bigger change. Could have complications.

[2022-02-09 03:45] #3865 closed

[2022-02-09 03:48] hboon commented on #3838
Also, functionality-wise, they are separate features/changes hence separate PRs.

[2022-02-09 03:49] #3879 closed

[2022-02-09 05:11] eviltofu commented on #3838
Is there a inactive dark theme colour for foreground and text of buttons? @colourfreak @hboon

[2022-02-09 06:05] hboon opened #3889 "receiveMessageFailure WalletConnect v2 errors in console"
Seems like after using WalletConnect v2 and maybe switching wallets, and after a while, we get many of these in the logs:

This is with f4ef1f09177587ca1532be363b88dd69eabbc1c4.

[2022-02-09 06:10] hboon opened #3890 "In Settings > Select Active Networks, going back without changing enabled chains should not trigger UI to reload"
In Settings > Select Active Networks, modifying the enabled chains and then tapping to restore them back and tapping the back button should not trigger the app to reload.

eg.

1. Ethereum and Gnosis already selected
2. Tap to enable Ethereum Classic
3. Tap to disable Ethereum Classic
4. Tap back

Expected

5. Go back to Settings tab

Observed:

5. App UI seems to be reloaded, switching to Wallet

[2022-02-09 06:17] hboon opened #3891 "Wallet tab should display symbol name instead of token name for ENS and aUSDC"
In hweeboon.eth. Seems like it should, according to #3184.

ENS|aUSDC
-|-
<img width="498" alt="Screenshot 2022-02-09 at 2 15 10 PM" src="https://user-images.githubusercontent.com/56189/153132866-5feaefe3-ab92-4eed-8038-5bfbd1abc444.png">|<img width="498" alt="Screenshot 2022-02-09 at 2 15 13 PM" src="https://user-images.githubusercontent.com/56189/153132875-e02a757e-de5d-4623-8547-74f71708e8e1.pn

[2022-02-09 08:55] oa-s commented on #3887
[hieronymus4826](https://github.com/hieronymus4826) Does Android support switching networks silently? I am facing issue with invalid `chain_id` (even if Uniswap was set to `poligon_chain_id` in response we receive `ethereum_chain_id`), when trying to connect Uniswap on Poligon

[2022-02-09 09:05] oa-s commented on #3887
Also maybe it happens as iOS doesn't support for some WalletConnect calls like : `wallet_scanQRCode`, `wallet_switchEthereumChain `, `wallet_addEthereumChain `. Will add them asap.

[2022-02-09 12:01] hboon commented on #3887
@oa-s are those valid WalletConnect calls?

[2022-02-09 12:04] #3881 closed

[2022-02-10 00:43] eviltofu commented on #3838
I'm asking for Dark **Inactive** primary and Dark **inactive** secondary. Like https://zpl.io/2vQJYAv but for Dark.

[2022-02-10 02:53] hboon opened #3893 "Should we provide better alternative for NFT collection icon if none is available?"
When a token icon isn't available for download (i.e it's not in `iconassets`, `OpenSea` API and not in our fallback repo), we fall back to the image of the first token the user own. Do we want to provide a better alternative or is this good enough?

Screenshot after #3860 is applied, which supports pulling bigger images from `iconassets` repo for NFTs.

<img width="498" alt="Screenshot 2022-02-10

[2022-02-10 03:02] #3827 closed

[2022-02-10 03:02] #3828 closed

[2022-02-10 03:19] hboon opened #3894 "Rewriting URLs for images hosted on Google to higher resolution versions"
Related to: #3860

Some of the NFT collection images aren't sharp. Eg. Area's:

<img width="298" alt="Screenshot 2022-02-10 at 11 05 37 AM" src="https://user-images.githubusercontent.com/56189/153329465-f9fb0118-bac2-4717-9b39-0cb725bf84d9.png">

It seems like many of the images in the OpenSea API output are hosted on Google:

[code]

According to this reference (not sure if it's correct, but seem

[2022-02-10 03:20] hboon commented on #3894
- [ ] Decide
- [ ] Implement
- [ ] Create Android issue

[2022-02-10 03:47] hboon commented on #3887
I'm trying to reproduce this.

@hieronymus4826 can you help to describe your steps to reproducing https://github.com/AlphaWallet/alpha-wallet-ios/issues/3887#issue-1127518287, specifically which chains are enabled and when, in detail? I tried and seem to get the same behavior in Android, so I'm probably going through a different procedure.

@oa-s can you help to describe your steps (especially whi

[2022-02-10 05:58] oa-s commented on #3887
Steps:
- make sure ethereum network is disabled in the AlphaWallet app;
- visit https://app.uniswap.org/#/swap (web page);
- tap `Connect wallet`;
- scan wallet connect qr code with the AlphaWallet app;
- observe that dapp wants to connect to ethereum network;
- enable ethereum network on the AlphaWallet app;
- scan wallet connect qr code with the AlphaWallet app;
- observe that dapp has connect w

[2022-02-10 06:12] oa-s commented on #3887
on other hand `Anyswap` doesn't work properly for me, receive a lot of errors after connection:
[code]

[2022-02-10 06:15] oa-s opened #3896 "FIx `PromptBackupWalletView` layout warnings (if possible)"

[2022-02-10 06:43] hboon commented on #3887
Ah thanks. This is relevant:

Pedro:

https://canary.discord.com/channels/492410046307631105/833628540456140821/905050546904399892

So looks like we'll have to add at least `wallet_addEthereumChain` and `wallet_switchEthereumChain`. Might want to look at `WalletAddEthereumChainObject` and `WalletSwitchEthereumChainObject` and how they are used and try to reuse them?

Does v2 need this too? Or does

[2022-02-10 06:48] oa-s commented on #3887
emm, in case if we add it it will be automatically supported by 2v, requests handling is the same for both versions

not clearly understood

[2022-02-10 06:49] hboon commented on #3887
@hieronymus4826 seems Android doesn't work in this scenario (which we are trying to fix for iOS in https://github.com/AlphaWallet/alpha-wallet-ios/issues/3887#issuecomment-1034551643):

1. Both Ethereum and Polygon are enabled
2. Scan QR code, connecting to Ethereum
3. In the dapp, switch to Polygon

Expected:

4. App detects/allows it (since it's enabled) and dapp updates

Observed:

4. Nothing h

[2022-02-10 06:50] hboon commented on #3887
I was thinking v2 works by requesting for 1 or more chains at the point when the session starts and there are additional functionality in v2 to request for more permission after that. And requests like signing are "tagged" with the already connected chain ID, so it doesn't work like v1 which has an active chain. Is that right?

[2022-02-10 06:51] hboon commented on #3887
Anyway, for v1 (and maybe for v2), `WalletSwitchEthereumChainObject` and `wallet_addEthereumChain` if the chain is already active should be simple, but if it is not enabled or not already added to the list of chains as a custom chain, it might be a bit more complicated (maybe we can trigger a restart of the UI).

[2022-02-10 06:52] oa-s commented on #3887
yeh, i am trying to integrate `DappRequestSwitchCustomChainCoordinator` and `DappRequestSwitchExistingChainCoordinator` for wallet connect

[2022-02-10 06:59] Saif-Fazlani commented on #3850
Hi, I also faced this issue. My total token count was around 50, yet the app still crashed.

[2022-02-10 07:02] hboon commented on #3850
@Saif-Fazlani we'll be fixing this. Thanks for reporting.

[2022-02-10 07:33] hieronymus4826 commented on #3887
![ChainID](https://user-images.githubusercontent.com/84448420/153358674-f02cda84-3d64-4789-8ae3-5d3996d7c45e.jpg)

This is what you get when you use WalletConnect on Andoid. You can pick up the chain to match the selected network - on iOS for me it only connects to Ethereum (if its ticked in Active networks) or gives the error in he image in the original post)

It does seem it's not working on And

[2022-02-10 07:47] hboon commented on #3887
@hieronymus4826 ah, ok, so there are 2 things here:

A. Android letting the user choose another chain (Polygon) despite the WalletConnect v1 [1] connection specifying Ethereum. I think Android lets the user choose from any enabled chain. Not sure this is proper behavior, but it's handy though. But if the chain selected is not available (eg. if the user had chose Gnosis), the dapp would be broken.

[2022-02-10 07:50] hboon commented on #3887
@hieronymus4826 Created https://github.com/AlphaWallet/alpha-wallet-android/issues/2404.

Wonderful discovery BTW :)

[2022-02-10 08:25] hieronymus4826 commented on #3887
Nice! Let me know if I can assist in any other way :)

[2022-02-10 11:14] colourfreak commented on #3838
Alright.

### Primary Active
<img width="1346" alt="Screenshot 2022-02-10 at 11 51 55" src="https://user-images.githubusercontent.com/51817359/153395450-6e0dbe3c-4ef9-46ab-99f6-2a5f3e19b6fc.png">

Light
https://zpl.io/ag7YvpO

Dark
https://zpl.io/aRA5Y8e

----
### Primary Inactive
<img width="1307" alt="Screenshot 2022-02-10 at 11 53 17" src="https://user-images.githubusercontent.com/51817359/1533

[2022-02-10 11:19] colourfreak commented on #3730
@hboon Android is one step behind, but do you think I have to make a dedicated design for Android or they can use what I provided here?

[2022-02-10 11:23] hboon commented on #3730
@colourfreak this should be good enough

@oa-s would you help to write an issue and detail the fields to read from? :) spare them some research and ensure consistency. It’s harder to catch differences after the fact for this

[2022-02-10 11:29] colourfreak commented on #3893
Somehow this comment comes very handy.

https://github.com/AlphaWallet/alpha-wallet-android/pull/2271#issuecomment-1034029873

[2022-02-10 11:34] colourfreak commented on #3827
@hboon https://github.com/AlphaWallet/alpha-wallet-android/pull/2271#issuecomment-1034814174

[2022-02-10 11:45] oa-s commented on #3887
@hboon any suggestions how we can test `wallet_addEthereumChain` with Wallet Connect ?

[2022-02-10 11:57] hboon commented on #3887
@oa-s manually simulate it :)

[2022-02-10 12:11] oa-s commented on #3887
Ok, i will try. Just want to test this case https://docs.metamask.io/guide/rpc-api.html#:~:text=in%20the%20future.-,%23,-Usage%20with%20wallet_switchEthereumChain

[2022-02-10 12:43] hboon commented on #3887
Thanks. But maybe also good to commit the code and have a button that is hidden in the WalletConnect page to trigger it, for future testing?

[2022-02-10 14:54] hboon commented on #3893
@colourfreak refer to #3894. Not directly relevant though. This issue is for when the image isn't available at all.

[2022-02-11 00:07] eviltofu commented on #3819
Should the primary button be on top? @hboon @colourfreak

[2022-02-11 00:41] hboon commented on #3819
Just for this screen, yes. Not generally. Keep this as a separate PR from changing colors?

[2022-02-11 01:29] eviltofu commented on #3819
The Color change is in #3838. This is for the follow up #3819

[2022-02-11 01:32] hboon commented on #3819
Great. Thanks.

[2022-02-11 05:42] #3882 closed

[2022-02-11 05:50] hboon commented on #3863
@oa-s Just to be sure. This is fixed?

[2022-02-11 13:30] colourfreak commented on #2996
I would like to get back to the subject. Let's have it consistent.

### Radio buttons:
https://zpl.io/Nwkz1Jn
https://zpl.io/W4pdXz7

![Settings_Change_Currency](https://user-images.githubusercontent.com/51817359/153599928-12ae5965-c012-4970-a92a-4d1bc79f8157.png)
![Settings_Change_Language](https://user-images.githubusercontent.com/51817359/153599930-53bd0113-c523-4e6f-b80a-4af650ada215.png)

###

[2022-02-11 14:59] colourfreak opened #3901 "Add a screen where you can switch to Dark/Light/Auto mode"
We need one more item in the Settings (System section)
![Settings_Default_Full](https://user-images.githubusercontent.com/51817359/153614596-9a382206-b372-418c-af67-5189a6a06338.jpg)

Then you can change the mode to

- Light
- Dark
- Auto

![Select-Mode](https://user-images.githubusercontent.com/51817359/153614663-4c1e2490-e3a6-4833-9b2c-4a7e38a7b332.jpg)

### Zeplin:
https://zpl.io/8lkGeAw
https:

[2022-02-14 03:52] hboon opened #3902 "SignMessageCoordinator deallocated too early so TokenScript web3.personal.sign fails"
When we are prompted to sign a message (web3.personal.sign) via TokenScript, `SignMessageCoordinator` gets deallocated so after the user taps Sign to sign, nothing happens and the app is stuck (tapping Cancel closes the actionsheet but leaves the app grayed out).

I created a branch with a commit so it's easier to replicate. The commit disables some of the checks for watched wallets so it will try

[2022-02-14 03:52] hboon commented on #3902
Leave the `//hhh` in first. Helps for testing.

[2022-02-14 03:53] eviltofu opened #3903 "Apply and test project build time reduction changes from medium article"
https://medium.com/gojekengineering/reducing-our-build-time-by-50-835b54c99588

[2022-02-14 03:54] JamesSmartCell opened #3904 "Gotcha with L2 base chain transfer"
Something I discovered and just fixed (https://github.com/AlphaWallet/alpha-wallet-android/commit/d20443928b574e7614ca373395e7992f4381d910) on L2 chains.

- The gas used (gaslimit) for a L2 base chain transfer may not be 21000. For Arbitrum it isn't.
- Arbitrum requires the exact gaslimit or the transaction won't go through.
- Use eth_estimateGas for base chain transfers. For L1, it's safe to alwa

[2022-02-14 03:59] hboon commented on #3904
@JamesSmartCell ah, kind of like Optimistic? #1959

[2022-02-14 04:38] hboon opened #3907 "Clear button in Verify Seed screen should still be enabled/available after user taps the last word"
Clear button in Verify Seed screen should still be enabled/available after user taps the last word

this|vs|this
-|-|-
<img width="487" alt="Screenshot 2022-02-14 at 12 37 02 PM" src="https://user-images.githubusercontent.com/56189/153800871-61cc3f07-22ae-4410-b85f-a92c336f1b99.png">|-|<img width="487" alt="Screenshot 2022-02-14 at 12 37 04 PM" src="https://user-images.githubusercontent.com/56189/

[2022-02-14 05:10] JamesSmartCell commented on #3904
Is that the right PR link? That's the original WalletConnect.

[2022-02-14 05:11] hboon commented on #3904
Wrong one. Have updated the comment.

[2022-02-14 12:20] oa-s commented on #3887
We are not able to implement `wallet_addEthereumChain` in the app as there is an error in WalletConnectConnector from `'web3-react-walletconnect-connector'`. We we send error response (according to https://www.jsonrpc.org/specification#error_object):
`{"error":{"code":4902,"message":"{\"message\":\"Unrecognized chain ID 0x89. Try adding the chain using wallet_addEthereumChain first.\",\"code\":490