[2020-05-15 10:46] tomekalphawallet commented on #1742
Can you confirm with Weiwu? If he is OK, we can keep arrow.

[2020-05-15 11:10] hboon commented on #1742
Checking. @vladyslav-iosdev assume it’s there for now so it doesn’t block your work.

[2020-05-15 11:19] vladyslav-iosdev commented on #1742
its seems like no blockers for now
one question: what it is, and do i need to show it?
<img width="529" alt="Screenshot 2020-05-15 at 14 19 00" src="https://user-images.githubusercontent.com/55975226/82045061-18f34880-96b7-11ea-8c33-048933d5cc79.png">

[2020-05-15 11:23] vladyslav-iosdev commented on #1742
aloso on this screen we also have address text field, but without paste and clear buttons, do i need to add them?

<img width="254" alt="Screenshot 2020-05-15 at 14 22 26" src="https://user-images.githubusercontent.com/55975226/82045299-8acb9200-96b7-11ea-845d-d0796b418ed6.png">

[2020-05-15 11:24] tomekalphawallet commented on #1742
ENS - think of it as DNS but for blockchain, instead of not human-readable addresses (26 characters 0x...) , you can buy a domain and reverse it back to your address. So every time you enter tomek.eth it will send funds to my address.

[2020-05-15 11:25] tomekalphawallet commented on #1742
Yes, please.

[2020-05-15 11:27] hboon commented on #1742
@vladyslav-iosdev there is an existing UILabel for the ENS name in the AddressTextField class. So you can use that.

[2020-05-15 11:28] hboon commented on #1742
The 2 classes are designed so that the “components” can be laid out differently by the user. That’s why they are not all in a single UIView/UIControl subclass

[2020-05-15 11:47] vladyslav-iosdev commented on #1742
does it look like on design?
<img width="254" alt="Screenshot 2020-05-15 at 14 22 26" src="https://user-images.githubusercontent.com/55975226/82047105-e2b7c800-96ba-11ea-904d-f2512e91f2bd.png">
<img width="432" alt="Screenshot 2020-05-15 at 14 41 03" src="https://user-images.githubusercontent.com/55975226/82047107-e4818b80-96ba-11ea-973d-96118a9af311.png">
<img width="432" alt="Screenshot 2020-05-

[2020-05-15 11:49] vladyslav-iosdev commented on #1742
one more question about address text field title
<img width="265" alt="Screenshot 2020-05-15 at 14 47 19" src="https://user-images.githubusercontent.com/55975226/82047229-1e529200-96bb-11ea-99b3-90289fac8524.png">
here we have  "Contract address" and on screen you provided there is "Enter ETH Address / ENS"
do i need to replace it with "Enter ETH Address / ENS" or left as it is?

[2020-05-15 11:55] vladyslav-iosdev commented on #1742
@hboon  for now every textfield has uppercased title, do i need to replace it with Capitalized title?

[2020-05-15 11:59] vladyslav-iosdev commented on #1742
currently add token screen looks next
<img width="432" alt="Screenshot 2020-05-15 at 14 56 14" src="https://user-images.githubusercontent.com/55975226/82047914-50182880-96bc-11ea-99d8-8a87b93975ed.png">

[2020-05-15 12:02] hboon commented on #1742
@vladyslav-iosdev leave it for now and we can look at it while reviewing the PR. Similarly if you have small decisions to make. More efficient that way. But if anything bigger troubles you or blocks you, feel free to ask.

[2020-05-15 12:03] vladyslav-iosdev commented on #1742
ok, np

[2020-05-15 13:05] vladyslav-iosdev commented on #1742
@hboon can you tell me what address could i paste to receive success from GetENSAddressCoordinator(server: serverToResolveEns).getENSAddressFromResolver(for: value) { result in
?

[2020-05-15 13:10] hboon commented on #1742
@vladyslav-iosdev vitalik.eth :)

[2020-05-15 13:13] hboon commented on #1742
Remember that this is UI work. If there’s missing functionality, list it out and we can do it with a follow up PR or create an issue and leave it for later.

[2020-05-15 13:18] vladyslav-iosdev commented on #1742
@hboon thx!

[2020-05-15 13:25] vladyslav-iosdev commented on #1742
i wanted to know how it will work with updated ui

[2020-05-15 13:29] hboon commented on #1742
Yes. That was a good question :)

[2020-05-17 06:59] colourful-land commented on #1742
@tomekalphawallet

0. There is no technical implication one way or the other so Tomek has the final say.

1. As a user, I'd love to be able to fill in Ether amount and sees what USD equivalent should be, or even fill in USD amount and ask αW to use the corresponding ETH amount.

2. The first design Tomek gave me involve some kind of design which made me feel unsure whether or not the value I am ty

[2020-05-18 10:15] vladyslav-iosdev commented on #1742
@hboon hi, how can i get to EditMyDappViewController, what actions should i do in app to get to this screen?

[2020-05-18 10:34] hboon commented on #1742
@vladyslav-iosdev go to the Browser tab, key in a URL and visit it. Tap the top right hand button to Add to My Bookmarks, double tap the Browser tab tab-button, and choose My Bookmarks, then edit.

It's basically editing a bookmark. It used to be called "Dapps" instead of Bookmarks in the UI.

[2020-05-18 10:55] vladyslav-iosdev commented on #1742
@hboon ok, see it, thx!

[2020-05-18 10:58] vladyslav-iosdev commented on #1742
@hboon on EditMyDappViewController do i need to update UILabel, and UITextField with existed TextField class? also do you see my pr?

[2020-05-18 11:17] hboon commented on #1742
@vladyslav-iosdev if you mean if you should switch all the standalone usage of `UITextField` to `TextField`: depends on how and where you implement the new look, is it in `TextField` or a new class. If you can consolidate them all into `TextField` or a new class, then, yes switch all of them over to use that class. i.e. you can replace the entire `TextField` class if it's not needed anymore.

(I c

[2020-05-18 12:06] AW-STJ opened #1803 "Sending ERC20 tokens using QR Code"
iOS version 2.25(327) and noticed that the ERC20 token bug is still there.

To send any tokens from this wallet to another wallet, the following happens. From the Wallet window

1. Tap on the ERC20 token I want to send to open the Recent Transaction window.

2. Tap Send

3. Tap the camera icon to scan the receiver's QR Code.

5. The wallet automatically reverts from my selected ERC20 token to ETH.

[2020-05-18 12:33] hboon commented on #1662
@tomekalphawallet would you help take a look to see if the design is the latest?

[2020-05-18 12:44] hboon commented on #1662
@vladyslav-iosdev note these:

* Display Blockies — out  of scope
* Display ENS reverse lookup | address in a format 0x, four characters, ellipsis, four last characters — there’s a function that does this already. Probably in a String extension. Or in the AlphaWallet.Address class

[2020-05-18 12:45] hboon commented on #1662
@tomekalphawallet just noticed this: shall we use the standard tick (like we did a while back) instead of the custom radio/checkbox?

[2020-05-18 13:38] vladyslav-iosdev commented on #1662
@hboon by pressing on account cell it should place checkmark, and then open Manage Wallet Screen. After we return back checkmark should stay on pressed cell, right?

[2020-05-18 13:47] vladyslav-iosdev commented on #1662
@hboon i what case we need to use radio button, and in what case we need to use check mark?

[2020-05-18 14:04] hboon commented on #1662
@vladyslav-iosdev it’s going to be one of them only. Start with the tick (the iOS native tick) first. It’s easy to replace if necessary. We’ll wait for Tomek to confirm.

[2020-05-19 00:59] zhangzhongnan928 opened #1804 "Uniswap: Pool/Remove Liquidity/Remove/Sign doesn't work"
https://github.com/Uniswap/uniswap-frontend/issues/795

[2020-05-19 06:18] hboon commented on #1790
Need to fix this so it works for views outside of actions too, but not item-views

[2020-05-19 10:22] vladyslav-iosdev commented on #1662
Hi! @hboon currently on design there is no "copy address" action, but it is  in current implementation of showInfoSheet function, do i need to add it? what about "lose wallet", do i need to hide it?

[2020-05-19 10:27] hboon commented on #1662
@vladyslav-iosdev Hmm.. checking with Tomek. Hold on first.

[2020-05-19 10:31] hboon commented on #1662
@tomekalphawallet how does the user bring up the 3rd screen? They used to be able to do it by tapping on the disclosure (i) button which is now replaced by the checkbox/tick.

Also @vladyslav-iosdev 's question about "copy address" action.

[2020-05-19 10:34] vladyslav-iosdev commented on #1662
@hboon  i guess for now behaviour changes, when we tap on cell, we open screen , and when press on circle, we set wallet as current.

[2020-05-19 10:39] hboon commented on #1662
@vladyslav-iosdev possibly. But not if we change to a tick though.

[2020-05-19 12:18] tomekalphawallet commented on #1662
yes, confirm.

[2020-05-19 12:24] tomekalphawallet commented on #1662
tapping on a blockie can take the user to the internal screen (Manage Wallet). See how well this is developed on Android.

![IMAGE 2020-05-19 14:23:15](https://user-images.githubusercontent.com/51817359/82325901-47856200-99dc-11ea-9e57-e58cf12afbcf.jpg)

[2020-05-19 13:13] hboon commented on #1662
@tomekalphawallet That’s not conventional iOS behaviour according to the HIG though. Usually it’s either an additional button/switch, or disclosure button on the right to trigger such additional configuration.

What if we move the checkbox to the left (use a more native looking bluish tick like we do In the other screens like Change Language instead?) and still have the disclosure button (i) in th

[2020-05-19 13:25] hboon commented on #1662
@vladyslav-iosdev I hope you have what you need for now to not be blocked :)

[2020-05-19 14:31] vladyslav-iosdev commented on #1662
yep, i will switch to #1802

[2020-05-19 14:49] tomekalphawallet commented on #1662
Please always use links to Zeplin, as screenshots uploaded here might be outdated.
The tick should be on the right side. This is native iOS.

Do we need Manage Wallet screen at all? You can swipe to loose wallet/delete cell.

[2020-05-19 15:05] hboon commented on #1662
@tomekalphawallet Manage Wallet: https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/screen/5dfc1f5011816316437fc424

No I don't have strong opinions on it. I didn't think it was necessary either.

The tick can appear on the left or right for iOS. It's more common on the right, but since we have a secondary action (to either display an action sheet or the Manage Wallet), then the most conventio

[2020-05-19 15:19] hboon opened #1806 "Make entire address and ENS name labels tappable to trigger the copy action"
Currently only the blue icon is tappable. Note that the screenshot doesn't show the ens name label. Look around `RequestViewController.copyEnsButton`. The screen is accessible from Settings > My Wallet Address.

![Simulator Screen Shot - iPhone X - 2020-05-19 at 23 20 14](https://user-images.githubusercontent.com/56189/82344999-50e7ec00-9a27-11ea-9c3d-20f685b5c2ab.png)

[2020-05-20 03:03] #1804 closed

[2020-05-20 04:01] hboon opened #1808 "Modify setProps() to include error callback when prop(s) clash with existing card attribute"
from:

[code]

to:

[code]

The callback (if provided) is invoked with an error string if there is an error and with nil if there are no errors.

Error message is of the format: "Error in setProps() because these props clash with attribute(s): props1, props2, props3"

---

Another reason for failure in the future is if the prop(s) violates the typed attribute's syntax rule as described in the thre

[2020-05-20 04:25] zhangzhongnan928 opened #1809 "need a <speed up pending transaction> function"
one transaction sends with lower gas will block all the other transaction.
speed up pending transaction function can be quite useful: resend the same transaction with same Nonce but higher gas.

![IMG_2925 2](https://user-images.githubusercontent.com/33795543/82404892-c4c8d980-9aa5-11ea-81e4-c6745e0292f3.PNG)
![IMG_2924](https://user-images.githubusercontent.com/33795543/82404899-c8f4f700-9aa5-11e

[2020-05-20 04:33] hboon commented on #1809
Needs some scoping and planning. Copying this:

from: https://trello.com/c/26MTjbSU/70-as-a-user-i-want-understanding-control-over-transaction-processing-time-so-that-i-can-transact-with-confidence#comment-5e4b537e3e7da720b5a87d85

Sounds like @zhangzhongnan928 is suggesting B. But A and C (set nonce explicitly) is related.

[2020-05-20 04:37] zhangzhongnan928 commented on #1809
A B C are same t

[2020-05-20 04:37] #1809 closed

[2020-05-20 04:43] hboon commented on #1809
@zhangzhongnan928 I was thinking of specific UI for the users rather than an advanced screen with many knobs, so in that sense technically similar underneath. But quite different from the UI:

A) cancel a pending transaction — a button "cancel" on a pending transaction
B) replace a pending transaction — a button called "speed up" and let the user enter a new gas value (or equivalent, like a slider

[2020-05-20 04:45] zhangzhongnan928 commented on #1809
I accidentally click the comment

[2020-05-20 05:54] tomekalphawallet commented on #1662
So I think it's better if we don't have this screen at all "Manage Wallet". Contextual swipe can be use to "loose wallet". Problem solved :)

[2020-05-20 06:10] hboon commented on #1662
@tomekalphawallet great :) 1 screen less to implement and maintain too )

[2020-05-20 06:35] vladyslav-iosdev commented on #1662
@tomekalphawallet so how "Change/Add wallet" should look like for now?

[2020-05-20 06:39] hboon commented on #1662
@vladyslav-iosdev like https://github.com/AlphaWallet/alpha-wallet-ios/issues/1662#issuecomment-575298442

[2020-05-20 06:40] vladyslav-iosdev commented on #1662
@hboon thx!

[2020-05-20 08:06] vladyslav-iosdev commented on #1806
@hboon i'm not clearly undestand what do i need to make there.
i need make label clickable?
and this address should be displayed in format like this?
var addresses: String {
        if let ensName = ensName {
            return "\(ensName) | \(wallet.address.truncateMiddle)"
        } else {
            return wallet.address.truncateMiddle
        }
    }

[2020-05-20 08:17] hboon commented on #1806
Sorry, was too vague.

Yes.

Don't need to change the display. Here's how it looks like. It shouldn't change visually:

<img width="452" alt="Screenshot 2020-05-20 at 4 14 50 PM" src="https://user-images.githubusercontent.com/56189/82422633-470cca00-9ab5-11ea-8bf9-199fb1704e6b.png">

[2020-05-20 08:23] vladyslav-iosdev commented on #1806
@hboon does it ok, if i add UITapGestureRecognizer for those labes and triggrer will call copyEns?

[2020-05-20 08:25] hboon commented on #1806
@vladyslav-iosdev sure

[2020-05-20 08:52] hboon commented on #1662
@vladyslav-iosdev sorry about this one. Let's go with this:

A. Tick on the right
B. Tap to switch accounts
C. Tap and hold to bring up the old actionsheet

So it looks exactly like https://github.com/AlphaWallet/alpha-wallet-ios/issues/1662#issuecomment-575298442, except you need to take note of (C).

[2020-05-20 09:14] hboon opened #1814 "Update QR scanner screen"
We currently use a fork (see Podfile) of QRCodeReaderViewController. Can you either modify it or implement it so that it looks like this? It's fine (probably best) if you can remove the dependency on QRCodeReaderViewController if implementing the scanner from scratch works for you:

https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/screen/5e54e153f1689c658669eb8a

It's probably used in a few

[2020-05-20 09:18] hboon commented on #1662
@vladyslav-iosdev sorry about this one. Let's go with this:

A. Tick on the right
B. Tap to switch accounts
C. Swipe to Lose This Wallet and Copy Address
D. Tap and hold to bring up the old actionsheet, but without Copy Address

So it looks exactly like https://github.com/AlphaWallet/alpha-wallet-ios/issues/1662#issuecomment-575298442, except you need to take note of (C).

@tomekalphawallet would

[2020-05-20 09:19] tomekalphawallet commented on #1662
<img width="1360" alt="Screenshot 2020-05-20 11 19 25" src="https://user-images.githubusercontent.com/51817359/82429181-cdacb180-9a8b-11ea-8086-e7e8ba765778.png">

[2020-05-20 09:20] tomekalphawallet commented on #1662
https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/styleguide/components?cseid=5ec4f4ccb246754987537229

[2020-05-20 09:24] tomekalphawallet commented on #1814
Not sure if that matters, but in the future, we might add an ability to trigger this screen with Siri. Having that in the back of mind might be good at this stage.

[2020-05-20 09:28] hboon commented on #1814
Yes, likely from the app launch shortcuts too

[2020-05-20 09:33] tomekalphawallet commented on #1662
https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/screen/5ec4f634ea9d4332c3d9f790/

[2020-05-20 09:45] #1808 closed

[2020-05-20 09:45] #1730 closed

[2020-05-20 09:45] #1729 closed

[2020-05-20 09:45] #1728 closed

[2020-05-20 09:45] #1732 closed

[2020-05-20 09:45] #1733 closed

[2020-05-20 09:45] #1734 closed

[2020-05-20 09:45] #1735 closed

[2020-05-20 09:45] #1740 closed

[2020-05-20 09:45] #1775 closed

[2020-05-20 09:45] #1776 closed

[2020-05-20 09:45] #1787 closed

[2020-05-20 09:47] hboon commented on #1785
@James-Sangalli looks like the can be closed too?

[2020-05-20 10:00] vladyslav-iosdev commented on #1662
@tomekalphawallet there i no ability to make backup, but in current implementation it exists.

[2020-05-20 10:05] hboon commented on #1662
@vladyslav-iosdev this ^

[2020-05-20 10:08] vladyslav-iosdev commented on #1662
ok, sorry my fail.

[2020-05-21 01:30] AW-STJ commented on #1803
Video Linked. Issue is from Coin Wallet

[](https://drive.google.com/file/d/1S1CsiL3W6LYMRxzf-qAUaKKs0i4cOilj/view?usp=drivesdk)

[2020-05-21 02:06] #1797 closed

[2020-05-21 02:12] #1790 closed

[2020-05-21 02:12] #1785 closed

[2020-05-21 02:13] James-Sangalli commented on #1785
https://github.com/AlphaWallet/alpha-wallet-ios/issues/1790

[2020-05-21 08:15] #1806 closed

[2020-05-21 08:35] hboon commented on #1792
- [ ] Watch out that the "More Details" button don't always go to Etherscan. Examine the `viewModel.detailsURL` in TransactionViewController.more(). It'll ultimately get the URL from `ConfigExplorer.explorer(for:)`. Can you add a new func to `ConfigExplorer` that returns the site's name, eg.

[code]

[2020-05-21 08:41] hboon opened #1818 "Make Wallet tab table background white when there are not enough tokens to fill the screen"
<img width="300" alt="Screenshot 2020-05-21 at 4 39 24 PM" src="https://user-images.githubusercontent.com/56189/82540660-ebf4d900-9b81-11ea-8277-a0d242847c44.png">

[2020-05-21 08:42] hboon commented on #1712
Moved to #1818

[2020-05-21 08:42] #1712 closed

[2020-05-21 13:54] vladyslav-iosdev commented on #1814
@tomekalphawallet what if use pod 'QRCodeReader.swift', '~> 10.1.0'? its the same Pod, but with ability to define custom UI

[2020-05-22 03:42] hboon opened #1819 "Update shared ButtonsBar look"
The `ButtonsBar` class is used across the app. The buttons are currently all green.

- [ ] Let's make them appear in 3 configurations:

A\. 1 green, 1 white, and a "...":

https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/dashboard?seid=5e4130b758245792d0d24970

B\. All green, no "..." (there can be more than 1 button):

C\. All white, no "..." (there can be more than 1 button):

https://app.

[2020-05-22 03:42] hboon commented on #1702
Superseded by #1819

[2020-05-22 03:42] #1702 closed

[2020-05-22 05:11] hboon commented on #1819
Updated the description ^ to mention configuration C, which is only used in a single place.

[2020-05-22 07:23] vladyslav-iosdev commented on #1814
@hboon  Hi, i sent PR https://github.com/AlphaWallet/QRCodeReaderViewController/pull/1
can't find how to set you as reviewer.

[2020-05-22 07:26] hboon commented on #1814
@vladyslav-iosdev Just added you as a collaborator. Could be the reason. Do you see this?

<img width="1212" alt="Screenshot 2020-05-22 at 3 24 22 PM" src="https://user-images.githubusercontent.com/56189/82642430-7f8cdf00-9c40-11ea-9c91-b49531ca7f29.png">

[2020-05-22 07:31] vladyslav-iosdev commented on #1814
no, there is no settings button

<img width="300" alt="Screenshot 2020-05-22 at 10 30 23" src="https://user-images.githubusercontent.com/55975226/82642905-52780680-9c17-11ea-9fdd-ae7a42533c30.png">

[2020-05-22 07:34] hboon commented on #1814
@vladyslav-iosdev no idea why. It's alright. You can just buzz me to review in a PR if you can't assign me :)

[2020-05-22 08:02] vladyslav-iosdev commented on #1814
@hboon QRCodeReaderViewController called from several places manually, do i need to replace those calls with calling it through ScanQRCodeCoordinator?

[2020-05-22 08:06] hboon commented on #1814
@vladyslav-iosdev yes, that would be great. Is it independent of this issue? If it is, create a new issue "Refactor all access to QRCodeReaderViewController so it goes through ScanQRCodeCoordinator" and assign yourself.

[2020-05-22 08:09] vladyslav-iosdev commented on #1814
yes it is. ok.

[2020-05-22 08:10] vladyslav-iosdev opened #1822 "Refactor all access to QRCodeReaderViewController"
Refactor all access to QRCodeReaderViewController so it goes through ScanQRCodeCoordinator

[2020-05-22 10:11] vladyslav-iosdev commented on #1822
@hboon i refactored code related to https://github.com/AlphaWallet/alpha-wallet-ios/issues/1814
but code required dependency that was in https://github.com/AlphaWallet/QRCodeReaderViewController/pull/1
i will send code without updating pod file

[2020-05-22 10:21] hboon commented on #1822
@vladyslav-iosdev sure. Thanks

[2020-05-22 10:46] vladyslav-iosdev commented on #1792
@hboon do i need to remove UITapGestureRecognizer and replace it with a button? or just add image and left gesture as it is?

[2020-05-22 11:08] hboon commented on #1792
@vladyslav-iosdev gesture or button: up to you, might depend on this:

Continue to allow tap to copy, and don’t add the copy icon other than those (3?) in the design. We can just keep it as a harmless
hidden feature of power users discover them.

Something unrelated: display the date time with locales and not the hardcoded format.

[2020-05-22 12:23] vladyslav-iosdev commented on #1792
@hboon  do i need to remove "copy alertSheet"?

[2020-05-22 12:32] hboon commented on #1792
Oh right. Remove it and show the little pop up that fades away like in the wallet screen which you worked on recently?

[2020-05-22 13:11] vladyslav-iosdev commented on #1792
Does this function right? do i need replace some nil's with specific title?
func explorerName(for server: RPCServer) -> String? {
        switch server {
        case .main, .kovan, .ropsten, .rinkeby, .goerli:
            return "Etherscan"
        case .classic:
            return "Gastracker"
        case .poa:
            return "Poaexplorer"
        case .custom, .callisto:
            return

[2020-05-22 14:09] hboon commented on #1792
@vladyslav-iosdev like this:

[code]

[2020-05-23 07:06] hboon opened #1826 "Add "My QR" button to show wallet QR code in QR code scanner screen"
Study #1814

[2020-05-24 13:29] James-Sangalli opened #1827 "Implement attribute type modification 2020/06"
https://github.com/AlphaWallet/TokenScript-Examples/pull/79/files

[2020-05-25 05:02] #1827 closed

[2020-05-25 05:07] James-Sangalli opened #1829 "ERC20 does not guard against sending more than your balance"

[2020-05-25 05:46] #1568 closed

[2020-05-25 05:48] James-Sangalli commented on #1803
@AW-STJ I cannot reproduce this in the latest version at all. Let's give him the latest coin wallet build in iOS and see if it still happens to him

[2020-05-25 06:00] hboon commented on #1829
@James-Sangalli I thought it does.

[2020-05-25 06:09] AW-STJ commented on #1803
Would you be able to do a Build of the iOS Coin wallet? I can then ask them to send us some tokens for testing.

[2020-05-25 07:24] #1685 closed

[2020-05-25 10:08] vladyslav-iosdev commented on #1819
@hboon i don't clearly undarstand what do i need to do here.
     correct me if i mistake, first i need update ButtonsBarViewModel, to allow pass background color through init, with some default value.
     Then i need to refactor ButtonsBar class to allow individually set ButtonsBarViewModel to each buttonContainerViews item.
     Also i don't understand this "A. 1 green, 1 white, and a "...":" w

[2020-05-25 10:18] James-Sangalli opened #1831 "Upgrade dependencies to work with xcode 11.7"
Reported from the AlphaWallet group

Shubham Rathi, [25.05.20 20:00]
[ Photo ]
This is the issue from Macaw.

Shubham Rathi, [25.05.20 20:01]
Overriding generic methods isn't allowed (from 11.5 i suppose)

Shubham Rathi, [25.05.20 20:02]
https://forums.swift.org/t/method-override-with-a-generic-signature-with-requirements-not-imposed-by-the-base-method/33593

[2020-05-25 10:28] hboon commented on #1819
@vladyslav-iosdev in the 1st zeplin link (I can’t open Zeplin to verify now), you should see that the ButtonsBar appear as 1 green, 1 white and an additional “more” button”beside it, with the title “...”. This is because the buttons when in configuration A, is dynamic. There can be more buttons than can fit in the screen. So with this redesign, that 3rd “...” button brings up an actionsheet which

[2020-05-25 10:37] vladyslav-iosdev commented on #1819
i see there is only one
<img width="1100" alt="Screenshot 2020-05-25 at 13 33 59" src="https://user-images.githubusercontent.com/55975226/82805297-755f2080-9e8c-11ea-8ba3-26670a9a02ea.png">

[2020-05-25 11:14] hboon commented on #1819
@vladyslav-iosdev maybe it hasn't loaded completely. Looks like this. Notice the first 3 screens:

<img width="1349" alt="Screenshot 2020-05-25 at 7 13 43 PM" src="https://user-images.githubusercontent.com/56189/82808133-e538cf80-9ebb-11ea-9fb2-ed90f7c115c1.png">

[2020-05-25 12:05] vladyslav-iosdev commented on #1819
@hboon  its my fail, i thought about complitelly different things need to be done. now its clear. what if i update `ButtonsBar` class  init with next input param `ButtonsBarConfiguration`

[code]
this will allow us to update bar buttons as we want

[2020-05-25 13:42] hboon commented on #1819
@vladyslav-iosdev sounds like it would work, but remember to offer some way to reconfigure it using `configure(somethingHereIfNecessary)`. This is because the TokenScript screens can change dynamically. i.e part of the UI (in this case, just the buttons) is actually described using an XML file. When the contents of that file is edited, the number of buttons, the title, etc will change in those scr

[2020-05-26 12:10] vladyslav-iosdev commented on #1819
@hboon I am back, i sent PR for #1819, what's next? rest should be done if i didn't miss something.

[2020-05-26 12:11] zhangzhongnan928 opened #1833 "Gas price +1"
Can we be a bit more aggressive with the gas price? If the node returns with a gas price n, then we should use n+1 as the gas price.

[2020-05-26 12:48] hboon commented on #1701
@vladyslav-iosdev remember to check the Zeplin version to be sure. (screenshot might be outdated)

[2020-05-26 12:49] hboon commented on #1700
@vladyslav-iosdev remember to check the Zeplin version. Screenshot might be outdated.

[2020-05-26 12:50] hboon commented on #1681
@vladyslav-iosdev can you help to verify? I think there's a good chance this is already fixed.

[2020-05-26 12:52] hboon commented on #1819
@vladyslav-iosdev assigned you a few more issues :)

[2020-05-26 14:09] vladyslav-iosdev commented on #1681
@hboon seems like this doesn't appear, but i found other other issue:

- click on ETH mainnet
- click Send action
- set amount to 1,
- press ETH float button to convert to USD
- scan address, address populated, textfield value changed from USD to ETH.

[2020-05-26 14:10] vladyslav-iosdev commented on #1701
@hboon can you tell me how can i get to this screen?

[2020-05-26 14:15] hboon commented on #1701
@vladyslav-iosdev from Settings > Change Wallet. Then the i button and show seed phrase. Toward the end of the backup process, it should prompt you to lock it (if it hasn’t locked this seed phrase before).

[2020-05-26 14:19] tomekalphawallet commented on #1701
<img width="1910" alt="Screenshot 2020-05-26 at 16 19 27" src="https://user-images.githubusercontent.com/51817359/82911864-af075880-9f6c-11ea-9a4f-59f283ba7c65.png">

[2020-05-27 04:50] #1739 closed

[2020-05-27 04:50] #1747 closed

[2020-05-27 07:43] James-Sangalli opened #1836 "Remove discovery token before release"

[2020-05-27 08:40] #1822 closed

[2020-05-27 08:42] hboon commented on #1814
Closed by https://github.com/AlphaWallet/QRCodeReaderViewController/pull/1

[2020-05-27 08:42] #1814 closed

[2020-05-27 09:13] #1700 closed

[2020-05-28 03:56] #1836 closed

[2020-05-28 06:44] #1833 closed

[2020-05-28 06:53] #1829 closed

[2020-05-28 07:09] James-Sangalli opened #1844 "xDAI card is missing on 2020/06"

[2020-05-28 07:12] #1818 closed

[2020-05-29 02:15] AW-STJ opened #1845 "Send functions allows send for transactions larger than the wallet balance"
Enhancement suggested when Coin Wallet was tested.

iOS: iPhone 8+. Coin Wallet V1.0.0 (2)

Send function. An amount larger than the wallet balance can be sent. The transaction fails at contract level but is still recorded as a Confirmed transaction in the Transaction window. Yes the wallet balance does not change as it failed, but it causes a “transaction revert” which costs the user ETH. Android

[2020-05-29 03:00] James-Sangalli commented on #1845
@AW-STJ this was solved yesterday here: https://github.com/AlphaWallet/alpha-wallet-ios/pull/1841

[2020-05-29 03:00] #1845 closed

[2020-05-29 04:20] #1781 closed

[2020-05-29 08:20] vladyslav-iosdev commented on #1681
@hboon Do i need to fix this, or its expacted behaviour?

[2020-05-29 08:36] hboon commented on #1681
@vladyslav-iosdev sounds like a bug. Can you create an issue and fix it? Take care that it should remain as ETH (or switch to ETH if it is USD) if an amount is included in the EIP681 link.

Close this issue and link to that new issue from here.

[2020-05-29 08:38] #1681 closed

[2020-05-29 08:49] vladyslav-iosdev opened #1846 "Text field (currency button) periodically switched when detection token"
- click on ETH mainnet
- click Send action
- set amount to 1,
- press ETH float button to convert to USD
- scan address, address populated, textfield value changed from USD to ETH.

[2020-05-29 08:51] hboon commented on #1846
And remember that it should change to ETH if an EIP681 link with amount is scanned.

Also watch out for if it's a non-crypto token being transferred. Then there's no toggling from token -> USD

[2020-05-29 09:03] vladyslav-iosdev commented on #1846
ok

[2020-05-29 09:22] hboon commented on #1846
Ah. If you haven't started work on this yet, wait until #1816 is merged. Unless it's a really simple change

[2020-05-29 09:45] vladyslav-iosdev commented on #1846
@hboon  is there other tasks to do, while i waiting for #1816 is merged? the rest of list seems like done, if i didn't miss anything.

[2020-05-29 09:47] hboon commented on #1846
@vladyslav-iosdev clean up https://github.com/AlphaWallet/bartercard-ios/pull/154 :)

[2020-05-29 09:54] hboon opened #1847 "Delete the redundant comment: "//We should refresh balance of the ETH every 10 seconds.""

[2020-05-29 09:56] hboon opened #1848 "Remove BalanceTitleView if it's not used anymore"

[2020-05-29 10:04] hboon opened #1849 "Research if/how to test if a private key (which is marked as user presence required) written into the Secure Enclave can tested for existence without prompting for user presence check"
Referring to the flag `SecAccessControlCreateFlags.userPresence`.

The public-private key pair is created in `SecureEnclave.createPrivateKey`.

This will require a device (not simulator) with Touch ID or Face ID to verify.

Just a snippet will do. It doesn't have to be integrated into the code base.

[2020-05-29 10:09] hboon opened #1850 "Make fastlane work again, notably posting app store screenshots"

[2020-05-29 10:11] hboon commented on #1846
@vladyslav-iosdev assigned a few more.

[2020-05-29 15:37] vladyslav-iosdev commented on #1850
@hboon  you mean make this work? or that screenshots directory is empty after `fastlane snapshot`
<img width="974" alt="Screenshot 2020-05-29 at 17 50 18" src="https://user-images.githubusercontent.com/55975226/83273220-f1cb6980-a1d4-11ea-81d8-757d162467a4.png">

[2020-05-29 16:55] hboon commented on #1850
Will have to check. Been a while since I tried.

[2020-05-30 07:29] #1847 closed

[2020-05-30 08:03] #1742 closed

[2020-05-30 08:27] hboon opened #1853 "Update Settings Tab Icons [Fiji]"
Supersedes #1659

https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/dashboard?seid=5dfc1f63646faf970d746224

* There is a WIP feature branch: `update-settings-screen-design`. Only the very first screen is implemented (and not in a good way).
* Take care to address or remove all the `//hhh` comments
* Fix some of the bad practises/code in the branch. There might still be some. Some are probabl

[2020-05-31 23:40] AW-STJ commented on #1803
Bug confirmed resolved by the client

[2020-05-31 23:40] #1803 closed

[2020-06-01 03:59] hboon opened #1855 "Correct ASN module usage in TokenScript"

[2020-06-01 05:22] #1855 closed

[2020-06-01 06:15] #1844 closed

[2020-06-01 06:55] hboon opened #1859 "Large title in Wallet tab become normal after we push Add / Hide tokens screen and pop back"

[2020-06-01 07:04] tomekalphawallet commented on #1859
Also, it might be a big finger problem, but tapping somewhere below "Add /Hide Tokens" triggers the first token to open. I might be not precise, but it happens to me too often.

Try by yourself, tapping the area highlighted
![IMAGE 2020-06-01 09:04:34](https://user-images.githubusercontent.com/51817359/83384139-e9e31380-a3e6-11ea-9f3e-600833189f44.jpg)

[2020-06-01 07:05] hboon opened #1860 "Handling a token contract which has been migrated/replaced (like DAI->SAI, or TUSD)"
Tomek reports that he sees 2 TUSD tokens with the same balance in his wallet. This is happening because they have migrated their contract:

https://etherscan.io/address/0x8dd5fbCe2F6a956C3022bA3663759011Dd51e73E
https://etherscan.io/address/0x0000000000085d4780B73119b644AE5ecd22b376

This is just a placeholder so we don't forget about the problem. Some design is needed.

eg:

We can have a simple

[2020-06-01 07:19] hboon opened #1861 "Tapping somewhere below "Add /Hide Tokens" triggers the first token to open"
From Tomek:

Also, it might be a big finger problem, but tapping somewhere below "Add /Hide Tokens" triggers the first token to open. I might be not precise, but it happens to me too often.

Try by yourself, tapping the area highlighted
![IMAGE 2020-06-01 09:04:34](https://user-images.githubusercontent.com/51817359/83384139-e9e31380-a3e6-11ea-9f3e-600833189f44.jpg)

[2020-06-01 07:20] hboon commented on #1859
@tomekalphawallet I've moved it over to https://github.com/AlphaWallet/alpha-wallet-ios/issues/1861

[2020-06-01 10:34] zhangzhongnan928 opened #1863 "build 3.00(334) in send action card, it should show the token name instead of the network currency"
This should be BAT instead of ETH

![IMG_3232](https://user-images.githubusercontent.com/33795543/83400874-fbf49e80-a446-11ea-90cb-f10d1b094563.PNG)

this should be different from ETH
![IMG_3233](https://user-images.githubusercontent.com/33795543/83401015-4bd36580-a447-11ea-8cdc-1c6d2b00d52e.PNG)

[2020-06-01 10:42] hboon opened #1865 "Implement analytics"

[2020-06-01 11:15] hboon commented on #1863
Will address in #1862. Just hide it completely. We don't have an icon for the token anyway.

[2020-06-01 11:15] zhangzhongnan928 commented on #1863
ok

[2020-06-01 23:55] James-Sangalli opened #1866 "value param broken for tokenscripts build 330"
@hboon probably has something to do with https://github.com/AlphaWallet/alpha-wallet-ios/pull/1856

[2020-06-02 03:20] #1866 closed

[2020-06-02 04:30] hboon opened #1868 "Can't tap cell in token cards screen near the bottom"
Probably because the currently 0 button `ButtonBar` is trapping them? Check again after #1832 is merged

[2020-06-02 05:24] hboon opened #1869 "Import button (wrongly) remains disabled after pasting in seed phrase on iPad"
Verify first. Might be because soft keyboard is disabled while on simulator. But this can mean it's reproducible on actual iPad (or even iPhone) when using a hardware keyboard

[2020-06-02 08:10] vladyslav-iosdev commented on #1853
@hboon what do i need to do when press `support` ?

[2020-06-02 08:12] hboon commented on #1853
@vladyslav-iosdev that would be the current "Help & FAQs"

[2020-06-02 08:14] vladyslav-iosdev commented on #1853
thx

[2020-06-02 08:25] vladyslav-iosdev commented on #1853
@hboon also what should happen by selection on `Analytics` and `Change Currency`?

[2020-06-02 08:30] hboon commented on #1853
@vladyslav-iosdev ignore those 2. Would you make a list of those somewhere in this issue? So we can come back and revisit those.

[2020-06-02 08:32] vladyslav-iosdev commented on #1853
ok

[2020-06-02 09:29] SazzadIp opened #1872 "Overridden method 'equals' has generic signature <T where T : LinearGradient> which is incompatible with base method's generic signature <T where T : Fill>; expected generic signature to be <T where T : Fill>"
When I upgrade pod with Xcode 11.5. I got this Error.

[2020-06-02 09:30] SazzadIp commented on #1872
Found Solution. Error due to Swift 5.2 new updates.

Solution:
https://github.com/exyte/Macaw/issues/668

[2020-06-02 14:13] vladyslav-iosdev commented on #1850
@hboon are there other tasks except  #1850 #1849 #1846 ?

[2020-06-02 14:26] hboon commented on #1846
@vladyslav-iosdev hold this first. I might have fixed it somewhere rlsey

[2020-06-02 14:28] hboon commented on #1850
There’s a couple at the forked repo I think

[2020-06-03 05:03] zhangzhongnan928 opened #1873 "About rounding the balance number"
For example, if the real balance is 1.537356754, the display balance should be 1.5373 instead of 1.5374

reason:
1. don't set a wrong expectation, users will expect they can get the full display balance available to use
2. since we don't have a "send maximum balance" function, users may manually key in the number display in balance, they will key in 1.5374 which will trigger "insufficient balance"

[2020-06-03 05:08] hboon commented on #1873
@zhangzhongnan928 yes, we do that for the BC project for the same reason. All balances are 4 decimal places.

[2020-06-03 05:54] zhangzhongnan928 commented on #1873
should do the same with any balance displayed in TokenScript action card @James-Sangalli

[2020-06-03 06:04] hboon commented on #1873
They *might* be moving to 5 decimal places soon.

[2020-06-03 08:00] vladyslav-iosdev commented on #1850
@hboon can you send me a link?

[2020-06-03 08:09] hboon commented on #1850
@vladyslav-iosdev Oh, I think that's all for now. I'll try to reply to the pending ones later today.

You can use a link like this for the other repo too: https://github.com/AlphaWallet/alpha-wallet-ios/issues/assigned/vladyslav-iosdev

[2020-06-03 09:00] hboon opened #1874 "Display an error message when QR code for EIP681 link has invalid contract"
After #1862 is merged

This is in `SendViewController`.

Show "Invalid token" with `UIAlertController`.

Generate a link at https://brunobar79.github.io/eip681-link-generator/# and use the QR code

---

This should populate the fields and not show an error message:

contract: 0x89d24a6b4ccb1b6faa2625fe562bdd9a23260359 (this should show up as the SAI token)
receiver: any Ethereum address for wallet

[2020-06-03 09:12] #1162 closed

[2020-06-03 09:23] hboon commented on #1872
@SazzadIp thanks! Will look into it soonish.

[2020-06-03 09:24] hboon commented on #1872
@SazzadIp we build with Xcode 11.3, so it's easiest to use that version for now. But we'll look at this soon.

[2020-06-03 09:48] #1848 closed

[2020-06-03 10:01] hboon commented on #1868
Check after #1832 is merged

[2020-06-03 14:04] vladyslav-iosdev commented on #1869
@hboon I tried on real device seems like it works. But i found  other one issue, with paste  action on SendViewController.

[2020-06-03 14:07] vladyslav-iosdev opened #1877 "Wrong textField validation when paste address SendViewController"
Steps to reproduce:
- Open Send Token screen
- Select Recepient Address, paste string like "asddd",
- Error displayed
- Paste valid address
Expected Behaviour:
Error message dissmised.

[2020-06-04 03:21] hboon commented on #1869
@vladyslav-iosdev did you with a hardware/external keyboard? Trying on the simulator with the soft keyboard disabled (so you can type with the laptop/mac keyboard) should simulate that.

[2020-06-04 03:28] hboon commented on #1877
@vladyslav-iosdev thanks!

[2020-06-04 03:28] #1877 closed

[2020-06-04 05:10] hboon opened #1879 "Tapping token card at bottom of token cards screen (TokensCardViewController) doesn't register"
This is because the buttons bar, with 0 buttons, is eating taps.

[2020-06-04 05:11] hboon opened #1880 "Cards in Token cards screen (TokensCardViewController) displays information in the wrong cards if there are more than a handful, after scrolling"

[2020-06-04 05:30] #1879 closed

[2020-06-04 05:30] #1880 closed

[2020-06-04 08:04] hboon opened #1883 "Show a generic "token" icon in send screen when sending ERC20 token"
In `SendViewController`, assuming the ERC20 token has the symbol "OMG".

<img src="https://user-images.githubusercontent.com/56189/83730858-401cb480-a67c-11ea-8f53-dbb65d06677a.png" width=200>

This icon:

https://app.zeplin.io/styleguide/5e0b15e46049c216fb7ab4d5/components?coid=5e27130e1d43768074cedd2d

Remember to handle 4 cases to update or not to update `SelectCurrencyButton` correctly:

- [x]

[2020-06-04 08:14] hboon opened #1884 "Fix: Not able to enter fractional value fiat when sending ETH if locale is set to region which uses comma as decimal separator"
Complains "Wrong Input".

- [x] Remember to test with entering fractional ETH too

[2020-06-04 11:14] vladyslav-iosdev commented on #1874
@hboon so you mean to show alert for all these cases
.name, .symbol, .balance, .decimals, .nonFungibleTokenComplete, .delegateTokenComplete, .failed:
in checkAndFillEIP681Details?

[2020-06-04 12:12] vladyslav-iosdev commented on #1883
@hboon can you provide test OMG token address for testing?

[2020-06-04 12:31] hboon commented on #1883
@vladyslav-iosdev can you paste or send me a wallet to send to?

[2020-06-04 12:34] vladyslav-iosdev commented on #1883
@hboon 0xb4F0819ABC2d662Fbf7715EbCB87721b1DC1e142

[2020-06-04 12:46] hboon commented on #1883
@vladyslav-iosdev sent you this on Rinkeby 0x7f1511708E51A3088e4e8505F16523300668476E. TEST token

[2020-06-04 12:47] hboon commented on #1883
You can add it in the Add/Hide token screen. Add button.

[2020-06-04 12:58] vladyslav-iosdev commented on #1883
@hboon  i am not clearly undarstand what do i need to do here.
i added token you send, then selected added token and open SendViewController.
for now in case when we send ERC20Token we hide currency icon and expand button and at the title on navigation bar displays "OMG"
![photo_2020-06-04_15-57-05](https://user-images.githubusercontent.com/55975226/83759429-34c98900-a67c-11ea-9119-55ddb85b1e9f.jp

[2020-06-04 13:02] vladyslav-iosdev commented on #1883
i guess i added token in wrong way, i was need to enable Rinkeby network in settings

[2020-06-04 13:04] hboon commented on #1883
The change is to change the behaviour for ERC20 tokens: show the default icon as well as the symbol (in the screenshot I annotated it as OMG, if it’s the TEST token, show TEST instead. Depends on the current token).

In other words, no longer hide the currency selector when it’s ERC 20. Instead show the default icon and the symbol for that token (instead of ETH or USD). But still hide the down arr

[2020-06-04 13:51] vladyslav-iosdev commented on #1883
@hboon i s not sure why but i am not able to download this icon

[2020-06-04 13:57] hboon commented on #1883
@tomekalphawallet looks like this one isn't downloadable. Can you help? https://app.zeplin.io/styleguide/5e0b15e46049c216fb7ab4d5/components?coid=5e27130e1d43768074cedd2d

[2020-06-04 14:08] vladyslav-iosdev commented on #1883
@hboon i found how to download it)

[2020-06-04 14:11] tomekalphawallet commented on #1883
https://zpl.io/bJJBnEr

[2020-06-04 14:16] hboon commented on #1883
@vladyslav-iosdev nice :)

[2020-06-04 14:17] hboon commented on #1883
@tomekalphawallet thanks

[2020-06-04 14:53] vladyslav-iosdev commented on #1869
I tried with hardware keyboard

[2020-06-04 15:13] vladyslav-iosdev commented on #1869
@hboon "remains disabled" does it look like disabled?
<img width="539" alt="Screenshot 2020-06-04 at 18 04 14" src="https://user-images.githubusercontent.com/55975226/83774156-08b70380-a68e-11ea-9024-e5aec1134871.png">

[2020-06-04 15:26] hboon commented on #1869
Yes it does look like disabled when it happens. If it’s only on the simulator, then it’s alright

[2020-06-05 04:02] hboon opened #1886 "Show "Available: <eth/token balance>" in send screen"
https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/screen/5dfc4ba7aa48e01aa20e886e

Also highlights this "Available: xxx" as well as the amount entered in red when the amount entered is more than the balance like in:

https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/screen/5e2ac09836436754bc975a1f

This is probably going to make `SendInputErrors.wrongInput` redundant.

- [ ] If `SendInpu

[2020-06-05 05:08] #1792 closed

[2020-06-05 07:28] #1853 closed

[2020-06-05 07:29] hboon commented on #1659
Closed by #1871

[2020-06-05 07:29] #1659 closed

[2020-06-05 07:31] hboon opened #1887 "Display ENS name (if available) and Ethereum address for current wallet under "Change / Add Wallet" in Settings screen"
As in https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/screen/5dfc1f53e5325a98132d1d74

We can see how it's implemented in the screen shown after tapping on the cell. `AccountsViewController`

[2020-06-05 08:04] #1701 closed

[2020-06-05 10:37] hboon opened #1890 "Tweak Next and Done buttons for textboxes in Send eth/ERC20 screen"
`AmountTextFieldDelegate` should:

- [x] have a function like `AddressTextFieldDelegate.shouldReturn(in:)`, maybe called `didTapInputAccessoryButton`
- [x] add property similar to `AddressTextField.returnKeyType` (called `inputAccessoryButtonTitle`. Maybe create a new enum for it with cases: `.done` and `.next`)

and SendViewController should use them so that:

- [x] the amount field's `inputAcces

[2020-06-07 07:08] #1884 closed

[2020-06-07 09:19] hboon opened #1896 "Title of cell in Settings tab is sometimes clipped at the bottom when there is a subtitle"
Note the descender of the "g" in the screenshot

Reproducible after applying #1892. Can be observed after tapping on "Change / Add Wallet" and tapping "Done" again.

<img src="https://user-images.githubusercontent.com/56189/83964988-16b19200-a8e3-11ea-9d15-d781e024085c.png" width=200>

[2020-06-07 09:35] hboon commented on #1886
@tomekalphawallet

<img src="https://user-images.githubusercontent.com/56189/83965202-72304f80-a8e4-11ea-96af-86420f09b72c.png" width=200>

The proximity of "Available: 1.234" and "~483,12 USD" might be a bit misleading. Do you think it's better to move "~483,12 USD" to the right, below "2"?

We'll have to have a button for "All Funds" later too. Or maybe we can make tapping on "Available: 1.234"

[2020-06-07 10:02] hboon opened #1897 "App icon in launch (aka splash) screen should not move (up) abruptly"
During a cold launch, this happens:

1. the launch screen (which includes the app icon) appears
2. SplashView(Controller) appears (probably due to `ProtectionCoordinator`) which includes the app icon too.
3. SplashViewController is hidden

The app icon in (1) and (2)'s y position is slightly different so it looks like the logo moved up abruptly. The icon should not move at all.

Need to verify the

[2020-06-08 05:48] hboon opened #1899 "Remove or replace unnecessary `default:` in `SettingsViewController`"

[2020-06-08 06:04] #1890 closed

[2020-06-09 00:13] zhangzhongnan928 opened #1900 "Some translations in wallet tab are not changing with the app language setting."
![WechatIMG1899](https://user-images.githubusercontent.com/33795543/84091916-3d81dc80-aa39-11ea-9a79-529511d57303.jpeg)
![IMG_3383](https://user-images.githubusercontent.com/33795543/84091979-6b672100-aa39-11ea-8f67-b1ee6d4f7a7e.PNG)

All, Currencies, Assets, Collectibles

You will have to kill the app, restart it to get the "All, Currencies, Assets, Collectibles" changed.

[2020-06-09 04:37] #1900 closed

[2020-06-09 05:07] hboon commented on #1665
@tomekalphawallet are the 24hrs/appreciation/value for the native crypto (eth and xDai) removed? If they are, can you help to make a version in the BC project with them? They'll want to keep it.

[2020-06-09 05:11] hboon opened #1903 "Update Wallet tab cell's layout"
Part of #1665

https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/screen/5dfaf2ce114ed41d029b3e2b

* The native crypto cells like Eth and xDai still has current fiat value, the appreciation/depreciation and fiat value appreciation
* Don't show Issuer because it's removed in #1902
* Also the Add / Hide screen

Out of scope
---
Don't add the token icon

[2020-06-09 05:19] hboon commented on #1665
- [ ] Update layout #1903 - token icon
- [ ] Add token icon

[2020-06-09 07:39] tomekalphawallet commented on #1665
![Zrzut ekranu 2020-06-09 o 08 42 58-kopia](https://user-images.githubusercontent.com/51817359/84119718-0f9a9900-aa35-11ea-9655-5afb257b387c.png)
![Zrzut ekranu 2020-06-09 o 08 42 58](https://user-images.githubusercontent.com/51817359/84119727-11645c80-aa35-11ea-9b4d-629c1ff097c2.png)

[2020-06-09 08:06] tomekalphawallet commented on #1886
We don't have to show "~483,12 USD". Too much information already. And let's reduce Available: xxxx to just 4 numbers after ","

It might be a bit complicated, but also user-friendly:
a. I enter 10 ETH
b. I want to know how much is this worth in USD
c. I tap around the arrow to switch
d. It switches to USD, but does not clear the value I entered in ETH. Instead, I now see 2500 USD

@hboon what do

[2020-06-09 08:13] hboon commented on #1886
@tomekalphawallet Ok. Let's remove it then. Thanks.

[2020-06-09 08:31] #1887 closed

[2020-06-09 13:26] vladyslav-iosdev commented on #1903
@hboon what this green text is? as i understand its the same what displayd above "24 hours", rigth? and where "appreciation/depreciation" should be placed?
<img width="198" alt="Screenshot 2020-06-09 at 16 19 39" src="https://user-images.githubusercontent.com/55975226/84152271-15ac6c00-aa6d-11ea-89b5-09f74fd477dc.png">

[2020-06-09 13:29] vladyslav-iosdev commented on #1903
@hboon do i need replace "$" sign to USD ?

[2020-06-10 05:32] #1883 closed

[2020-06-10 05:44] hboon commented on #1903
Yes, would you make the "USD" a non-localised constant somewhere if there isn't already one so we can handle it when we support other currencies in the future?

The green text "(+ 2.53%)" is the increase in fiat value of eth and "12.98 USD" is `2.53% * what_the_user_has`. The words "Ethereum Blockchain" for both ETH on mainnet and xDai chain should be replaced by the "457.34 USD" which is the `eth

[2020-06-10 06:39] #1899 closed

[2020-06-10 07:23] hboon commented on #1897
Keeping this for Sunil

[2020-06-10 07:38] zhangzhongnan928 opened #1908 "Use the gas price provided by wallet instead of DApp"
For example,
if I make an ETH transfer now, the suggested gas price in the transaction page is 30 Gwei
If I use app.ens.domains or uniswap.exchange, the suggested gas price in the transaction page is 9 Gwei, which is a fixed number not changing with the market gas price

This will cause a big UX issue for non-technical users.

[2020-06-10 08:56] vladyslav-iosdev commented on #1903
Does this right displaying?
<img width="331" alt="Screenshot 2020-06-10 at 11 52 51" src="https://user-images.githubusercontent.com/55975226/84247572-f9620b00-ab10-11ea-855a-b9cdd43c5bc7.png">
i didn't change calculation behaviour, left as it was before. only added USD currency.
i didn't undestand about replacing `Ethereum Blockchain` blockchainLabel. do i need to  remove parentheses from  `valueP

[2020-06-11 01:39] #1874 closed

[2020-06-11 05:43] vladyslav-iosdev commented on #1903
@hboon Done.

[2020-06-11 06:30] #1896 closed

[2020-06-11 06:36] hboon commented on #1869
Not a problem

[2020-06-11 06:36] #1869 closed

[2020-06-11 06:37] hboon commented on #1849
Bump.

[2020-06-11 06:39] hboon commented on #1846
Not an issue after #1862 and related

[2020-06-11 06:39] #1846 closed

[2020-06-11 06:42] hboon opened #1909 "Get rid of or replace unnecessary `default: ` in switches across the code base"
There should be some that are necessary, but we should be able to get rid of quite a number of them.

Similar to #1905

[2020-06-11 06:47] hboon opened #1910 "Get rid of unnecessary func arg in `BackupCoordinator.export(for:)`"
Verify it's not necessary first.

[2020-06-11 06:48] hboon opened #1911 "Remove "if #available(iOS 11.0, *) {" since we support >= 11"

[2020-06-11 06:56] hboon opened #1912 "Background color revealed in Wallet and Transactions tab when pulling down to refresh is wrong"
<img src="https://user-images.githubusercontent.com/56189/84354567-b036b780-abf3-11ea-9f55-0cd6b4c4970c.jpeg" width=200>

Reproducible this on iPhone X 13.3 device. But not on iPhone X 12.4 simulator and 13.3 simulator

The annotated section should be white

[2020-06-11 06:57] vladyslav-iosdev commented on #1849
@hboon i researched but find nothing according this issue

[2020-06-11 07:00] hboon commented on #1849
As in, it's probably not possible?

[2020-06-11 07:12] hboon opened #1914 "Typing/pasting an Ethereum address into the address field in send ERC20/ETH screen should also do reverse ENS lookup"
Display it in the label below the address textbox (the label that shows the address when an ENS name is entered)

Relevant:

* SendViewController
* ENSReverseLookupCoordinator

Should be careful not to have unnecessary look ups:

* Don't try when the address length is not complete

[2020-06-11 07:35] James-Sangalli opened #1915 "inform user that tx will fail by predicting execution"
FYI @JamesSmartCell

[2020-06-11 08:14] #1903 closed

[2020-06-11 09:29] vladyslav-iosdev commented on #1910
@hboon this function takes export `account: EthereumAccount` parameter that used over screens for `BackupCoordinator`

[2020-06-11 09:40] vladyslav-iosdev commented on #1911
@hboon do i need remove them only from project? there a lot of  `#available(iOS 11.0, *)` in` R.generated` file

[2020-06-11 09:48] hboon commented on #1911
@vladyslav-iosdev we only need to remove from the project.

`R.generated.swift` is autogenerated from our resource files (font, images, localisation, etc). It should never be hand edited (not just for this PR). But it's strange that it generates the check for iOS 11. But never mind that.

[2020-06-11 09:50] #1911 closed

[2020-06-11 10:13] hboon commented on #1910
@vladyslav-iosdev yes, but `export(for:)` is only called within `BackupCoordinator.start()` passing in the `account` property. So `export(or:)` just needs to access the `account` property directly instead of using the arg :)

[2020-06-11 10:13] hboon commented on #1910
i.e we keep the property, but remove the arg for the `export()` function.

[2020-06-11 10:19] #1909 closed

[2020-06-11 11:42] vladyslav-iosdev commented on #1914
@hboon Am i undastand right. when we typing address (with ens name) after ens name detected text field with address will be replaced with with ens name, and address will appear below text field? like when we paste esn directly?

[2020-06-11 11:50] hboon commented on #1914
No. We don’t change what the user types in the textfield. If they type an ENS name, the address appears in the label below. (This is the forward lookup and works now).

If they type an address, the ENS name appears in the label below. This is the reverse lookup which works in the list of wallets screen, but not in the Send screen yet.

[2020-06-12 02:14] #1886 closed

[2020-06-12 05:51] hboon opened #1920 "Display token image in Wallet tab"
https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/screen/5dfaf2ce114ed41d029b3e2b

Follow up to #1907

For now just:

* .nativeCrypto on .mainnet — the ETH icon in Zeplin
* .nativeCrypto on .xDai — the xDai icon in Zeplin
* all others. Can you try this: make the circle a clipped UIView with a certain color (any color for now) and then a label overlaid over it, show the token's `symbol`? Inter

[2020-06-12 05:51] hboon commented on #1920
@James-Sangalli this issue.

[2020-06-12 08:13] #1662 closed

[2020-06-12 10:27] vladyslav-iosdev commented on #1912
@hboon i can't reproduce this, tested on Iphone X 13.4 (don't have 13.3)
![photo_2020-06-11_13-04-17](https://user-images.githubusercontent.com/55975226/84493427-66f86d80-acb0-11ea-8ff3-f9611e323a07.jpg)

[2020-06-12 10:27] vladyslav-iosdev commented on #1910
@hboon  done.

[2020-06-12 10:42] hboon commented on #1912
The background color of the area where the activity view is in your screenshot. That’s the part I’m referring to. It should be white instead of gray. If you run it in the simulator, it looks different — it is white.

[2020-06-12 10:56] vladyslav-iosdev commented on #1912
ooo, ok, so i guess it breaks my prev task where was need to change table view background. i will remove it and left white color for table view.

[2020-06-13 11:07] #1819 closed

[2020-06-13 11:17] #1910 closed

[2020-06-13 11:32] hboon commented on #1912
It makes the previous fix unnecessary since the fix (in your PR) seems to make the table view background always white. Make sense! :)

[2020-06-14 03:35] zhangzhongnan928 commented on #1908
This issue involves many DApps, need to be solved ASAP.

[2020-06-14 09:16] hboon commented on #1665
@tomekalphawallet can you also help provide the icons for these networks like you did for Ethereum mainnet and xDai?

- [ ] ARTIS — https://artis.eco
- [ ] POA — https://www.poa.network
- [ ] Ethereum classic — https://iconscout.com/icon/ethereum-classic-logo
- [ ] callisto — https://callisto.network

[2020-06-14 11:58] tomekalphawallet commented on #1665
ETC - https://zpl.io/2p6ypo8
POA - https://zpl.io/advnD5R
Callisto - https://zpl.io/bWoKlme
Artis (not sure if this is an official ATS token symbol) - https://zpl.io/VqqmDk5

[2020-06-14 14:48] hboon commented on #1665
@tomekalphawallet looks great. Thanks!

[2020-06-15 00:15] James-Sangalli commented on #1665
@tomekalphawallet could you also provide logos for WETH, DAI, WBTC, cDAI and other compound coins plus USDC

[2020-06-15 01:52] James-Sangalli commented on #1665
@tomekalphawallet actually most well known tokens can have this, including ones like cryptokitties and ENS

[2020-06-15 04:29] #1920 closed

[2020-06-15 04:46] zhangzhongnan928 commented on #1687
Is this issue related to below? @hboon

We should use the standard confirmation page to replace the current TokenScript confirmation page.

![IMG_3451](https://user-images.githubusercontent.com/33795543/84618827-ac1dd900-af16-11ea-83c5-d9c68928377d.PNG)

![IMG_3450](https://user-images.githubusercontent.com/33795543/84618832-ade79c80-af16-11ea-83dc-42e8f17fffbb.PNG)

[2020-06-15 04:58] hboon opened #1924 "Use programmatically generated icons, with solid background logos (the ones used in Wallet tab) in send screen for tokens"

[2020-06-15 05:03] hboon commented on #1687
Yes, it is.

Ok. Will check.

[2020-06-15 05:31] zhangzhongnan928 opened #1925 "TokenScript action bug with build 3.01(337)"
For the actions in ...（the drop up menu), if you click one of them without clicking any other actions before, it won’t popup action page.

Reproduce, open a TokenScript token card(don't click any actions which are not in the drop up menu), click ..., then click any action button from the drop up menu.

[2020-06-15 07:43] tomekalphawallet commented on #1665
We have them all ready (ctokens, itokens, ptokens):
https://app.zeplin.io/styleguide/5e0b4e7149e83f987edc0a9e/components?cseid=5e0b16e4ce5cf519870b0316

More generic:
- USDC https://zpl.io/VQj0MDm
- DAI https://zpl.io/beqwzJm
- WBTC https://zpl.io/VDJ8v9W
- iDAI https://zpl.io/brB1r6W
- cDAI https://zpl.io/29QqDeB
- WETH this one is problematic, the one I found online looks like a handwritten, 3d

[2020-06-15 10:03] tomekalphawallet commented on #1665
WETH again https://zpl.io/bLz4E97

[2020-06-15 10:15] tomekalphawallet commented on #1865
is this Mixpanel?

[2020-06-15 10:29] hboon commented on #1865
Yes

[2020-06-16 07:01] #1908 closed

[2020-06-16 07:03] #1924 closed

[2020-06-16 08:25] tomekalphawallet commented on #1665
Artis again - https://zpl.io/V4mEXv4

[2020-06-16 12:11] zhangzhongnan928 opened #1928 "Allow users to set nonce in transaction advanced page"
![image](https://user-images.githubusercontent.com/33795543/84771985-a19a3700-b01d-11ea-8cd6-1f1c18d77a09.png)

Since we won’t implement “speed up” and “cancel” transaction features any time soon, we should at least provide a “manual” way to do it. Otherwise, user will stuck with the pending transaction and there is no easy way to solve it.

[2020-06-16 17:46] tomekalphawallet commented on #1859
https://www.dropbox.com/s/ltaq0ss1otx378o/2020-06-16%2019.25.41.mp4?dl=0

[2020-06-16 17:50] tomekalphawallet opened #1929 "Improve the quality of My Wallet Address icon"
It looks blurred, is this svg?
https://zpl.io/VxzK7rw

![2020-06-16 19 26 12](https://user-images.githubusercontent.com/51817359/84809694-9a1d6280-b00a-11ea-97fe-3b2926d97da3.png)

[2020-06-16 17:53] tomekalphawallet commented on #1912
Also, when the list is short and does not take the whole real estate on the screen, make a background color alabaster #fbfbfb

Uploading hot it looks at the moment (it's darker gray)
![2020-06-16 19 26 30](https://user-images.githubusercontent.com/51817359/84810012-07c98e80-b00b-11ea-8fdd-9a4252cdd440.png)

![2020-06-16 19 26 27](https://user-images.githubusercontent.com/51817359/84810006-05673480

[2020-06-16 18:00] tomekalphawallet opened #1930 "Add white background behind TS buttons"
I think it's better to keep the white background behind those buttons. And the thin gray line "mike" #dddddd color.
<img width="914" alt="Screenshot 2020-06-16 at 19 55 27" src="https://user-images.githubusercontent.com/51817359/84810429-9fc77800-b00b-11ea-8d65-c6c9ee3d44fa.png">
https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/styleguide/components?cseid=5e16105c718b267ec9694a51

It looks w

[2020-06-17 07:05] JamesSmartCell opened #1931 "Add support for .crypto (UnstoppableDomains) domain lookup"
Support New Blockchain name lookup service: https://unstoppabledomains.com/

Lookup is quite straightforward. When presented with a name ending in .crypto:

1. fetch resolver contract, call 'resolverOf(uint256 nameHash)' on contract ```0xD1E5b0FF1287aA9f9A268759062E4Ab08b9Dacbe```

```resolver = function resolverOf(uint256 nameHash) returns Address```

eg ```nameHash of 'brad.crypto' is 0x756e4e99

[2020-06-17 07:48] AW-STJ opened #1932 "Activity Main Screens: Checklist"
- [x]   1. Activity item-view and view mostly use the default ERC 20/721 TokenScript
- [x]   2. Default attribute override e.g. name, for ERC20 tokens that lack name()
- [x]   3. Default card override
- [ ]   4. Activities that happen between last time you opened wallet
- [x]   5. Manage performance when rendering <item-view> (refer A3 for comparison of 2 methods)
- [x]   6. Move transaction detai

[2020-06-17 16:02] hadwanihardik commented on #1897
Hello @AW-STJ
Can u verify if this is as per required?

**This is for notch device.**
![notch device](https://user-images.githubusercontent.com/5634693/84921111-ad4f3180-b0e1-11ea-91de-e98b79c7c53e.gif)

**This is for Older/Notch less device.**
![Notchless](https://user-images.githubusercontent.com/5634693/84921194-ca840000-b0e1-11ea-9f8a-66d6ea0c0f0c.gif)

[2020-06-17 17:40] hboon commented on #1897
@hadwanihardik launch the app again after creating a wallet to be sure.

[2020-06-18 04:06] hboon commented on #1665
@tomekalphawallet Seems like the Artis icon can't be downloaded from there

[2020-06-18 05:28] hadwanihardik commented on #1897
@hboon I checked  it in notch display after creating wallet it has issue

[2020-06-18 05:30] hadwanihardik commented on #1897
@hboon I checked  it in notch display after creating wallet it has issue.

[2020-06-18 08:39] tomekalphawallet commented on #1665
updated

[2020-06-21 05:32] zhangzhongnan928 opened #1940 "3.01（338）app frozen at starting page"
The same build is used to work until this afternoon.

![image](https://user-images.githubusercontent.com/33795543/85217433-5644a780-b3d4-11ea-9a47-2ec190f86a8a.png)

[2020-06-21 07:32] zhangzhongnan928 opened #1941 "Auto backup browser bookmarks in iCloud"
Add auto-backup browser bookmarks in the iCloud feature. When I change a new phone, I don't have to manually add all the Dapps back.

[2020-06-21 08:03] #1925 closed

[2020-06-21 09:45] zhangzhongnan928 opened #1942 "FIFA and Car Token is not showing up automatically"
If have balance, they should show up automatically

[2020-06-22 05:55] vladyslav-iosdev commented on #1912
@tomekalphawallet this Alabaster color need apply only to settings screen?

[2020-06-22 06:05] #1929 closed

[2020-06-22 06:51] James-Sangalli opened #1944 "Hide API keys"
make sure to keep the existing ones valid so that old builds will still work

[2020-06-22 09:42] #1944 closed

[2020-06-22 14:10] hadwanihardik commented on #1897
@hboon
Is this shows issue resolved.
please check video in attached link.

https://drive.google.com/file/d/1v_6lY1jqrdf9Q4_1iopPxMN1B2VwbYVm/view?usp=sharing

[2020-06-23 04:08] #1914 closed

[2020-06-23 04:12] hboon commented on #1897
@hadwanihardik can you push the code? And I can't watch the video.

[2020-06-23 04:12] hboon commented on #1897
Always push the code in a PR.

[2020-06-23 04:14] hadwanihardik commented on #1897
Ok sure

Sent from iPhone
Regards,
Hardik Hadwani
(iOS Developer)

[2020-06-23 05:04] hadwanihardik commented on #1897
Hey boon this is public link you must be able to see video
https://drive.google.com/file/d/1v_6lY1jqrdf9Q4_1iopPxMN1B2VwbYVm/view?usp=sharing

[2020-06-23 05:11] hadwanihardik commented on #1897
@hboon I created PR for the same

[2020-06-23 05:36] colourful-land opened #1959 "wallet-connect based authentication"
to get wallet-connect working for authentication (for now, but we also hope it works for transaction signing which needs a bit of design).

You can hide this feature in a menu and we will first test it and then come up with the right ux design.

experiment by trying to login through QR code on https://localcryptos.com/login

Familiar yourself with wallet-connect. You can get a wallet connect QR co

[2020-06-23 05:59] hboon opened #1946 "Replace #imageLiteral with R.image.xxx"

[2020-06-23 06:34] vladyslav-iosdev opened #1947 "Replace UITableView backgound with AlabasterColor"

[2020-06-23 07:10] hboon opened #1949 "Showing the send screen the first time for a token which has no exchange rate/price should not show the down arrow"
<img src="https://user-images.githubusercontent.com/56189/85371885-92f2d900-b563-11ea-96d2-d420a8c20643.png" width=200>

The behavior is correct (arrow not shown) when we scan an EIP681 link to switch from Ether (mainnet) to something that has no rate (eg. DAI/SAI)

[2020-06-23 07:15] hboon opened #1950 "Extract a UILabel wrapper or subclass which displays Ethereum address and/or ENS name"
There at at least a few possibilities:

* Just address (sometimes the full address, sometimes shortened to 0xabcd...abcd)
* Just ENS
* "<ENS> | <address>" (in Settings screen)
* Maybe more?

Can you replace all of them with a single class with a way to configure them?

If it makes sense, let it be able to resolve, reverse resolve ENS names too, but might not be.

[2020-06-23 07:18] hboon opened #1951 "Allow users to watch ENS names too"
Accessible via Settings > Change / Add Wallet > + > Watch Wallet

Also show the equivalent address/ENS name below the textfield in the Watch agree

Complete the resolution before allowing the user to watch an address, so we don't have to track that the user watched an ENS name; we still track the Ethereum address it maps to.

[2020-06-23 07:26] hboon commented on #1849
Good news, I asked someone who said this:

Can you help to dig further? :)

[2020-06-23 07:28] #1912 closed

[2020-06-23 07:58] #1946 closed

[2020-06-23 08:24] hboon opened #1954 "Reduce number of NumberFormatter and EtherNumberFormatter defined, if possible"
Do a sweep, especially in `CurrencyFormatter.swift` and `EtherNumberFormatter.swift`.

Generally, we want to round down to 4 decimal places for crypto balances (but for transaction amounts, we display the full value) and round down to 2 decimal places for fiat.

Can you extract the `4` decimal places to a constant? (the other project fork will want 5 instead)

Take care with refactoring because:

[2020-06-23 08:27] hboon commented on #1213
@vladyslav-iosdev Help to check if still applicable, and fix or close

[2020-06-23 08:30] hboon opened #1955 "Replace all `button.backgroundColor = ` with `setBackgroundColor(_:forState:)`"
Maybe look for "utton.backgroundColor = "

I forgot why the former doesn't work properly. @vladyslav-iosdev do you know why?

[2020-06-23 08:36] vladyslav-iosdev commented on #1849
ok, i will check it

[2020-06-23 08:43] hboon opened #1956 "Make tap token in Wallet tab push instead of present modal"
There are many of these across the app that we will want to replace ultimately or change the modal presentation style to the card-style that comes with iOS 13. We have to be careful that it still displays correctly (especially the navigation bar) and that it gets popped (vs dismissed) correctly, and that clean up is done correctly. The coordinators might have been written to assume that it is pres

[2020-06-23 09:07] vladyslav-iosdev commented on #1955
i am not sure clearly about it, but as this guy tells in this article, it just not supported for UIButton, or it depends on states button could be.
https://spin.atomicobject.com/2018/04/25/uibutton-background-color/

[2020-06-23 09:09] tomekalphawallet commented on #1912
There are a few places. Usually, the background is white. But there are few places, where we have to distinct where we have the end the list, separator etc.

<img width="452" alt="Screenshot 2020-06-23 10 58 46" src="https://user-images.githubusercontent.com/51817359/85384908-efdd9780-b541-11ea-8d0d-9d47efd95feb.png">
<img width="666" alt="Screenshot 2020-06-23 11 03 51" src="https://user-images.g

[2020-06-23 09:09] hboon commented on #1955
Ok. Would you help to fix those? I think it works sometimes, but will break unpredictably, so better to replace them.

[2020-06-23 09:16] vladyslav-iosdev commented on #1213
ok

[2020-06-23 09:25] tomekalphawallet commented on #1665
I added

**a) ptokens:**

pdai - https://zpl.io/2ENB0GY
psai - https://zpl.io/ag4M3q0
peth - https://zpl.io/2j6QJQr
pbtc - https://zpl.io/2p64JXN
peos - https://zpl.io/VKRPzgP
pusdt - https://zpl.io/VYvKE4L
pltc - https://zpl.io/a7AO00v

b) synthetix tokens

saud - https://zpl.io/VkqG6Lv
sgbp - https://zpl.io/boqDXWo
seur - https://zpl.io/aXxPvD8
sjpy - https://zpl.io/aR51pBr
schf - https://zpl.io

[2020-06-23 09:36] vladyslav-iosdev commented on #1955
@hboon PR has been sent

[2020-06-23 10:37] vladyslav-iosdev commented on #1956
@hboon i guess i am not clearly understand task requirements, **"push"** it doesn't mean to push into navigation controller, right

[2020-06-23 10:56] hboon commented on #1956
It does mean that. Change from present to push.

[2020-06-23 11:26] vladyslav-iosdev commented on #1956
@hboon, what screens do i need to handle with **modal** presentation style?
also about these **card style presentations**, do i need to add `isModalInPresentation` to prevent dissmiss by swipe down?

[2020-06-23 11:37] hboon commented on #1956
@vladyslav-iosdev to show SendViewController? Yes. You can do it together or separately.

[2020-06-23 18:03] #1955 closed

[2020-06-24 04:23] hboon opened #1958 "Add bundled token icons"
Add more bundled token icons into `AlphaWalletAddress+UI.swift`, in `tokenImage`. Watch out that the hardcoded addresses in the switch-case has to be in eip55String (i.e. the correct combination of upper/lowercase) to work correctly.

---

From Tomek at https://github.com/AlphaWallet/alpha-wallet-ios/issues/1665#issuecomment-648022585:

I added

**a) ptokens:**

pdai - https://zpl.io/2ENB0GY
psai

[2020-06-24 04:23] hboon commented on #1665
Moved to #1958

[2020-06-24 04:23] #1665 closed

[2020-06-24 06:38] James-Sangalli opened #1961 "Price per token should be ETH not the token name"
![IMG_EB6B295654F4-1](https://user-images.githubusercontent.com/16630514/85509288-103c4d80-b639-11ea-949a-638ea6424232.jpeg)

[2020-06-24 06:41] #1863 closed

[2020-06-24 06:41] James-Sangalli commented on #1307
Duplicate of #1938

[2020-06-24 06:41] #1307 closed

[2020-06-24 06:43] #1108 closed

[2020-06-24 06:44] James-Sangalli commented on #1261
Not important anymore since ERC875 is phased out and the important legacy ones have TS

[2020-06-24 06:44] #1261 closed

[2020-06-24 06:44] James-Sangalli commented on #1214
Duplicate of #1723

[2020-06-24 06:44] #1214 closed

[2020-06-24 06:45] #1035 closed

[2020-06-24 06:47] #1580 closed

[2020-06-24 06:47] #1508 closed

[2020-06-24 06:47] James-Sangalli commented on #1356
Not standard, let's drop

[2020-06-24 06:47] #1356 closed

[2020-06-24 06:49] James-Sangalli commented on #1325
Duplicate of #1355

[2020-06-24 06:49] #1325 closed

[2020-06-24 06:50] James-Sangalli commented on #1513
We use local-ref now

[2020-06-24 06:50] #1513 closed

[2020-06-24 07:23] zhangzhongnan928 commented on #1961
![IMG_3603](https://user-images.githubusercontent.com/33795543/85514379-53012400-b63f-11ea-9a62-d847fbbf3fa0.PNG)

And if the currency symbol is too long, it will cover the amount input box

[2020-06-24 08:15] vladyslav-iosdev commented on #1949
@hboon what fields in SendViewModel related for rate/price ?

[2020-06-24 08:23] hboon commented on #1949
Look for `storage.tickers` in `SendViewModel`.

[2020-06-24 08:54] vladyslav-iosdev commented on #1951
@hboon,i am not clearly undastans requirements for this task. as i undsrstand correctly AddressTextField can resolve address/ens by itself and displays it. Can you provide more details for this task, thx ;)

[2020-06-24 09:17] vladyslav-iosdev commented on #1954
@hboon Related to `CurrencyFormatter` you mean to move this
[code]
to constant and other formatters in `CurrencyFormatter` should use it as base?

[2020-06-24 09:32] vladyslav-iosdev commented on #1954
@hboon  what do i need to sweep in EtherNumberFormatter? there is only full/short formatter

[2020-06-25 05:34] hboon commented on #1951
@vladyslav-iosdev sorry, it does work already :)

[2020-06-25 05:34] #1951 closed

[2020-06-25 05:48] hboon commented on #1954
I supposed you just did and checked that there is no duplicate and unnecessary formatters in those 2 files :)

Just extract the `4` in `EtherNumberFormatter.swift` into a constant and the `2` in `CurrencyFormatter`. No need to change the formatters themselves.

There's a `CurrencyFormatter.shortFormatter` which seems to be used for tokens/crypto, can you see if that can be replaced with something

[2020-06-25 06:11] #1949 closed

[2020-06-25 06:12] hboon opened #1967 "Umbrella issue for iOS 14"
- [ ] split items into separate issues
- [ ] Checking the pasteboard, especially on startup has to be removed or replaced with using the new API to check for URLs. Otherwise launching or resuming the app always show a pop up saying it's checking the pasteboard
- [ ] Location permissions are more granular

[2020-06-25 06:17] hboon commented on #1850
Closed since it is no longer needed for the time being.

[2020-06-25 06:17] #1850 closed

[2020-06-25 06:21] hboon opened #1968 "Fix add a custom token in Add / Hide Tokens screen does not show the token in the first list"
Verify if true first.

This might happen because we disabled refreshing:

[code]

This was disabled because if the list of tokens refreshes while the user changes the position of the token or switch between show/hiding them, the changes will be lost.

[2020-06-25 06:54] vladyslav-iosdev commented on #1954
@hboon What if i create factory extension for `NumberFormatter` with formatters for usd/short eth. and then i remove `shortFormatter`, usdFormatter, instead i will use CurrencyFormatter.formatter.usd or CurrencyFormatter.formatter.short. does it make sens?

[2020-06-25 06:57] vladyslav-iosdev commented on #1954
making this we even can remove CurrencyFormatter and do formatting just create let x = NumberFormatter().usd

[2020-06-25 07:12] hboon commented on #1954
Sure. Sounds like a great improvement :) Just bear in mind that while we call it `usd`, it might have to handle other currencies formatting in the future (but we can assume it will be just a specific currency the user has chosen). But don't worry about the name itself, we can call it `use` for now. Also the performance hit for creating new instances of formatters.

Also bear in mind that we might

[2020-06-25 07:31] vladyslav-iosdev commented on #1961
@hboon, i am not shure if it will be good, but what if I update `AmountTextField.Currency` with `.cryptoCurrency(TokenObject, alternativeSymbol: String?)` case. With this we can update `var symbol: String ` to return `alternativeSymbol ?? tokenObject.symbol` and by default for AmountTextField alternativeSymbol will be nil, and in place where se need it we will provide right value?

[2020-06-25 08:08] vladyslav-iosdev commented on #1961
@hboon in this case token icon also get changed, does it ok?

[2020-06-25 08:10] hboon commented on #1961
@vladyslav-iosdev saw the reply in my PR? The icon will be for the native crypto token (ether and USD)

[2020-06-25 10:56] vladyslav-iosdev commented on #1950
@hboon I created AddressOrEnsNameLabel and applied it to AddressTextField, also i updated it with requirements from #1213 (loading indicator) (because it was isier to implement it in on PR, to prevent conflicts).  Check it, if its ok, them i will update resp places where it needed

[2020-06-25 11:36] vladyslav-iosdev commented on #1958
@hboon how could i determine which eip55String related to its icon?

[2020-06-25 11:47] hboon commented on #1958
Google + Etherscan :)

Note that some of them would have migrated (maybe more than once). Use the last address.

eg. one of the old sAUD https://etherscan.io/address/0xACa2179a884bAC7C3D0bc4131585E1B7DbDD048e

But Etherscan points to the latest near the top of that page to: https://etherscan.io/address/0xe04d8770Dc06135Dd97214ea8bcbf7B1CC057AA3

To get the eip55String, create AlphaWallet.Address(s

[2020-06-26 07:28] #1947 closed

[2020-06-26 10:19] vladyslav-iosdev commented on #1958
@hboon i can't find any information related to psai token. also in Zeplin it route to pdai icon.
also can't find peos token.

[2020-06-26 10:40] hboon commented on #1958
@vladyslav-iosdev ok. Do what you can, and can you make a list of those you can’t identify?

[2020-06-26 10:50] vladyslav-iosdev commented on #1958
didn't find any information:
- psai token
- peos token

the rest of tokens i find.

[2020-06-28 03:34] hboon commented on #1958
Seems to be testnet or not released at the moment, so let's ignore those.

[2020-06-29 07:29] vladyslav-iosdev commented on #1958
In this case  you can review this task. Other tokens added.

[2020-06-29 07:47] hboon opened #1976 "Swipe menus remove the cell in the "Change Wallet" screen even if the wallet is not deleted"
Probably because of: `UIContextualAction(style: .destructive`

- [x] Copy should not remove the cell
- [x] Delete should only remove the cell if the user confirms the deletion

[2020-06-29 07:55] #1961 closed

[2020-06-29 07:55] hboon commented on #1961
@James-Sangalli this was merged

[2020-06-30 05:17] hboon opened #1977 "Pasting an address in Import Wallet should not wait until ENS resolution is complete before enabling the watch button"
Also see if this affects other places where `AddressTextField` is used. Eg send screen.

[2020-06-30 06:26] colourful-land opened #1978 "when user is on ropstern, the ETA is taken from mainnet"
When I am on ropstern, the with the default gas it showed around 300 mins ETA.

So I clicked OK anyway thinking I can wait 5 hours.

Then it gets included in the blockchain in 1 minute.

This hint that perhaps the ETA is taken from the mainnet, not the current (ropstern)

recommend: If you don't have a reliable ETA for ropstern, make ETA go away except for the chains you have ETA.

[2020-06-30 06:27] colourful-land commented on #1978
@JamesSmartCell if you can confirm my guess is right (that ETA is only for mainnet), consider passing this issue to Chintan

[2020-06-30 07:59] vladyslav-iosdev commented on #1849
@hboon can you try with this piece of code:
[code]
i found it here:
https://github.com/kishikawakatsumi/KeychainAccess/issues/159

[2020-06-30 08:01] hboon commented on #1849
@vladyslav-iosdev thanks! Will try it out.

FYI. The painful part of this is, in order to be sure, I have wipe device, restore from iCloud back to verify the key is no longer there.

[2020-06-30 09:07] vladyslav-iosdev commented on #1959
@hboon i am not clearly understand requirements for this task, can you provide more details?

[2020-06-30 13:29] #1968 closed

[2020-06-30 13:31] hboon opened #1980 "Make tap "Change / Add Wallet" in Settings push instead of present modal"
Similar to #1956

[2020-07-01 03:19] #1950 closed

[2020-07-01 03:19] #1213 closed

[2020-07-01 03:19] #1977 closed

[2020-07-01 04:17] #1976 closed

[2020-07-01 05:39] #1958 closed

[2020-07-01 05:58] hboon commented on #1959
@vladyslav-iosdev Sorry, I didn't include enough context :)

As you know the AlphaWallet app is an Ethereum wallet app, so it manages a set of keys (~ wallets). When the user wants to sign a piece of data (often a transaction), e.g they want to send some Ether, the app pops up a confirmation box and if the user agrees to proceed, the app signs the transaction using the user's key.

The built-in br

[2020-07-01 06:34] tomekalphawallet opened #1981 "Show current market price instead of price diff in wallet tab"
Amount + Ticker ( 3.4525 ETH)
Value in USD (674 USD)----------------------- Market Price ( 226 USD) Price change in % (+2.34%)

![2020-07-01 08 22 22](https://user-images.githubusercontent.com/51817359/86210806-867b0b80-bb75-11ea-925f-158663985472.png)

[2020-07-01 06:36] hboon commented on #1981
@tomekalphawallet I don't understand. Can you help phrase it like this:

Expected
---
"abc xyz"

Observed
---
"def x.y.z USD"

[2020-07-01 06:43] hboon commented on #1981
@tomekalphawallet never mind. Got it now. Thanks

[2020-07-01 06:44] tomekalphawallet commented on #1981
<img width="1127" alt="Screenshot 2020-07-01 08 42 06" src="https://user-images.githubusercontent.com/51817359/86211649-06ee3c00-bb77-11ea-9827-3f9dc95eadea.png">

[2020-07-01 06:45] tomekalphawallet commented on #1981
In the example I created, look at ETH only as xDAI has wrong values. ;) You got it.

[2020-07-01 06:46] hboon commented on #1981
@tomekalphawallet yeah, but ETH is also bad. It 1.5 ETH could well be 226 USD :) But yeah, I get it, haha

[2020-07-01 06:47] hboon commented on #1981
The amount circled/underlined in red is currently showing the fiat equivalent amount incremented/decremented. It should show the price of 1 token (ETH/xDai) instead. i.e. no math.

[2020-07-01 06:48] colourful-land commented on #1981
@tomekalphawallet why do you expect the price of xDAI being 0 USD?
@hboon I personally think this information should disappear if the token is on the test net - in fact, I think that's the palce where the word "ropstern testnet" should appear. what do you think @tomekalphawallet

[2020-07-01 06:57] #1980 closed

[2020-07-01 07:45] tomekalphawallet commented on #1981
This is not correct. Here is the correct screen.

<img width="612" alt="Screenshot 2020-07-01 09 45 04" src="https://user-images.githubusercontent.com/51817359/86217290-8f70da80-bb7f-11ea-9fd4-d36c6018fe8c.png">

[2020-07-01 07:48] tomekalphawallet commented on #1981
Also, after speaking with Weiwu, we agreed on how to display tokens on testnet (like Ropsten).
The logic is:
- if a token is on mainnet = no change, no indication
- if a token is on testnet = indicate it by network name in the same place where we usually have market price

https://zpl.io/VKR85Z7

<img width="656" alt="Screenshot 2020-07-01 09 42 41" src="https://user-images.githubusercontent.com/5

[2020-07-01 08:07] hboon commented on #1981
- [ ] Show current market price instead of price diff in wallet tab
- [ ] Display test name, if test net

[2020-07-01 08:08] hboon commented on #1981
Do you want to move the testnet name upwards? There should be just 1 row, since "340.57 USD" shouldn't be shown; the tokens have no value.

[2020-07-01 08:10] #1956 closed

[2020-07-01 08:20] tomekalphawallet commented on #1981
Whatever is easier for you. Don't have a strong preference.

[2020-07-01 08:23] hboon commented on #1981
Ok.

[2020-07-01 08:27] hboon opened #1984 "Show testnet label in cells if testnet in Wallet tab"
Like in https://github.com/AlphaWallet/alpha-wallet-ios/issues/1981#issuecomment-652254180

Show that "ROPSTEN" label in the bottom row. We used to have something like that (and we still show it in other screens which haven't been updated yet), so remember to use the same colors because we use it for the token icons also.

Ignore this comment of mine:

[2020-07-01 08:32] #1954 closed

[2020-07-01 10:20] vladyslav-iosdev commented on #1984
@hboon am i understood right, for this task i need update only `EthTokenViewCell`?

[2020-07-01 11:39] hboon commented on #1984
@vladyslav-iosdev no, all of the cells in TokensViewController. I think there are 3 or 4 of them.

[2020-07-02 07:59] vladyslav-iosdev commented on #1959
@hboon while working on this task I encountered such a problem as I even can't install WalletConnectSwift pod, for me it breaks existed dependencies in pod file. i got next:

[code]

[2020-07-02 08:01] vladyslav-iosdev commented on #1959
i realized how to fix it :)

[2020-07-02 08:13] #1981 closed

[2020-07-02 14:25] vladyslav-iosdev commented on #1959
@hboon here in existing example to WalletConnect server/client apps i found ability to store sessions locally, do i need to add saving session to Realm db?

[2020-07-02 14:38] hboon commented on #1959
@vladyslav-iosdev is there anything on WalletConnect-side that limits how long sessions can last?

Let’s just store it in memory first and not worry about it.

[2020-07-02 14:39] vladyslav-iosdev commented on #1959
i need to investigate this question.

[2020-07-03 02:47] hboon commented on #1959
@vladyslav-iosdev lower priority than getting a first cut to work in memory though

[2020-07-03 03:27] #1984 closed

[2020-07-03 04:06] hboon opened #1987 "Make list of wallets screen's headers stick to top when scrolling"
The screen accessible with Settings > "Change / Add Wallet".

When there's along list of wallets, it's hard to tell which type it is.

I suppose we need to change it from grouped style to plain and make sure that it still looks the same as before.

[2020-07-03 04:07] hboon opened #1988 "Clean up possibly redundant code"
`textField.textColor` and `textField.font` set 2 times in `AddressTextField`

[2020-07-03 04:11] hboon opened #1989 "Make Wallet tab table resize when keyboard is shown/hidden for searching"

[2020-07-03 04:12] hboon opened #1990 "Make "Add / Hide Tokens screen" table resize when keyboard is shown/hidden for searching"

[2020-07-03 04:29] hboon opened #1991 "Make address text field and auxiliary UI components in Transfer NFT screen look like Send screen"
These steps are for the simulator:

1. Watch the wallet 0x007bEe82BDd9e866b2bd114780a47f2261C684E3
2. Look for the token 0xa3347C8ED134444C25169872c90a6360D42b3691. Add it if it was not auto detected in the wallet
3. Tap on the token in the app (you will need to make some temporary changes to the code so you can attempt to proceed as if it's not a watched wallet)
4. In the Xcode console, scroll to

[2020-07-03 04:46] hboon opened #1993 "Make Import Wallet screen's buttons and text at the bottom move up and down when keyboard is show/hidden"
4 tabs (Seed, Keystore JSON, etc)

Remember to test shorter devices. It might not fit for 5s. If it doesn't, just do a check with `ScreenChecker()` and retain the current behavior. Hopefully works for 6s?

[2020-07-03 04:57] hboon opened #1994 "Introduce a protocol with default implementation so reusable views like UITableViewCells don't need to hardcode a reusable identifier"
Add a new file `WithReusableIdentifier.swift`:

[code]

and replace something like `AddHideTokensCell.identifier` with `AddHideTokensCell.reusableIdentifier` where `UITableView`s and `UICollectionView`s are used so we end up with:

[code]

And we can remove lines like:

[code]

There might be cases where we use more than 1 identifier for a cell class within a table/collection view. I can't remembe

[2020-07-03 05:04] hboon opened #1995 "Update native crypto / ERC 20 token screens"
Do we have a refreshed design for this screen which includes how the fiat value is displayed similar to https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/screen/5ea921d764c254240f67a8b5 ?

<img src="https://user-images.githubusercontent.com/56189/86433406-45c5f280-bd2d-11ea-9e5c-b4d475ee9f72.png" width=200>

We'll need a few variations like in the wallet tab —

* native crypto where fiat valu

[2020-07-03 05:13] JamesSmartCell opened #1996 "Implement Gas Estimate node call"
This is a quick mod that will help new users. Rather than the traditional gas limit, network fee (if full gas limit used) have estimated gas and estimated network fee.

On web3j this code:

[code]

Will return a BigDecimal wei amount which is the gas estimate from the node, or an error with a string detailing that the node thinks the transaction will fail (because eg the function has an assert tha

[2020-07-03 05:17] JamesSmartCell commented on #1996
Note that the ethEstimateGas is a node RPC call:

[code]

[2020-07-03 05:46] vladyslav-iosdev commented on #1994
@hboon Ok, Greate improvement!
i also will add `UITableView` help function for dequeue cells, to reduce and make code clearer
[code]

[2020-07-03 06:01] hboon commented on #1994
@vladyslav-iosdev Ok, sounds good. Probably for UICollectionView too. We just have to be careful not to create too much magic and form our own dialects.

[2020-07-03 06:07] vladyslav-iosdev commented on #1994
Its a gonna magic ;)

[2020-07-03 07:01] tomekalphawallet commented on #1995
- native crypto where fiat value is not available

What is an example of this?

[2020-07-03 07:04] hboon commented on #1995
Like ETC and Ropsten ETH:

<img src="https://user-images.githubusercontent.com/56189/86441212-6cd8f000-bd3e-11ea-9724-3d484480fd7b.png" width=200>

[2020-07-03 07:48] tomekalphawallet commented on #1995
- **native crypto where fiat value is available**

You can tap to switch the second line.
By default we show: **Value $1359.43 USD**.
On tap we switch to **Market Price: $226.79 USD (+2.57%)**
And on you can tap once again to show **Available: 4.244 ETH**
<img width="1833" alt="Screenshot 2020-07-03 09 40 24" src="https://user-images.githubusercontent.com/51817359/86444675-67b17c00-bd11-11ea-8842-

[2020-07-03 07:57] hboon opened #2000 "Hide seed phrase word count in Import Wallet screen when the selected tab is not "Seed""
eg. notice the "12":

<img src="https://user-images.githubusercontent.com/56189/86445931-cdb7f680-bd45-11ea-8526-1d1be5c8949d.png" width=200>

[2020-07-03 07:59] hboon commented on #1995
@tomekalphawallet what if:

1. What if there is no fiat value? Do we just hide the second line?
2. How do we indicate testnets?

[2020-07-03 08:01] tomekalphawallet commented on #1995
<img width="1480" alt="Screenshot 2020-07-03 09 41 24" src="https://user-images.githubusercontent.com/51817359/86445234-4ef59600-bd12-11ea-8362-55e600351318.png">

- **native crypto where fiat value is not available**
When a fiat value is not available, we show **Available: 4.3455 ETH**
Available balance is what was left after a transaction, that was not confirmed yet. It might not be relevant wit

[2020-07-03 08:12] hboon commented on #1995
@tomekalphawallet Great. Thanks. Is there Zeplins to pick out the fonts and colors? Especially for the leftmost screen in this:

<img width="1480" alt="86445234-4ef59600-bd12-11ea-8362-55e600351318" src="https://user-images.githubusercontent.com/56189/86447392-df020280-bd47-11ea-8d92-1636e0734e8b.png">

[2020-07-03 08:26] tomekalphawallet commented on #1995
https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/styleguide/components?cseid=5efeeb8d3e258fb78e39e09b

[2020-07-03 14:03] vladyslav-iosdev commented on #1991
@hboon i am working on this task, stuked  a little bit. followed all steps, but i dont see tiket. investigation problem now.

[2020-07-03 14:06] hboon commented on #1991
Sure. It’s a good chance to familiarise with a few other parts of the app :)

[2020-07-03 15:07] hboon opened #2006 "Umbrella for things to tweak/fix/improve when we increase deployment target to iOS 12"

[2020-07-04 04:30] #1988 closed

[2020-07-04 04:35] #1987 closed

[2020-07-04 12:09] hboon opened #2007 "Update header for native crypto / ERC 20 token screens"
This is related to #1995. The part that should change is circled in red:

<img src="https://user-images.githubusercontent.com/56189/86512012-c7527900-be30-11ea-937d-8f7ef6e9ca6a.png" width=200>

https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/styleguide/components?cseid=5efeeb8d3e258fb78e39e09b

Refer to https://github.com/AlphaWallet/alpha-wallet-ios/issues/1995#issuecomment-653405327 to s

[2020-07-05 07:12] zhangzhongnan928 opened #2008 "ENS transfer issue"
![IMG_3769](https://user-images.githubusercontent.com/33795543/86527335-58812880-bee1-11ea-80fb-9d16fef6afc0.PNG)

[2020-07-05 09:40] hboon commented on #2008
@zhangzhongnan928 is this for all NFTs that you have tried? Or a particular one?

[2020-07-05 10:04] zhangzhongnan928 commented on #2008
NFT with TokenScript
Tested FIFA, art token, kitty token
Fifa and art token failed

[2020-07-05 10:07] zhangzhongnan928 commented on #1940
Frozen again build 3.04(344)

[2020-07-05 10:34] hboon commented on #2008
@James-Sangalli When I transfer 0x66F08Ca6892017A45Da6FB792a8E946FcBE3d865 on Ropsten, I get: "gas required exceeds allowance (8000029) or always failing transaction".

Any idea why? Notice that kitty is on mainnet.

[2020-07-06 01:24] zhangzhongnan928 commented on #2008
yesterday, I successfully submitted a transfer transaction for kitty, but the gas price is only at 9 gwei
https://cn.etherscan.com/tx/0x84fbddaed1b338ac4fbb905836a4e185d7a8bd79d214af6731cd99ded4bbd73f

Today, when I try to transfer another kitty, it shows error as " your token was not transferred"

I guess, the problem is from gas price. The transfer of NFTs(875, 721, 721+) uses a fixed gas price

[2020-07-06 01:34] zhangzhongnan928 opened #2009 "Gas price for NFT transfer"
Currently, AlphaWallet uses a fixed 9 gwei for all the NFT transfer action(721, 875, 721+) on any network(tested mainnet, Rinkeby)
It should use the same suggested gas price as other actions.

[2020-07-06 01:51] #1928 closed

[2020-07-06 03:39] zhangzhongnan928 opened #2010 "Change "Network Fee" in transaction confirmation page to "Estimate Network Fee""
![IMG_3791](https://user-images.githubusercontent.com/33795543/86550920-0a266500-bf87-11ea-85c7-695d57eabaa4.PNG)

[2020-07-06 06:17] #1994 closed

[2020-07-06 06:25] #2000 closed

[2020-07-07 08:43] vladyslav-iosdev commented on #2007
@hboon can you help me a little bit, can you remind me how to detect fiat value is available or not?

[2020-07-07 08:47] #2009 closed

[2020-07-07 08:49] hboon commented on #2007
The price is usually stored as "ticker" in the code base.

In `TokenViewController`, there is this line, which is related:

[code]

[2020-07-07 09:26] James-Sangalli commented on #2008
#2011

[2020-07-07 09:26] #2008 closed

[2020-07-07 10:52] vladyslav-iosdev commented on #2007
@hboon also can tell me where i can find `Earned so far:` value?

[2020-07-07 11:03] hboon commented on #2007
@vladyslav-iosdev ignore that.

[2020-07-08 03:21] #2010 closed

[2020-07-08 03:24] hboon commented on #1931
@James-Sangalli do you want to take on this?

[2020-07-08 03:27] #1991 closed

[2020-07-08 03:44] hboon opened #2018 "Moved "Verified by xxx" into navigation bar"
After #2014 is merged

The current version:

![Simulator Screen Shot - iPhone X - 2020-07-08 at 11 40 56](https://user-images.githubusercontent.com/56189/86872966-f65a3a80-c10f-11ea-97f9-1abc44a9e63b.png)

It should look like in #1991 (it can be green or red depending on whether it's verified). There's a few helper functions that help to show it.

[2020-07-09 08:18] vladyslav-iosdev commented on #1993
@hboon these seems like done #1993, #1990, #1989

[2020-07-09 08:40] hboon commented on #1689
To replace this screen as well as the screen shown when the gear button is tapped. This is for ERC20s and Native crypto (i.e. Ether and xDai)

<img src="https://user-images.githubusercontent.com/56189/87016095-d9516480-c200-11ea-9284-fb494875ec4c.PNG" width=200>

To look like this:

When confirm is tapped — and because the app is going to sign the transaction — we prompt for Face ID / Touch ID (th

[2020-07-10 06:39] tomekalphawallet commented on #2007
Also related to https://github.com/AlphaWallet/alpha-wallet-ios/issues/1754

[2020-07-10 09:21] vladyslav-iosdev commented on #1689
@hboon i updated Confirm PaymentView Controller with tableView, that now allows show/hide sections content, and ability to resize view controller. if i understood right i need devide existed content with these sections. What rows i need display in "Speed (Gas)" section?
<img width="207" alt="Screenshot 2020-07-10 at 12 00 39" src="https://user-images.githubusercontent.com/55975226/87137229-3e5e960

[2020-07-10 09:22] vladyslav-iosdev commented on #1689
not it looks like this
<img width="467" alt="Screenshot 2020-07-10 at 12 21 43" src="https://user-images.githubusercontent.com/55975226/87138986-ef663000-c2a7-11ea-90b4-2a634775a171.png">

[2020-07-10 09:51] hboon commented on #1689
@vladyslav-iosdev in Zeplin, there should be a screen where it shows how gas can now be configured with normal/faster (can’t remember the exact names) buttons.

The chevron arrow buttons should point right when the row is collapsed and point down when expanded.

[2020-07-13 02:49] hboon opened #2021 "Document why/when we estimate gas limit for #2020"
@James-Sangalli I was too trigger happy with merging #2020. It's good. But can you add a comment to the line above the call `if gasLimitNotSet {` https://github.com/AlphaWallet/alpha-wallet-ios/blob/7a02489a6d241359f702b74aa801faa2af2eb9f3/AlphaWallet/Transfer/Controllers/TransactionConfigurator.swift#L160 to mention why it's moved up, so it stays there?

[2020-07-13 03:09] #2021 closed

[2020-07-14 07:52] colourful-land commented on #1995
@hboon if we make a token card for this (so that you don't have to implement this in SWIFT - neither James Brown) for shipping with the product (as a special TokenScript file that has no "contract"), would it work for you?

If so, I'll move this issue to the Tokenscript project so work is being done there.

[2020-07-14 07:58] hboon commented on #1995
@colourful-land depends on timeline and reason for doing it. For the short term, it's actually more difficult to display a new type of token card here. Updating the UI in native code is already worked on at #2014.

[2020-07-14 09:52] colourful-land commented on #1995
{Be aware you need to do this for all compound tokens, not one}

In that case, here I return what @tomekalphawallet posted in this issue:

The issue in TokenScript Examples remains

https://github.com/AlphaWallet/TokenScript-Examples/issues/99

[2020-07-14 09:57] hboon commented on #1995
Yes, and I think we can still use the TokenScript file to define the attributes for earnings and interest rate and code the calculation and formatting (the JavaScript part) in Swift.

[2020-07-14 10:53] colourful-land opened #2023 "Create a "Finance" tab inside the Wallet Tab"
to contain all Compound tokens, and later a known list of Finance related tokens, hard coded.

PR it against the "train-leaves" branch:
https://github.com/AlphaWallet/alpha-wallet-ios/tree/train-leaves

[2020-07-14 11:01] hboon commented on #2023
Can someone prepare a list of contracts?

[2020-07-15 00:51] James-Sangalli opened #2025 "Local notifications regarding activities as defined in TS"

[2020-07-15 00:52] James-Sangalli opened #2026 "Change transaction confirmation screen popup in TS actions"
Design: https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/dashboard?seid=5f0d99dcf783828d19d2d075

This task is to simply replace the layout of the tokenscript transaction popup. No functional changes are to be added at all.

Original transaction popup in TokenScript:

![IMG_07865FFF5CBE-1](https://user-images.githubusercontent.com/16630514/87619148-db667680-c75e-11ea-9439-8a6c66fcd964.jpeg)

[2020-07-15 00:52] James-Sangalli opened #2027 "Show activities in iOS transaction screen based on what is defined in TS"

[2020-07-15 00:52] James-Sangalli opened #2028 "Change confirm button to match TS action label"

[2020-07-15 00:53] James-Sangalli opened #2029 "Finances tab in iOS to show all defi related tokens"
DeFi tokens so far supported in our wallet (via TokenScript):

1. aDAI: 0xfC1E690f61EFd961294b3e1Ce3313fBD8aa4f85d
2. cREP: 0x158079ee67fce2f58472a96584a73c7ab9ac95c1
3. cDAI: 0x5d3a536e4d6dbd6114cc1ead35777bab948e3643
4. cETH: 0x4ddc2d193948926d02f9b1fe9e1daa0718270ed5
5. cWBTC: 0xC11b1268C1A384e55C48c2391d8d480264A3A7F4
6. cUSDC: 0x39AA39c021dfbaE8faC545936693aC917d5E7563
7. cBAT: 0x6C8c6b02E7b2

[2020-07-15 00:54] James-Sangalli opened #2030 "Show transaction confirmation information (marriage proposal) after each action complete in TS"
https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/screen/5f0d9787fbff438dfee0f65d

[2020-07-15 03:14] hboon opened #2031 "Umbrella for Sprint D"

[2020-07-15 03:49] hboon commented on #2031
There's a project at https://github.com/orgs/AlphaWallet/projects/23#card-41881787 already

[2020-07-15 03:49] #2031 closed

[2020-07-15 03:50] hboon commented on #2029
@James-Sangalli Can someone prepare a list of contracts?

[2020-07-15 03:50] hboon commented on #2023
Dup of #2029

[2020-07-15 03:50] #2023 closed

[2020-07-15 03:51] hboon commented on #2026
@James-Sangalli can't do this. Too much work and risk

[2020-07-15 04:07] James-Sangalli opened #2033 "backup seed phrase screen doesn't fit in iPhone 5s"

[2020-07-15 04:10] hboon commented on #2033
@James-Sangalli would you mention which class or screenshot so we know which one it is?

[2020-07-15 04:10] hboon opened #2034 "Write test case to make sure backup seed phrase screen fits in current simulator/device"
Figure out the height and make sure it fits. This is for screens that don't scroll. Let's just start with this one first.

This is to catch errors like #2033 in the future when we change the copy.

[2020-07-15 10:04] vladyslav-iosdev commented on #2030
@James-Sangalli can you help me with places where i need to show this confirmation information screen?

[2020-07-15 13:20] vladyslav-iosdev commented on #1723
@hboon  As i undarstand right, for this task i need update QRCodeReaderViewController add there my qr button. Right? but what the next? as i undarstand right if user tap my qr button it will start Wallet Connect client's session to get URL to connect.  What else i need to do here?

[2020-07-15 13:54] hboon commented on #1723
Oh. No. This is to add a button eg like the wallet tab. Tap the button and the QR scanner appears. If we scan an EIP681 payment link, go to the send screen, prefilled (like scanning the QR code in the send screen which you worked on recently). Or scan something else and another appropriate screen appear.

If you added My QR button, that’s fine too as a separate PR (I think you pushed that). But th

[2020-07-16 03:00] James-Sangalli opened #2038 "Allow contract ref to take an attribute"
aDAI requires that the address be sourced dynamically via an attribute which is then used as a contract ref in a transaction. We must allow this.

[2020-07-16 03:06] James-Sangalli commented on #2029
@hboon see edited comment

[2020-07-16 03:59] hboon commented on #2038
Since it's necessary, can we allow this with our usual string interpolation syntax to catch the train and figure out if we should and/or how to bring this into TokenScript properly later?

[code]

[2020-07-16 04:10] hboon commented on #2026
A bit more context for Vlad's benefit. There are a few places in the app where we can post an Ethereum transaction:

A. Native crypto ERC20 Send screen — This uses the transaction confirmation screen which has a gear button to adjust gas.
B. TokenScript actions — This just shows the UIAlertController
C. In the dapp browser — This just shows an UIAlertController (I think, or something like that)
D.

[2020-07-16 04:12] hboon commented on #2029
This is to add a "tab" to the Wallet tab (`TokensViewController`), between `All` and `Currencies`.

[2020-07-16 05:21] James-Sangalli commented on #2038
FYI @colourful-land

[2020-07-16 05:22] vladyslav-iosdev commented on #2026
@hboon do i need to reuse already created `ConfirmPaymentViewController` screen, or just copy it, to `ConfirmTransactionViewController`  for example, and use new one?

[2020-07-16 05:29] hboon commented on #2026
Copy over the version of `ConfirmPaymentViewController` etc in #2022 (sorry haven't reviewed it yet) for this PR, but make them all new classes rather than amend the existing ones. Since we want to only modify B for now and not change A (which is #2022). We'll merge the PR for this in and assume #2022 is only merged after at least 2-3 weeks.

[2020-07-16 05:30] hboon commented on #2026
But ultimately (not int the scope of this PR and #2022), A-E should all use the same set of "actionsheet" code

[2020-07-16 05:37] vladyslav-iosdev commented on #2026
ok, got it.

[2020-07-16 06:28] James-Sangalli commented on #2038
@hboon @colourful-land we might be able to use the hardcoded address defined here: https://etherscan.io/address/0x24a42fD28C976A61Df5D00D0599C34c4f90748c8

I will get back about this later.

[2020-07-16 06:32] vladyslav-iosdev commented on #2026
@hboon according to this screen shot in new screen i should display only one row with amount, right?
<img width="418" alt="Screenshot 2020-07-16 at 09 10 32" src="https://user-images.githubusercontent.com/55975226/87635118-39875f80-c747-11ea-9749-a89d6bd635ea.png">

[2020-07-16 06:36] hboon commented on #2026
Yes, this is the correct UIAlertController to replace. But no, don't show the amount at all (for now). Just gas  = "Default" and the contract.

We might revisit this to add it in. But just a scoped-down version with gas and contract for this issue.

[2020-07-16 07:54] vladyslav-iosdev commented on #2029
@hboon can you please explain what do i need to do with this list of contracts?

[2020-07-16 07:59] hboon commented on #2029
@vladyslav-iosdev when this new "Finance" tab is tapped, show only tokens matching this list of contracts.

In other words, modify `FilterTokensCoordinator.filterTokens(tokens:filter)` to check for the new enum-case representing this new tab.

[2020-07-16 12:07] tomekalphawallet opened #2041 "Upload pTokens icons"
https://app.zeplin.io/styleguide/5e0b4e7149e83f987edc0a9e/components?cseid=5f0ed009ca3a099cf93e5744

![photo_2020-07-16 14 05 51](https://user-images.githubusercontent.com/51817359/87669021-82eaa580-c76d-11ea-94d8-b95a7a1eae94.jpeg)

[2020-07-17 00:31] James-Sangalli commented on #2038
Slashed as we can hardcode it without issue. Furthermore, because TokenScripts can be updated in realtime, it is easy for us to do manually.

[2020-07-17 00:31] #2038 closed

[2020-07-17 03:24] hboon commented on #2038
Great. It'll work for this demo, but..

@James-Sangalli do you mean this generally? For the train, we can't update after we ship it though, since it's shipped with the app.

Also I thought of an example where this can't be updated in realtime in the general case too: we compute the recipient address for our Express of Trust design. I don't know how common this is and if this ever makes sense in a

[2020-07-17 04:10] hboon commented on #2026
Done

[2020-07-17 04:10] #2026 closed

[2020-07-17 04:10] hboon commented on #2029
Done

[2020-07-17 04:10] #2029 closed

[2020-07-17 04:13] hboon commented on #2028
@James-Sangalli is this still needed after adapting the actionsheet design?

[2020-07-17 07:53] vladyslav-iosdev opened #2043 "Fix QRCode scanner (iPad)"
Fix qr code scanner rect layout on iPad

[2020-07-17 09:04] vladyslav-iosdev commented on #1723
Got it. Also i have a few questions:
what should happen when we tap on each action from didScanQRCode alert?
https://user-images.githubusercontent.com/51817359/75242825-19bbc300-57c9-11ea-862d-cf5e688b8aed.png
as i undastand when we tap it opens send token screen
but what should happens when we tap on watch, i need manually add it through `keystore.importWallet(type: importType)`
or show import wa

[2020-07-17 10:44] hboon commented on #1723
Oh, I forgot to link to #1738. You can refer to it :) Would you verify if the flows are correct?

[2020-07-17 10:49] vladyslav-iosdev commented on #1723
@hboon i already added ability to watch wallet and open URL, now i want to work on "select asset" flow. do i need to add it in current PR, or it will be in separate one?

[2020-07-17 10:51] vladyslav-iosdev commented on #1723
also i am not able to open this link
https://drive.google.com/a/alphawallet.com/file/d/14ge8G3pIM513myKZbDrUyjA2bvRGzFXR/view?usp=sharing

[2020-07-17 11:00] hboon commented on #1723
Up to you, if you think the entire PR including the flow wouldn't touch too many files (and thus hard to merge, especially if we don't merge it quickly) then you can build it together if you like.

Otherwise you can break it up and we can just disable the new QR scanner button first and merge the rest in (with some of the other functionality still complete, though not exposed to the user).

[2020-07-17 11:01] hboon commented on #1723
There you go: [QR_Code_Scanner.pdf](https://github.com/AlphaWallet/alpha-wallet-ios/files/4937353/QR_Code_Scanner.pdf)

[2020-07-17 11:07] vladyslav-iosdev commented on #1723
thx!

[2020-07-17 13:49] vladyslav-iosdev commented on #1723
@hboon one more question
how could i determine whether it "Add Custom Token" or token for "Scan Ethereum Address" flow? also what does it mean "add to address book", does application has this ability?

[2020-07-17 13:58] vladyslav-iosdev commented on #2043
**Before PR:**
![IMG_0064](https://user-images.githubusercontent.com/55975226/87793931-99b4f900-c84e-11ea-9a98-0b223d8d8762.jpg)
![IMG_0063](https://user-images.githubusercontent.com/55975226/87793952-9f124380-c84e-11ea-91e5-8d55a11903f7.PNG)

**After PR:**
![IMG_0066](https://user-images.githubusercontent.com/55975226/87793984-a89bab80-c84e-11ea-8a9c-3089d361e0b2.PNG)
![IMG_0065](https://user-ima

[2020-07-17 14:00] #2043 closed

[2020-07-17 14:07] hboon commented on #1723
@vladyslav-iosdev we can’t tell if the user wants to add a custom token or watch wallet etc give just an Ethereum address. Will have to ask the user with an actionsheet.

You can ignore the “address book” functionality for now across all issues/PRs. It’s not designed completely yet.

[2020-07-17 14:10] vladyslav-iosdev commented on #1723
ok, so i can replace addToAddressBook action with addCustomToken, right?

[2020-07-17 14:10] vladyslav-iosdev commented on #1723
ok, so i can replace addToAddressBook action with addCustomToken, right?

[2020-07-18 07:14] #2033 closed

[2020-07-18 07:15] James-Sangalli opened #2044 "Make backup seed phrase page smaller for iPhone 5s"
Currently it will truncate the warning message

[2020-07-20 08:13] hboon opened #2045 "Reduce SwiftLint warnings"
Might be hard to get rid of all of them. Get rid of the easy ones at least

[2020-07-20 08:14] zhangzhongnan928 opened #2046 "Built 3.05(346) ERC token transactions gas limit is default at 1000000"
it should read from the node.

[2020-07-20 08:18] hboon opened #2047 "Improve token icons loading (in Wallet tab)"
We load the token icons from a few sources. One of them is the GitHub repository through http. We still want to check against it so that if the icons from that source changes or are added, the Wallet tab will show them. It's currently cached using the built-in caching mechanism for URLSession.

But token icon loading seems to be a little slow (also check what happens when offline). Can you verify

[2020-07-20 08:19] hboon commented on #1831
The latest version of Xcode 11.x

[2020-07-20 08:21] hboon opened #2048 "Add in a check if keys for all wallets are not accessible on startup"
Probably have to iterate this a few times. Ideally something like:

1. Launch (not resume) app
2. Check keys are accessible
3. Inform user and "probably" go to the create new wallet screen

This is a bit tricky because we want to make sure the keys are really not accessible anymore (due to migration to a new device).

Related to: #1849

[2020-07-20 11:23] tomekalphawallet opened #2051 "Add Customer Support channel to Settings"
https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/screen/5dfc1f52a3e2aa1c676e66d4/

**First triggers Customer Support**
https://t.me/AlphaWalletSupport

**Second triggers AlphaWallet Group**
https://t.me/AlphaWalletGroup

![Zrzut ekranu 2020-07-20 13 14 46](https://user-images.githubusercontent.com/51817359/87932228-732fd180-ca8b-11ea-9ac6-4a6d8edc13f5.png)

[2020-07-21 03:02] #2045 closed

[2020-07-21 03:14] #2028 closed

[2020-07-21 03:21] hboon opened #2052 "Remove dapp-browser code that are commented out or otherwise disabled"
The code mentioned in https://github.com/AlphaWallet/alpha-wallet-ios/pull/2050/files#r457811797 as well as similar code for dapp-browser.

They are probably all marked with a `return;` because we had to disable those functionality quickly for a submission. Don't think it's ever coming back and we can get them from git history anyway.

[2020-07-21 06:14] colourful-land opened #2055 "finance tab and a few hard-coded tokens to be in the tab"
aETH goes to Deposits
aDAI goes to Loans

[2020-07-21 06:19] hboon commented on #2055
@colourful-land is it better to focus on `train-leaves` and not worry about master for now?

[2020-07-21 06:22] James-Sangalli opened #2056 "after marriage proposal PR, redirect the user to aETH token if the current token is ETH and the name of the action is `depositAAVE`"
Observe this file https://github.com/AlphaWallet/TokenScript-Examples/blob/train-leaves/examples/action/ETH/ETH.xml
go to line 71 and see the hardcoded name is `depositeAAVE`

-> only PR to `train-leaves`

[2020-07-21 06:26] #2052 closed

[2020-07-21 06:34] colourful-land commented on #2030
This screen shows after each tx is sent from an action card and it leads the user back to the token where the user started.

[2020-07-21 06:43] #2051 closed

[2020-07-21 07:17] hboon opened #2057 "Make localizable: "Posted Transaction Successfully""

[2020-07-21 10:53] vladyslav-iosdev commented on #2055
@James-Sangalli how can i determine whether it aERITH or aDAI, and what do i need to do with the rest of finance tab tokens?

[2020-07-21 10:54] vladyslav-iosdev commented on #2055
can you provide contracts for them?

[2020-07-21 12:08] tomekalphawallet commented on #2055
https://etherscan.io/address/0x3a3a65aab0dd2a17e3f1947ba16138cd37d08c04

![Zrzut ekranu 2020-07-21 14 06 25](https://user-images.githubusercontent.com/51817359/88053094-8dd17b80-cb5b-11ea-96c3-d49783e74eda.png)

And for Aave DAi Debt - the contract does not exist yet. We will have to write it. Correct?

[2020-07-22 04:17] hboon commented on #2055
@vladyslav-iosdev if this adds "tabs" to the Wallet tab, remember to add support to make it scroll horizontally.

[2020-07-22 05:09] vladyslav-iosdev commented on #2055
@hboon am i undastand right, i need to add https://etherscan.io/address/0x3a3a65aab0dd2a17e3f1947ba16138cd37d08c04 to Finances Token enum and display it in appropriate section, right? what about the rest of  Finances tokens?

[2020-07-22 05:13] hboon commented on #2055
No idea.

@colourful-land ?

[2020-07-22 05:29] colourful-land opened #2058 "implement debt card following HTML working demo"
Location of the TS file (in the progress of removing `select=`)
https://github.com/AlphaWallet/TokenScript-Examples/blob/debt-tokens/examples/erc20/aETH/debt-dai.xml

This is how to get working demo running.

1. from https://github.com/AlphaWallet/TokenScript-Examples get the `playground-ts-vs-html` branch
(observe there is a submodule in it, verify that `examples/AAVE/aave-protocol` is not an emp

[2020-07-22 05:39] vladyslav-iosdev commented on #2055
@hboon  i checked on iPhone 5s it fits to screen size

[2020-07-22 05:55] vladyslav-iosdev commented on #2056
@hboon i got one question, i added ` Aave Interest bearing ETH (aETH) token` through add custom token screen. When i tap on token it should be displayd in `TokenInstanceViewController` but for me it shows in `TokenViewController`, seems like i added it in wrong way. right?

[2020-07-22 06:17] hboon commented on #2056
@vladyslav-iosdev nope, it's defined as an ERC20, a fungible, so it shows `TokenViewController` instead of `TokensCardViewController` (in which if you tap 1 of the rows, opens `TokenInstanceViewController`). `TokensCardViewController` is for non-fungibles.

[2020-07-22 06:17] hboon commented on #2056
@vladyslav-iosdev look at `TokensViewController.didSelect(token:in:)`

[2020-07-22 06:29] vladyslav-iosdev commented on #2056
ok, got it so these actions i need to add manually? i thought that it will come with actions like for for non-fungible tokens
<img width="115" alt="Screenshot 2020-07-22 at 09 27 22" src="https://user-images.githubusercontent.com/55975226/88142137-a4301380-cbfd-11ea-824b-e335009c660a.png">

[2020-07-22 06:40] hboon commented on #2056
@vladyslav-iosdev Oh I see. Yes it will be automatic. I just createdPR #2060 which after it is merged into the `train-leaves` branch should show action buttons like you would expect them to. If you are working on this before that PR is merged, you can  clone the `activity` feature branch and then `git rebase train-leaves` on your feature branch once the PR is merged.

[2020-07-22 07:14] colourful-land opened #2061 "implement aETH card following HTML working demo"
Location of the TS file (weiwu is checking if it supplied the full list of attributes needed for the token card)
https://github.com/AlphaWallet/TokenScript-Examples/blob/aETH-activity/examples/erc20/aETH/aETH.xml

This is how to get working demo running (difference with #2058 is **highlighted**)

1. from https://github.com/AlphaWallet/TokenScript-Examples get the `playground-ts-vs-html` branch
(ob

[2020-07-22 07:32] vladyslav-iosdev commented on #2056
@hboon how can walk through `deposit to aave` flow? i got some eth i tap on `deposit to aave` it opens input screen, i tap confirm, and nothing happens

[2020-07-22 07:39] hboon commented on #2056
@vladyslav-iosdev could be a problem with the TokenScript file or the app itself. @James-Sangalli ?

But the code you want to add/modify is related to #2030.

[2020-07-22 07:43] vladyslav-iosdev commented on #2056
yep, i already added it, and now what to make sure that it works correctly.

[2020-07-22 07:45] vladyslav-iosdev commented on #2056
it breaks on this line
`guard count == self.count else { return }` counts don't match

[2020-07-22 10:30] vladyslav-iosdev commented on #2056
@hboon do we have this screen?

<img width="148" alt="Screenshot 2020-07-22 at 11 13 37" src="https://user-images.githubusercontent.com/55975226/88166172-88d60000-cc1f-11ea-8e6b-383d355d6695.png">

[2020-07-22 10:46] vladyslav-iosdev commented on #2056
also one question: to make sure that it is `depositeAAVE` i need to look at `action.transactionFunction.functionType.functionName` ?

[2020-07-22 11:02] hboon commented on #2056
@vladyslav-iosdev not yet. I’m working on it. You can pretend that is TokenViewController.

[2020-07-22 11:04] hboon commented on #2056
@vladyslav-iosdev no. Maybe ‘action.name’? I hope it’s a property.

[2020-07-22 12:25] vladyslav-iosdev commented on #2056
eth.xml that comes from activity branch and eth.xml from https://github.com/AlphaWallet/TokenScript-Examples/blob/train-leaves/examples/action/ETH/ETH.xml are different. activity. branch version doesn't have depositeAAVE, and even if add it manually in ETH.xml, it doesn't appear in action.

[2020-07-22 12:26] vladyslav-iosdev commented on #2056
@hboon sorry deleted  your comment by mistake

[2020-07-22 12:53] vladyslav-iosdev commented on #2056
@hboon according to logic for this task if token is eth i need to check if token is token.type == .nativeCryptocurrency and name == "ETH" ?

[2020-07-22 12:57] hboon commented on #2056
I think you can check .contract.sameContract(as: Constants.nativeCrypto) and .server == .mainnet

[2020-07-22 12:57] hboon commented on #2056
And the action name of course.

[2020-07-22 12:58] hboon commented on #2056
@vladyslav-iosdev I fhink it’s this: https://github.com/AlphaWallet/TokenScript-Examples/blob/train-leaves/examples/action/ETH/ETH.xml

[2020-07-22 12:59] hboon commented on #2056
The file is embedded in the app. There’s a eth.tsml.

[2020-07-23 07:10] vladyslav-iosdev commented on #2056
@hboon are u able to deposit eth? does it work for u?
also, am i understand right after we deposition eth, it will create a new aeth/aave token for us, and we need to open TokenViewController for this token, right?
how could i determine that this token i need has been appeared in token list?

[2020-07-23 07:13] hboon commented on #2056
@James-Sangalli ^

[2020-07-23 07:17] hboon commented on #2056
But my suggestion for this is. Since this is a special build of the app, just hardcode the aETH token (and token you need) into the list `Constants.partnerContracts` so the app should automatically add it (be sure to test it does show up).

Then when you want to display an instance of `TokenViewController` for it, use `TokensDataStore.token(forContract:) and if it's nil, programatically add it bef

[2020-07-23 07:25] tomekalphawallet commented on #2055
Ideally, we could have all these DeFi smart contracts added by default. Same way we drop AlphaWallet Welcome Pack.

[2020-07-23 07:28] vladyslav-iosdev commented on #2056
ok, thx.

[2020-07-23 07:31] hboon commented on #2055
I think what Vlad is asking is which contracts show up where. We have already added a Finance tab with a list of tokens.

I presume Vlad knows how is Deposit and Loan displayed — I thought it was going to be added to the list of "tabs" like All, Finance, etc. But Vlad says that the filter already fits without scrolling. So apparently I misunderstood, but as long as that's communicated to Vlad, tha

[2020-07-23 07:37] vladyslav-iosdev commented on #2055
updated tab with allowing to scroll, on small devices.

[2020-07-23 07:42] hboon commented on #2055
Ah great. Thanks :)

[2020-07-23 07:57] colourful-land commented on #2055
It's difficult to tell which token is DeFi smart contracts. First, we don't have token taxonomy or token classification - something @zhangzhongnan928 proposed years ago but we never had the priority to put that into TokenScript.

Second, using "contract" is not reliable for example all of the Debt Tokens (DAI Debt, ETH Debt and so on) uses the same contract because they are all managed in one line

[2020-07-23 09:08] vladyslav-iosdev commented on #2055
thx, now it's much clear.

[2020-07-23 09:33] vladyslav-iosdev commented on #2056
by `programatically add it before trying again.` what do you mean? we can add token only with address field filled?

[2020-07-23 10:01] hboon commented on #2056
Look for how `Constants.partnerContracts` is used to see how a token is programmatically added to the database. Basically do that if the token returned is nil (ie. still not in the database)

[2020-07-23 11:25] vladyslav-iosdev commented on #2056
@James-Sangalli
related to issue when i can't perform depositing to aave, first its because in function `createPromiseForSubscribeOnce`
i can't reach `seal.fulfill(Void())`, after i update it with `guard count == self.count - 1 else { return } ` for now to pass through it, it started crash at
`values.merging(tokenLevelAttributeValues.compactMapValues { $0.value.resolvedValue }) { (_, new) in new }

[2020-07-23 12:17] vladyslav-iosdev commented on #2056
@hboon or @James-Sangalli u send me aETH to 0xf3e310f7EC8301bb188DF75A451c9d7B1548AfB3 for testing?

[2020-07-23 12:36] hboon commented on #2056
@vladyslav-iosdev are you able to proceed without that? If you can, go ahead first and then create an issue pointing me to a commit or branch so I can reproduce it and fix it?

[2020-07-23 13:52] vladyslav-iosdev commented on #2056
ok, i will work on the other parts of this task

[2020-07-24 02:20] James-Sangalli commented on #2056
@vladyslav-iosdev if you deposit ETH, it will mint new aETH tokens for you. So long as the transaction is successful it will occur. A MintOnDeposit event is emitted from this transaction.

[2020-07-24 02:26] James-Sangalli commented on #2056
Sent you some, you can also create more by depositing ETH

[2020-07-24 04:42] James-Sangalli commented on #2056
@vladyslav-iosdev please pull the activity branch as this has been fixed.

[2020-07-24 06:46] vladyslav-iosdev commented on #2056
ok, got it, thanks. how could i handle this transaction event, what class do i need to check ?

[2020-07-24 06:54] vladyslav-iosdev commented on #2056
@James-Sangalli for now it seems like `enabledForBorrowing` can't be resolved.

[2020-07-24 07:36] hboon opened #2064 "Support as="e18" (and other e<N>) for <ethereum:call>"

[2020-07-24 07:41] hboon opened #2065 "Add contracts listed in Constants.Contracts.erc20ContractsSupportingActivities automatically upon startup (except the 0x0 address)"
Add to `Constants.partnerContracts`.

Might already be done in #2056.

[2020-07-24 07:42] hboon opened #2066 "Bundle debt tsml"
And add to `Constants.Contracts.erc20ContractsSupportingActivities`

[2020-07-24 07:43] hboon commented on #2065
Can only verify it's done after #2066

[2020-07-24 12:22] vladyslav-iosdev commented on #2056
@James-Sangalli can you please check #2056 PR, and let me know if it works, i am not able to test this case.

[2020-07-24 12:22] vladyslav-iosdev commented on #2055
@James-Sangalli and the same for this #2055 PR

[2020-07-25 03:02] #2055 closed

[2020-07-25 06:17] #2066 closed

[2020-07-25 06:18] #2058 closed

[2020-07-25 06:18] #2061 closed

[2020-07-25 07:12] #2065 closed

[2020-07-25 07:57] hboon opened #2070 "Speed up wallet"

[2020-07-26 03:39] James-Sangalli commented on #2056
Dropped

[2020-07-26 03:39] #2056 closed

[2020-07-26 12:39] colourful-land opened #2083 "wallet doesn't allow the nonce of 0?"
Feedback from a user:

I verified that this is a bug - 0 should be allowed. And 0 is a positive integer.

Can you try to reproduce this problem by:

1. Install a fresh AlphaWallet and generate a new address
2. Send some test-ether to the new address
3. Send it out
4. Speed up

See if you can capture the error in full and paste here.

I think this can be a hotfix release candidate. I don't know how

[2020-07-26 13:48] #2070 closed

[2020-07-27 03:37] hboon opened #2078 "Speed up app"

[2020-07-28 00:56] colourful-land opened #2079 "Lack confirmation message when a developer opened/imported a TSML file into αW"
A developer has to go to advanced settings to see if the new file is recognised and in use - if the new file has the same name as one already in use there will be no clue if the import/open is successful.

currently:

1. open a tsml file (e.g. received from Telegram) with AlphaWallet
2. AlphaWallet launches innocently as αWallet but secretly takes the file in.

expected:

1. open a tsml file (e.g.

[2020-07-28 04:30] #2030 closed

[2020-07-30 05:45] #1897 closed

[2020-07-30 06:04] #2018 closed

[2020-07-30 06:25] #2007 closed

[2020-07-30 06:27] hboon opened #2082 "Expand on #2014 and automatically cycle through the value/market price etc every 5 secs"
New PR.

[2020-07-30 08:11] hboon commented on #1860
Weiwu commented:

[2020-07-30 08:54] colourful-land commented on #1860
I should provide an example implementation on how to handle migration.

[2020-07-30 08:56] tomekalphawallet commented on #2007
I am really excited to see this live :)

[2020-07-30 09:04] hboon commented on #2007
@tomekalphawallet also a little follow up with #2082

[2020-07-31 00:14] AW-STJ commented on #2083
Moving to iOS repo as Android does not allow for nonce control in advanced settings

[2020-08-01 11:00] hboon opened #2085 "Toggling passcode on/off in Settings screen does nothing"
Probably since the UI refresh for Settings screen

[2020-08-03 08:36] hboon opened #2088 "Transactions tab displaying failed transactions on xDai chain as completed"
2 examples at https://blockscout.com/poa/xdai/address/0xbbce83173d5c1D122AE64856b4Af0D5AE07Fa362/transactions

Hashes:

* 0x957d7586dd00d94cfa829b061f001e0ccb06c3d5106fad227e7c99c2c75fb020
* 0x6736cb2742e1ea1e965715d26dfaad706f8394f3a02ecfd035c7721840a4fb47

The Blockscout output is like this:

[code]

At https://github.com/AlphaWallet/alpha-wallet-ios/blob/master/AlphaWallet/EtherClient/TrustClie

[2020-08-03 12:25] #1865 closed

[2020-08-03 22:56] zhangzhongnan928 commented on #1298
in most of the cases, Recent Transactions update first.  with continuous manually refresh, after 1-2 mins, balance will be updated.

[2020-08-03 23:16] zhangzhongnan928 commented on #1652
I saw there are several PRs related to this same issue, but it is never solved.
Lucky that we don't have anyone really using TokenScript enable tokens(besides me doing some demos), otherwise, I'm 100% sure we will receive compliant every day.
**Is there a way, at least I can manually refresh those attributes?**
**Can we confirm whether it is the issue from infura or our wallet?**
(It works sometim

[2020-08-04 04:32] hboon commented on #1298
Ok. Will fix

[2020-08-04 05:14] hboon commented on #1298
Ok. Will fix:

Edit: Spoke too soon. Hard to get this correct without a major change (which we will do). But will see how to at least improve it by refreshing faster in this screen first.

[2020-08-04 05:17] hboon commented on #1298
- [ ] A possible change so that we either batch calls (probably can't batch since transactions lists are not from the RPC nodes) or otherwise tag data we hold with their block numbers (eg. balance is X at block Y) so we can keep them in sync.
- [ ] Stop-gap: refresh faster/more selectively when in this screen.

[2020-08-04 07:11] hboon commented on #1652
@zhangzhongnan928 Let's try to narrow it down.

When you see the N/A problem, visit http://hboon.com/w.html in the dapp browser (with mainnet) in the same device and see if the balance is displayed. It uses the same Infura URL and key and displays the cZRX balance.

[2020-08-04 07:12] hboon commented on #1652
Just realised I hardcoded it to a specific wallet address. But shouldn't doesn't matter.

[2020-08-04 07:16] zhangzhongnan928 commented on #1652
![IMG_4143](https://user-images.githubusercontent.com/33795543/89264399-2ac10800-d676-11ea-8ed3-67132b3d8ed3.PNG)
![IMG_4142](https://user-images.githubusercontent.com/33795543/89264408-2eed2580-d676-11ea-9be2-e88ff19ec869.PNG)

[2020-08-04 07:18] zhangzhongnan928 commented on #1652
I have tried to break the http://hboon.com/w.html, but it always displays the balance, never shows NaN

[2020-08-04 07:27] hboon commented on #1652
At least rules out Infura. Should be a bug in the TokenScript engine. Will fix it.

[2020-08-04 07:27] zhangzhongnan928 opened #2091 "FIFA layout broke in Build 3.06 (350)"
Broken👇
![IMG_4144](https://user-images.githubusercontent.com/33795543/89265330-a66f8480-d677-11ea-867b-b4f29b875d25.PNG)

Should be 👇
![photo_2020-08-04 17 26 24](https://user-images.githubusercontent.com/33795543/89265354-b12a1980-d677-11ea-8070-a7c14dad2650.jpeg)

[2020-08-04 07:29] hboon commented on #2091
@James-Sangalli would you help to check? I noticed it while preparing the demo, so not sure if it's related (and since then I've ported some of the code into master) — but forgot to check again or file an issue.

[2020-08-04 10:30] vladyslav-iosdev commented on #2079
@James-Sangalli how could i determine what file currentry in use? i need to check if `AssetDefinitionStoreCoordinator.overrides` contains this file?

[2020-08-04 10:53] hboon commented on #2079
@vladyslav-iosdev probably look at how the console in settings displays files that override. Maybe ConsoleViewController.

[2020-08-04 10:54] #2083 closed

[2020-08-04 11:28] vladyslav-iosdev commented on #2079
@hboon am i understand right, TSML its a token script file, that i can share with aw app and can get one from https://github.com/AlphaWallet/TokenScript-Examples, right?

[2020-08-04 12:01] hboon commented on #2079
@vladyslav-iosdev yes. It’s these files that define what the action buttons do (the one that are alongside the send/receive buttons).

[2020-08-04 12:56] vladyslav-iosdev commented on #1831
@hboon i sent PR with updates to AlphaWallet/Macaw but not sure if i did it right.

[2020-08-04 13:57] vladyslav-iosdev commented on #1831
Because `exyte/Macaw` contains +82 commits i dont know how to squash them into single commit, (because of conflicts)

[2020-08-04 23:48] #2085 closed

[2020-08-05 07:55] hboon opened #2095 "Add repo as icon source for testnet"
https://github.com/alphawallet/iconassets

[2020-08-10 11:58] vladyslav-iosdev commented on #1831
@James-Sangalli when you will have time please provide more detailed information, what need to do for this issue. For now not  clear.

[2020-08-10 12:14] vladyslav-iosdev commented on #2048
@James-Sangalli
Correct me if i mistake, for this task i need to to check wallets private key/ seed phrase accessibility while application is launching, right?
     i need to check accessibility with prefix `Keys.ethereumSeedUserPresenceRequiredPrefix` or `Keys.ethereumSeedUserPresenceNotRequiredPrefix` too? and how to test this issue?

[2020-08-10 14:11] vladyslav-iosdev commented on #2047
@hboon what you mean by this `from that source changes or are added`? its not clear. i checked offline mode, it worked for me. open app-> close it-> disable internet-> open app again-> Images are displaying.

[2020-08-11 02:23] #2034 closed

[2020-08-11 07:12] hboon commented on #2047
Meaning of:

One of the sources is the GItHub repo. That repo might be updated, a token might change or a new one was added.

Launch the app and scroll through the wallet tab. If the icons appear rather quickly, then we might not need to change anything. I hope we don't have to change anything. It's quite simple now :)

[2020-08-11 07:19] hboon commented on #2048
@vladyslav-iosdev the best way (and most important) test for this is:

1. Launch app, create wallet(s)
2. Run iCloud backup
3. Wipe phone or with a new phone
4. Restore phone from iCloud
5. Run app

Expected
---
6. Show the app like it's a new install (or tell user they keys are not restored)

Observed
---
6. The app looks like it still has the wallets and keys, but it doesn't.

Unless you have a

[2020-08-11 07:24] hboon commented on #2048
I might have been wrong about how to solve this.

So the problem we want to solve is described in the test above ^

The list of wallets is stored in UserDefaults with the keys `Keys.ethereumAddressesWithPrivateKeys` and `Keys.ethereumAddressesWithSeed`. So the problem is this is synced to iCloud. What if we wrote this 2 values to a file in the documents directory and don't back up the file to iClo

[2020-08-11 07:29] hboon commented on #1831
@vladyslav-iosdev We currently only support building the repo with Xcode 11.3. We would like it to be with `11.4` (actually let's do `11.6` instead of `11.4`). What's the minimum change that we can do to support this?

We have a fork of Macaw at https://github.com/AlphaWallet/Macaw/tree/alphawallet (the alphawallet branch). Is the soltion as simple as this? :

1. Add a single commit to our Macaw f

[2020-08-11 13:46] vladyslav-iosdev commented on #2048
so while backup to icloud user defaults also move there. ok, got it, i will check it and  try to resolve it.

[2020-08-11 13:47] vladyslav-iosdev commented on #2048
i got one, will try to reproduce it

[2020-08-11 13:52] vladyslav-iosdev commented on #2048
@hboon do we want to replace `UserDefaults` with storing data in file?

[2020-08-11 13:58] hboon commented on #2048
@vladyslav-iosdev I’m thinking just for these 2-3 values (list of wallets). Let’s think about this a bit. This piece of data is critical because if it’s broken, the user loses access to their wallets.

[2020-08-11 14:02] vladyslav-iosdev commented on #2048
@hboon am i understand right, wallets can be accessible only on one device,  and can't be becked up to another one?

[2020-08-11 14:16] hboon commented on #2048
Yes. We don’t want them to be backed up

[2020-08-11 14:26] hboon commented on #2048
So the problem is caused by:

1. Keys are stored and not backed up (good)
2. The list of wallets is in UserDefaults and appears to be backed up and restored

I thought the solution was to check that (1) is not available (in a new device), but maybe the better and much easier solution is (2)?

[2020-08-12 05:10] vladyslav-iosdev commented on #2048
ok, now its much clear

[2020-08-12 05:13] hboon commented on #2048
And maybe the better way to store the list of wallets (2), currently in UserDefaults, should just be to store it in the keychain and flagged as not to backup. Seems safer than as a file?

[2020-08-12 05:21] vladyslav-iosdev commented on #2048
seems like it will work, so it this case seems like this one will not need, right?
[code]

[2020-08-12 05:23] hboon commented on #2048
Why not? That mainly checks for whether the Realm database is protected

[2020-08-12 05:28] vladyslav-iosdev commented on #2048
oh, ok, i got it

[2020-08-13 00:08] #2082 closed

[2020-08-13 04:40] James-Sangalli commented on #2091
caused by this.props._count being undefined but this is for the demo build not master (master is working)

[2020-08-13 04:40] #1940 closed

[2020-08-13 04:44] James-Sangalli commented on #1801
@hboon closing this, if it gets too out of hand we can always drop support for it but it is working with geth attach right now

[2020-08-13 04:44] #1801 closed

[2020-08-13 04:46] #1354 closed

[2020-08-13 04:46] #1355 closed

[2020-08-13 04:46] #1579 closed

[2020-08-13 05:00] James-Sangalli commented on #1996
Already do this.

[2020-08-13 05:00] #1996 closed

[2020-08-13 05:03] James-Sangalli commented on #2057
no longer used: https://github.com/AlphaWallet/alpha-wallet-ios/pull/2035

[2020-08-14 05:11] zhangzhongnan928 opened #2098 "Allow 0 amount TX in TX Advance Setting page"
Allow 0 amount TX in TX Advance Setting page. Then advanced user can call contract with manually input the TX date.

[2020-08-14 05:20] zhangzhongnan928 opened #2099 "Can not submit TX due to high gas price"
![image](https://user-images.githubusercontent.com/33795543/90216363-a3c41a80-de41-11ea-8f24-d1fd990e5e0e.png)

[2020-08-14 05:50] James-Sangalli opened #2101 "Refactor transaction handling code"

[2020-08-14 10:52] #2046 closed

[2020-08-14 12:52] tomekalphawallet opened #2103 "Add custom linking to Uniswap to tokens"
So for all major ER20 tokens + Ether we are adding custom links, that will allow users to access Uniswap quickly. Remember that with custom linking you can have already preselected coin. So when you are starting with USDC, it should be already preselected in Uniswap.

https://uniswap.org/docs/v1/frontend-integration/custom-linking/

Ethereum:
https://app.uniswap.org/#/swap?use=v1&create-exchange?t

[2020-08-17 06:07] #2098 closed

[2020-08-18 03:33] zhangzhongnan928 commented on #1652
@hboon any updates on this bug?

[2020-08-18 04:11] hboon commented on #1652
@zhangzhongnan928 not yet, after I get a part of Activities (but disabled) in first because this affects a lot of code. The order is like this:

1. Get a part of Activities. But still disabled. — almost there
2. Look into this bug — can't fix this immediately because it affects a lot of the code that Activities touches
3. Resume Activities

[2020-08-19 02:29] James-Sangalli opened #2108 "keystore failing on transactions Testflight 3.06 (351)"

[2020-08-19 06:56] hboon opened #2110 "Tap on cell containing "Add / Hide Tokens" in Wallet tab shouldn't select the 0th token"
This is because the didSelect function doesn't check for the section number.

[2020-08-19 07:00] hboon commented on #2110
Maybe it should also just perform "Add / Hide Tokens"? Bigger touch area is good.

[2020-08-19 14:00] vladyslav-iosdev commented on #2103
@hboon can u please provide more details for this task?

[2020-08-19 14:18] colourfreak opened #2112 "Improve search results and add Top 20 Most Popular tokens"
**Problem:**
During user tests, I discover that users have problems understanding how the wallet works. They think if something is not listed in the wallet tab - it is not available. And even if they try to look for a specific coin in the Add/Hide Tokens - if they can't search or find tokens they want to transfer to the wallet - they assume these tokens are not available for this wallet.

One user

[2020-08-20 00:44] AW-STJ commented on #2112
Hey @hboon: How much time do you think this work will cost us?

Not a priority at the moment, as I am considering the feasibility of testing a beta version of the flow on Android before confirming the final flows and then implementing on iOS.

This is to help iOS to focus on Bartercard and Activity implementations for now.

[2020-08-20 02:59] #2110 closed

[2020-08-20 03:14] hboon commented on #2112
@AW-STJ Can we scope it down and just do:

Excluding (1) and (3) means less work to go live, but I also thought that it wouldn't work as well. It's going to be a long list, users wouldn't see it anyway. But we can start with (2) and if works, think a bit more about this?

Process-related, this is a good hint that it shouldn't be written into the same issue: "Not related but can be updated along wi

[2020-08-20 03:15] hboon commented on #2112
@AW-STJ we can let Vlad have a go at it. Just keep BC at higher priority and he can sort it out.

[2020-08-20 03:58] hboon commented on #2103
@vladyslav-iosdev I have no idea too :)

@tomekalphawallet more context?

[2020-08-20 05:14] hboon commented on #2112
Unassigned Vlad for now. Re-assign once it's decided.

[2020-08-20 06:58] vladyslav-iosdev commented on #1993
@hboon when u will have time could u please check #2048, #1993, #1990, #1989, #2079, 1849, #2048 if we can close them? and after that i will do rebase?

[2020-08-20 08:08] tomekalphawallet commented on #1689
Send ETH A3 flow updated:
https://drive.google.com/file/d/10qK-VysWYLgux0iXccOihuSIk4euNDyA/view?usp=sharing

Zeplin:
https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/dashboard?seid=5e2ac0cdc4fc3356a32e1542

Comments:
1. Make sure that we have a back button instead of Cancel (and the transaction goes from left to right = not sliding from the bottom)
We need All Funds button where you can cle

[2020-08-20 09:19] tomekalphawallet commented on #2103
Explainer video
https://www.dropbox.com/s/wz9nbvcqbcturyy/uniswap-linking-explained.mp4?dl=0
@vladyslav-iosdev

[2020-08-20 10:16] hboon commented on #2103
So to sum it up:

Add a TokenScript action for a subset of ERC20 tokens, when launched, it opens Uniswap with the current token.

Longer:

* Add a TokenScript action for a subset of ERC20 tokens. This action is called "Exchange with Uniswap".
* When the action is launched, pop the navigation stack and switch to the browser tab, loading the URL as described by https://uniswap.org/docs/v1/frontend-i

[2020-08-20 11:09] vladyslav-iosdev commented on #2103
ok, thx, now its clear.

[2020-08-20 12:03] hboon commented on #2103
@vladyslav-iosdev I volunteered you to figure out the list of tokens :)

Would you help to post back to https://github.com/AlphaWallet/alpha-wallet-android/issues/1564#issuecomment-677603725 when you have it?

[2020-08-20 12:18] vladyslav-iosdev commented on #2103
sorry i distracted to another task, and totally missed this one. Thx a lot for explanation.

[2020-08-21 02:48] hboon commented on #1993
@vladyslav-iosdev on it.

[2020-08-21 03:10] #1849 closed

[2020-08-21 07:25] #2079 closed

[2020-08-21 07:57] hboon opened #2113 "Make Add/Hide Tokens easier to tap"
Can we make the hit test area bigger or just make it a table view cell and use `tableView(_:didSelectowAt:)`?

[2020-08-25 07:45] vladyslav-iosdev commented on #2113
@hboon https://github.com/AlphaWallet/alpha-wallet-ios/issues/2110 should close this issue. if i understand task correctly.

[2020-08-25 07:54] hboon commented on #2113
@vladyslav-iosdev it's hard to tap on it, probably because the label is quite short?

[2020-08-25 07:59] vladyslav-iosdev commented on #2113
ok, i will check it one more time

[2020-08-26 06:28] vladyslav-iosdev commented on #1689
@hboon can u please check #2105? there was a lot of work to be done. i would like to know if i did it right.

[2020-08-27 05:37] hboon opened #2117 "Cache TokenScript signature verification results again"
Just have a static dictionary in `TokenScriptSignatureVerifier.swift`.

[code]

And add/check to the cache in `verify(xml: String) -> Promise<TokenScriptSignatureVerificationType>`.

Probably not write it to disk for now. Must be careful not to cache a failure due to web API being down or otherwise inaccessible (like device not having connectivity)

[2020-08-27 07:48] vladyslav-iosdev commented on #1723
@hboon this one seems like is ready for review.

[2020-08-28 06:14] vladyslav-iosdev opened #2118 "iPhone 5s, ButtonsBar, adjust button width"
<img width="432" alt="Screenshot 2020-08-28 at 09 21 49" src="https://user-images.githubusercontent.com/55975226/91528217-eee52f80-e90f-11ea-8c9c-a7b77ba9202b.png">

[2020-08-28 06:35] hboon commented on #2118
Maybe make the font smaller too on smaller devices if it isn't already.

[2020-08-28 06:40] vladyslav-iosdev commented on #2118
yep, i am currently working on it

[2020-08-28 07:06] #2103 closed

[2020-08-28 07:20] #2118 closed

[2020-08-28 11:49] zhangzhongnan928 commented on #1652
Still has the same issue in build 3.06(352)

[2020-08-29 09:31] hboon commented on #1652
@zhangzhongnan928 does it get stuck with NaN like it used to after it's triggered? Or is it something different, eg. 1 off problem, try again and it might work (or it might not)?

[2020-08-29 10:05] zhangzhongnan928 commented on #1652
It works with first few actions, then start showing nan for following actions(including the ones work before). Then after I typed above words in GitHub, go back to app. It works with first few actions, then ......... repeat this behaviour.

[2020-08-30 03:21] JamesSmartCell opened #2120 "Implement EIP712 phase 1"
Implement legacy EIP712 which luckily is very simple (compared to current spec EIP712).

First you need to fix the bug in the AlphaWallet JS init code:

[code]

Here's a sample EIP712 legacy data bundle:

[code]

This can go into a struct for easy instantiation from JSON:
[code]

The EIP712 bytes you need for the signing algorithm is formed like this:

Part 1, type hash:
```keccak256('string Messa

[2020-09-01 10:26] #1652 closed

[2020-09-02 14:34] zhangzhongnan928 opened #2124 "Add Binance Smart Chain network"
https://docs.binance.org/smart-chain/wallet/metamask.html
https://bscscan.com/

[2020-09-03 05:57] zhangzhongnan928 commented on #2099
may need to increase more, the current average gas price is 500

[2020-09-03 06:03] hboon commented on #2099
500 is supported to be a Geth limit, if we set the default as > 500, have to check if it works.

[2020-09-03 06:03] zhangzhongnan928 opened #2125 "Need to remove the gas price limit or increase it to 1000"

[2020-09-03 06:17] James-Sangalli commented on #2108
Was because the team change meant that the keychain is inaccessible. Solved by reverting back to the original app owner

[2020-09-03 06:17] #2108 closed

[2020-09-03 12:47] hboon commented on #2047
@vladyslav-iosdev can close this if there isn’t anything obviously slow/wrong

[2020-09-03 12:51] hboon commented on #1861
Fixed with #2111

[2020-09-03 12:51] #1861 closed

[2020-09-04 01:35] JamesSmartCell opened #2126 "Use Ethereum price oracle"
You can now use the Ethereum price oracle as detailed here:

# TickerContract
Server which updates a Rinkeby contract with the current chain price pairs

Runs on a remote server, updated every 5 minutes.

Contract is at this address:

```0xf155a7eb4a2993c8cf08a76bca137ee9ac0a01d8```

Call 'getTickers()' Contract function at the above address, you will receive a uint256 array like this:
[code]

How

[2020-09-05 12:49] James-Sangalli commented on #2126
@JamesSmartCell is this a price pair for ETH:USD? If so, it is unnecessary to create our own because MakerDAO has an oracle for this already with ETH:DAI... https://etherscan.io/address/0x729D19f657BD0614b4985Cf1D82531c67569197B#readContract

Better to let them do the upkeep then ourselves :)

[2020-09-07 01:59] JamesSmartCell commented on #2126
@James-Sangalli This oracle contains ETH-USD but also has the following price pairs in a single call:

ETH->USD
ETC->USD
POA->USD
XDAI->USD
BNB->USD (Binance Chain)
ARTIS->USD

The MakerDao call only gives a single price pair, therefore it's not very useful to us.

I don't believe there's a single oracle that can give us all these price pairs in a single call without consuming API restrictions. Or

[2020-09-07 02:25] #2125 closed

[2020-09-07 02:41] hboon opened #2129 "Tap on MagicLink seems to be broken"
https://xdai.aw.app/AQAPQkBfVu5OI_4UJ-9c0DLSYz0bK943TSZJ7UUTu1wYg1KZ_XEeQM4OwJqtOeFVgzRJwMZ6-3bVGKGQUz06ch0Q5x8q_GyPWmZ83J9pcsVzH2KBPZIIgeRz6ggtyBw=

Keeping this link in pasteboard and launching app seems to work

- [ ] Would you help verify that the website display "1 Ethereum.Network and AlphaWallet(null) Tokens" is correct? (the "null")

[2020-09-07 03:44] #2124 closed

[2020-09-07 04:37] JamesSmartCell commented on #2126
Which price oracle do you use in iOS? Do you know what the API frequency restriction is? We hit it regularly in Android; the algorithm I use now is:

. read from our price oracle.
. check if the write date is within 10 mintes of now.
. if it is, use these, if not then fall back to the old combo of BlockScout + Amberdata + CoinmarketCap + EUR->USD/Artis.

[2020-09-08 03:01] AW-STJ opened #2130 "Incorrect Balance for some iOS users for some tokens"
A user reported the issue where the STAKE balance was shown in Trillions, rather than the actual balance which was 2.6624:

![image](https://user-images.githubusercontent.com/61957841/92427865-f8547e80-f1d0-11ea-9474-a8e7265f10d9.png)

![image](https://user-images.githubusercontent.com/61957841/92427889-03a7aa00-f1d1-11ea-8e28-c2207fa25f7f.png)

Please let me know if you need any further informati

[2020-09-08 03:54] hboon commented on #2130
Contract: 0x0Ae055097C6d159879521C384F1D2123D1f195e6

[2020-09-08 03:55] hboon commented on #2130
Still a bug since it happened. Decimals (18) seems to be picked up correct since transactions are displayed properly. Also verified that decimals = 18 when I watch the wallet and look at the token in Realm.

[2020-09-08 06:50] #1990 closed

[2020-09-08 12:43] zhangzhongnan928 opened #2131 "Should limit the highest gas limit as the current block gas limit instead of limit the highest gas fee."
![image](https://user-images.githubusercontent.com/33795543/92477893-b523fb00-f224-11ea-9574-724fe5dc0538.png)
![IMG_D69FD390A876-1](https://user-images.githubusercontent.com/33795543/92546175-48951480-f295-11ea-9667-c0b5b1b5c05a.jpeg)

- [ ] Set the max gas limit as 12,500,000
- [ ] Remove the limit of the highest gas fee

[2020-09-10 07:58] vladyslav-iosdev commented on #2044
@James-Sangalli  Seems like this issues fixed in some prev PR.
<img width="432" alt="Screenshot 2020-09-10 at 10 57 33" src="https://user-images.githubusercontent.com/55975226/92697893-768d5e00-f354-11ea-91cc-71bf5467f894.png">

[2020-09-10 08:30] tomekalphawallet commented on #2113
![Uploading 2020-09-10 09.22.32.png…]()

[2020-09-10 09:01] #2047 closed

[2020-09-10 09:08] vladyslav-iosdev commented on #1868
@hboon can u tell me what ViewController it is, because for now its not clear what i need to check?

[2020-09-10 09:09] vladyslav-iosdev commented on #1868
meybe u mean this one?
<img width="432" alt="Screenshot 2020-09-10 at 12 08 30" src="https://user-images.githubusercontent.com/55975226/92707986-6d08f380-f35e-11ea-85e2-93c166ed52e0.png">

[2020-09-10 09:25] #1989 closed

[2020-09-10 09:33] #2113 closed

[2020-09-10 09:34] hboon commented on #1868
I probably mean `TokensCardViewController`.

[2020-09-10 14:43] vladyslav-iosdev commented on #1826
@hboon My QR button always should present in QR code scanner screen, or not? (for example if we do scan qr code from send screen, do we need show this button)?

[2020-09-11 03:42] hboon commented on #1826
@vladyslav-iosdev yes, always show it.

[2020-09-11 15:23] BitLox opened #2135 "No such module 'BigInt'"
Cloned and attempted to compile.

Pops an error
`No such module 'BigInt'`
for the Swift compiler in Xcode

Xcode Version 11.7 (11E801a)
macOS 10.15.6

[2020-09-11 16:27] hboon commented on #2135
@BitLox thanks. Will check.

For the time being, try Xcode 11.3. We use that internally.

[2020-09-14 07:51] vladyslav-iosdev commented on #2041
@hboon all ptokens has been added except p-sai, p-eos, i couldn't find contracts for them.

[2020-09-14 08:09] hboon opened #2137 "Hangs at launch screen for 1 hour without crashing"
v3.06 from App store

From Tomek.

[2020-09-14 08:12] #2041 closed

[2020-09-15 04:45] hboon commented on #2135
Related to #1831

[2020-09-15 04:46] hboon commented on #1831
@vladyslav-iosdev can you try to make it build with Xcode 11.7 instead?

Refer to #2135 too

[2020-09-15 05:33] #1930 closed

[2020-09-15 08:05] hboon commented on #2126
Closing for now. Will implement when it's an issue.

[2020-09-15 08:05] #2126 closed

[2020-09-15 08:06] hboon commented on #2099
Bump. @James-Sangalli

[2020-09-15 08:07] hboon commented on #2091
@James-Sangalli might be present in the Activity branch

[2020-09-15 08:07] hboon commented on #2044
Close since it's no longer an issue

[2020-09-15 08:07] #2044 closed

[2020-09-15 08:10] hboon commented on #1942
@zhangzhongnan928 0xA66A3F08068174e8F005112A8b2c7A507a822335 for FIFA? What is the contract and chain for Car Token?

[2020-09-15 08:11] hboon commented on #2137
It didn't crash, so I wonder if there's a certain condition where the lock screen isn't hidden correctly?

[2020-09-15 08:12] hboon commented on #1831
Also relevant: #1872

[2020-09-15 08:13] hboon commented on #1859
We seem to have lost the large title in Wallet tab completely (at launch)

[2020-09-15 08:57] vladyslav-iosdev commented on #1831
@hboon seems like done.

[2020-09-15 12:15] #1859 closed

[2020-09-16 01:00] zhangzhongnan928 commented on #1942
YES

What is the contract and chain for Car Token?
0x75cB2Cc380d1387a79eE64b1b7C9Fa051139a319
on Rinkeby

[2020-09-16 01:02] zhangzhongnan928 commented on #2091
YES
This is in build 3.07(354)
![IMG_FEB1FFB349C0-1](https://user-images.githubusercontent.com/33795543/93280043-0f682180-f80c-11ea-9909-b03de0c3f995.jpeg)

[2020-09-16 02:45] #1723 closed

[2020-09-16 02:46] hboon commented on #1738
Closed with #2037

[2020-09-16 02:46] #1738 closed

[2020-09-16 02:46] hboon commented on #1826
Closed with #2037

[2020-09-16 02:46] #1826 closed

[2020-09-16 03:11] hboon commented on #1868
Closed by #2132

[2020-09-16 03:11] #1868 closed

[2020-09-16 03:24] hboon opened #2140 "one same activity appears 3 times in a row"
same activitie appears 3 times on test-flight edition, according to Victor.

<img width=200 src="https://user-images.githubusercontent.com/56189/93288435-64a53280-f80e-11ea-8b4a-77f335012658.jpg">
<img width=200 src="https://user-images.githubusercontent.com/56189/93288437-65d65f80-f80e-11ea-8c54-3cd72f424351.jpg">

[2020-09-16 06:03] James-Sangalli commented on #2140
@colourful-land good opportunity to try out the activity TokenScripts, let me know if you are up for it (have assigned you).

[2020-09-16 06:15] hboon commented on #2091
@James-Sangalli would you be able to help take a look?

[2020-09-16 06:18] hboon opened #2143 "Make project build with Xcode 12"
Follow up to #2142

Should also fix #2135, which will work for 11.7, but still doesn't with Xcode 12

[2020-09-17 02:27] #1831 closed

[2020-09-17 02:27] #1872 closed

[2020-09-17 02:27] #2135 closed

[2020-09-17 02:28] #1942 closed

[2020-09-17 05:18] hboon commented on #2131
@James-Sangalli bump

[2020-09-17 08:50] colourful-land commented on #2140
The problem is not observed on the AppStore release 3.06 - called up Victor who said that the issue is on test-flight. Have to re-test again (I hope there is version info in the description).

[2020-09-17 09:13] colourful-land commented on #2140
Can't reproduce the problem using your Ethereum address @zhangzhongnan928

Never saw multiple-same-activity together after many scrolls. Closing this unless you can provide a screenshot with date so we can scrool to the same spot and compare.

![unnamed](https://user-images.githubusercontent.com/548435/93450794-bab2cc80-f919-11ea-8819-798e95adbb31.jpg)

[2020-09-17 09:32] colourful-land commented on #2140
Victor provided this:
![record](https://user-images.githubusercontent.com/548435/93452957-63fac200-f91c-11ea-8b81-826add83f2a5.gif)

[2020-09-17 09:48] James-Sangalli opened #2151 "White space in wallet tab when reopening the app"
To reproduce, open the app and then close it. Open it again and it will appear like this.

![photo_2020-09-17_19-47-32](https://user-images.githubusercontent.com/16630514/93454685-a6bd9980-f91e-11ea-8199-533c46f8fd0a.jpg)

[2020-09-18 02:56] hboon commented on #2151
@James-Sangalli I can't reproduce this. Can you specify the build/commit, device and iOS version?

Are these the steps to reproduce?

1. Tap on app to launch
2. Swipe to go to homescreen
3. Tap on app to resume

[2020-09-22 09:34] JamesSmartCell commented on #2120
Let me know when you're ready for full EIP712. This should be done ASAP as it will only take one important website to start using this then we are incompatible.

[2020-09-25 09:51] colourfreak opened #2157 "Update empty state image for Activity tab"
Zeplin:
https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/screen/5f6dbc43a7969f8574a7f7b9/

<img width="924" alt="Screenshot 2020-09-25 at 11 51 13" src="https://user-images.githubusercontent.com/51817359/94253310-6add9200-ff25-11ea-893f-b8dba2613745.png">

[2020-09-27 05:32] James-Sangalli commented on #2151
Disappeared in latest TestFlight build...

[2020-09-27 05:32] #2151 closed

[2020-09-28 13:59] zhangzhongnan928 opened #2159 "please add for.tube tokens into AlplaWallet"
https://github.com/AlphaWallet/alpha-wallet-android/issues/1620

- [ ] Please make wallet auto recognise  fTokens:

[code]

the decimal of every fToken is `18`

thank you so much !

[2020-09-29 03:19] hboon commented on #2140
@zhangzhongnan928 can you share the wallet address and the TokenScript file you used?

[2020-09-29 04:04] hboon opened #2160 "Confirm need for manually leaving out certain events"
https://github.com/AlphaWallet/alpha-wallet-ios/blob/0491f4b14b76ca40345bdd51b025109baa9aa73c/AlphaWallet/Activities/Coordinators/ActivitiesCoordinator.swift#L220

We encountered the need for this while working on the demo in the `train-leaves` branch.

Can you verify if this is still needed and whether we need to a way to specify it in TokenScript?

[2020-09-29 05:44] hboon opened #2163 "Indicate blockchain name or subnet/mainnet for Activities tab?"
The Transactions tab used to show the blockchain's name but the Activity tab doesn't for the standard ERC20 and ERC721 activities. Should we have some kind of indication so we at least know which is mainnet/testnets?

Transactions (before)|Activity
-|-
<img width=200 src="https://user-images.githubusercontent.com/56189/94517000-a5169e80-0259-11eb-8396-086dd34418fe.png">| <img width=200 src="https:

[2020-09-29 05:48] hboon commented on #2027
Done in #2109 and subsequent PRs.

[2020-09-29 05:48] #2027 closed

[2020-09-29 06:15] James-Sangalli commented on #2140
@zhangzhongnan928 can you provide the tx hash? it is possible that multiple similar events are logged in the transaction itself

[2020-09-30 04:30] James-Sangalli opened #2164 "can't cancel out of "Scan QR code" screen"

[2020-09-30 04:33] hboon commented on #2164
@James-Sangalli How do you access the Scan QR code screen? I tried a few ways, from Wallet tab or send screen and it worked for me

[2020-09-30 05:36] hboon opened #2167 "Slider bars in Advanced screen to adjust gas price and limit broken"
Doesn't adjust automatically when number is entered into the textboxes and sliding seems broken

[2020-09-30 06:57] #2167 closed

[2020-09-30 09:05] colourfreak opened #2169 "Improve background in Activities"
Very small issue.

The white background goes under the date. It should be white for activities, and alabaster #fbfbfb for the dates.

![2020-09-30 08 46 55](https://user-images.githubusercontent.com/51817359/94665725-cd130a00-030c-11eb-88e4-0910bd41b320.png)

[2020-10-01 05:06] zhangzhongnan928 opened #2171 "Using the universal QR scanner to add Custom Token, the wallet doesn't load the token information"
1. Using the universal QR scanner to add Custom Token, the wallet doesn't load the token information
2. after the above process, the scanner in ADD/Hide token stop working, don't pick up QR Code

[2020-10-01 09:21] hboon commented on #2171
Sounds like same problem as #2164

[2020-10-01 09:26] hboon commented on #2164
Looks like it's:

1. Tap Add / Hide Tokens
2. +
3. Scan QR code
4. Scanner doesn't close, Cancel button doesn't work

[2020-10-01 09:58] vladyslav-iosdev commented on #2164
@hboon what qr code do u trying to scan, can u share it?

[2020-10-01 09:59] hboon commented on #2164
Any contract address will do. But don't worry about it. I'm halfway through fixing this :)

[2020-10-01 10:01] hboon commented on #2164
@vladyslav-iosdev but should be to stop and dismiss the scanner somewhere here https://github.com/AlphaWallet/alpha-wallet-ios/blob/0122226a580c2177add28df9b526a5c434528e0f/AlphaWallet/Tokens/Coordinators/NewTokenCoordinator.swift#L215

I'm checking if other places which use the scanner needs to be fixed the same way.

[2020-10-01 10:31] #2169 closed

[2020-10-01 10:31] #2171 closed

[2020-10-02 05:28] #2164 closed

[2020-10-02 05:57] hboon opened #2176 "Pending transactions show up as completed transactions in Activity tab (instead of pending)"

[2020-10-02 23:03] zhangzhongnan928 opened #2179 "activities for TX involve with ETH Value"
This is an example I use 6.01 ETH  to get 2309 USDT, at the same time receive some CoFi token as a reward.
https://ropsten.etherscan.io/tx/0x2eea5339e788b15b8cbfccb5117956781712afba0eeea4293d9bd89fe573e497

1. There should be time below ETH Value
![IMG_4875](https://user-images.githubusercontent.com/33795543/94975998-d4c5ef00-0556-11eb-9adf-216d0e90bf04.jpg)

2. once get the ERC 20 activities,  th

[2020-10-05 12:13] #2176 closed

[2020-10-05 12:16] AW-STJ opened #2188 "xDAI to DAI Bridge: Transaction not in pending activity until confirmed"
The xDAI bridge transaction works for me. But gave me a confusing experience because of the below issues:
1. 'Transaction is successful', but give not transaction details.
2. The transaction also does not show up in the 'Activity' tab, until it is confirmed.
3. Even after showing 'Transaction is successful' dialogue box, the prompt to convert DAI to xDAI persists in the background urging user to c

[2020-10-05 13:05] vladyslav-iosdev opened #2190 "Fix crash"
Application  crashes while selection on Show My Wallet Address

[code]

[2020-10-06 02:51] AW-STJ opened #2192 "Improve activity - order of transactions"
Maybe these will be addressed as part of activity work, however, wanted to point this out.

As I was doing more investigation for a transaction related issue reported by Android user, I found out that the transactions were not captured accurately.
https://github.com/AlphaWallet/alpha-wallet-android/issues/1628

The most accurate transactions were captured by Zerion.
![image](https://user-images.gi

[2020-10-06 02:55] AW-STJ opened #2193 "Improve Activity - add trade transaction"
Can we add a trade transaction, as displayed by the wallet in the screenshots below:
![image](https://user-images.githubusercontent.com/61957841/95153580-79586300-07db-11eb-89e6-b4881abdeab4.png)

cc @colourfreak, to guide on the best design for us to represent swaps and trades in activity

[2020-10-06 03:20] #2190 closed

[2020-10-06 03:47] hboon commented on #2188
Issue with pending transactions displayed as successful immediately might be solved by #2184. It fixes it for transfers, at least. @AW-STJ  Would you test it again when we have a build?

[2020-10-06 03:49] hboon commented on #2192
@AW-STJ can you paste the wallet address some where to check against?

[2020-10-06 03:52] hboon commented on #2193
@AW-STJ assuming that the information to display is similar to the screenshot on the right, this requires some TokenScript work. Moving to TokenScript repo.

[2020-10-06 04:05] AW-STJ commented on #2192
There you go Boon, wallet address 0xfCABe3451aC8EDfB8FB6b9274C2E095D9cCC8082

[2020-10-07 04:53] AW-STJ commented on #1689
Also, can we make sure that we add this event to mixpanel?

[2020-10-07 05:17] hboon commented on #1689
@AW-STJ Regarding event tracking, we have to be concise and purposeful on what we want to track. For this particular one, how about we track 2 events:

A. When this action sheet shows up (so only native crypto and ERC20, I think, transfers)
B. When the user confirms (doesn't matter if success or not)

[2020-10-07 05:46] #2048 closed

[2020-10-07 06:40] AW-STJ commented on #1689
Sounds good Boon... let us implement those two events for this feature.

[2020-10-07 06:41] colourfreak commented on #1689
Updated a3
https://drive.google.com/file/d/13IkzRDFKmAggE3HnNILOu-v_ar-iLPB_/view?usp=sharing

[2020-10-07 07:09] colourfreak commented on #2192
There is another on with Contact Execution. Zerion does the work.

<img width="1411" alt="Screenshot 2020-10-07 at 09 07 24" src="https://user-images.githubusercontent.com/51817359/95298585-95f8a780-087c-11eb-9bbf-8f5aa5c4f173.png">

**Hash**
https://etherscan.io/tx/0x98f65e2e737b69a42786a9abe2bba4a376a5390c9aca641900c991ca70f12f68

**Application**
0x4976fb03c32e5b8cfe2b6ccb31c09ba78ebaba41
![2020

[2020-10-07 12:19] colourful-land opened #2198 "AWS Lambda expect Bitcoin-style signature but was given Vitalik-style signature"
AWS Lambda accepts DER encoded signature like the one used in Bitcoin.

Here is the code @vladyslav-iosdev used to create a signature:

[code]

Which apparently uses Vitalik style Ethereum signature. Vitalik could have the courtesy to extend the DER siganture format to do what he want, given DER was originally intended to be extensible and was extended all the time by different crypto standards, a

[2020-10-07 12:28] hboon commented on #2198
@vladyslav-iosdev I’ll look into this but if you have time before me, can you try look into the pod which contains HDWallet? Since it has multi-coin support, we might be able to use it or copy the code from there. The latter may be because the interface only supports seeds and not private keys directly.

[2020-10-07 12:30] vladyslav-iosdev commented on #2198
i found solution for this
[code]

[2020-10-07 15:07] #2198 closed

[2020-10-08 04:32] hboon opened #2199 "Track events for actionsheet-style confirmation for "normal" transactions"
https://github.com/AlphaWallet/alpha-wallet-ios/issues/1689#issuecomment-704697624

After #2105 is merged

[2020-10-09 04:35] #2159 closed

[2020-10-09 05:27] hboon commented on #2192
Fixed the error (including sort order) in #2192, but created an issue for display in https://github.com/AlphaWallet/TokenScript/issues/393

[2020-10-10 00:11] #2192 closed

[2020-10-11 02:48] AW-STJ opened #2202 "Test and diagnose : ETC DEX's not recognising AlphaWallet"
The issue is raised by our friend Dan from Universal Coin. AlphaWallet is not recognised by distributed exchanges or Dapps.

The glitch had been reported earlier and had rectified itself after a few days, before our team got to the issue. Need to check the ETC endpoint/nodes used.

[2020-10-12 07:08] hboon commented on #1725
Done with #2180

[2020-10-12 07:08] #1725 closed

[2020-10-12 07:12] hboon commented on #1136
Removing tag. Should review if it should be implemented first

[2020-10-12 13:49] EVanzhula opened #2203 "Xcode 12 web3swift pod build errors"
Prerequisites:
Xcode 12.0.1 (12A7300)
macOS: 10.15.7 (19H2)
cocoapods: 1.10.0.rc.1

So I've cloned the repo, stayed in master branch and applied changes to podfile that are presented in pull request by @vladyslav-iosdev (#2189 ). After "make bootstrap" i got the "web3swift" pod of version 0.9.0 and trying to build the AlphaWallet target on my device I got the error "Swift Compiler Error: 'nil' req

[2020-10-13 03:31] hboon opened #2204 "Add CoFi token icon"
0x1a23a6BfBAdB59fa563008c0fB7cf96dfCF34Ea1

https://app.zeplin.io/styleguide/5e0b15e46049c216fb7ab4d5/components?coid=5f7f16cde4c19b1204906859

[2020-10-13 03:36] hboon opened #2205 "Update of ERC20 token balance seems to lag after Activity tab by at least a few seconds or more"
Could be a matter of refresh cycles ("ticks"), but for this particular case, when we pick up a new activity which is one of the known transfer types (ERC20/ERC721 send/receive event/activities), we should just manually trigger a refresh for that token balance.

[2020-10-13 03:51] hboon commented on #1932
Closed with #2180

[2020-10-13 03:51] #1932 closed

[2020-10-13 08:58] hboon commented on #2179
- [x] 1. There should be time below ETH Value — fixed in #2206
- [ ] 2. once get the ERC 20 activities, the ETH activity is removed. There should be ETH activity as well — it showed up the first time because of a separate bug which is fixed in #2184. In order to support this, it looks like it has to be addressed in https://github.com/AlphaWallet/TokenScript/issues/392

[2020-10-14 05:22] hboon commented on #2203
@EVanzhula do you have a particular reason to need to use Xcode 12.x? Otherwise, while we are fixing this, you can use Xcode 11.7 instead.

[2020-10-14 06:57] hboon commented on #2130
@James-Sangalli still a problem?

[2020-10-14 07:01] hboon commented on #2140
Closing until it's reproducible again

[2020-10-14 07:01] #2140 closed

[2020-10-15 11:25] colourfreak opened #2208 "Update ETH symbol"
https://zpl.io/VOeEYg8

[2020-10-19 09:26] #2101 closed

[2020-10-19 09:26] #2204 closed

[2020-10-20 00:22] #2208 closed

[2020-10-20 05:08] #2205 closed

[2020-10-20 06:31] colourfreak opened #2218 "Update Xtoken and CoFi tokens"
xToken:
https://zpl.io/VOeRveY

Cofi:
https://zpl.io/agjMBwR

[2020-10-21 12:25] #2218 closed

[2020-10-22 02:03] AW-STJ opened #2223 "Scope for 30th October"
Can we list out our key focuses for this fortnight?

[2020-10-22 04:10] hboon commented on #2223
- [x] Fix: timestamp not appearing in Activity tab for native crypto transfers #2206
- [x] Fix: default ERC20 send/receive activities always assumed (wrongly) that token decimals = 18 #2207
- [x] Refactor transaction gas price limit estimating #2209
- [x] Fix: ERC721 transfer button not showing up after tapping on an ERC721 token instance #2212
- [x] Update Eth token icon #2213
- [x] Add CoFi toke

[2020-10-22 08:23] hboon commented on #2202
@AW-STJ any luck reproducing this?

[2020-10-23 05:05] hboon commented on #2117
Already cached in PrivateXMLHandler, so no need to.

[2020-10-23 05:05] #2117 closed

[2020-10-26 01:57] zhangzhongnan928 opened #2229 "Activity doesn’t show ETH related information"
In a Tx, I swap USDT for ETH, and received some CoFi token. Sent USDT and received CoFi are displayed, but received ETH is not displayed.

![Uploading 97126347...]

[2020-10-26 04:30] AW-STJ opened #2230 "MixPanel Integration - Add more events to track"
I have created a list of events that we should start monitoring.

As a start, Boon would you be able to review the events and share your thinking?
https://docs.google.com/spreadsheets/d/1CqhJYMidzEKqlgDCpGpRu5X6ke8h4qhvE3DG8ZjWCZc/edit#gid=0

[2020-10-26 05:18] hboon commented on #2229
The image didn't uploaded correctly, but I think you this is a dup of https://github.com/AlphaWallet/alpha-wallet-ios/issues/2179 ? It needs to be solved here: https://github.com/AlphaWallet/TokenScript/issues/392

[2020-10-26 05:20] #2229 closed

[2020-10-26 06:59] hboon commented on #2230
@AW-STJ

I'd comment on each individual row, but would you check out what I wrote for BC a while back and see if you can refine the list, then I'll check again? You might have already thought about this and more, but hopefully it still helps. (dumping it below and wrapping it with a bit more detail).

---

I find it especially helpful to think in terms of flow, and in our case how we make use of M

[2020-10-26 10:06] AW-STJ commented on #2230
I will iterate the list based on your comments and assign this back to you when ready.

[2020-10-28 09:49] vladyslav-iosdev commented on #1959
@hboon can u help me to match actions from `DappAction`
[code]
with WalletConnect actions, https://docs.walletconnect.org/json-rpc-api-methods/ethereum

[2020-10-28 11:21] hboon commented on #1959
[code]

But the ones on the right are for the dapp browser, right? Maybe better to (indirectly) call the functions in `EtherKeystore` like `func signPersonalMessage(_:for:)` since you are calling from the WalletConnect bridging code?

[2020-10-28 11:22] hboon commented on #1959
But I suppose you would build up a similar list of enum and cases for wallet connect.

[2020-10-28 13:55] vladyslav-iosdev commented on #1959
yep, right.

[2020-10-28 14:52] vladyslav-iosdev commented on #1959
@hboon can u send me some eth to wallet 0x5d4Fdf90c45a7310e7DeAB4471038C067c2BdfCE to test Wallet Connect transaction.?

[2020-10-28 16:05] hboon commented on #1959
Done for mainnet and rospten

[2020-10-29 05:53] hboon opened #2238 "Display failed transactions in Activity tab"

[2020-10-30 02:58] hboon opened #2239 "Scope for 13 Nov"
- [x] Actionsheet for transactions. There'll be some follow up that isn't included. #2105
- [x] Display failed transactions in Activity tab #2254
- [x] Vibrate after adding bookmark #2260 #2262
- [x] Make camera button in address textfield follow textfield's background color #2253 #2256
- [x] Make back, forward, "more" button in Browser navigation bar be highlighted like QR scan button in Wallet t

[2020-10-30 11:53] vladyslav-iosdev commented on #1959
@hboon for me its not clear what do i need to do with eth_sendRawTransaction (here i receive hash of transaction and what do i need to do next with it?)

[2020-10-30 11:57] vladyslav-iosdev commented on #1959
i updated code and seems like next action in working

**personal_sign - work
eth_sign - work**
eth_signTypedData - doesn't work
**eth_sendTransaction - work
eth_signTransaction - work**
eth_sendRawTransaction doesn't work

[2020-10-30 15:29] hboon commented on #2223
Build 360

[2020-10-30 15:29] #2223 closed

[2020-11-02 03:05] AW-STJ opened #2240 "Zero Balance in Activity Card for some ERC20 tokens"
Build: 3.08 (360)

The balance in activity card is '0' for some ERC20 tokens.  These tokens include USDC, cDAI, ANTI (created by James Brown for the test)

USDC Example: https://drive.google.com/file/d/17w-UHLNfdoIm9-C95fSNWuRSWkDT3mjJ/view?usp=sharing

The balances for ETH and the other ERC20 tokens have their activity cards displayed correctly.

[2020-11-02 04:25] James-Sangalli commented on #2160
@hboon this is good for all the defi applications like AAVE and compound as they `mint` tokens after deposit. I think it is still valuable. This relates to the backport aave task from @colourful-land

[2020-11-02 04:56] James-Sangalli commented on #2091
https://github.com/AlphaWallet/TokenScript-Examples/commit/302f522b230f4be24fa84416e5beb953f8a8bbd7

solved from here, waiting the ability to sync with the server but tested it working from my side with airdrop

[2020-11-02 04:56] #2091 closed

[2020-11-02 05:07] James-Sangalli commented on #2202
@AW-STJ make sure the user selects "classic" for the network in the browser, that can be a gotcha

[2020-11-02 05:16] James-Sangalli commented on #2099
Raised the max fee to 0.2 ETH, there is a node limit of 500 gwei. Will keep it as set from the latest PR with 0.2 ETH max fee

[2020-11-02 05:16] #2078 closed

[2020-11-02 11:44] hboon commented on #2137
Bump

[2020-11-02 11:45] vladyslav-iosdev commented on #2137
@hboon i tried to reproduce this issue several times, it worked ok, for me.

[2020-11-02 12:29] hboon commented on #2137
Leave it first then. I have seen it hang at the launch screen a few times, but rarely. Will have to check when it happens

[2020-11-02 13:01] vladyslav-iosdev commented on #1931
@hboon its not really clear what do i need to do here, can u provide more details?

[2020-11-02 13:24] hboon commented on #1931
It’s a name service like ENS. So we should be able to add support for like we do for ENS

[2020-11-03 02:52] AW-STJ opened #2242 "Review and confirm the gas price estimation source"
The gas prices are similar for Android and iOS.

However differ to https://ethgasstation.info/, which was recommended by Victor some time ago.

Creating this ticket to confirm the source of truth for gas estimate and then take a decision on implementation.

[2020-11-03 04:12] AW-STJ commented on #2223
Notifications are working!!! Yay....

Working correctly on 3.08(360)

Working, with correct balances on 3.08(360). However have 0 balance on activity card, raised as separate bug #2240

Working similar to android. However not the same as Ethergas estimator. #2242

Transfer button working for ENS

Eth token icon is blue. @colourfreak - should it be blue? Then will push this for Android as well.

To

[2020-11-03 04:19] hboon commented on #2242
Would work on this sometime after actionsheet for transaction confirmation because the original actionsheet design includes a fast/average/slow/custom speed gas options. Current implementation in #2105 is scoped down to only offer default/custom. So would be good to either check if the current source provides this or switch to ethgasstation.info (or similar).

[2020-11-03 05:26] #2095 closed

[2020-11-03 06:06] hboon opened #2243 "Toggling between ETH and USD in Send screen should show the same amounts"
1. Tap Ethereum (mainnet) in Wallet tab
2. Tap Send
3. Enter 1.01 ETH
4. Tap "ETH" to toggle to USD
5. Tap "USD" to toggle back to ETH

Expected
---
6a. 1.01

Observed
---
6b. 1.0099...

[2020-11-03 06:10] hboon opened #2244 "Toggling between ETH and USD in Send screen should not mess up the values"
1. Tap Ethereum (mainnet) in Wallet tab
2. Tap Send
3. Enter 1.01 ETH
4. Tap "ETH" to toggle to USD
5. Tap "USD" to toggle back to ETH

Repeat 4 and 5 a few times, the USD will go totally wrong and if tapped again ETH = 0. It *looked* like the USD value multipled by the price, so USD is displayed as (assuming price is $370): 136900 (370x370). Maybe a race condition somewhere?

[2020-11-03 06:13] hboon opened #2245 "Refactor: Remove NavigationController if it's no longer needed"

[2020-11-03 06:14] hboon opened #2246 "Make back, forward, "more" button in Browser navigation bar be highlighted like QR scan button in Wallet tab when tapped and held"

[2020-11-03 14:56] vladyslav-iosdev commented on #1931
@hboon i need to replace calling `GetENSAddressCoordinator(server: serverToResolveEns).getENSAddressFromResolver(for: value)` with calling this new service?

[2020-11-04 04:02] James-Sangalli commented on #1140
site is gone now

[2020-11-04 04:02] #1140 closed

[2020-11-04 05:01] #2246 closed

[2020-11-04 05:05] #2245 closed

[2020-11-07 07:06] hboon opened #2251 "Fill up privacy policy form in App Store Connect"
Needed to submit updates after December 8, 2020.

According to: https://help.apple.com/app-store-connect/#/dev1b4647c5b
Form at: https://appstoreconnect.apple.com/apps/1358230430/appstore/privacy

Note that https://alphawallet.com/privacy-policy/ rads like it's for the website rather than for the app(s).

[2020-11-07 07:50] hboon commented on #1959
For `eth_sendRawTransaction`, it means the transaction has already been signed (which is that hash string). So just need to send it. Refer to `SendRawTransactionRequest`.

[2020-11-08 12:48] AW-STJ opened #2252 "Failed transactions transaction looks like successful transactions"
Looks like the failed status for Eth transactions are not captured correctly.

Screen recording: https://drive.google.com/file/d/1fB-p6VUpDZwk8G2riIgYDo86xWcRXigF/view?usp=sharing

Designs: https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/screen/5e5396f1b3fc047479f08600

Wallet: 0xfCABe3451aC8EDfB8FB6b9274C2E095D9cCC8082

[2020-11-09 03:24] hboon commented on #2252
@AW-STJ Generally, would you provide screenshot(s) instead of a video? It's much easier and faster to interpret unless the sequence of action is really important. And it's more likely to (uploaded) file will stick around.

And in this case, would you paste the transaction hash too? (the Ethereum account is helpful, thanks)

[2020-11-09 06:58] hboon commented on #1791
8f423e8ec618a96be2d526db53a2383dcafb2165 (part of Activity support) introduced batching of JSON-RPC calls and this is much faster and more reliable now

[2020-11-09 06:58] #1791 closed

[2020-11-09 07:02] hboon opened #2253 "Make camera button in address textfield follow textfield's background color"
Careful that the same camera button image is used in the Wallet tab too

<img width='200' src='https://user-images.githubusercontent.com/56189/98509577-69c9af80-229c-11eb-9293-3ac5935e7619.png'>

[2020-11-09 07:33] hboon commented on #2252
I can reproduce this though. So don't worry about it.

[2020-11-09 07:44] hboon commented on #2252
Duplicate of #2238

[2020-11-09 07:46] hboon opened #2255 "Text and font weight needs to be different for transactions in different state in Activity tab"

[2020-11-09 08:52] colourfreak opened #2257 "Add Home button to the browser tab"
Let's add the Home button (linked to alphawallet.com/browser/) to the Browser top bar. See the top right corner next to the address input field and menu icon.

<img width="583" alt="Screenshot 2020-11-09 at 09 37 28" src="https://user-images.githubusercontent.com/51817359/98519527-2c036180-2271-11eb-8f1f-89d086c7a5a7.png">

https://zpl.io/aR0KLQK
https://zpl.io/awvJ6lj

[2020-11-09 09:07] #2253 closed

[2020-11-09 11:01] colourfreak commented on #2257
Do not.

[2020-11-09 11:01] #2257 closed

[2020-11-09 14:37] hboon commented on #1634
@vladyslav-iosdev would you help to check if we missed anything so we can close the issue? I think it's just https://github.com/AlphaWallet/alpha-wallet-ios/issues/1634#issuecomment-585134112

[2020-11-09 14:40] hboon commented on #1100
@vladyslav-iosdev this should describe what is desirable: https://github.com/AlphaWallet/alpha-wallet-ios/issues/1100#issuecomment-529205339

[2020-11-09 14:42] hboon commented on #1334
@vladyslav-iosdev  Can you see if we can figure this out?

[2020-11-09 14:44] vladyslav-iosdev commented on #1334
@hboon i will try to reproduce it, but for me its not clear what steps do i need to walk through, to reproduce it.

[2020-11-09 14:48] hboon opened #2258 "Add search functionality to Activity tab"
`ActivitiesCoordinator` and `ActivitiesViewController` manage the Activity tab.

Let's just make `Activity.name` be searchable for now. Might be WIP as we figure out the search parameters

[2020-11-09 14:52] hboon commented on #1334
I have no idea too :) During development (this was created a long time ago), I noticed that the Realm database grew to a huge size, but I didn't know why. I *think* `Transaction`s contributed the most to it. Can you see if it doesn't get cleaned up probably? Eg. when we fetch transactions again, is there a bug that cases some transactions to be left hanging around as duplicates that we ignore?

Gi

[2020-11-09 14:54] hboon opened #2259 "Wallet address is truncated in iPhone 5s in the Change/add wallet cell in Settings tab"
I dug this from my notes. Might not be a problem anymore.

[2020-11-09 15:07] hboon opened #2260 "Vibrate after adding bookmark"
Can you make the device vibrate when the user adds a bookmark (I didn't check if it's already done). Look for references for `UINotificationFeedbackGenerator` in the app for how we do it currently to be consistent.

[2020-11-10 09:41] vladyslav-iosdev commented on #1634
@hboon currently there is no line over segment control on tokens screen.

[2020-11-10 09:46] vladyslav-iosdev commented on #2255
@hboon can u provide more details what font weight do we need to use and in what case?

[2020-11-10 11:09] hboon commented on #2255
This one’s for me :) it’s quite simple but there’s something I wanted to check first.

[2020-11-10 11:59] #2260 closed

[2020-11-10 12:01] hboon commented on #1634
Good then. Thanks

[2020-11-10 12:01] #1634 closed

[2020-11-10 12:03] vladyslav-iosdev commented on #1100
@hboon maybe u can help me with this issue, as i understand i need to use something like app link, but can't find any information how to do that.

[2020-11-11 05:56] hboon opened #2264 "Refactor: Extract common vibration code and use it"
Follow up for #2262

Move `NotificationFeedbackType` and the extension for `UINotificationFeedbackGenerator` into a separate file and modify existing code to use them

[2020-11-11 06:19] zhangzhongnan928 opened #2265 "Change the “exchange with Uniswap” button to 1inch"
ge the “exchange with Uniswap” button to "Exchange with 1inch"

https://1inch.exchange/#/bat/eth/#/r/0x98f21584006c79871F176F8D474958a69e04595B/

0x98f21584006c79871F176F8D474958a69e04595B is alphawallet.eth

[2020-11-11 06:20] hboon commented on #2265
@zhangzhongnan928 what if we just label the button "Swap"?

[2020-11-11 06:48] zhangzhongnan928 commented on #2265
Yes, that's even better.

The reason using 1inch:
1. Referral
2. Much better price than Uni

[2020-11-11 07:28] hboon commented on #1100
I'm not sure actually. We use https://github.com/AlphaWallet/alpha-wallet-ios/blob/8551d9992cfc1107ceacf257971b127f485b883a/AlphaWallet/Info.plist#L26 to handle `.tsml`. Initially I thought there might be an easy way. But maybe the solution is to create a share extension that doesn't open a UI? If that's the way out, let's hold it first and get the Xcode 12 upgrade done first.

[2020-11-11 07:33] hboon commented on #2265
@vladyslav-iosdev If you look at the bottom of https://1inch.exchange/#/api for "Referral Program", it mentions you have to connect a wallet to get a referal link. I haven't tried it, but I presume it might just generate something like https://webapi.com?referralWallet=0xabc, can you try and if that's how it work plug in the address Victor mentioned in the first comment above?

[2020-11-11 07:51] hboon opened #2266 "Display ENS name or local wallet name in Wallet tab's nav bar title if available, otherwise fallback to "Wallet""
Like in https://zpl.io/bJmwEox. Can you see first if it can be done in a way that is not too fragile or hard to maintain?

Note that users can set a "local wallet name" which overrides the ENS name. in Settings > Change Wallet > Tap and hold a wallet.

<img width="373" alt="Screenshot 2020-11-11 at 3 49 03 PM" src="https://user-images.githubusercontent.com/56189/98784090-89481000-2435-11eb-8964-f6

[2020-11-11 15:00] vladyslav-iosdev commented on #2265
@hboon maybe i missed somethig but it seems like to perform excgange for 1inch we need 2 symbols, and it doesn't work for only one selected (like we did for UniSwap) what do i need to do in this case?

[2020-11-11 15:27] vladyslav-iosdev commented on #2265
@hboon seems like this could be resolved with adding some initial symbol.

[2020-11-11 15:28] vladyslav-iosdev commented on #2265
But i got another issue, i am not able to create URL from string like this
https://1inch.exchange/#/ZRX/1UP#/r/0x98f21584006c79871F176F8D474958a69e04595B

[2020-11-12 03:47] hboon commented on #2265
Does this work instead?

https://1inch.exchange/#/r/0x98f21584006c79871F176F8D474958a69e04595B/ZRX/1UP

Can you see if you can verify that the referral wallet is picked up with such a URL?

[2020-11-12 04:06] zhangzhongnan928 commented on #2265
can always be ETH/XXX, even ETH/ETH

https://1inch.exchange/#/r/0x98f21584006c79871F176F8D474958a69e04595B/ZRX/ETH

https://1inch.exchange/#/r/0x98f21584006c79871F176F8D474958a69e04595B/ETH/ETH

[2020-11-12 06:33] hboon opened #2270 "Amount entered into Send fungible (native/ERC 20) screen is not taken as it is"
Amount entered into Send fungible (native/ERC 20) screen is not taken as it is

Maybe it's a bug introduced in #2249 ?

This also cause the problem where the user sees and knows there is a balance of "0.1" but is not allowed to enter "0.1"

(screenshot is taken with actionsheet PR, but issue is reproducible on master)

<img width="387" alt="Screenshot 2020-11-12 at 2 26 38 PM" src="https://user-im

[2020-11-12 07:49] vladyslav-iosdev commented on #2270
@hboon i need to start on it after #2105 is merged?

[2020-11-12 07:49] #2264 closed

[2020-11-12 07:52] hboon commented on #2270
@vladyslav-iosdev no, you can reproduce it in `master`. So you can fix it right away.

[2020-11-12 08:43] #2238 closed

[2020-11-12 08:43] #2252 closed

[2020-11-12 09:05] hboon opened #2271 "Scope for 27 Nov"
- [x] Use Actionsheet for claiming paid MagicLinks #2300
- [x] Display estimated time based on gas settings #2309
- [x] Display the ETH value in actionsheet for transaction initiated by dapp #2304
- [x] Show name of token for ERC721 transfers (at least those from OpenSea) #2305
- [x] Fix: Gas fee estimate in fiat should be displayed when editing custom gas for transaction on mainnet #2303
- [x] Di

[2020-11-12 09:07] #2258 closed

[2020-11-12 09:11] vladyslav-iosdev commented on #2259
@hboon is this can be closed?

[2020-11-12 09:11] hboon opened #2272 "Make search in activities support the token symbol"
Might not be that simple

[2020-11-12 09:12] hboon commented on #2259
Replied in the PR.

[2020-11-12 09:52] #2259 closed

[2020-11-12 10:41] colourfreak opened #2273 "Update Wallet Tab [Samoa]"
<img width="1829" alt="Screenshot 2021-03-08 at 10 44 07" src="https://user-images.githubusercontent.com/51817359/110303883-39501300-7ffb-11eb-9a29-ec4e73a2b2af.png">

https://zpl.io/V0vZnvx

-----

**Ether, ERC20, xDAI.. going up:**
https://zpl.io/aMrnRKN
<img width="452" alt="Screenshot 2021-03-08 at 10 52 41" src="https://user-images.githubusercontent.com/51817359/110304942-749f1180-7ffc-11eb-9

[2020-11-12 10:55] colourfreak opened #2274 "Add Wallet Summary [Samoa]"
<img width="1532" alt="Screenshot 2021-03-08 at 11 02 38" src="https://user-images.githubusercontent.com/51817359/110306254-e7f55300-7ffd-11eb-9d3b-169bfef628af.png">

-----
This screen will be a replacement for the current "Change/Add Wallet".

- It will be the first screen you see when launching AlphaWallet (already imported wallets).
- There are two ways to enter this screen
a) from the wallet

[2020-11-12 10:56] colourfreak commented on #2273
Zeplin:
https://zpl.io/a8rv7WK
https://zpl.io/amQw5AK

[2020-11-12 11:35] vladyslav-iosdev commented on #2266
<img width="673" alt="Screenshot 2020-11-12 at 13 34 28" src="https://user-images.githubusercontent.com/55975226/98935176-cf5fab00-24eb-11eb-8fce-f20314dc80c5.png">
@hboon is should be implemented like custom header view?

[2020-11-12 11:45] AW-STJ commented on #2271
Suggestions to consider:
- [ ] Wallet Connect: https://github.com/AlphaWallet/alpha-wallet-ios/pull/2012

[2020-11-12 11:55] hboon commented on #2266
You mean a table view’s?

[2020-11-12 11:58] vladyslav-iosdev commented on #2266
yep

[2020-11-12 12:29] hboon commented on #2266
Is it possible to embed a custom view in the nav bar? Otherwise seems quite costly and hackish to implement it as a table view header (with the big title behaviour, push/pop etc)

[2020-11-12 12:30] hboon commented on #2266
Hackish - not good because the navigation bar has always been a bit fragile across iOS versions..

[2020-11-12 12:31] vladyslav-iosdev commented on #2266
yep, i now that, i will try to use custom view.

[2020-11-12 13:15] hboon commented on #2266
Thanks. Let’s see if that’s possible. Otherwise we can discuss how we can tweak the UI design to make the implementation less fragile.

[2020-11-12 16:04] vladyslav-iosdev commented on #2270
@hboon i am not able to reproduce this, i tried with different amount and different locales, and all the time get right value.

[2020-11-12 16:19] hboon commented on #2270
Hmm. I thought I could reproduce it. I’ll check again. Thanks

[2020-11-13 04:09] hboon commented on #2270
Strange. On both master (b785a5fcfa1cdd22495cd42ac3f3d5f8edb9346f) as well as #2105, I can reproduce this. Going to revert the #2249 on master so as to merge actionsheet in and make a fortnight build first. We can come back and fix the original toggling problem that #2249 was addressing.

[2020-11-13 04:15] hboon commented on #2244
Need to relook at this after #2275 is merged

[2020-11-13 04:15] hboon commented on #2243
Need to relook at this after #2275 is merged

[2020-11-13 05:17] hboon commented on #2273
@AW-STJ For both #2273 and #2274:

Is this considered an important change or a good to have? Reason why I'm asking is there's a bit more design work necessary and also to gauge if it's going to take a lot of work or a little (and weigh it against the importance). We might also need to break it down.

Off the top of my mind (I have not think too deeply about this yet):

A. We only have prices for n

[2020-11-13 06:41] colourfreak commented on #2273
There are more than just #2273 and #2274 I am about to file new issues today.

If you look at AlphaWallet now, you don't have any incentive to open an app a few times a day (unless you are building it). And the may reason behind are **variables**. We don't have anything new for a user. You can learn how many tokens you have and interact with those tokens using TokenScript and Dapp browser. But [yo

[2020-11-13 08:06] vladyslav-iosdev commented on #2243
@hboon i found that for some reasons function
[code]
doesnt work correctly, in case if we enter amount `0.004` it returns us `4.0` value

[2020-11-13 08:10] vladyslav-iosdev commented on #2243
maybe this could appear because we receive `0.004` and in `decimalSeparator` we are using `,` separator?

[2020-11-13 08:12] hboon commented on #2243
Would be more likely to be 0 if the separator is wrong?

[2020-11-13 08:17] vladyslav-iosdev commented on #2243
very strange but check this, we typing `0.002` and in response we get `2.0`

<img width="1043" alt="Screenshot 2020-11-13 at 10 16 03" src="https://user-images.githubusercontent.com/55975226/99044990-4dc65680-2599-11eb-81dd-8e79a18f586a.png">

[2020-11-13 11:23] vladyslav-iosdev commented on #2270
@hboon i send another PR based on #2243 please let me know if it still reproducible for u

[2020-11-13 11:49] colourfreak commented on #2273
CoFiX Protocol Analytics will be full of data. I think we can reuse some of their data. Similar to [Uniswap](https://info.uniswap.org/token/0xdac17f958d2ee523a2206206994597c13d831ec7)

[2020-11-13 13:45] #2255 closed

[2020-11-13 23:33] AW-STJ commented on #2273
Let us consider that and categorise the change into 'Must-Have' or 'Good to have' bucket accurately. Based on my initial thinking, this would be a must-have as we move our focus to DeFi. We can think about validating this design more at this stage as we have a few sprints to go before the activity is completed. We may prototype this design to get some feedback and then push for implementation.

We

[2020-11-14 07:23] hboon commented on #2273
Sounds good. And A and B are just off the top of my head. We might also need to look into how to synchronise data. Eg. We don’t often sync our transactions history/balance. If and as we implement aggregating information, this might be more blatant and require solving at a more fundamental level. This might be really easy or it might be really hard.

Also, if this is the general direction we are he

[2020-11-14 08:20] #2270 closed

[2020-11-14 08:46] #1687 closed

[2020-11-14 08:46] #1689 closed

[2020-11-14 09:35] hboon commented on #2239
Build 361

[2020-11-14 09:35] #2239 closed

[2020-11-16 04:51] hboon opened #2281 "Crash sometimes when searching in Activity tab"
If you modify `ActivitiesViewController.processSearchWithKeywords` to log like this:

[code]

and:

[code]

And repeatedly modify the search keywords to make section 0 have different number of items, eg. I can do this by just repeating switching between the keywords "a" and "" (a would match ERC20 approvals). (this might take 10s of times to trigger)

When it works, this would be logged:

When it

[2020-11-16 07:24] hboon commented on #2271
Vlad can continue to work on it in the background, but might not be able to finish it, mainly because there's no one to point him in the right direction. I could look at it once I'm done with the followups for Actionsheet for transactions.

[2020-11-16 09:36] maxweng opened #2284 "Face ID doesn't show up after the transaction confirmation popup with the error message 'cancelled'."
### The issue:

When interacting with DApps, the Face ID doesn't show up after the transaction confirmation popup with the error message 'cancelled'.

### Environment
Device: iPhone 11 Pro Max
OS version: iOS 14.2

[2020-11-16 09:57] hboon commented on #2284
@maxweng which version of the app is this against?

[2020-11-16 10:00] vladyslav-iosdev commented on #2266
@hboon i tried to find any way to customize Large title view for navigation bar but find nothing related to this.

[2020-11-17 03:42] #1100 closed

[2020-11-17 04:53] #2199 closed

[2020-11-17 09:02] vladyslav-iosdev commented on #2266
@hboon  it seems like these is no way to update large title with custom view.

[2020-11-18 04:05] #2281 closed

[2020-11-18 05:00] hboon commented on #2244
Didn't undo #2249, so this is already done.

[2020-11-18 05:00] #2244 closed

[2020-11-18 05:00] hboon commented on #2243
Didn't undo #2249, so this is already done.

[2020-11-18 05:00] #2243 closed

[2020-11-18 05:20] hboon opened #2288 "Move/tweak ENS name display in the navigation bar for Wallet tab"
We don't have a way to customize the area around the (big title) in the navigation bar other than setting the title. Can we figure out somewhere else to move it or tweak the display? (eg. a simple alternative is just replace "Wallet" with the ENS name), but it'd affect #2273

Context: #2266

[2020-11-18 05:20] hboon commented on #2266
Created #2288 for Tomek