[2021-06-25 08:36] #2879 closed

[2021-06-25 15:06] #2826 closed

[2021-06-26 06:07] hboon opened #2909 "Scope for 9 Jul"
- [x] Add prompt for subscribing to email list #2919

RPC endpoints and transaction fetching
---
- [x] Update Polygon mainnet and testnet to use Infura for RPC. More stable (hopefully) #2948
- [x] Fix: blockchain explorer endpoint for xDai. So no transactions were downloaded and token auto detection was broken #2942
- [x] Update Polygon testnet explorer endpoints #2915

Browser
---
- [x] Set `ethe

[2021-06-26 06:14] hboon commented on #2889
Build 395

[2021-06-26 06:14] #2889 closed

[2021-06-28 00:50] zhangzhongnan928 opened #2910 "EIP 3085 doesn't work"
I test it with https://idchain.one/begin/
Works on Metamask, not AlphaWallet.
It pops up the confirmation window but after clicking "Mainnet", nothing happens.

[2021-06-28 04:20] hboon commented on #2910
Their blockchain explorer (Etherscan/blockscout) site/API seems to be down. MetaMask don't seem to check.

We should at least show an error message.

<img width="600" alt="Screenshot 2021-06-28 at 12 18 54 PM" src="https://user-images.githubusercontent.com/56189/123579749-12685780-d80b-11eb-8d4b-143a5bf5434a.png">

[2021-06-28 05:07] AW-STJ opened #2911 "Adding custom RPC does not work"
I tried with this details below, which works on Metamask:

Fuse Network Details
    "name": "Fuse Mainnet",
    "chainId": 122,
    "shortName": "fuse",
    "chain": "FUSE",
    "network": "mainnet",
    "networkId": 122,
    "nativeCurrency": {"name":"Fuse","symbol":"FUSE","decimals":18},
    "rpc": ["https://rpc.fuse.io"],
    "faucets": [],
    "explorers": [https://explorer.fuse.io/],
    "inf

[2021-06-28 05:12] AW-STJ opened #2912 "Custom RPC - make some fields optional"
Currently, we have all the fields mandatory. However, in some cases there are networks without blockchain explorers. Let us make it an optional field, in line with Metamask.

![image](https://user-images.githubusercontent.com/61957841/123583351-ce814c80-d822-11eb-9f96-5d22a140afc3.png)

Current AlphaWallet screen shows this message if block explorer URL is not entered.
![image](https://user-images

[2021-06-28 05:14] hboon commented on #2910
@zhangzhongnan928 do you know how to contact the IDChain folks? I can't find their contact information to report this.

Also, the link at the bottom of https://idchain.one/ which links to the explorer is linking wrongly to https://explorer.idchaine.one/. (should be https://explorer.idchain.one/, without the "e")

[2021-06-28 05:19] AW-STJ opened #2913 "Custom RPC - Warning message"
Based on our experience with testnets, there can a chance that scammers may abuse custom RPC feature to con unsuspecting users.

Can we create a warning message ask users only to add networks that they trust?

![image](https://user-images.githubusercontent.com/61957841/123583876-b6f69380-d823-11eb-9ea5-603ec6cfe30d.png)

Our message can be:
'Only add networks that you trust. There can be networks

[2021-06-28 05:20] zhangzhongnan928 commented on #2910
https://twitter.com/Victor928/status/1409381120773267460?s=20

[2021-06-28 05:35] hboon commented on #2913
Maybe similar consideration for #2908.

[2021-06-28 05:37] hboon commented on #2912
So, users can only display their native crypto balance, send and receive native crypto, right? No other tokens and transaction history, because those requires a blockchain explorer API (that's why I made them mandatory).

[2021-06-28 05:37] hboon commented on #2911
Pending #2912

[2021-06-28 05:38] hboon commented on #2912
Affects #2911

[2021-06-29 03:36] hboon opened #2916 "Swipe to show swipe menu not working in Wallets screen opened from Wallet tab"
If the list of wallets screen screen is accessed from the blockie in the Wallet tab and swiped, the swipe menu (with delete wallet and copy address options) don't appear.

If the same screen is accessed from Settings > Change / Add Wallet, it works.

[2021-06-29 05:57] zhangzhongnan928 opened #2917 "The 721 tokens I have sent out still show in my wallet, on Rinkeby"
wallet:0xbc8dAfeacA658Ae0857C80D8Aa6dE4D487577c63
I should only holds these 721 tokens
<img width="730" alt="Screen Shot 2021-06-29 at 3 54 25 pm" src="https://user-images.githubusercontent.com/33795543/123744594-55e9c100-d8f2-11eb-86e6-483cf1963b7a.png">

But in AlphaWallet, I can still see these.
![IMG_3566](https://user-images.githubusercontent.com/33795543/123744713-7ca7f780-d8f2-11eb-974a-d72

[2021-06-29 06:30] #2910 closed

[2021-06-29 06:44] hboon opened #2918 "Higher level architecture tasks"
This is on-going work, to keep in mind.

This will translate to lower level work. Just collecting here to keep them in mind as we go along. General goal is to improve the app quality, our development speed as well as support adding more developers working on the same code base.

Logging system (rather than all temporary logs)
---
* Possible to debug user problems remotely
* Useful during developme

[2021-06-29 06:45] hboon commented on #2816
Superseded by #2918

[2021-06-29 06:45] #2816 closed

[2021-06-29 07:20] vladyslav-iosdev commented on #2918
@hboon Logging system (rather than all temporary logs)
it means to use something like Firebase to log all warnings errors and so on?

[2021-06-29 07:30] hboon commented on #2918
No. I wrote a bit of code to use Papertrail for that currently. Just for discovering what RPC node errors we encounter to map them to more user-friendly versions. But not sure we will want that more generally.

Logging system here refers more to things like OSLog and Lumberjack. So we can enable logging for subsystems or full logging during development and at runtime, maybe offer a switch to captu

[2021-06-29 07:33] vladyslav-iosdev commented on #2918
ok sound good, yep, it could make our life easier.

[2021-06-29 07:34] vladyslav-iosdev commented on #2918
i am not clearly understood about:
`Functional core`
 What do u meant here?

[2021-06-29 08:09] hboon commented on #2918
The only place I have done it so far is:

https://github.com/AlphaWallet/alpha-wallet-ios/blob/7a0fe988d803583d1b51b18967a8724a48a71400/AlphaWallet/Settings/Models/AddCustomChain.swift#L85

Copied from the PR:

We don't have to make it really be functional programming all the way [1]. But as long as a subset of those functions/methods don't mutate state, we get the same benefits. We then wrap arou

[2021-06-29 08:11] hboon commented on #2918
This also alleviates somewhat the problem where we have big classes and it's hard to see which bits of code actually mutate state. We could enforce shorter classes with SwiftLint, but length limit seems arbitrary sometimes. Some classes are going to be large simply because they have to do more.

[2021-06-29 09:41] vladyslav-iosdev commented on #2918
interesting approach, i will try it.

[2021-06-29 09:44] vladyslav-iosdev commented on #2916
it disabled by default for wallets screen accessing from blocky icon. i'll Update it.

[2021-06-30 06:54] hboon commented on #2807
@colourfreak here's how it looks like in raw form. We only need a textfield.

<img width="510" alt="Screenshot 2021-06-30 at 1 33 05 PM" src="https://user-images.githubusercontent.com/56189/123915258-e4be1280-d9b2-11eb-86a4-72c48d8e22d1.png">

[2021-06-30 07:41] EvnLi opened #2922 "DAPP Failed to authorize NFT SignPersonalMessage"
When I entered (https://www.ibox.com/zh-cn/) in the DAPP browser to authorize the purchase, I found the SignPersonalMessage signature data, but the authorization failed   heco

[2021-07-01 04:47] hboon commented on #2922
Thanks for reporting, @EvnLi. Signing itself seems to be ok. But when the dapp tries to verify the signature, it seems to fail here:

[code]

with:

[code]

I can't figure out what's wrong with this. Are you the developer or do you know how to reach the developer with this message?

[2021-07-01 05:46] hboon opened #2931 "EnabledServersViewController should have a bottom inset when scroll to the bottom for phones with home bar (iPhone X and newer)"

[2021-07-01 05:46] hboon opened #2932 "AccountsViewController should have a bottom inset when scroll to the bottom for phones with home bar (iPhone X and newer)"

[2021-07-01 05:47] EvnLi commented on #2922
Thank you for your reply. There is no problem in other wallets. Maybe it is a compatibility problem

[2021-07-01 05:55] hboon opened #2933 "Crash when tap to show a Hidden Token in Add / Hide Tokens screen"
1. Tap Add / Hide Tokens
2. Scroll to Hidden Tokens
3. Hide a token first if there aren't any hidden tokens
4. Tap + on a Hidden Token
5. Crashes

[code]

[2021-07-01 06:09] hboon commented on #2922
I'll try to contact the developers and work this out. Stay tuned.

[2021-07-02 06:13] #2917 closed

[2021-07-02 07:29] hboon commented on #2822
Closed with #2896 and #2906

[2021-07-02 07:29] #2822 closed

[2021-07-05 05:14] hboon opened #2941 "Update Blockscout API endpoint for xDai"
Old:

[code]

New:

[code]

So transactions aren't fetched anymore and we can't detect any tokens — ERC20, ERC721.

[2021-07-05 07:49] hboon commented on #2941
(interestingly, replacing the "dai" with "xdai" in the old URL would work too, but let's just use the newer version that the 301 response is including, i.e "/xdai/mainnet/api?")

[2021-07-05 07:50] JamesSmartCell commented on #2941
thanks, got it.

[2021-07-05 09:24] #2898 closed

[2021-07-05 11:14] hieronymus4826 opened #2944 "Unable to unstake LP on a Mac using Mdex (HECO)"
The wallet connect and interacts with the dapp, but fails on the last step.

The user has provided a step-by-step video here: https://youtu.be/4vH1PgA9pM4

Unfortunately, I can' replicate. The website is unreachable for me (in Bulgaria). I've tried VPN, mobile networks, UK hotspot and nothing connects.

[2021-07-06 07:30] hboon opened #2947 "Get listed as Heco wallet"
Get us listed under "Partner" at https://www.hecochain.com/en-us/ and https://www.hecochain.com/en-us/wallet

[2021-07-07 06:37] tinaxiu2014 opened #2950 "How to get all transaction records of a wallet address？？"
name: Bug Report
about: Using AlphaWallet, but it's not working as you expect?

---

**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce (REQUIRED)**
Steps to reproduce the behavior

1. Tap Wallet tab
2. Tap ...
3. Tap ...
4. Wait ...
5. Tap ...

**Expect**
6a. ...

**Observed**
6b. ...

**Screenshots**
If applicable, screenshots (preferred to video) to h

[2021-07-07 07:19] hboon commented on #2950
@tinaxiu2014 can you clarify if you downloaded the app from the app store and want to access the transactions in the Activity tab or are you trying to customise the app/code or if it's something else?

[2021-07-07 07:25] tinaxiu2014 commented on #2950
yes,in the Activity tab, i can see  some send transaction records, but can't see received transaction records.

[2021-07-07 07:28] tinaxiu2014 commented on #2950
like this picture.  ![IMG_0164](https://user-images.githubusercontent.com/7834396/124717637-e601b900-df37-11eb-8ea5-e9f084d77251.PNG)

[2021-07-07 07:36] hboon commented on #2950
I see. Let me rope in my colleague to help. (I might help you but they will be able to do it faster).

[2021-07-07 08:14] tinaxiu2014 commented on #2950
ok。please reply as soon as possible

[2021-07-07 08:32] sharonsylu commented on #2950
Hi @tinaxiu2014, can I confirm:

- Android or iOS ?
- version --> navigate to [Settings] scroll to very bottom eg. Android will say v. 3.33 (158) if it is the latest release
- Could you please provide your wallet address? I will try to see if I can replicate your issue.

Thank you

[2021-07-07 08:37] tinaxiu2014 commented on #2950
iOS , version is 1.0.0（2）, my wallet address ：0xc25761Ac06b71A06b329dcEDAaD3e350d814B2C6  , wait reply . thanks .

[2021-07-07 09:59] colourfreak commented on #2830
What is an example? It sounds like an edge case. So that solution works for the 90%.

[2021-07-07 10:36] tinaxiu2014 commented on #2950
please reply as soon as possible

[2021-07-07 12:01] AW-STJ commented on #2950
There is no transactions on POA network for the given wallet address. Did you share the correct wallet address?

https://blockscout.com/poa/core/address/0xc25761Ac06b71A06b329dcEDAaD3e350d814B2C6/transactions

[2021-07-07 12:10] AW-STJ commented on #2950
@tinaxiu2014, also sharing the link from the transactions details page as show below would help us make sure that we are all looking at the correct place.

![image](https://user-images.githubusercontent.com/61957841/124756687-15341c80-df70-11eb-8dbf-718a085af305.png)

[2021-07-07 12:45] tinaxiu2014 commented on #2950
yeah,my wallet address ：0xc25761Ac06b71A06b329dcEDAaD3e350d814B2C6  ，it is in my custom RPC network.

[2021-07-07 12:48] tinaxiu2014 commented on #2950
now i can't see received transaction records.

[2021-07-07 13:05] sharonsylu commented on #2950
Could you please provide the MSC token contract address please? Three of us have been unable to replicate using the  wallet address , nor can we find on any blockexplorers...

[2021-07-08 06:52] #2758 closed

[2021-07-08 07:11] hboon opened #2953 "https://quickswap.exchange/#/swap for Polygon doesn't let you switch chain if you aren't already connected to Polygon"
If you go to https://quickswap.exchange/#/swap in AlphaWallet app and are connected to Polygon all is good. But if you aren't connected to Polygon, tapping "Connect Wallet" will show you an empty list of wallets. This is because the dapp checks if the dapp browser is running MetaMask like this:

[code]

hboon: I can't think of a proper fix or hack around this [1]. So unfortunately we'll just have

[2021-07-08 07:12] #2953 closed

[2021-07-08 07:12] hboon commented on #2953
Can't fix on our end.

[2021-07-08 08:40] #2835 closed

[2021-07-08 08:50] colourfreak commented on #2913
I don't think it will prevent users to add malicious networks anyway, but we can add a warning right after you click "Add Network"

Zeplin:
https://zpl.io/bAxX7dB

<img width="1704" alt="Screenshot 2021-07-08 at 10 47 21" src="https://user-images.githubusercontent.com/51817359/124892573-477a6400-dfda-11eb-86c7-de2457dc6ec6.png">

[2021-07-08 08:56] colourfreak commented on #2844
Do you mean ERC20 tokens with a small Optimism logo (similar to what we have done for BSC, HECO, xDAI, Polygon)?

[2021-07-08 09:05] hboon commented on #2844
Same format but not for ERC20 tokens. Like the blueish ETH token. So can’t upload it to the icon repo because it has to be hardcoded into the app. In other words, exactly 1 for mainnet and 1 for testnet (if we want).

But you could create icons for prominent ERC20 tokens on Otpimisim too if you like. Those can be added to the repo like you did yourself.

[2021-07-08 09:25] colourfreak commented on #2894
In the #2273, I explained what this should be. Maybe not clear enough.

I conducted 3 tests using usabilityhub:
1) https://app.usabilityhub.com/tests/86ec06814d57/results/1f78709fe6f1

<img width="423" alt="Screenshot 2021-07-08 at 11 23 29" src="https://user-images.githubusercontent.com/51817359/124897902-03d62900-dfdf-11eb-82d3-5efc3b1ab081.png">

2) https://app.usabilityhub.com/tests/6076f465a6

[2021-07-08 09:38] colourfreak commented on #2840
What about we just use the same separator like anywhere else and group tokens based on network?

<img width="1157" alt="Screenshot 2021-07-08 at 11 34 09" src="https://user-images.githubusercontent.com/51817359/124899897-da1e0180-dfe0-11eb-8fe3-67641d2d1a0f.png">

So we will have token icons (already provided) plus this separation. No need to add anything else.

[2021-07-08 09:39] colourfreak commented on #2815
Yes. Good idea.

[2021-07-08 10:03] colourfreak commented on #2844
Mainnet
https://zpl.io/V0rxme9

Kovan
https://zpl.io/b6APmNy

[2021-07-08 10:51] zhangzhongnan928 commented on #2894
make sense

[2021-07-08 10:51] #2894 closed

[2021-07-08 11:06] colourfreak commented on #2844
I added SNX, sUSD and ETH Optimism tokens to our iconassets

[2021-07-08 11:28] colourfreak commented on #2902
Hard to say how to implement it. I can't answer this question.

Prototype:
https://invis.io/KU114ACT6GCT

This is the prototype with all types of activities we could have. There are many more. Bug this is a good start. A regular user does not know what is 'contract execution'. So that information is even more mysterious in opposition to not having this at all.

The design is ready. Waiting for a l

[2021-07-08 12:21] hboon commented on #2902
It’ll come. Swap label has already removed, just not released yet. Is the design up on Zeplin?

[2021-07-08 12:49] hboon commented on #2844
Thanks!

[2021-07-08 12:49] hboon commented on #2844
Re-opening so I remember to add them to the app

[2021-07-09 02:42] hboon opened #2954 "Scope for 23 Jul"
- [x] [Samoa] Compute fiat value for each wallet while they are inactive #2802
- [x] Fix: Polygon native token not showing price #2968
- [x] Add native token icons for Optimistic mainnet and testnet #2956

[2021-07-09 05:07] hboon commented on #2909
Build 396

[2021-07-09 05:07] #2909 closed

[2021-07-09 06:30] hboon commented on #2840
Sounds good.

[2021-07-09 06:34] hboon opened #2957 "Group tokens by chain in Wallet tab"
There's a discrepancy in how "Add / Hide Tokens" work since it's not grouped there, so we'll have to tweak that screen out too. But later since it's an advanced feature.

In scope:

* Group headers like "ETHEREUM MAINNET", "POLYGON", etc in the screenshot:

Out of scope:

* Change to tabs ("Loans", etc)
* Grouping like "SAVINGS" (which is related to tabs)

<img width="1157" alt="124899897-da1e0180

[2021-07-09 06:34] hboon commented on #2840
Created #2957

[2021-07-09 06:34] #2840 closed

[2021-07-09 08:19] colourfreak commented on #2902
https://zpl.io/bzd0Zol

[2021-07-10 09:09] hboon commented on #2944
For posterity, the dapp is at https://ht.mdex.com/#/swap

[2021-07-10 09:10] hboon commented on #2944
@hieronymus4826 I have managed to reproduce the error. The video from the user was very helpful. It looks like it's something the dapp has to fix. When I tap on the `Confirm` button to remove liquidity, this is what appears in the web browser console:

I have attached the textual version and took a screenshot.  Maybe ask the user to ping the dapp's developer with these?

<img width="1000" alt="Scr

[2021-07-12 05:14] AW-STJ opened #2964 "MATIC (on Polygon) Price data is missing"
Even though the price data is configured for some other tokens in Polygon, it is missing for the native coin MATIC.

![image](https://user-images.githubusercontent.com/61957841/125234243-a6fea980-e323-11eb-82d0-3f9fb125d050.png)

[2021-07-12 05:16] AW-STJ commented on #2954
Can we also add this #2808 and also log the events to using this Quickswap button?

[2021-07-12 05:20] AW-STJ commented on #2808
When we implement this feature, can we also log the event of using Quickswap for Mixpanel. The event should also capture the token information to understand which tokens are swapped the most using this deeplink.

[2021-07-12 06:41] hieronymus4826 commented on #2944
Thanks, Boon! I will update the user and forward him to the dapp support itself. Will update here, if we get any response there.

[2021-07-12 11:40] akhilccrb opened #2965 "Support the Tron chain?"
No Tron network support.

[2021-07-12 21:21] AW-STJ commented on #2912
Yes

Yes we can do that if custom tokens cannot be displayed without blockchain explorer. May be even display a error message to say "Add blockchain explorer URL" when a user tries to add custom tokens for such network.

[2021-07-12 21:21] AW-STJ opened #2966 "EIP 3085 doesn't work"
I was trying out https://chainlist.org/. None of the chains that I tried to add works on AlphaWallet. However, most of them works on Metamask.

![image](https://user-images.githubusercontent.com/61957841/125357075-79107800-e3aa-11eb-9b69-4941f54f54ec.png)

One random example that worked in Metamask Thai Chain:
Network Name: ThaiChain
Network URL: https://rpc.dome.cloud
Chain ID: 7
Currency Symbol:

[2021-07-13 07:28] colourfreak commented on #2908
https://zpl.io/V4G0AeN

<img width="1493" alt="Screenshot 2021-07-13 at 09 26 34" src="https://user-images.githubusercontent.com/51817359/125409949-b1b94d00-e3bc-11eb-89a5-c549e85d1514.png">

[2021-07-14 04:37] sharonsylu commented on #2965
Hi @akhilccrb thanks for forking the Alphawallet-iOS repo.

As this is a network feature request, could you please describe what your use case is for wanting to have this codebase support the Tron mainnet?  This will help us prioritise where we spend developer time.

Alternatively, as you're also playing around with the codebase, we welcome your pull requests.  This is an open source project so ap

[2021-07-14 05:27] sharonsylu commented on #2965
Logging reference resources for future Pull Requests:

Tron RPC documentation: https://developers.tron.network/docs/tron-wallet-rpc-api#vote
Tron Mainnet Stats + Sun Sidechain: https://tronscan.org/#/

[2021-07-14 06:37] #2844 closed

[2021-07-14 07:15] hboon commented on #2908
Thanks @colourfreak !

[2021-07-14 19:52] hieronymus4826 opened #2969 "Unable to split a LP from JetSwap on Iphone 12."
The user has successfully created a liquidity pair on JetSwap and staked on Adamant.finance via Chrome, confirming in AlphaWallet. Thats on Polygon.

After unstaking he is stuck on this screen:
![IMG_20210714_224311_531.jpg](https://user-images.githubusercontent.com/84448420/125683484-29b25ff2-84c2-4ca5-ad26-bda8fca1ab04.jpg).

Clicking the confirmation button doesnt send a request to AlphaWallet.

[2021-07-15 06:02] #2802 closed

[2021-07-15 06:40] hboon commented on #2750
@colourfreak @JamesSmartCell There's a technical limitation with how ERC1155 contracts work. So, the idea is ERC1155 contracts can hold more than 1 collection, e.g "Mathilde Cretier Arworks", "The Vault" and "Lost Relics") in the same contract. They can, but the contract doesn't provide a way for wallets to tell them a part. i.e. we can only know that the "Enjin" contract holds X tokens, but can't

[2021-07-15 06:53] colourfreak commented on #2750
Ok, noted. It makes sense.

[2021-07-16 05:16] sharonsylu opened #2971 "RPC: Add own node but conflicts with preexisting chain ID"
Want to add alternate RPC, but own full node conflicts with pre-existing chain ID.

Environment:
- Alphawallet iOS build
- Full nodes are remote
- tested wtih chainID 1

Observed:
- Attempt to add a network on custom RPC
- Error Message: "Already supported. Enable this server instead."

Is this a bug, or is this a feature...?

641 | "addrpcServer.chainIdAlreadySupported" = "Already supported. Enab

[2021-07-16 09:47] colourfreak commented on #2719
Zeplin:
https://zpl.io/V1A8qDQ

Go to Settings -> Advanced -> Export JSON Keystore

![export_to_json_android](https://user-images.githubusercontent.com/51817359/125928436-00979ed6-7452-4f5f-b1da-f00f9bad9415.jpg)

[2021-07-16 09:57] colourfreak commented on #2734
We have rounded corners only if this small gray rectangle is there.

<img width="334" alt="Screenshot 2021-07-16 at 11 52 44" src="https://user-images.githubusercontent.com/51817359/125929375-8d7e2cb4-d6b2-48f5-b606-e47fa48cdf06.png">

That means, that you can swipe down to collapse the action-sheet. But in our case the only way to escape is by hitting X button. And I don't want users to accidenta

[2021-07-16 10:07] colourfreak commented on #2771
Yes. But if this is just "Received" or "Sent" type of transaction, we don't need this middle screen as it was with "Swap"

Sent USDT
<img width="774" alt="Screenshot 2021-07-16 at 11 59 30" src="https://user-images.githubusercontent.com/51817359/125931081-9387fb81-f600-478d-8674-3c4bc8ec4bcf.png">

Received USDC (wrong title in the screenshot with USDT, so ignore)
<img width="833" alt="Screenshot

[2021-07-16 12:24] hieronymus4826 opened #2972 "ERC 721 on BSC Not detected on iOS"
A user has sent an NFT from TrustWallet to AlphaWallet and its not detected on iOS

![IMG_20210716_151959_127.jpg](https://user-images.githubusercontent.com/84448420/125946344-5a172ca9-fd1d-422a-8a03-df68eba28cd3.jpg)

The user is using Iphone XR. I get the same result on my Iphone 6e.

Android is able to detect it with watch wallet.

![Screenshot_20210716-141010_AlphaWallet~2.jpg](https://user-im

[2021-07-19 02:27] hboon commented on #2971
(For reference, we can click on the gutter for the relevant line, i.e. click on "641", and the URL in the URL bar will change to something like https://github.com/AlphaWallet/alpha-wallet-ios/blob/a8c9401e2ea7a673ac15da5d8c566a106241483e/AlphaWallet/Localization/ko.lproj/Localizable.strings#L641. Easier for you :) )

More a limitation/feature than a bug.

We don't support multiple setups for the s

[2021-07-19 05:32] hboon commented on #2972
Expecting the next update on the app store to fix this — v3.25. Planning to submit a hotfix today so it should be out today/tomorrow.

If the user still don't see it with that new update (because of caching), add it manually with:

* Add / Hide Tokens
* +
* Paste the token contract (0xa609c3b719dcf43df52afe4e7f4b90e1dda1823e)

[2021-07-19 07:50] hboon commented on #2972
@hieronymus4826 approved. Usually available in app store within 1-2 hours

[2021-07-19 07:51] hboon commented on #2972
Would you help close the issue once you are done with it?

[2021-07-19 08:07] hieronymus4826 commented on #2972
Thank you, @hboon ! I will close it once it has been tested and confirmed by the user.

[2021-07-19 11:18] tinaxiu2014 opened #2977 "xcode archive fail ,why"
name: Bug Report
about: Using AlphaWallet, but it's not working as you expect?

---

**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce (REQUIRED)**
Steps to reproduce the behavior

1. Tap Wallet tab
2. Tap ...
3. Tap ...
4. Wait ...
5. Tap ...

**Expect**
6a. ...

**Observed**
6b. ...

**Screenshots**
If applicable, screenshots (preferred to video) to h

[2021-07-19 11:19] tinaxiu2014 commented on #2977
<img width="1498" alt="截屏2021-07-16 20 08 28" src="https://user-images.githubusercontent.com/7834396/126152260-c3cea520-61e1-483a-8e0b-70545445a128.png">

[2021-07-19 11:25] sharonsylu commented on #2971
Thank you (still learning, keep these tips coming!) and thank you for confirming we don't support multiple RPCs for same chain ID, will advise!

[2021-07-19 11:25] #2971 closed

[2021-07-19 20:47] #2972 closed

[2021-07-19 20:53] hieronymus4826 opened #2978 "WalletConnect displays as an asset in the Wallet section on iOS."
WalletConnect displays as an asset in the Wallet section on iOS. Iphone 6e, latest version 19/07/21

![WalletConnect_displayed_in_wallet](https://user-images.githubusercontent.com/84448420/126225468-1673069d-f1c9-40fa-a8d5-abe2093d74ee.jpg)

[2021-07-19 21:20] hieronymus4826 opened #2979 "Optimistic Ethereum not working"
I have tested the new UniSwap Optimistic Ethereum and here is the sequence of events on the newest version (19/07/21) on iPhone 6e. These might be multiple issues, but I am posting the whole process to analyze here and then we can split it.

1) The wallet detects the tokens twice

![Two_optimistic_tokens](https://user-images.githubusercontent.com/84448420/126228251-51cf1b06-3af9-4374-a789-d2d48f75

[2021-07-20 02:21] tinaxiu2014 commented on #2977
yes.use Xcode 12.5 and clear,but fail too,can you tell me how to resolve this error ??

[2021-07-20 02:37] tinaxiu2014 commented on #2977
yes.use Xcode 12.5 and clear,but fail too,can you tell me how to resolve this error ??

[2021-07-20 02:51] tinaxiu2014 commented on #2977
yes.use Xcode 12.5 and clear,but fail too,can you tell me how to resolve this error ??

[2021-07-20 04:39] hboon commented on #2978
Yes. That’s by design.

[2021-07-20 04:41] hboon commented on #2979
Going to look at it when I’m back, but can you share which networks are enabled in Settings > Select Active Networks?

[2021-07-20 06:21] hieronymus4826 commented on #2978
I understand.

[2021-07-20 06:21] #2978 closed

[2021-07-20 06:34] hieronymus4826 commented on #2979
At the beginning it was Ethereum, BsC and Optimistic. Later I have tried with Optimistic alone, but no difference in the output. Still displaying both tokens and the sequence is the same.

[2021-07-20 07:12] tinaxiu2014 commented on #2977
yes.use Xcode 12.5 and clear,but fail too,can you tell me how to resolve this error ??

[2021-07-20 09:25] tinaxiu2014 commented on #2977
Get back  as soon as possible ，please

[2021-07-21 01:49] zhangzhongnan928 opened #2980 "Please add Cronos testnet in next release"
https://cronos.crypto.org/docs/getting-started/metamask.html#using-metamask
Explore: https://cronos-explorer.crypto.org/
TCRO Faucet: https://cronos.crypto.org/faucet

Once done, they will list us in their dev document and website

[2021-07-21 05:59] hboon opened #2981 "Get us listed under "ERC-721 SUPPORTERS" on http://erc721.org"

[2021-07-21 06:00] hboon opened #2982 "Design: Add email contact as a support channel back to iOS if it's still legit"
We removed it when we switch from the in-app FAQ screen to linking to the website version. So maybe in this screen?

<img width="487" alt="Screenshot 2021-07-21 at 2 00 22 PM" src="https://user-images.githubusercontent.com/56189/126438815-1aed727f-5f00-40cc-b01c-8bda34ff11cb.png">

[2021-07-21 07:36] colourfreak commented on #2982
![Settings_Support](https://user-images.githubusercontent.com/51817359/126449767-c6628102-5b95-401f-afce-8131a4ebac72.png)

1. I replaced 'Telegram (Public Channel)' with 'Discord'
2. I added 'Email'
3. Do we need: Facebook, Blog, Reddit?

[2021-07-21 07:36] colourfreak commented on #2982
Zeplin:
https://zpl.io/2ZB67gG

[2021-07-21 07:52] hboon commented on #2982
@colourfreak no opinions. Defer to you

[2021-07-24 07:32] hboon opened #2983 "Scope for 6 Aug"
Samoa
---
* [Samoa] Add summary/total to Wallet tab for current wallet #2755
* Group tokens by chain in Wallet tab #2957
* update displaying historical price changes, changes percentage
* Build the Info tab for fungibles (native crypto + ERC20) and move the most recent 3 transactions into the Activity tab #2748

Swaps
---
* Add Custom Linking to Quickswap for tokens on Polygon #2808
* Fix: when sp

[2021-07-24 07:33] hboon commented on #2954
Build 398

[2021-07-26 03:41] hboon commented on #2982
@colourfreak would you help update either the screenshot or provide a textual description once you figure it out?

[2021-07-26 04:43] #2980 closed

[2021-07-26 07:59] #992 closed

[2021-07-26 08:27] colourfreak opened #2985 "Improve the alignment of the graphic and text on the Backup intro screen"
Zeplin:
iPhone 8 https://zpl.io/amwxYjr
iPhone 11 https://zpl.io/2GqAqe9

![backup_intro](https://user-images.githubusercontent.com/51817359/126957580-916ab11f-8eca-46f0-88da-5e3f58a3b9ba.jpg)

[2021-07-26 08:29] colourfreak commented on #2985
* kill the thin, top, gray line
* break down the text into
Back up your wallet
with seed phrase
* Increase the picture size
* Make the text breaks accordingly
* Move the bottom button a bit more to the top

[2021-07-26 08:39] colourfreak opened #2986 "Improve the alignment of the graphic and text on the Seed Phrase intro screen"
![seed_intro](https://user-images.githubusercontent.com/51817359/126959192-b79d4987-f35b-4699-94f6-e7af49cf9d7d.jpg)

Zeplin:
iPhone 8 https://zpl.io/2G8BZDW
iPhone 11 https://zpl.io/brGMKnD

[2021-07-26 08:45] Mac3n commented on #2985
Could I have contribute in this issue or it's just assigned ?

[2021-07-26 09:06] colourfreak commented on #2274
1. Make lines I marked in red in gray colors #dddddd Mike
![2021-07-26 10 52 49](https://user-images.githubusercontent.com/51817359/126963708-b6aab866-dc74-4bff-b3e0-f076ae01fba6.png)

[2021-07-26 09:09] #2977 closed

[2021-07-26 09:16] colourfreak commented on #2274
* Instead of USD symbol, add $ prior to the number
* Add spacing or commas every 3 numbers

for example: $3 400,22  or $3,456.23

@hboon I think we can unify decimals.
so
$1.50
$233.45
$45,453.33

$000,000,000.00

![2021-07-26 11 07 07](https://user-images.githubusercontent.com/51817359/126964979-452669ea-9a5e-4fe7-ae88-ef30aba7899b.png)

[2021-07-26 09:17] colourfreak commented on #2274
We don't need to show which wallet you are in (checkmark). Instead, show unified icons for all. https://zpl.io/bAKlY3q

![2021-07-26 11 07 09](https://user-images.githubusercontent.com/51817359/126965148-a63371a4-03cb-4850-ae95-515c189f3fa2.png)

[2021-07-26 09:22] colourfreak opened #2987 "If no active WalletConnect session, immediately run the camera"
Currently we are displaying a blank screen when you don't have any active session. I think we can immediately trigger the camera to scan.

![2021-07-26 11 18 31](https://user-images.githubusercontent.com/51817359/126965708-e1cbe7e8-5af3-41b5-b378-f9a48af00f77.png)
![2021-07-26 11 19 32](https://user-images.githubusercontent.com/51817359/126965723-d6344744-5263-44f0-9c19-eda55d0abb02.png)

[2021-07-26 09:36] tinaxiu2014 opened #2988 "first install, import wallet after ,app"
name: Bug Report
about: Using AlphaWallet, but it's not working as you expect?

---

**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce (REQUIRED)**
Steps to reproduce the behavior

1. Tap Wallet tab
2. Tap ...
3. Tap ...
4. Wait ...
5. Tap ...

**Expect**
6a. ...

**Observed**
6b. ...

**Screenshots**
If applicable, screenshots (preferred to video) to h

[2021-07-26 09:37] hboon commented on #2985
@Mac3n go for it. But could you make this out of scope for the PR? They might  affect other screens.

* kill the thin, top, gray line
* Move the bottom button a bit more to the top

But if you can keep it localised to just this screen too, then feel free to include them too.

[2021-07-26 09:39] #2988 closed

[2021-07-26 09:39] tinaxiu2014 opened #2989 "first install app, import wallet( SeedPhrase) after go to home page ,app crash??"
name: Bug Report
about: Using AlphaWallet, but it's not working as you expect?

---

**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce (REQUIRED)**
Steps to reproduce the behavior

1. Tap Wallet tab
2. Tap ...
3. Tap ...
4. Wait ...
5. Tap ...

**Expect**
6a. ...

**Observed**
6b. ...

**Screenshots**
If applicable, screenshots (preferred to video) to h

[2021-07-26 09:41] tinaxiu2014 commented on #2989
<img width="1030" alt="截屏2021-07-26 17 40 23" src="https://user-images.githubusercontent.com/7834396/126968390-72031020-69c6-46a8-818f-df99bad14870.png">

[2021-07-26 09:42] hboon commented on #2274
Do you mean to show the chevron for the current wallet too? Wouldn't it make usability worse by making it harder for users to go back to the current wallet? And this screen is also accessible in Settings > Change /Add Wallet where we show a checkmark against the current wallet.

[2021-07-26 14:26] hieronymus4826 opened #2990 "SushiSwap doesn't connect via WalletConnect in Chrome on iOS"
No effect after scanning the QR code in Chrome.

Works perfectly fine in the app browser, but auto-connects via injection rather than prompting for options, such as WalletConnect and others.

Iphone SE, iOS version 14.6, AW 3.25

[2021-07-26 16:59] hieronymus4826 opened #2991 "LP creation screen displays as media on lockscreen on iOS"
While creating an LP on Polycrystal, the screen locked and got this:

![IMG-3853.jpg](https://user-images.githubusercontent.com/84448420/127028708-b331f2ce-499b-4c0c-b143-507d0a59f9ac.jpg)

Probably low priority, but checking if it might affect other things.

[2021-07-26 17:18] hieronymus4826 opened #2992 "Tether(USDT) not properly displayed"
On the main token page it looks OK, as a total, but received shows 0:

![IMG-3847 (1).PNG](https://user-images.githubusercontent.com/84448420/127030159-762f1a8a-40de-4411-a8f2-e3d3108d9454.PNG)

When you click for more details you get several decimals right (thats the $212).

![IMG-3848 (1).PNG](https://user-images.githubusercontent.com/84448420/127030555-0130857f-c085-4eb0-b621-0941485e2a4d.PNG)

[2021-07-26 21:56] hieronymus4826 opened #2993 "Wallet unable to interact/disconnect from Augury Finance, recognised as MM"
AW autoconnects to the dapp, upon entry. When trying to disconnect we get this

![image_6483441.JPG](https://user-images.githubusercontent.com/84448420/127064286-6d03c2d5-d2f4-45b6-8f60-02810a2f4429.JPG)

Unable to interact with the platform at all, no buttons work.

[2021-07-27 06:58] colourfreak commented on #2274
Yes, chevron for the current wallet too.

https://invis.io/7TZHRQ8W265

It works fine with Zerion. We have few more indicators such as portfolio value, blockie, wallet name to get the difference.

[2021-07-27 07:03] colourfreak commented on #2982
No Reddit, no Facebook and no Blog. This is not meant to be "Find us on" but to get the support.

[2021-07-28 10:20] JamesSmartCell commented on #2908
@colourfreak would it be a good idea to warn users if they're switching between a currently selected main net to a test net and vice versa? So eg I'm on Eth Mainnet and I get a request to switch to Rinkeby.

[2021-07-28 14:09] JamesSmartCell commented on #2830
The name is usually like the symbol should be. I'll locate an example

[2021-07-28 14:09] JamesSmartCell commented on #2830
Yes it's more of an edge case, but it's something to be careful of.

[2021-07-29 03:26] #2989 closed

[2021-07-29 05:52] akhilccrb commented on #2965
Thanks for the update. But is it possible to use Tron signin useing this sdk. ?

[2021-07-29 10:06] colourfreak opened #2994 "[Samoa] Improve Add/Hide Tokens screen"
This is one of the last, major changes in regards to Samoa. I think we discussed this part somewhere else, but I could not find this.

**I recorded two explainer videos:**
https://drive.google.com/file/d/1uG9gtK-TTwSxt2rJU-NpHIreakEYriTC/view?usp=sharing
https://drive.google.com/file/d/1AqZY531iIGT9tzM83vDEMd6EmISwzLit/view?usp=sharing

**What we are changing:**
- I moved the Add/Hide Tokens to th

[2021-07-29 10:10] colourfreak commented on #2994
Updated Wallet tab:
![Manage_Tokens_Wallet](https://user-images.githubusercontent.com/51817359/127473988-5cbef0b6-0d64-44b4-9836-696f569de82b.jpg)

[2021-07-29 10:11] colourfreak commented on #2994
Updated Add / Hide Tokens
![Manage_Token_Long](https://user-images.githubusercontent.com/51817359/127474082-1730aa3d-ce2e-47b3-91f9-3baf57ccf773.png)

[2021-07-29 10:11] colourfreak commented on #2994
When searching for DAI

![Manage_Token_Search_DAI](https://user-images.githubusercontent.com/51817359/127474138-b48a44f8-ff14-4349-a489-6633f4fa9db5.png)

[2021-07-29 10:12] colourfreak commented on #2994
When searching for a token that is not displayed, but we already have this address in our database (check out Android)
![Manage_Token_Search_USD](https://user-images.githubusercontent.com/51817359/127474276-08ee0b05-4e93-4761-9442-6d48332c5329.png)

[2021-07-29 10:12] colourfreak commented on #2994
Sorting selection
![Manage_Token_Sort](https://user-images.githubusercontent.com/51817359/127474325-31b451dd-032e-42f3-a523-f34e6405960a.png)

[2021-07-29 10:24] colourfreak commented on #2994
When you don't have any search results
![Manage_Token_Search_Empty](https://user-images.githubusercontent.com/51817359/127476031-2dfe582b-10fc-40c9-9154-b0c2df534db4.png)

[2021-07-29 10:37] colourfreak opened #2995 "Update the design of Add Custom Token"
- The Title should be smaller, only in the Navigation Bar (make it consistent with Add Custom RPC Network style)
- Updated input fields (make it consistent with Add Custom RPC Network style)

https://zpl.io/2GqwqBJ

[2021-07-29 10:40] colourfreak commented on #2995
Current
![2021-07-29 12 25 39](https://user-images.githubusercontent.com/51817359/127478090-80b4cbb5-00bf-4142-ad28-23810a9bb4c7.png)

Expected
![Manage_Token_Add_Custom](https://user-images.githubusercontent.com/51817359/127478119-c1015194-11a7-4970-bde5-1a5012454079.png)

[2021-07-29 10:50] colourfreak opened #2996 "Single Selection looks the same as Multiple Selection"
Not sure if we should change it, but we can have a discussion. I found that a single radio button looks the same like checkbox with multiple selections.

Current:
![Change_Currency_A](https://user-images.githubusercontent.com/51817359/127479230-73edb471-c5a7-4820-9f21-16629ad5f6ca.png)
![Change_Language_A](https://user-images.githubusercontent.com/51817359/127479236-86a95397-8c56-4052-94ac-66f58bb

[2021-07-29 11:02] colourfreak opened #2997 "Add some extra space below the Testnet button"
It looks like it's off the canvas. If you add one more, blank (white) row below Testnet it should look better.

![2021-07-29 13 00 33](https://user-images.githubusercontent.com/51817359/127481008-1ede1c3e-5d0c-46a6-94a0-6a54fd5e67a6.png)

[2021-07-29 11:08] hboon commented on #2996
How about keeping the checkmarks for singe selections and switches (like how Alarm.app) for multiple selections? More idiomatic iOS

[2021-08-02 07:23] hboon opened #3001 "Get AlphaWallet target onto Swift 5 (or whatever is latest at the point of working on this)"
AlphaWalletShare target is already on Swift 5.

This helps to produce more updated warnings.

[2021-08-02 09:15] #2933 closed

[2021-08-02 09:25] #2748 closed

[2021-08-02 09:25] #2749 closed

[2021-08-02 14:22] vladyslav-iosdev commented on #2852
Fixed with #2871

[2021-08-02 14:22] #2852 closed

[2021-08-03 03:45] #2957 closed

[2021-08-03 03:49] #2916 closed

[2021-08-03 03:54] #2931 closed

[2021-08-03 03:54] #2932 closed

[2021-08-03 04:03] hboon commented on #2985
Vlad, could you help with this? There might be a few other similar screens, especially in the backup seed/JSON keystore flow:

- [ ] Move the bottom button a bit more to the top

[2021-08-03 04:05] #2995 closed

[2021-08-03 04:12] #2986 closed

[2021-08-03 04:19] hboon commented on #2964
Forgot to close previously.

[2021-08-03 04:19] #2964 closed

[2021-08-03 04:19] #2954 closed

[2021-08-03 04:19] hboon commented on #2954
Forgot to close previously

[2021-08-03 04:23] hboon commented on #2987
@Mac3n this.

[2021-08-03 04:27] Mac3n commented on #2987
Sure, I will check it

[2021-08-03 04:49] hboon opened #3011 "Crash when switching wallet in Settings > Change / Add Wallet"
Complains about Realm accessed from incorrect thread. Will post if I reproduce again. This is with the tip at 5532de05543c5d7d6d047c7538322504f5ac4042

[2021-08-03 04:53] hboon commented on #2993
@hieronymus4826 seems ok with the current master. I think the current build on TestFlight should work too. Do you have access to that?

[2021-08-03 06:07] hieronymus4826 commented on #2993
@hboon I don't think I have at the moment. So far, for the Android builds, James has shared the build on Discord.

[2021-08-03 07:21] hboon commented on #2993
@hieronymus4826 oh, my bad. Have sent you an invite to your @alphawallet account. Latest build is 398. You might get 2 separate emails.

[2021-08-03 07:29] #2997 closed

[2021-08-03 07:33] #2815 closed

[2021-08-03 08:27] hboon commented on #2990
Checking the problem. But this part:

Ah. Bit of history for context and posterity:

Initially, dapps (can) check right away if there is a wallet provider injected (i.e. this is a dapp browser) and access the user's Ethereum address.

But this means it's possible for any site to figure out if the user is using a dapp browser, and if so, retrieve their Ethereum address and discover the contents of

[2021-08-03 08:41] hboon commented on #2990
Works for me when I tried it with the latest TestFlight and and older version on the app store. Can you try to reproduce?

Could be due to sometimes WalletConnect not being stable?

[2021-08-03 08:51] #2992 closed

[2021-08-03 08:54] hboon commented on #2991
@hieronymus4826 interesting! Can you describe, step by step how you get here? I can't get past the connect options in https://polycrystal.finance/ with the dapp browser.

[2021-08-03 09:47] hboon opened #3015 "Functional or immutable?"
Related to #2918

When we do this:

[code]

The original intention was so it was easier to tell if a function call modifies state. And also:

But this example https://github.com/AlphaWallet/alpha-wallet-ios/blob/dc4b94c999fd01a56a11194c8b707e01bd8393c5/AlphaWallet/AppCoordinator.swift#L469 seems to violate that because `deleteAllTransactions()` obviously changes state (in the database). Similarly

[2021-08-03 09:49] hboon commented on #2994
Vlad, besides the categories like "Savings", "Loans", etc. We should be able to implement everything?

[2021-08-03 11:43] vladyslav-iosdev commented on #3015
oh, ok, i got your idea, missed case that `.functional` should containt immutable code.  in case for `deleteAllTransactions` when we change the state but and want to keep it separatelly `as function deleteAllTransactions` get called in different places, how things should be for this functions?

[2021-08-03 11:44] vladyslav-iosdev commented on #3015
just make then static but keep in `TransactionsStorage`?

[2021-08-03 12:04] hboon commented on #3015
Yes, I think static is still perfectly fine. Just not ‘functional’.

What do you think of renaming functional to immutable? Or unnecessary?

[2021-08-03 12:05] vladyslav-iosdev commented on #3015
`immutable` is more clear i guess.

[2021-08-03 12:09] vladyslav-iosdev commented on #3015
i will apply changes according to https://github.com/AlphaWallet/alpha-wallet-ios/issues/3015#issuecomment-891790824

[2021-08-03 12:23] hboon commented on #3015
Yeah. Thanks.

[2021-08-03 12:57] vladyslav-iosdev commented on #2994
Will do!

[2021-08-03 12:58] #2755 closed

[2021-08-03 13:01] #3015 closed

[2021-08-03 21:42] hieronymus4826 commented on #2991
I have no problem connecting when I press the MetaMask button.

Then I go to Trade -> Liquidity (at this point I get disconnected from the wallet as we are moving to "dex,polycrystal.finance") - > I recconect and approve the pair

![Polycrystal_2](https://user-images.githubusercontent.com/84448420/128090145-c00bcad2-0daf-4f86-968f-e5a84821895b.JPG)

And when I am this confirmation screen to supply

[2021-08-03 22:11] hieronymus4826 commented on #2990
Thank you for taking the time to explain in-depth!

I've installed the testflight and tested Sushi again. I got WalletConnect error in Chrome every time I attempted in a 30 min period.

Just in case I tested all the other big Defi apps - Pancake, Uniswap and 1inch and they all connect fine, so whatever it is its the Sushi implementation.

The app is working perfectly fine in the in-app browser.

[2021-08-03 22:11] #2990 closed

[2021-08-03 22:20] hieronymus4826 commented on #2993
Thanks for the invite. I got the testflight version installed.

The disconnect button is still grayed out, but I am able to use all functions of the app properly.

Checked other Defi Apps in the same range (Polycat, Polycrystal, Jetswap) using Metamask connect and they all work perfectly fine. It must be their implementation. Maybe Augury is using some old web3 connect code (just a guess).

[2021-08-04 04:45] hboon opened #3019 "Ping WalletConnect bridge server's /hello if WalletConnect connection fails"
Have to ping the correct bridge server

[2021-08-04 07:20] hboon opened #3021 "Tweak? Transfer overlay hides Token image chain badge"
Some token icons like Optimistic's ERC20 Ether token includes a round badge to indicate which chain it is. In our design, we overlay a down (or diagonal) arrow icon over the token icon to indicate a transfer. The overlay might cover the round badge completely

It does in the single Activity screen and only partially in the Activity list on iOS, so we might also want to make it consistent.

<img wi

[2021-08-04 08:03] hboon opened #3022 "Improve user experience if WalletConnect doesn't connect after a while"
Set a network timeout (if we can) or set one internally so we can inform the users with something more helpful or informative. Maybe tell them and ask them to try connecting again? (because we might need a new QR code, we can't do it without user intervention)

Needs some thinking here.

[2021-08-04 11:03] hboon commented on #2979
@hieronymus4826

#3020

A few things here:

* I can't figure out how to connect to Optimistic on https://app.uniswap.org/#/swap. Is there a toggle in the site? When I use WalletConnect, the connection is always for Ethereum (not Optimistic)
* Connecting sometimes doesn't work, but sometimes it works consecutively. It's still *possible* that it's a problem with the app, but there's a good chacne it

[2021-08-05 04:47] hboon opened #3025 "Hardwire price for ETH on Optimistic to match Ethereum mainnet's"
@zhangzhongnan928 @JamesSmartCell Anything wrong with doing this?

[2021-08-05 04:48] hboon commented on #3025
Rationale: With Samoa update and supposedly in the future if/when we add better L2 support, monetary value gets spread across chains. It would be good if we can put a price on tokens so the true fiat value shows up.

[2021-08-05 05:03] hboon commented on #2991
Strange indeed! I can make it happen once and then I can't reproduce it anymore. I *guess* it's because the site is playing an audio stream or something which causes iOS to display that media overlay, but I can't reproduce it anymore to examine it. But doesn't seem like it's something we need to fix or can fix at the moment. Closing for now. But don't let this stop you from reporting issues. They

[2021-08-05 05:03] #2991 closed

[2021-08-05 08:09] hboon opened #3029 "Watching an invalid Ethereum address should not crash"
https://github.com/AlphaWallet/alpha-wallet-ios/blob/105b97dabdbe5396d887c3e3390afe57df558f74/AlphaWallet/Wallet/ViewControllers/ImportWalletViewController.swift#L450

We should tell the user the address is invalid

Try: 0x682633e7e57201c0e2137bacOcae80555f9b04e6 (there is a capital "o" in there)

I got this when using iOS 15's Live Text on an Ethereum address

[2021-08-05 08:12] hboon opened #3030 "After tapping Paste button to paste privacy key for importing, Import button should be enabled"

[2021-08-05 14:57] #3030 closed

[2021-08-05 14:57] #2985 closed

[2021-08-05 14:58] #3029 closed

[2021-08-06 09:36] hboon opened #3039 "Pending transactions don't show up in Activities tab after sending one"
It looks like `TransactionDataCoordinator.delegate` and `TransactionDataCoordinator.delegate2` are not set anymore: https://github.com/AlphaWallet/alpha-wallet-ios/blob/1b53b96cfab93fa8aac5be1de8959e031a668cbb/AlphaWallet/Transactions/Coordinators/TransactionDataCoordinator.swift#L37

Looks like it's broken by bd1989196d7216edd7cbaca6e19670b88686f234 because most of the code in `ActivitiesCoordina

[2021-08-06 09:36] hboon commented on #3039
I would take a look at it again on Monday/Tues if Vlad hasn't by then.

[2021-08-06 13:30] vladyslav-iosdev commented on #2994
@colourfreak please share the resources for this screen https://user-images.githubusercontent.com/51817359/127476031-2dfe582b-10fc-40c9-9154-b0c2df534db4.png, can't find this screen here https://app.zeplin.io/project/5d0356be2f25b319dcc5944b/dashboard?sid=60ffc365c0c1c312b627dd5b

[2021-08-09 05:33] jagdeepmishra opened #3040 "'secp256k1.h' file not found"
name: Bug Report
about: Using AlphaWallet, but it's not working as you expect?

---
After Installing all pods, I am unable to run my project. it says secp256k1.h not found

**Version or build number number**
Swift 4.2

[2021-08-09 06:28] hboon commented on #3040
Hi @jagdeepmishra we have experienced something like this but not sure if we quite narrowed it down or have fixed it entirely, but just be sure, can you make sure you are on:

* `master` branch
* Build with Xcode 12.5?

If you haven't used 12.5, could you clone the repo again, just to be sure no intermediate files are affecting things (intermediate files was really tricky for us when we hunt down

[2021-08-09 06:49] #2808 closed

[2021-08-09 07:43] vladyslav-iosdev commented on #3039
@hboon i checked behaviour for sending transaction in test net, it works as expected. does it means that a new tx doesn't show in list at all for you? or it appears with delay?

[2021-08-09 08:04] vladyslav-iosdev commented on #3039
also i am facing the next: the dates for activities list displays several times "for today section" is this is ok?
<img width="447" alt="Screenshot 2021-08-09 at 10 44 57" src="https://user-images.githubusercontent.com/55975226/128674600-37f62c64-0ec4-494e-9dd3-1789033cd6cc.png">

[2021-08-09 08:21] hboon commented on #3039
That should be ok for now

[2021-08-09 08:21] hboon commented on #3039
We can fix it separately unless the transactions are wrong

[2021-08-09 08:22] hboon commented on #3039
@vladyslav-iosdev they don’t appear as pending transactions first. After you look at this, can you do a quick pass and see if anything else is missing? Just in case.

[2021-08-09 08:34] vladyslav-iosdev opened #3042 "Fix sorting activities by dates"
name: Invalid sorting activities by dates
about: Using AlphaWallet, but it's not working as you expect?

---

**Describe the bug**
Sorting activities doesn't works, we able to see several transaction headers 'Today'

**Expect**
<img width="447" alt="Screenshot 2021-08-09 at 11 30 54" src="https://user-images.githubusercontent.com/55975226/128678972-5c80e4fb-d32e-4b14-886c-ec28faddc7a2.png">

**Obs

[2021-08-09 09:54] jagdeepmishra commented on #3040
Yes Xcode version is 12.5.1 and its works with master branch. But when I try to add Alpha Wallet in my Sample Project. After installing all pods it gives me error in my xcode.

[2021-08-09 09:56] vladyslav-iosdev commented on #3039
@hboon seems like i am not able to reproduce it, after several attempts was not able to reproduce it. there shouldn't be any differences beetwen sending token on test or main Network right?

[2021-08-09 10:27] hboon commented on #3039
@vladyslav-iosdev yes. No difference. Can you try disable the code that fetches new transaction? Does the pending transaction show up right away after you post a transaction? If you can reproduce it, let me check it again tomorrow to be sure. Don’t waste your time in case it’s just a problem on my side.

[2021-08-09 11:06] hboon commented on #3040
Can you elaborate what you mean by sample project?

[2021-08-09 14:09] vladyslav-iosdev commented on #2982
@hboon what email can do we need to use here?

[2021-08-09 23:08] benslaney opened #3045 ""Add token failure" error message"
name: Bug Report
about: "Add token failure" error message on adding any Ethereum token (not other chains though). On compiled master branch only - works fine on app in App Store

---

1. Tap Wallet tab
2. Tap Add / Hide Tokens
3. Tap an ERC20 token, such as TrueUSD
4. Wait ...
5. There error dialog appears

**Expect**
The token to be added to the token list that shows on app startup

**Version or

[2021-08-10 03:16] #2982 closed

[2021-08-10 03:18] #3042 closed

[2021-08-10 04:06] hboon opened #3046 "Crash when fetching events"
Seems like #3043 introduces a crash. I tested with wallet: `0x007bEe82BDd9e866b2bd114780a47f2261C684E3` on Ropsten.

If we modify the loop at:

https://github.com/AlphaWallet/alpha-wallet-ios/blob/86555ad46d1cbf774ea9185daf7851a0082f59fa/AlphaWallet/Activities/ViewModels/ActivitiesViewModel.swift#L55

to become:

[code]

Running it, I get:

[2021-08-10 04:41] hboon commented on #3039
@vladyslav-iosdev I can reproduce this on Ropsten with a8fd2280a8988185f163844d754f4c394e257d71:

Modify the function at https://github.com/AlphaWallet/alpha-wallet-ios/blob/a8fd2280a8988185f163844d754f4c394e257d71/AlphaWallet/Transactions/Coordinators/TransactionDataCoordinator.swift#L124 to be:

[code]

After sending ETH, I get:

And Activity tab doesn't show a "Sending ETH" row. After a while,

[2021-08-10 05:09] hboon opened #3047 "Scope for 20 Aug"
- [x] Add Custom Linking to Quickswap for tokens on Polygon #2808
- [x] Add support for Cronos testnet
- [x] Update popular token list #3069 out from here: https://etherscan.io/tokens?sort=holders&order=desc
- [x] Design: Add email contact as a support channel back to iOS if it's still legit #2982
- [x] Samoa changes

Analytics
---
- [x] Log analytics: user's choice when prompted to subscribe for

[2021-08-10 05:24] hboon commented on #2983
No build for this week as it's broken quite early into the sprint.

[2021-08-10 05:24] #2983 closed

[2021-08-10 05:47] vladyslav-iosdev commented on #3045
@hboon it failures because of error `daily request count exceeded, request rate limited`

[2021-08-10 05:51] hboon commented on #3045
Ah, no wonder I can't reproduce it previously. Can you trap for it and show a message. We have shown something like that so we should be able to reuse the message. Buzz me if  you can't find it.

[2021-08-10 06:52] vladyslav-iosdev commented on #3046
@hboon now it should be ok, removed usage of `ActivityDateKey`

[2021-08-10 06:55] vladyslav-iosdev commented on #3039
```NSLog("xxx calling delegate and delegate2: \(delegate) and \(delegate2)")```
these pointers are null because we get updates directly from `TransactionCollection.swift` via its `Subscibable` values.
from here
[code]

[2021-08-10 06:57] vladyslav-iosdev commented on #3039
trying to reproduce it on my side

[2021-08-10 08:38] #3046 closed

[2021-08-10 08:45] #2994 closed

[2021-08-10 09:01] hboon opened #3049 "Design: disambiguate tokens available to add with the same name in Add/Hide tokens"
Could be due to our implementation, but should we provide a way to tell the various "Burner" tokens apart?

(just in the master branch, may not be available on TestFlight/app store yet)

<img width="460" alt="Screenshot 2021-08-10 at 4 44 44 PM" src="https://user-images.githubusercontent.com/56189/128839002-2fccfbf6-6881-41f9-b275-789861d14264.png">

[2021-08-10 10:53] benslaney commented on #3045
I can't trap it well but it does feel like an API request failing. Which one would it be? I have tried replacing Etherscan and Infura to no avail

thanks for looking at it

[2021-08-10 11:01] hboon commented on #3045
@benslaney no worries, I'll look into it. Thanks for trying :)

[2021-08-10 11:02] benslaney commented on #3045
I can't trap it because it just stops on some coordinator thing that's got dozens of layers of abstraction and the actual code path is obfuscated by ASM dumps

if there's anything I can do let me know and I will

[2021-08-10 11:02] hboon commented on #3045
@benslaney but for your purpose, try replacing the Infura key in `Constants+Credentials.swift` if you haven't.

[2021-08-10 11:02] benslaney commented on #3045
I have tried replacing Etherscan and Infura to no avail

[2021-08-10 11:03] benslaney commented on #3045
I'll try again on the infra key I guess - thanks

[2021-08-11 03:46] hboon commented on #3045
Linked PR contains the fix.

For posterity, here's how we can debug it:

1. Do a full text search for the error message "Add token failure" in `R.generated.swift`
2. Look for the function which uses it -> walletsHideTokenErrorAddTokenFailure()
3. Look for where the function is called
4. We are lucky here and it's only used at one place:

[code]

5. Modify to log the error:

[code]

then follow the

[2021-08-11 04:57] hboon opened #3052 "Apply approach in #3043 again if it's better"
Refer to: https://github.com/AlphaWallet/alpha-wallet-ios/pull/3048#issuecomment-895842662

[2021-08-11 05:40] hboon commented on #2750
@vladyslav-iosdev if you have the bandwidth, can you help build the UI? Stub out the models. You can use ERC721 tokens if it's easier. I'll figure out the backend to fetch and store the tokens.

[2021-08-11 10:57] vladyslav-iosdev commented on #2827
@hboon was u able to reproduce it several times?

[2021-08-11 11:52] vladyslav-iosdev commented on #3039
@hboon  i suppose that this issue could be in case of large wallet, when sorting takes a lot of time. Because with wallet i am trying to reproduce, its not reproducing

[2021-08-11 12:03] hboon commented on #3039
Hmm. Could you point me the the piece of code which creates the pending transaction and add to the database?

[2021-08-11 12:10] vladyslav-iosdev commented on #3039
here is where is get created
https://github.com/AlphaWallet/alpha-wallet-ios/blob/1b53b96cfab93fa8aac5be1de8959e031a668cbb/AlphaWallet/Transactions/Coordinators/TransactionDataCoordinator.swift#L109
and via this method we add it to the DB
https://github.com/AlphaWallet/alpha-wallet-ios/blob/1b53b96cfab93fa8aac5be1de8959e031a668cbb/AlphaWallet/Transactions/Coordinators/TransactionDataCoordinator.sw

[2021-08-11 12:30] hboon commented on #3039
Thanks. I’ll take a look again and try.

[2021-08-11 12:44] vladyslav-iosdev opened #3056 "Tapping send button doesn't work in `TokenViewController` presented from activities list"

[2021-08-11 12:47] hboon commented on #2941
Reopen to double check

[2021-08-11 13:02] vladyslav-iosdev opened #3058 "Animation stops while scrolling cell for view `ActivityStateView`"

[2021-08-11 14:14] vladyslav-iosdev commented on #3039
@hboon btw transaction doesn't appear on token screen in activity tap, or it doesn't appear on all activities tab?

[2021-08-11 14:48] vladyslav-iosdev commented on #2750
@hboon btw, are we going to use the same instance of `TokenObject` for `ERC 1155 Tokens`, with updating it, or its going to be something else?
do we need to user existing `TokenViewController` class or its going to be some other class?

[2021-08-11 15:01] hboon commented on #3039
I only checked the “main” Activities tab

[2021-08-11 17:59] colourfreak commented on #3049
Popular tokens are those with top30 ERC20 tokens

[2021-08-11 18:02] colourfreak commented on #2994
https://zpl.io/VY0Lgem

[2021-08-12 02:48] #3052 closed

[2021-08-12 02:52] hboon commented on #2827
@vladyslav-iosdev no, I only saw it a few times. How do I reproduce it before the PR?

[2021-08-12 02:55] #3056 closed

[2021-08-12 02:56] #3058 closed

[2021-08-12 03:09] #3045 closed

[2021-08-12 04:49] hboon opened #3061 "Refactor/clean up. Seems TransactionDataCoordinator.delegate2 (and delegate?) is not used anymore"
Check #3039 for background.

And maybe adding the pending transaction when the confirmation UI is closed is not good.

[2021-08-12 04:49] hboon commented on #3039
@vladyslav-iosdev sorry, I get it now. It's added when the progress dialog is closed. I probably broke it when I was trying to look into it. Will see if there's a way to improve it in #3061, but not a bug. Thanks for checking.

[2021-08-12 04:49] #3039 closed

[2021-08-12 05:43] vladyslav-iosdev commented on #2679
@hboon i suppose this one could be closed, isn't?

[2021-08-12 05:46] vladyslav-iosdev commented on #2827
@hboon  actually i don't know how to reproduce it ;) btw, it was after the app was updated with displaying only mainet or testnet tokens, i mean updated on `Settings -> Select Active Networks`?

[2021-08-12 05:47] vladyslav-iosdev commented on #2765
@hboon do we still need this issue?

[2021-08-12 06:26] hboon commented on #2765
Nah, let's close it.

[2021-08-12 06:26] #2765 closed

[2021-08-12 06:28] #2827 closed

[2021-08-12 06:30] hboon commented on #2679
@vladyslav-iosdev yes it should be.

[2021-08-12 06:30] #2679 closed

[2021-08-12 10:40] vladyslav-iosdev commented on #3061
@hboon Displaying pending transaction comes with delay, that is because there is a lot of calculation before  displaying it. especially while using a large wallet.

[2021-08-12 12:14] hboon commented on #3061
Yes, but we can probably initiate it (with a delay in the background if necessary) in a different place in the chain rather than upon user close the confirmation dialog. Feels like the wrong place to be.

[2021-08-13 06:28] hboon commented on #2750
@vladyslav-iosdev We can probably modify `SingleChainTokenCoordinator.showTokenList(for:token:navigationController:)` to special case for ERC1155 and launch the new UI there.

[2021-08-13 07:13] vladyslav-iosdev commented on #2750
ok, np

[2021-08-13 09:03] vladyslav-iosdev commented on #3061
oh, checked call stack, yeah it adds not. recently but after we closing the confirmation view

[2021-08-13 09:13] vladyslav-iosdev commented on #3049
@hboon Does it mean we need to update tokens `.json` file?

[2021-08-13 09:23] vladyslav-iosdev opened #3066 "Refactor: Remove token sorting duplication"

[2021-08-13 14:14] vladyslav-iosdev opened #3068 "Refactor: Update `WalletBalanceFetcher` with updated code base from `TokensDatastore`"

[2021-08-16 03:38] #3061 closed

[2021-08-16 03:51] #3066 closed

[2021-08-16 05:13] hboon opened #3069 "Update popular token list"
Top 20/30 from here instead https://etherscan.io/tokens

And maybe the top tokens sorted by holders is better? https://etherscan.io/tokens?sort=holders&order=desc

[2021-08-16 05:15] hboon commented on #3049
Superseded by #3069

[2021-08-16 05:15] #3049 closed

[2021-08-16 09:12] #3069 closed

[2021-08-16 09:12] #3068 closed

[2021-08-16 13:46] vladyslav-iosdev opened #3073 "Fix `index out of range` crash on `tokenHolders[0]` in`ActivitiesService`"

[2021-08-16 14:04] vladyslav-iosdev opened #3075 "Refactor: `SendCoordinator` remove unused dependencies"

[2021-08-16 14:44] #3075 closed

[2021-08-16 19:20] #3073 closed

[2021-08-17 22:09] zhangzhongnan928 opened #3077 "Mobile browser WalletConnect doesn’t work"
https://user-images.githubusercontent.com/33795543/129807234-0f1e4638-104b-4887-95c6-907277667a18.MOV

[2021-08-18 02:31] hboon commented on #3077
The configuration on our server to grant permission to intercept aw.app links is down:

[code]

[2021-08-18 06:32] vladyslav-iosdev opened #3078 "Refactor: Improve updating `walletSummaryView` view"

[2021-08-18 07:11] #3078 closed

[2021-08-18 09:14] vladyslav-iosdev opened #3081 "Refactor: extract `ActivitiesView` to separate file"

[2021-08-18 09:24] #3081 closed

[2021-08-19 09:48] colourful-land commented on #3077
@hboon is it to associate iOS app with a domain name? why not associate to alphawallet.com? There might be an old reason but I couldn't find it.

[2021-08-19 10:00] hboon commented on #3077
@colourful-land kind of, but more specifically, it is to tell Apple that the domain hosting this (i.e. aw.app) allows the app to intercept URLs containing that domain as deeplinks. We originally used this for MagicLinks, so we can't use it for alphawallet.com without changing MagicLinks.

But for this issue, we were just riding on the existing setup for aw.app, so in theory, if we want to, we can

[2021-08-19 11:39] zhangzhongnan928 commented on #3077
@samuelhbne are you managing the aw.app ?

[2021-08-19 12:27] samuelhbne commented on #3077
I worked with Weiwu months ago for fixing this issue. It was resolved by restarting. So guess we can copy the cheat cheat again.

We planed to start a new project to replace it as there's no docs as well as work log of this project hence we have zero knowledge over how it worked.

[2021-08-20 04:03] hboon commented on #3047
Build 399

[2021-08-20 04:03] #3047 closed

[2021-08-20 04:04] hboon opened #3083 "Scope for 3 Sep"
- [ ] Bunch of follow ups — some TODOs and refactoring that was excluded from #2819 to reduce scope
- [ ] WIP — ERC1155

Backlog
---
- [ ] WIP — Samoa #2747

[2021-08-20 11:06] colourfreak opened #3084 "Kill large title in the Wallet tab"
This is what we have now:
![2021-08-20 05 51 12](https://user-images.githubusercontent.com/51817359/130223275-c0773bf1-f50c-4ea6-829a-01b6c4f8f481.png)

This is what we should get:
<img width="844" alt="Screenshot 2021-08-20 at 05 59 27" src="https://user-images.githubusercontent.com/51817359/130223930-1edfee28-39c5-42ab-9116-881ff7e41e79.png">

The spacing between the Navigation bar and the Portf

[2021-08-20 11:15] colourfreak commented on #3084
The only unknown is what to do with a search bar. I place it where we have "Add/Hide tokens", and move the replaced button to the very button. But temporarily, we can have the same Notepad has. So you reveal a search box when you swipe down even further than a default view.
<img width="841" alt="Screenshot 2021-08-20 at 06 14 16" src="https://user-images.githubusercontent.com/51817359/130225349-2f

[2021-08-20 11:25] colourfreak opened #3085 "Kill the thin grey line between Navigation bar and the segmented controls in token view"
![2021-08-20 05 47 10](https://user-images.githubusercontent.com/51817359/130225575-99f996a4-a462-4273-bd98-c67eb305a1c1.png)

[2021-08-20 11:27] colourfreak opened #3086 "Add 2 more sorting options in the Add/Hide Tokens screen"
We should have 4 in total:

- Name: Ascending
- Name: Descending
- Value: Ascending
- Value: Descending

This is what we have now:

![2021-08-20 06 25 43](https://user-images.githubusercontent.com/51817359/130226506-267d3156-4d5e-4962-a9d7-8467960ce941.png)

[2021-08-20 11:30] colourfreak commented on #2856
and get listed there :)

[2021-08-20 14:28] #2274 closed

[2021-08-21 23:23] zhangzhongnan928 opened #3087 "The URL in the browser input box doesn’t change with the current display page"
![image](https://user-images.githubusercontent.com/33795543/130337199-c08c53b0-3547-430b-9ac9-6a17860ff814.jpeg)
![image](https://user-images.githubusercontent.com/33795543/130337201-9ad64394-1535-4d37-b8b6-06d097622af4.jpeg)![image](https://user-images.githubusercontent.com/33795543/130337202-bd37d2bd-ed05-47b2-b120-282b34522c04.jpeg)

[2021-08-21 23:25] zhangzhongnan928 opened #3088 "When switching browser network, it should refresh current page instead of going to a blank page"
When switching browser network, it should refresh current page instead of going to a blank page
https://user-images.githubusercontent.com/33795543/130337228-39396b73-0f21-41fb-b0ee-49a0a2ff8f11.MOV

[2021-08-22 07:19] mpaschenko commented on #2908
@colourfreak could you please invite me to that zeplin project as well mpaschenko@gmail.com

[2021-08-23 04:21] hboon opened #3089 "Crash when tap on Collectibles sub-tab in Wallet tab #3089"
*** Terminating app due to uncaught exception 'NSInternalInconsistencyException', reason: 'the cell returned from -collectionView:cellForItemAtIndexPath: does not have a reuseIdentifier - cells must be retrieved by calling -dequeueReusableCellWithReuseIdentifier:forIndexPath:'

[2021-08-23 11:26] #3089 closed

[2021-08-24 07:10] #3088 closed

[2021-08-24 07:10] #3087 closed

[2021-08-24 17:38] shieldwallets opened #3094 "Error"
Build Ok for iOS 14.5
But cannot add new token to wallet

NSLocalizedDescription=The request timed out., NSErrorFailingURLStringKey=https://mainnet.infura.io/v3/da3717f25f824cc1baa32d812386d93f, NSErrorFailingURLKey=https://mainnet.infura.io/v3/da3717f25f824cc1baa32d812386d93f, _kCFStreamErrorDomainKey=4

On iOs 15. beta install live version download from Apple Store same error when try add token

[2021-08-24 18:09] colourfreak commented on #2908
Done

[2021-08-25 01:27] trustwalletvn commented on #3040
First you need
Run **make bootstrap** to install tools and dependencies. with Terminal on root of folder **alpha-wallet-ios**
After that build with xcode

[2021-08-25 04:06] hboon commented on #3094
after that app crash

@trustwalletvn Do you mean from AlphaWallet or your fork?

If you have the crash log, can you paste it here?

[2021-08-25 05:55] trustwalletvn commented on #3094
I'm used real phone with iOS 15 beta 5 and install live version
https://apps.apple.com/us/app/alphawallet/id1358230430#?platform=iphone
The app crash and cannot add new token
By the way please add change language setting in advanced UI
i'll translate for Vietnamese language

<img src="https://pasteboard.co/KhtHCZW.png"/>

[2021-08-25 10:28] GuriSoft commented on #3094
Good morning. I volunteer to help with translation to Brazilian Portuguese
and Spanish.

On Wed, 25 Aug 2021 at 02:55 Trust Wallet Viet Nam ***@***.***>
wrote:

--
[image: photo]
Alexandre Carneiro
Gestão de TI e Homecare at  Multiclinic
A  Rua Pedro Firmeza 712, Cidade dos Funcionários
P  (85)3279-5059  <(85)3279-5059>
M  (85)98678-1071  <(85)98678-1071>
E  ***@***.***  ***@***.***>
W  https://ho

[2021-08-27 04:24] hboon opened #3098 "NFTs from OpenSea are not updating"

[2021-08-27 06:08] #3098 closed, assigned to hboon

[2021-08-27 07:29] vladyslav-iosdev opened #3102 "Hide additional sections (wallet summary, add/hide tokens) while searching on tokens view controller"

[2021-08-27 08:21] vladyslav-iosdev opened #3104 "Refactoring: Extract non datastore related code from `TokenDatastore`"

[2021-08-27 17:36] colourfreak opened #3106 "App crashes for no reason"
3.26 (401)
https://web.tresorit.com/l/ebzt1#T-J_0LWs0iifzl2CxI3G7Q

[2021-08-28 12:49] vladyslav-iosdev opened #3107 "Refactoring: Replace retrieving coin tickers from `WalletBalanceCoordinator`"

[2021-08-29 03:54] #3104 closed

[2021-08-30 03:07] hboon commented on #3106
FYI. GitHub issues now supports video upload.

[2021-08-30 03:28] hboon commented on #3106
@colourfreak I can't reproduce this. Can you help provide context around this?

Build 401 is exactly the same as build 400 + 1 seemingly unrelated fix.

* Do you experience the same crash in the previous build, 400?
* Did you experience the crash just a few moments after launching without doing anything else? (I can't pick up if there were attempts to tap or scroll in the video)
* Did you do anyth

[2021-08-30 04:00] colourfreak commented on #3106
Yep, I know. But my upload is low here. Next time.

[2021-08-30 05:22] #3102 closed

[2021-08-30 07:10] vladyslav-iosdev opened #3109 "Refactoring: Remove unused dependencies in `SendViewController`"

[2021-08-30 09:56] #3109 closed

[2021-08-30 09:58] #3107 closed

[2021-08-31 05:21] hboon opened #3111 "Token icons flashing"
https://user-images.githubusercontent.com/56189/131446396-55ce03e2-f55d-4f78-9696-68836fe5d48c.mp4

[2021-08-31 05:22] hboon opened #3113 "Remove duplicate code"
This https://github.com/AlphaWallet/alpha-wallet-ios/blob/d8648268eaebc661c460f6f92f080d30a2e2bf78/AlphaWallet/UI/TokenObject+UI.swift#L112 seems to be a duplicate of https://github.com/AlphaWallet/alpha-wallet-ios/blob/d8648268eaebc661c460f6f92f080d30a2e2bf78/AlphaWallet/UI/TokenObject+UI.swift#L64

Note that the former has changed in #3111

[2021-08-31 05:24] #3111 closed

[2021-08-31 08:48] vladyslav-iosdev opened #3115 "Move tickets caching related code"

[2021-09-01 03:09] #3115 closed

[2021-09-01 03:11] #3113 closed

[2021-09-01 06:40] colourful-land opened #3118 "QR scan button missing on the iOS version"
Observe the upper-right corner icon was missing in iOS.

![Screenshot_20210901-163619](https://user-images.githubusercontent.com/548435/131623802-72ba409f-3703-4b77-a71e-fe2f98783a55.png)

This icon should simply display a QR code of the Ethereum address

![Screenshot_20210901-164008](https://user-images.githubusercontent.com/548435/131624054-6e636add-b6ae-494e-8f15-a19a7249e2af.png)

 (where as t

[2021-09-01 06:43] hboon commented on #3118
QR button in zeppelin

[2021-09-02 11:52] vladyslav-iosdev opened #3119 "Fix crash on loading CoinTickers"

[2021-09-02 12:24] #3119 closed

[2021-09-02 12:28] vladyslav-iosdev opened #3121 "Fix crash on"
got crash, don't know reasons of it, attaching screenshot
<img width="1904" alt="Screenshot 2021-09-02 at 14 29 50" src="https://user-images.githubusercontent.com/55975226/131843419-c3970c6d-ab07-4e47-97cf-bb017ebc9d6e.png">

[2021-09-02 12:36] vladyslav-iosdev commented on #3121
sure, will do once catch it again

[2021-09-02 12:41] vladyslav-iosdev commented on #2750
@hboon where can we get these values?
<img width="632" alt="Screenshot 2021-09-02 at 15 30 19" src="https://user-images.githubusercontent.com/55975226/131844625-19c9dbdc-0083-4b43-9161-eec7557064ab.png">

[2021-09-02 13:02] hboon commented on #2750
@vladyslav-iosdev not sure. Put some place holders and add a comment to the issue/PR so I  can fill them in later?

[2021-09-02 14:53] colourfreak commented on #2750
You can open ERC1155 tokens in Enjin to see them. I think @JamesSmartCell dealt with this already.

[2021-09-02 16:18] hboon commented on #2750
@colourfreak yes, but he’s working in the UI without the data yet :)

[2021-09-03 07:52] JamesSmartCell opened #3123 "ERC1155 Implementation Info"
## Querying balance:

1. Get TransferSingle receive events since last call (ie track the start block number).
2. Get TransferBatch receive events since last call.
3. Collect all the TokenIds for tokens received in those events.
4. Call 'balanceOfBatch' across all those tokenIds, and existing tokenIds tracked in previous calls.
5. Update the received balances and update the start block number for t

[2021-09-03 08:00] hboon commented on #3123
Thanks James.

What is this `balanceOfBatch`?

If you are saying that we should always fetch the events from genesis and recompute the current balance (and not track the balance from previous batch and fetch the delta since), Binance and Heco seems to have problems doing event log fetches across more than a 4000 block window size so you might have to paginate.

[2021-09-03 08:22] JamesSmartCell commented on #3123
This is ERC1155's superpower and allows you to query a collection of tokenIds:

[code]

eg ```balanceOfBatch([my wallet address], [34,30,29,50])```

gives you the balance for tokenIds 34,30,29,50 on your account. It makes this method possible.

You would call the filter log, initially starting at block 1 (say), up to the LATEST block. I don't know how you limit it, but by adding the receive only o

[2021-09-03 08:24] hboon commented on #3123
Sounds great. Thanks!

[2021-09-03 10:07] JamesSmartCell commented on #3123
You probably spotted the typo in the above call, it should be:

eg ```balanceOfBatch([wallet address, wallet address, wallet address, wallet address], [34,30,29,50])```

[2021-09-04 03:29] colourfreak commented on #3106
https://user-images.githubusercontent.com/51817359/132080951-8befcb61-6f48-4032-97c5-322fe03eb16f.MOV

[2021-09-04 03:34] colourfreak commented on #3106
https://user-images.githubusercontent.com/51817359/132081102-5dc350a4-576f-46af-b8c2-9d1054a800ea.MOV

[2021-09-04 03:38] colourfreak commented on #3106
https://user-images.githubusercontent.com/51817359/132081183-05d65711-5e67-48c1-aafe-4d4b1f293d98.MOV

[2021-09-06 06:03] vladyslav-iosdev opened #3125 "Reduce background queues count"
Fix rapid Realm files grow up, move from background accessing to realm to using main thread

[2021-09-06 06:11] hboon commented on #3125
Hold on to this one for a while while I work on ERC1155 :)

[2021-09-06 06:15] hboon commented on #3125
This also means our code base is not modularised enough. So we'll have to fix this as we go along.

[2021-09-06 06:22] vladyslav-iosdev commented on #3125
sure, np. i made these changes because of reasons i found while worked on erc1155 screens.

[2021-09-06 06:24] vladyslav-iosdev commented on #3125
do u mean to devide the proj by sub spm modules? or just modularise the instances we got?

[2021-09-06 06:27] hboon commented on #3125
Ah yes. There's lots to improve. But try to postpone them. Hard for me to merge them in.

[2021-09-06 06:28] hboon commented on #3125
Modularize what we already have. But breaking them into spm or pods is probably how we have to do it because it sets a clear boundary. It's quite hard in practise with Swift to set a boundary otherwise. But do you find it's possible without SPM/pods?

[2021-09-06 06:37] vladyslav-iosdev commented on #3125
i thought that modularizing instances it means to devide instances on smaller pieces, like it says `SRP` in `SOLID`. anyway yep, using also deviding by `SPM` would allow us flaxibility of changing these parts

[2021-09-06 06:47] hboon commented on #3125
Yes, something like SRP. We might not have to go too far to narrow it down, but in a lot of places we do mix UI and logic too much, and that's problematic sometimes now and would be bad if we have more people work on it at the same time. A prime example is fetching/detecting token data, while it's ok to spread it out like we do now, there isn't clear entry points and boundaries so for making chang

[2021-09-06 15:37] Tarkan122 opened #3127 "> This also means our code base is not modularised enough. So we'll have to fix this as we go along."
do u mean to devide the proj by sub spm modules? or just modularise the instances we got?

_Originally posted by @vladyslav-iosdev in https://github.com/AlphaWallet/alpha-wallet-ios/issues/3125#issuecomment-913377761_

[2021-09-06 19:09] Tarkan122 commented on #3125
Merhaba çok teşekkür ederim Biricik Annem beyin ameliyatında öldü nevrim
dündü sank kalbim de 10.8 deprem oldu kendimde deyim

Benim güveneceğim bir ekipbe ihtiyacım var babam dagılmış her gün avlıyor
bana yardım ederöisin

GLOBAL MERKEZİ OLMAYAN CRYPTO BUSİNESS TCTB TOKENS UNISWAP TOKENS T1C
TOKENS COMPOND TOKENS COMP TOKENS BTC ve ETHERUM ETH TOKENS TRON ZRX, USDT
USDC, TOKENS USDB TOKENS MKR TO

[2021-09-06 23:32] zhangzhongnan928 opened #3128 "Crash a lot with recent versions"
when using Dapp Browser, crash every 2-5 mins
keep the app open without using anything, crash as well

[2021-09-07 04:30] hboon commented on #3127
Spam

[2021-09-07 04:30] #3127 closed

[2021-09-07 04:31] hboon commented on #3128
Which version in Settings? 3.26/402 or 3.27/403?

[2021-09-07 05:35] zhangzhongnan928 commented on #3128
Both， I'm using3.26 402 right now.
the wallet is Victor928.eth. If I click share crash report, will you receive it?
previously I always click no.

[2021-09-07 05:47] hboon commented on #3128
Sometimes. But send it anyway.

[2021-09-07 06:13] #3118 closed

[2021-09-07 06:21] zhangzhongnan928 opened #3132 "A wallet’s NFTs appear in B wallet"
Some NFTs(not all) belongs to victor928.eth appear in both victor928.eth and BirdDAO.eth
![image](https://user-images.githubusercontent.com/33795543/132294349-2d5e259d-1cf2-42bb-935f-7de9f994fbbf.jpeg)
![image](https://user-images.githubusercontent.com/33795543/132294386-263703bc-5321-494e-8ff0-b66e61cba96d.jpeg)
![image](https://user-images.githubusercontent.com/33795543/132294397-f1c373c2-8244-4

[2021-09-07 07:04] vladyslav-iosdev opened #3134 "`TokenProviderType` add promise version of function [part of 3125]"

[2021-09-07 07:09] #3134 closed

[2021-09-07 07:13] vladyslav-iosdev opened #3136 "Add promise version of functions"

[2021-09-07 07:19] vladyslav-iosdev opened #3138 "Fix hidden tokens displaying"

[2021-09-07 07:24] #3136 closed

[2021-09-07 07:25] #3138 closed

[2021-09-07 07:33] vladyslav-iosdev opened #3140 "Applying thread safe for subscribable"

[2021-09-07 07:37] #3140 closed

[2021-09-07 08:23] vladyslav-iosdev opened #3143 "Applying caching for tokens"

[2021-09-07 08:40] vladyslav-iosdev opened #3145 "move realm updates for events [part of 3125]"

[2021-09-07 09:02] vladyslav-iosdev opened #3147 "move realm updates for transactions [part of 3125]"

[2021-09-07 09:56] vladyslav-iosdev opened #3149 "Add promise version of functions"

[2021-09-07 10:02] #3149 closed

[2021-09-07 11:26] #3143 closed

[2021-09-07 11:35] #3147 closed

[2021-09-07 12:24] vladyslav-iosdev opened #3151 "remove threadSafe from decodeOperations"

[2021-09-07 12:25] #3145 closed

[2021-09-07 12:26] #3151 closed

[2021-09-07 12:51] vladyslav-iosdev opened #3153 "Fix tests"

[2021-09-07 12:58] #3153 closed

[2021-09-07 13:13] vladyslav-iosdev opened #3155 "update to ActivitiesService to work on .main queue"

[2021-09-07 13:41] #3155 closed

[2021-09-07 13:42] vladyslav-iosdev opened #3157 "update SingleChainTokenCoordinator with promises"

[2021-09-07 14:12] vladyslav-iosdev opened #3159 "Remove dublication of TransactionsStorage"

[2021-09-07 14:14] #3157 closed

[2021-09-07 14:21] #3159 closed

[2021-09-08 11:58] #3125 closed

[2021-09-08 12:25] colourfreak commented on #2894
@vladyslav-iosdev Please apply the change from https://github.com/AlphaWallet/alpha-wallet-ios/issues/2894#issuecomment-876282955

[2021-09-08 12:29] vladyslav-iosdev commented on #2894
@colourfreak will do

[2021-09-08 13:07] hboon commented on #2894
Can we reopen or create a new issue? Too hard to track orherwisr

[2021-09-08 13:08] vladyslav-iosdev opened #3162 "Remove unused code"

[2021-09-08 13:28] colourfreak opened #3165 "Improve the total amount change color in the Wallet tab"
In the #2273, I explained what this should be. Maybe not clear enough.

I conducted 3 tests using usabilityhub:
1) https://app.usabilityhub.com/tests/86ec06814d57/results/1f78709fe6f1

<img width="423" alt="Screenshot 2021-07-08 at 11 23 29" src="https://user-images.githubusercontent.com/51817359/124897902-03d62900-dfdf-11eb-82d3-5efc3b1ab081.png">

2) https://app.usabilityhub.com/tests/6076f465a6

[2021-09-08 13:28] colourfreak commented on #2894
https://github.com/AlphaWallet/alpha-wallet-ios/issues/2894#issuecomment-915222932

[2021-09-08 13:33] colourfreak commented on #3165
@vladyslav-iosdev

- Make the red color #ff3b30
- Update the arrows to
https://zpl.io/agxGoxO
https://zpl.io/2GDz4Dd
- Make sure that the total amount change is also red/green according to the % movement

[2021-09-08 13:38] colourfreak opened #3166 "Add Icon that links to "My Wallet Address" screen in the Wallet tab"
https://zpl.io/2ZZBnPd

This should take you to the "My Wallet Address" screen

<img width="672" alt="Screenshot 2021-09-08 at 07 36 51" src="https://user-images.githubusercontent.com/51817359/132519857-5c4a1e7c-813c-4df3-9723-de9c565f5d31.png">
 Note, that this is already implemented in Android.

[2021-09-08 13:40] colourfreak opened #3167 "Token icons are not loading up in the Wallet tab"
3.27 (403)

![2021-09-08 07 29 46](https://user-images.githubusercontent.com/51817359/132520305-9e559c41-c8db-42b7-b74d-cb5b5e7b2032.png)

[2021-09-08 13:42] vladyslav-iosdev commented on #3166
its already closed via #3131

[2021-09-08 13:52] colourfreak opened #3168 "Make the space between "Wallet Value Number" and the "Portfolio change in last 24h" bigger"
<img width="697" alt="Screenshot 2021-09-08 at 07 47 13" src="https://user-images.githubusercontent.com/51817359/132521979-e6473bde-43c4-471b-b8b4-d0b6468a818d.png">

These are too close to each other. Make it bigger, 18pt. On the right you have the current build. On the left you have an aimed design. Also, make sure that the red is #ff3b30 if the price change in 24h is down.

[2021-09-08 13:59] colourfreak opened #3169 "Make the Network name headline according to the design"
<img width="927" alt="Screenshot 2021-09-08 at 07 55 19" src="https://user-images.githubusercontent.com/51817359/132523014-d3bbb670-b9d6-4ed8-8b44-114821f56285.png">

https://zpl.io/bWEARp7

- It's 50 pt high (the background behind)
- The font is SourceSansPro-Semibold 15pt, Dove #727272

[2021-09-08 14:02] colourfreak opened #3170 "Make the background behind "Add/Hide Tokens" white"
<img width="874" alt="Screenshot 2021-09-08 at 08 00 14" src="https://user-images.githubusercontent.com/51817359/132523811-df970886-5fe0-4ae6-b171-942022310a7f.png">

- Make the background behind this white #ffffff
- Remove the icon
- There is another line (it looks too thick) under Segmented controls. In the original design, there is just one 1pt line.

[2021-09-08 14:09] colourfreak commented on #1102
Close this issue?

[2021-09-08 14:09] #2628 closed

[2021-09-08 14:10] #2273 closed

[2021-09-08 14:11] #2631 closed

[2021-09-08 14:15] colourfreak commented on #2629
In some cases, we can use the chart from the underlying token. For example, when you have cWBTC token, we can display the chart from WBTC. So this is all about linking Defi tokens with those underlying assets.

Do you have any idea how we can play with this? @hboon

[2021-09-08 14:15] colourfreak commented on #2629
![2021-09-08 07 42 00](https://user-images.githubusercontent.com/51817359/132526119-acb55979-d065-4b67-8f6b-b077d4f5f34d.png)

[2021-09-08 14:22] #2987 closed

[2021-09-08 14:39] colourfreak commented on #3021
I solved this by moving Network icons to the left.

[2021-09-08 14:39] #3021 closed

[2021-09-08 14:40] #3166 closed

[2021-09-08 15:22] colourfreak opened #3171 "We are missing many activities on Polygon"
So I made multiple swaps on Quickswap on tomek.eth [0x80cc263cb3fA1bE2AeC748b3811261c1E2a1ba8d](https://polygonscan.com/address/0x80cc263cb3fA1bE2AeC748b3811261c1E2a1ba8d)
I don't see the newly swapped tokens in my wallet.
<img width="421" alt="Screenshot 2021-09-08 at 09 20 11" src="https://user-images.githubusercontent.com/51817359/132537897-16a743f2-06d3-448c-82db-25451eb6fd4e.png">
![2021-09-0

[2021-09-08 15:32] hboon commented on #2828
Yes. ERC1155 first

[2021-09-08 16:27] colourfreak commented on #2807
![Email_Request_2](https://user-images.githubusercontent.com/51817359/132548061-dd7165d5-888d-4ad0-91a0-767513a27fd8.jpg)
![Email_Request_3](https://user-images.githubusercontent.com/51817359/132548068-756d112a-0f92-40ed-bd64-e0d058e84660.jpg)

Which one do you like more?

[2021-09-09 02:08] JamesSmartCell opened #3172 "Multi chain price oracles"
Coingekko now supports tickers for lots of chains.

If you use this API:

```https://api.coingecko.com/api/v3/simple/token_price/[chain name]?contract_addresses=[list of CSV token addresses] &vs_currencies=USD&include_24hr_change=true";```

You can replace the [chain name] with any of these:

[code]

[2021-09-09 02:23] JamesSmartCell commented on #3172
https://api.coingecko.com/api/v3/asset_platforms

Gives the supported chains. If there's a 'chain_identifier' in the JSON then it's an ethereum chain. We can just use this list then every time we add a new chain if it's supported the tickers will automatically be set.

[2021-09-09 02:28] JamesSmartCell commented on #3172
I found these additional chains which I added in case we support them in the future:

[code]

[2021-09-09 03:25] hboon commented on #2807
The 2nd. The graphic doesn't seem to be useful for this case. But the "We do not spam" message seems helpful. Not a strong opinion on either though. Up to you.

[2021-09-09 03:39] hboon commented on #2629
We'll have to manually map this out by hand and then hardcode that mapping into the app. Some of this might be cross-chains. So the mapping is a list of pairs like:

* cWBTC <contract> (Ethereum mainnet) = WBTC <contract> (Ethereum mainnet)
* native (Ethereum mainnet) = WETH <contract> (Optimism mainnet)
* ...

We'll need to specify if it's the native token or the contract (address) and the chain

[2021-09-09 03:40] hboon commented on #1102
Yeah.

[2021-09-09 03:40] #1102 closed

[2021-09-09 03:41] #3162 closed

[2021-09-09 06:22] hboon commented on #2750
Re-opening. Still working on backend and integrating with UI

[2021-09-09 06:48] hboon opened #3175 "Is send button wrongly enabled for ERC721/1155 on watched wallet?"
These lines:

[code]

were replaced by:

[code]

in the PR https://github.com/AlphaWallet/alpha-wallet-ios/pull/3164/files for `SingleChainTokenCoordinator`.

Do you think that's wrong? It seems like if the user taps an ERC721 (or 1155) token on a watched wallet, the Send button will be enabled when it shouldn't be.

[2021-09-09 06:57] vladyslav-iosdev commented on #3175
hmm, that strange, i just moved code from `SingleChainTokenCoordinator ` to related coordinator

[2021-09-09 07:03] hboon commented on #3175
Could just be git doing it when resolving merge/conflicts. Can you help restore those few lines if it is wrong?

[2021-09-09 12:07] #3170 closed

[2021-09-09 12:10] #3175 closed

[2021-09-09 12:34] #3165 closed

[2021-09-09 12:59] colourfreak commented on #2807
There is something about this "We do not spam". Some people might not even think about "They might spam me" but we are raising up this issue and pay their attention to that matter. Better if we add "One email per week"

[2021-09-09 13:03] colourfreak commented on #2807
![Email_Request](https://user-images.githubusercontent.com/51817359/132690823-f02a7a13-6b75-4701-a910-04005b2e5f1e.png)

[2021-09-09 13:05] colourfreak commented on #2807
https://zpl.io/bPNXpWm

[2021-09-09 13:05] hboon commented on #2807
Sure. Makes sense too

[2021-09-09 13:08] colourfreak commented on #2807
@hboon How do you think this is built (the animation)? Is this Swift UI? Let's say I would provide what I want this to look and feel (the transition & and very simple animation). Then what?

What about Android?

https://user-images.githubusercontent.com/51817359/132691278-09719f2b-f5ff-49e8-81ae-2dfef7352960.mp4

[2021-09-09 13:09] #3168 closed

[2021-09-09 13:16] hboon commented on #2807
We can’t tell definitively if something is built in SwiftUI. And we aren’t using SwiftUI. We are using Swift. We can’t use it (SwiftUI is a UI toolkit) yet because we are supporting older versions of iOS plus it wasn’t around back then when the app was first created.

Animations, generally, if the parameters are available, are easier to reproduce (there are other possible ways too like providing i

[2021-09-09 13:17] hboon commented on #2807
Approximate — a little vague there. But does it give you a sense of what you can provide, other than the static file(a) and sample animation?

[2021-09-09 13:21] colourfreak commented on #2807
I am curious about the bridge between what the designer provides and how this is implemented later. With static images, you can do this via Zeplin. But I wonder what is the end-file format a developer is looking for?

[2021-09-09 13:23] hboon opened #3180 "Explore options using animation "as-is" from designer"
Something like https://github.com/airbnb/lottie-ios (which supports After Effect among other things):

Ideally something that is:

* low maintenance in terms of code
* designer can do an export (similar to exporting a video) which is efficient and renders consistently in the app, effectively like a gif/movie, not affecting the other parts of the UI
* which has an Android version (lottie does)

[2021-09-09 13:24] hboon commented on #2807
Created #3180 as follow up

[2021-09-09 13:26] hboon commented on #2807
Ideally, we'll want something like either #3180 for animations that don't affect the UI. The trick is when the animations affect the UI. There are some tools that let designers/programmers build the animation and then export out the animation code to be tweaked and included in the app, but it's not as clear cut as #3180, but it is necessary because it is no longer standalone.

Does that answer the

[2021-09-09 14:04] colourfreak commented on #2629
If we are planning to do this manually, let's think about how to kill two birds with one stone. There are many other issues we can add on while doing this manual process.

**For example:**
- We can specify if a token goes to group DEFI, Staking, Governance, etc.
- What is the network: later on, we could write a script that automatically places this small network icon I am placing manually at the m

[2021-09-09 15:06] hboon opened #3182 "Tweak name/symbol display in Wallet"
Refer to https://github.com/AlphaWallet/alpha-wallet-android/issues/2000

[2021-09-09 15:09] #3167 closed

[2021-09-09 15:10] #3169 closed

[2021-09-09 15:26] hboon commented on #2629
I would reply again maybe tomorrow, but sending you this link in case you want to research. I'd prefer if we can ride on token lists like https://tokenlists.org, otherwise it'd be a lot of non-coding building and maintenance work for the lists.

[2021-09-09 16:53] Euroman123 opened #3183 "I don’t know how to create web3 on my iPhone"

[2021-09-09 16:57] hboon commented on #3183
@Euroman123 can you be more specific what you would like to do?

[2021-09-10 03:47] hboon commented on #2629
Yes and no. Seems like they are discrete tasks, but I agree they can fall under some umbrella in the name of improving token taxonomy or something like that. They are discrete because the data for each one seems to not overlap. Let's think about these, but hopefully we can do it one by one and only the easy one first (aligning the UI and bug fixes are still top priority):

Yes, categorization of t

[2021-09-12 14:48] colourfreak commented on #2629
1. Tokens with the same prices like ETH and CETH
2. Group it belongs to ie. Defi, Assets, Governance
3. Network ie. Polygon, Optimism
4. The same tokens but on different networks ie. LINK on Polygon and Mainnet
5. V1 and v2 of the same token ie. AAVE had version 1 and 2 for their tokens, if we can link them together we could possible requests users to move funds to newer version

This is what come

[2021-09-13 04:45] hboon commented on #2629
Try this format:

[code]

`address`, `chainId`, `group`, `decimals`, `name` and `symbol` are mandatory. `alternative` is optional (like the second example in the list). They are used for looking to another token when they represent absolutely the same thing. `isOldVersion` is only needed when there are multiple version os a token, to indicate which is the newer version — flag all old versions with

[2021-09-13 05:57] JamesSmartCell commented on #3094
If you like, you could do a Portuguese localisation for our Android app too :) You can take the 'strings.xml' file (we already have a ```values-es``` Spanish localisation, although it is incomplete) and create a ```values-pt``` directory with the localised strings.xml. Many of the strings will be identical to the iOS build.

[2021-09-13 05:58] JamesSmartCell commented on #3025
Good idea. It's effectively a wrapped ETH.

[2021-09-13 06:00] hboon commented on #3025
@JamesSmartCell also this chain from https://github.com/AlphaWallet/alpha-wallet-ios/issues/2629#issuecomment-915736381 onwards.

[2021-09-13 11:41] vladyslav-iosdev commented on #3182
@hboon i am trying to resolve this issue. Prepared sample function  but i am not sure if its will works right
[code]

not pretty understood these steps:

When picking *1 (long name):

- Use TokenScript name if available.
- Use Token name if longer than Token symbol.
- Use Token symbol.

When picking *2 (short name):

- Use shortest of name and symbol, but abbreviate to 5 characters or less and cap

[2021-09-13 12:07] vladyslav-iosdev opened #3185 "Remove unused links"

[2021-09-13 12:46] colourfreak commented on #2629
I requested Aleks, let's see.

[2021-09-13 13:03] #3185 closed

[2021-09-13 13:06] hboon commented on #2830
Superseded by #3182

[2021-09-13 13:06] #2830 closed

[2021-09-13 13:33] vladyslav-iosdev opened #3187 "Resolve memory leaks"

[2021-09-13 13:41] colourfreak commented on #3180
I made a research over the weekend and I have a few options:
* After Effects + Lottie (it might be an option, but since I am making the designs in Sketchapp and not Adobe XD, then it might be less effective). But I am going to learn anyway. I know the basics of AE
* Framer
* Flinto (not sure about export, need to investigate more)

[2021-09-13 13:57] hboon commented on #3180
Explorations totally fine. But remember we have other more urgent things to do :)

[2021-09-13 13:58] colourfreak commented on #3180
Yeah. Learning 30 minutes/day is my goal. So nothing crazy.

[2021-09-13 14:11] hboon commented on #3180
Yeah, daily improvements are the best. Good for you!

[2021-09-13 15:02] colourfreak commented on #2629
@hboon Can you please add [@YouPlusWe](https://github.com/YouPlusWe) in this issue.

[2021-09-13 15:09] colourfreak commented on #2629
This is brief for Aleksandar.

**Summary:**
We need a database we can reuse while grouping tokens in AlphaWallet, link similar tokens together and so on.

If you install iOS AlphaWallet app, you will find that some tokens ex. cWBTC is missing chart and price info. We use Coingecko API to get this data. So logically if we are able to get data for WBTC token, we should be able to use the same data f

[2021-09-13 23:11] JamesSmartCell commented on #2629
Hi @colourfreak, does this issue help #3172 ? Although if it's currently not showing and is on main net then coingekko may not be listing that info.

Additionally, we may be able to get offer/price listing for NFT from OpenSea. Should we include this information at some point?

This will be difficult as there is often a difference between listing and offer prices (eg Chicken Derby 15000eth vs 70et

[2021-09-13 23:54] JamesSmartCell commented on #3182
Hi @vladyslav-iosdev I think you have the correct understanding. Token pluralisation (which may or may not be defined in the TokenScript file) should be done in the TokenScript engine, check with @hboon.

[2021-09-14 04:27] hboon commented on #3182
Yeah, approving since James says it sounds about right :)

[2021-09-14 04:33] hboon commented on #3106
@vladyslav-iosdev would you help check if this is resolved on `master`?

[2021-09-14 04:33] hboon commented on #3011
@vladyslav-iosdev would you help check if this is resolved on `master`?

[2021-09-14 04:33] hboon commented on #3128
@vladyslav-iosdev would you help check if this is resolved on `master`?

[2021-09-14 04:33] hboon commented on #3132
@vladyslav-iosdev would you help check if this is resolved on `master`?

[2021-09-14 04:35] hboon commented on #2807
@vladyslav-iosdev would you help with this? Based  on:

* https://github.com/AlphaWallet/alpha-wallet-ios/issues/2807#issuecomment-916071725
* https://github.com/AlphaWallet/alpha-wallet-ios/issues/2807#issuecomment-916073506

Look for `EmailList.subscribe(email:)`

[2021-09-14 05:34] vladyslav-iosdev commented on #3132
yes, i was able to reproduce this issue. Trying to find the reasons of it.

[2021-09-14 05:36] vladyslav-iosdev commented on #3128
@hboon  this is not reproducing for me on `master`

[2021-09-14 05:36] vladyslav-iosdev commented on #3121
@hboon  this is not reproducing for me on `master`

[2021-09-14 05:36] vladyslav-iosdev commented on #3106
@hboon  this is not reproducing for me on `master`

[2021-09-14 05:46] vladyslav-iosdev commented on #2877
Closing, out of date. Reopen if needed

[2021-09-14 05:46] #2877 closed

[2021-09-14 05:46] vladyslav-iosdev commented on #3011
Closing, out of date. Reopen if needed

[2021-09-14 05:46] #3011 closed

[2021-09-14 07:16] #3121 closed

[2021-09-14 07:17] #3187 closed

[2021-09-14 14:57] hboon commented on #2632
@colourfreak but can't have meaningful price alerts without push though?

[2021-09-14 15:10] colourfreak commented on #2632
Good point.

[2021-09-14 15:11] hboon commented on #2632
Also maybe good with widgets

[2021-09-14 17:25] colourfreak commented on #2629
Can you please assign to @hieronymus4826?

[2021-09-15 14:17] vladyslav-iosdev commented on #3128
Reopen if reproduced again

[2021-09-15 14:17] #3128 closed

[2021-09-15 14:17] vladyslav-iosdev commented on #3106
Reopen if reproduced again

[2021-09-15 14:17] #3106 closed

[2021-09-15 14:56] vladyslav-iosdev commented on #2747
@hboon can u remind me what is left for this issue?

[2021-09-16 01:19] hboon commented on #2747
@vladyslav-iosdev let’s close this for now since we have new issues discussing what was previously missing (alert and grouping)

[2021-09-16 01:19] #2747 closed

[2021-09-16 11:44] vladyslav-iosdev commented on #2632
@hboon @colourfreak what api can we use for signaling prices?

[2021-09-16 11:53] colourfreak commented on #2632
I think you can make the UI for now. And we will add push notifications and local notificafions soon.

[2021-09-16 12:17] vladyslav-iosdev commented on #2632
ok, got it, working on it.

[2021-09-17 04:01] hboon commented on #2632
Yeah, but you can also add local notifications support. Doesn't require server (like how we are showing local notifications for receiving ETH now). We can try that out and if it doesn't work, disable it.

[2021-09-17 04:04] #3132 closed

[2021-09-17 04:09] hboon commented on #2629
Do you mean to assign to both of them?

They'll need to respond here before we can assign to them (because GitHub).

It's not very clear  to me what they are supposed to do though. I might have missed it. But could you describe or point out (if it has been written above) what we/they are supposed to do?

[2021-09-17 08:18] vladyslav-iosdev opened #3193 "Fix crash while creating a new wallet"

[2021-09-17 08:25] #3193 closed

[2021-09-17 12:11] colourfreak commented on #2629
They are trying to write the scraper.

[2021-09-20 02:53] #3182 closed

[2021-09-20 07:10] hieronymus4826 commented on #2629
After the meeting with @YouPlusWe on Friday, we think the best known thing for Defi would be: https://blog.unmarshal.io/unmarshal-lp-token-position-api-b55a598cbc65

It is constantly updated with new integrations and has an active network.

[2021-09-21 05:48] #2807 closed

[2021-09-21 07:38] vladyslav-iosdev opened #3198 "Fix crash while adding a new watch wallet"
Application is crashing because we calling method  `notifyWalletUpdated()` async

[2021-09-21 07:43] #3198 closed

[2021-09-21 10:34] akhilccrb opened #3200 "How to extract private key as String"
How to extract private key as String in this repo. Please share code in Swift ?.

[2021-09-21 13:47] akhilccrb commented on #3200
@hboon

[2021-09-23 03:47] Euroman123 commented on #3183
I want to have w3 on my device

[2021-09-23 03:51] hboon commented on #3183
I don't understand. Let us try to gather some more information about what you want:

Are you trying to do this as a:

A. iOS app developer, possibly forking this repo?
B. DApp developer using the app to access the DApp?
C. User using the app to access a DApp?

If it's one of those, can you elaborate on what it is you are trying to do?

[2021-09-23 03:52] Euroman123 commented on #3183
I want to create a telegram bot of my own

[2021-09-23 03:53] hboon commented on #3200
You want to look at `EtherKeystore.signHash(_:for:)` and how it gets the key.

[2021-09-23 03:53] #3200 closed

[2021-09-23 03:55] hboon commented on #3183
Ah, I see. Unfortunately, this isn't the correct repo for what you want to do

If you want to be able to connect to Ethereum via libraries, you can start with web3js or ethers.js for JavaScript or a similar libraries for other languages.

[2021-09-23 03:55] #3183 closed

[2021-09-23 06:15] akhilccrb commented on #3200
so you don't know the exact code ?

[2021-09-23 07:34] #2632 closed

[2021-09-23 07:39] vladyslav-iosdev opened #3201 "Fix compilation errors, code refactor."
<img width="459" alt="Screenshot 2021-09-23 at 10 39 02" src="https://user-images.githubusercontent.com/55975226/134470574-59159e76-18c0-4791-b240-e51023af8a21.png">
<img width="310" alt="Screenshot 2021-09-23 at 10 38 53" src="https://user-images.githubusercontent.com/55975226/134470587-719747d3-d097-4724-9e36-1a2f4d935634.png">

[2021-09-23 07:42] hboon opened #3203 "Update Polygon RPC endpoint to aggregator version"
We got this message:

See if `https://polygon-rpc.com` is the RPC endpoint we should use (otherwise figure out what is), that it works and use it instead.

If it works, create an issue in the Android repo too

[2021-09-23 07:44] hboon commented on #2821
Close from inactivity

[2021-09-23 07:44] #2821 closed

[2021-09-23 07:45] hboon commented on #2722
@potvik just following up on this, any ideas about the above?

[2021-09-23 07:46] hboon commented on #2639
@JamesSmartCell bump

[2021-09-23 07:46] hboon commented on #2621
Need to verify again

[2021-09-23 07:51] hboon commented on #2908
@vladyslav-iosdev can you check if this has been implemented?

[2021-09-23 07:54] hboon opened #3204 "Add a logging library"
Something that allows:

* different levels of logging (warning, trace, debug, etc).
* configurable to log to stdout or file
* be great if it's available on SwiftPM, but not too important

[2021-09-23 07:55] hboon opened #3205 "Fix build (and particularly signing) with Fastlane"
I was trying to do this a while back, but for some reason, signing just doesn't work for me.

PS: try not to upload. You should be able to fix it without uploading.

[2021-09-23 07:57] hboon opened #3206 "Explore iOS 15 Safari extension to intercept ethereum: payment links"

[2021-09-23 07:59] #3201 closed

[2021-09-23 08:08] vladyslav-iosdev opened #3207 "Add ability to subscribe on queue for `Subscribable`"

[2021-09-23 09:20] vladyslav-iosdev commented on #2966
The problem is that builded URL `https://api.expanse.tech/api?module=account&action=tokentx&address=0x007bEe82BDd9e866b2bd114780a47f2261C684E3` is invalid, this URL is generated right out of `figureOutHostname` function.

[2021-09-24 02:22] #3207 closed

[2021-09-24 03:25] hboon opened #3211 "Figure out where unknown URL access is coming from https://bios.app/v1/2015"
I'm seeing this error in the console when running the app. Can you help to figure out where the URL is coming from? You might not see the same URL `https://bios.app/v1/2015` on your side, but I have seen it consistently. So if you know a good way to log it, I cna check it out on my side.

[code]

[2021-09-24 04:03] hboon opened #3212 "Research ENS Avatar"
https://gist.github.com/Arachnid/9db60bd75277969ee1689c8742b75182

Experiment-only: replacing blockie image with this if available.

If this works out, we can explore showing it at:

A. Replace blockie
B. Display it alongside ENS names (eg. recipient address fields and the my wallet screen)

[2021-09-24 12:50] vladyslav-iosdev commented on #3212
i found that there is one contract `0x4976fb03C32e5B8cfe2b6cCB31c09Ba78EBaBa41` (here is URL: https://etherscan.io/contractdiffchecker?a1=0x5ffc014343cd971b7eb70732021e26c35b744cc4) that supports interface `0x59d1d43c`. while trying to call its function `text` or `name` it returns an empty string for me.
i am not sure in params i passing to the function, seems like it should be ok, like described

[2021-09-24 12:56] #2966 closed

[2021-09-24 13:05] vladyslav-iosdev opened #3216 "Design UI to edit custom chains"
Out of https://github.com/AlphaWallet/alpha-wallet-ios/pull/3209#issuecomment-926391018 comment, we need design for modifying RPC server suppose accessing from this screen:
![IMG_4AF0073D5D49-1](https://user-images.githubusercontent.com/55975226/134678877-5e4767bd-dc06-41f8-abca-aafc5e025706.jpeg)
and also ui elements for deleting rpc servers.

[2021-09-24 13:25] hboon commented on #3216
Note that we can already delete custom-added ones by swiping. But the screen doesn’t indicate which ones are custom

[2021-09-24 13:26] hboon commented on #3212
I don’t know of any unfortunately.

[2021-09-24 13:29] hboon commented on #3212
But try brantly.eth. One of the ENS folks should :)

[2021-09-24 14:50] #2828 closed

[2021-09-24 15:06] #2908 closed

[2021-09-26 01:05] ericwingate opened #3218 "Popular tokens add button not working."
name: Bug Report
about: When cloning a fresh copy of the iOS version of Alpha Wallet, the Popular tokens section within "Add / Hide Tokens" will not allow me to add any tokens when pressing the green + icon.

I have replaced infura and etherscan API keys with my own, however, the problem still exists.

---

**Describe the bug**
The Popular tokens section within "Add / Hide Tokens" will not allow m

[2021-09-27 02:15] hboon commented on #3083
TestFlight build 405 (and 404).

* Add 3 items to Browser's menu: #2828 - My Bookmarks - History - Set as Home Page #3210
* QR scan button missing on the iOS version #3118 #3131

Hidden (and partially working) functionality
---
* Add Price Alerts tab [Samoa] #2632 #3195 — no alert yet, just UI
* WIP support for ERC1155 backend #3161 — almost there. But will be missing many fields especially
* Supp

[2021-09-27 02:15] #3083 closed

[2021-09-27 02:46] hboon commented on #3218
@ericwingate thanks for reporting.

[2021-09-27 05:24] hboon opened #3222 "Tap recipient in transaction confirmation action sheet to review ENS and address broken"

[2021-09-27 05:28] hboon opened #3223 "Create default, fallback icon for ERC1155 tokenIds ("tokens") that don't have token icons"
The small icons and bigger version in these 2 screens respectively:

Small|Big
-|-
<img width="200" alt="Screenshot 2021-09-27 at 1 26 40 PM" src="https://user-images.githubusercontent.com/56189/134849848-e68b4891-f36a-4d5d-9150-95110347ac04.png">|<img width="200" alt="Screenshot 2021-09-27 at 1 26 50 PM" src="https://user-images.githubusercontent.com/56189/134849857-76065844-5240-41ac-9295-f64b54

[2021-09-27 05:32] hboon opened #3224 "Followup tasks for ERC1155 support"
There are pending tasks for ERC1155 support after #3221:

- [ ] Classify token IDs in an ERC1155 contract into collections. i.e. 1 contract, N collections
    * James seems to have a solution
- [ ] Can we take decimals > 0 as meaning the token ID is fungible? (But can it be a fractional NFT?)
 Support batch transfers (and Select at top right hand corner of Assets sub-tab needs to be enabled)
- [x]

[2021-09-27 05:33] hboon commented on #3224
cc @colourfreak for what's missing.

[2021-09-27 07:34] vladyslav-iosdev commented on #2621
@hboon visiting https://example.walletconnect.org triggers aw and shows sign screen for me.

[2021-09-27 07:39] hboon commented on #2621
Great. Thanks!

[2021-09-27 07:39] #2621 closed

[2021-09-27 07:40] vladyslav-iosdev commented on #2743
@hboon i suppose there was a problem on `tornado.cash` side. a few days ago i was trying to reproduce this issue, and i wasn't able to sign in. for me it was as described in the issue title. but currently selection on alphaWallet connects wallet to the app.

[2021-09-27 07:41] #3218 closed

[2021-09-27 07:43] hboon commented on #2743
@vladyslav-iosdev if you are saying it currently works but wasn't a few days ago, then yeah, let's close this.

[2021-09-27 07:48] #2743 closed

[2021-09-27 08:16] #3222 closed

[2021-09-28 03:30] hboon commented on #3212
@colourfreak here's how it looks like if we replace the blockie with the avatar in ENS record:

<img width="200" alt="Screenshot 2021-09-28 at 11 27 22 AM" src="https://user-images.githubusercontent.com/56189/135018173-553d6b34-a4d6-448c-84c0-a6f5a9773c74.png">

Maybe it can go into this screen too, with the ENS name if it's available?

<img width="200" alt="Screenshot 2021-09-28 at 11 28 35 AM" s

[2021-09-28 10:03] vladyslav-iosdev commented on #3211
@hboon i was trying to figure out this URL request `https://bios.app/v1/2015` but its not appears for me. maybe it for specific networks token, for some wallet?

[2021-09-28 10:05] hboon commented on #3211
Could be. Do you know of a way to debug this? A symbolic breakpoint maybe? Or I can just look at where all the URLSessions are created. Otherwise I’ll take another stab at this. Harder for you since you can’t try.

[2021-09-28 10:07] vladyslav-iosdev commented on #3211
let me explore this a bit more.

[2021-09-28 11:47] vladyslav-iosdev commented on #3205
@hboon can u please show me the error you got here?

[2021-09-28 11:50] vladyslav-iosdev commented on #3205
running command `fastlane ios travis_tests` fails for me, i updated fastlane file with

<img width="316" alt="Screenshot 2021-09-28 at 14 49 31" src="https://user-images.githubusercontent.com/55975226/135081206-a2844f25-fbba-4573-80a0-5527498af583.png">

and now it works, but i am not sure about signing

[2021-09-28 14:04] vladyslav-iosdev commented on #3203
@hboon seems the url `https://polygon-rpc.com/` works fine

[2021-09-28 14:17] hboon commented on #3203
I think that’s working but doesn’t handle the load very well. The other does some kind of old balancing

[2021-09-28 14:24] vladyslav-iosdev commented on #3203
does it mean that these changes not needed, right?

[2021-09-28 15:10] hboon commented on #3203
Oh, I see what you mean, since we are using Infura for Polygon currently. Sorry, I missed that. Hmm.. ok, let's keep it the RPC endpoint unchanged (and stick to Infura for Polygon) then. I noticed you have some other changes, maybe refactoring, in #3238. Could you just remove the endpoint change and let's get the PR going for the other changes alone, but with a different commit message?)

[2021-09-28 15:12] vladyslav-iosdev commented on #3206
@hboon can u provide more details about `payment links`?

[2021-09-28 16:23] hboon commented on #3206
EIP681  ethereum:

[2021-09-29 03:23] tinaxiu2014 opened #3239 "sent a EthCallRequest，How do decode the returned results ？？thinks 。"
name: Bug Report
about: Using AlphaWallet, but it's not working as you expect?

---

**Describe the bug**
A clear and concise description of what the bug is.

**Steps to reproduce (REQUIRED)**
Steps to reproduce the behavior

1. Tap Wallet tab
2. Tap ...
3. Tap ...
4. Wait ...
5. Tap ...

**Expect**
6a. ...

**Observed**
6b. ...

**Screenshots**
If applicable, screenshots (preferred to video) to h

[2021-09-29 03:34] hboon commented on #3239
Look for "func adapt(".

[2021-09-29 03:44] tinaxiu2014 commented on #3239
returned results : 0x00000000000000000000000000000000000000000000000000000000000c44000000000000000000000000000000000000000000000000000000000002faf33000000000000000000000000000000000000000000000000000000000614c4b56  ,also use   "func adapt(".    decode ??

[2021-09-29 03:45] hboon commented on #3239
That's the place to start looking. You'll have to do the rest :)

[2021-09-29 03:45] #3239 closed

[2021-09-29 03:57] hboon commented on #3205
Ah, I'm sorry, can you try the `release` lane? You probably need to modify it to work for you. Running `travis_tests` doesn't sign it. I didn't run it to produce the errors this time because I'll need to modify it too :)

Let me know if you want me to create a separate app ID so you can generate profiles?

It's been a long time, but I remember that when trying to figure out the signing issue, I ha

[2021-09-29 03:58] hboon commented on #3205
I could never get Xcode to automatically sign for AlphaWallet (as well as BC) uploads. It's also entirely possible that something is wrong with my environment instead of the projects.

[2021-09-29 12:14] vladyslav-iosdev commented on #3205
@hboon i am facing interesting errors while calling function `fastlane ios release`
It seems like predefined variables as `MARKETING_VERSION` couldn't be recognized by fastlane
`Your current version ($(MARKETING_VERSION)) does not respect the format A or A.B or A.B.C`

[2021-09-29 12:25] hboon commented on #3205
I don’t remember getting those. Maybe it is the  way we are using variables? You can hardcode them first if it’s that.

[2021-09-29 12:34] vladyslav-iosdev commented on #3205
i will check it, btw, for me this line doesn't work
`match(type: "appstore", readonly: true)`
i am not sure if we still need it, as it uses Trust repo certs.

[2021-09-29 13:10] hboon commented on #3205
Yeah. If it points to their carts, it should be changed to ours.

[2021-09-30 05:21] hboon opened #3241 "Add Arbitrum One RPCServer"
Chain ID: 42161
RPC: https://arbitrum-mainnet.infura.io/v3/{key} (in case this doesn't work yet because we have to enable it in Infura, use this for development: https://arb1.arbitrum.io/rpc)
Explorer: https://arbiscan.io
Symbol: AETH

You can test it with the bridge https://bridge.arbitrum.io

---

Some context:

Update about gas for Arbitrum One. It looks like we are doing it correctly. For ever

[2021-09-30 05:23] hboon opened #3242 "Show prices for Arbitrum One tokens"
CoinGecko

[code]

Look for `private func platformMatches(_ platform: String, server: RPCServer) -> Bool {`

If it doesn't include the price for the native token, hardwire it to use Ethereum's mainnet's native token price.

[2021-09-30 05:24] hboon opened #3243 "Add Oneinch support for Arbitrum One"
If it works: https://blog.1inch.io/the-1inch-network-expands-to-arbitrum-c0e09bfd7ebf

[2021-09-30 05:24] hboon opened #3244 "Add support for Arbitrum One (chain)"
- [x] #3241
- [x] #3242
- [x] #3243
- [x] #3245
- [x] #3246
- [ ] #3247

[2021-09-30 05:28] hboon opened #3245 "Button (maybe?) for Ethereum mainnet-Arbitrum bridge"
Link to https://bridge.arbitrum.io

It's 2 way, so have to be available from the Ethereum native token (and maybe a few other tokens) and Arbitrum One native token (and maybe a few other tokens)

Parameters to add as custom chain if it hasn't been implemented in the app yet: https://github.com/AlphaWallet/alpha-wallet-ios/issues/3241#issue-1011719740

- [x] Assign to Vlad
- [ ] Create issue for An

[2021-09-30 07:28] hboon opened #3246 "Create native token icon for Arbitrum One"
- [x] Assign developer
- [x] Assign https://github.com/AlphaWallet/alpha-wallet-android/issues/2074

[2021-09-30 07:29] hboon opened #3247 "Get listed as Arbitrum One wallet"
https://portal.arbitrum.one

[2021-09-30 07:30] #3204 closed

[2021-09-30 07:33] #3203 closed

[2021-09-30 11:29] vladyslav-iosdev opened #3248 "Prepare build for iOS 15"
Check layout if its still works with iOS 15

[2021-10-01 03:39] hboon opened #3250 "Switch from Gasnow to Etherscan for gas price estimates"
Since gasnow.org is sunsetting on 20211015,

- [ ] Switch from Gasnow to Etherscan for gas price estimates
- [ ] Use this new gas price estimator for more chains [1]

Example call:

[code]

API output

[code]

Current label in UI | Key to pull gas price from
-|-
Rapid | "FastGasPrice" * 1.2
Fast | "FastGasPrice"
Standard/Average | "ProposeGasPrice"
Slow | "SafeGasPrice"

The good news is, more cha

[2021-10-01 04:36] hboon opened #3251 "Remove TaiChi support"
Since they are sunsetting too (same operator as gasnow.org)

Can trace it from: `Config.useTaiChiNetwork`

[2021-10-01 07:31] colourfreak commented on #3246
![Arbitrum](https://user-images.githubusercontent.com/51817359/135582241-52026504-5e67-44fa-9342-24217e058963.png)

https://zpl.io/ag5RdQ1

[2021-10-01 07:33] hboon commented on #3246
Thanks @colourfreak !

[2021-10-01 07:33] colourfreak commented on #3246
I haven't added a token to iconassets

[2021-10-01 07:35] hboon commented on #3246
Got it. iconassets don't support the native crypto token yet, so we'll still have to bundle it (the Zeplin link above) with the app for now. But feel free to add icons to iconassets for other tokens for Arbitrum if you like.

[2021-10-01 07:40] colourfreak opened #3252 "The Browser home icon should not disappear when coming back from address input"
3.26 (406)

1. Open Browser
2. Check that there is a Home button up there
3. Open Address input field
4. Click 'Cancel'
5. Notice that the Home icon disappears

**What to do?**
Keep this icon.

[2021-10-01 07:41] colourfreak commented on #3252
https://user-images.githubusercontent.com/51817359/135583553-4866cbb8-4bb6-410a-a21a-942f069b9610.MOV

[2021-10-01 07:45] hboon commented on #3252
Ah yes, I have seen this too. Thanks!

[2021-10-01 08:55] #3252 closed

[2021-10-01 09:02] #3251 closed

[2021-10-01 09:03] colourfreak commented on #3212
I set this myself too for tomek.eth

<img width="1527" alt="Screenshot 2021-10-01 at 10 59 56" src="https://user-images.githubusercontent.com/51817359/135594276-5ea164c0-005a-4cfa-b2c5-c662396b2c48.png">
So yeah. Very good idea. If there is an ENS avatar, display this. If there is not, display a blockie.

<img width="1704" alt="Screenshot 2021-10-01 at 10 57 00" src="https://user-images.githubuser

[2021-10-01 09:09] colourfreak opened #3255 "Move QR Code Scanner camera to the right (10 pt)"
<img width="1002" alt="Screenshot 2021-10-01 at 10 35 22" src="https://user-images.githubusercontent.com/51817359/135594560-0bd6bb7d-0817-49d1-a7cb-df58081dfc71.png">

[2021-10-01 09:10] hboon commented on #3212
Thanks!

Over to Vlad :)

[2021-10-01 09:12] colourfreak commented on #3255
https://zpl.io/2ZZBnPd

[2021-10-01 09:21] colourfreak opened #3256 "Move the Browser Home button to the left (10pt)"
<img width="1017" alt="Screenshot 2021-10-01 at 11 20 11" src="https://user-images.githubusercontent.com/51817359/135596767-12fb354a-1f5a-4bee-84b3-2f3463a2f09e.png">

https://zpl.io/awvJ6lj

[2021-10-04 03:45] hboon opened #3259 "Fix Binance chain "short name""
Chain's "short name" is "BSC", but the native token is "BNB".

Pending https://github.com/AlphaWallet/alpha-wallet-android/issues/2080#issuecomment-933116863

[2021-10-04 05:30] sharonsylu opened #3260 "iOS app wallets suddenly replaced by a single, new wallet silently, automatically"
**Summary**:
- iOS user opened App
- App no longer detecting user history: wallet, keys, tokens, activity, bookmarks.

**Observed**:
- Open app, saw a new wallet address (not recognised by user).

In triage, checked:
- no changes to user environment (did not swap phones, did not clear cache, no new app version update)
- between last use and opening today, only new action performed were to add two

[2021-10-04 06:09] sharonsylu commented on #3260
**Further User feedback**

* downloaded Alphawallet directly from App store
* has not changed FaceID or PIN
* Punctilious with security
* iOS version is 15.0 on iPhone XsMax
![3](https://user-images.githubusercontent.com/15342675/135801598-cc57d87b-67cf-4e53-bc9e-1ddc9048a0af.png)

**User actions **
User next steps:

* will decide to update to iOS v15.1 tomorrow when he visits wifi park (based in

[2021-10-04 10:04] hboon opened #3262 "Chain selection doesn't work properly in Settings > Select Active Networks if user has added custom chain before app officially supports the same chain"
Eg.

1. Add Arbitrum One as custom chain
2. Build with Arbitrum One support, i.e with #3261
3. Visit Settings > Select Active Networks

Can't seem to select them. Probably filter off custom chains if there's a matching chainID in the support chains? (`RPCServer.customRpcs` maybe?)

[2021-10-04 10:14] #3250 closed

[2021-10-04 13:01] #3256 closed

[2021-10-04 14:24] vladyslav-iosdev commented on #3206
@hboon For me its not clear how this extension should act itself. For now as i know when we click on EIP681 link it should open the app via `deep link`, (in such way it works for `Qoin` app).  (or jus meybe its because both apps were installed on  simulator, that is why it selected Qoin).

[2021-10-04 14:26] vladyslav-iosdev commented on #3206
i made small example extension that triggers on link selection, and translate this link to the main application. But can't figure out what should do next.

[2021-10-04 14:28] #3255 closed

[2021-10-04 14:31] hboon commented on #3206
(or maybe that is what you already did).

[2021-10-04 14:34] vladyslav-iosdev commented on #3206
i see, let me check it

[2021-10-04 14:39] vladyslav-iosdev commented on #3206
ok, yep, i see the issue

[2021-10-04 14:40] hboon commented on #3206
I mean, if it's `ethereum:` when you look at the URL in AlphaWallet's callback, then it works because we are set up as the custom URL scheme handler. That doesn't work well because in iOS, only 1 app can be the handler of each custom URL scheme and it's a competition to be that one :) So if the user can install an extension and hence choose the app to use, it would be great.

[2021-10-04 14:41] hboon commented on #3206
Or you can remove `ethereum:` from Info.plist to test too. But not sure if it's cached. Might need to increase the build number to purge the cache.

[2021-10-05 03:58] hboon opened #3265 "Attach logs to support email"
Can we hide it behind a feature flag? Default to off (because our logs are a bit sparse now :))

[2021-10-05 04:09] hboon opened #3266 "Integrate Ethermine (TaiChi replacement)"
https://rpc.ethermine.org

@vladyslav-iosdev sorry, learnt about this a little late. So it ought to work like TaiChi.

Maybe it's easier to start by `git revert` the commit locally for #3254 and then modifying that commit? :)

For Analytics type, shall we call it `isPrivateTransactionsEnabled` instead? In case we switch providers again.

[2021-10-05 04:13] hboon opened #3267 "`WebImageView` should probably have at most 1 of its subview visible at any time?"

[2021-10-05 04:23] hboon opened #3268 "Extract AlphaWallet.Address into a CocoaPod"
Let's experiment with this.

* Create a new Cocoapod containing AlphaWallet.Address
* The Cocoapod lives in the same repo, maybe `modules/` (or if you can come up with a better name)?
* Pod will have some 3rd party Cocoapods dependencies
* Pod contains as little else as possible (for example `ThreadSafeDictionary` is needed, let's just include it in the Pod for now)
* We don't have to update the m

[2021-10-05 08:29] hboon opened #3270 "An icon for Ethermine for private transactions like we used to for TaiChi"
This: https://rpc.ethermine.org

Ref: #2657

[2021-10-05 08:40] #3266 closed

[2021-10-05 08:55] vladyslav-iosdev opened #3272 "Refresh wallets balances on pull"

[2021-10-05 09:02] #3211 closed

[2021-10-05 10:06] sharonsylu commented on #3260
**User Actions**
* confirmed updated iOS v15.0.1 today, downloaded Alphawallet
* restore / reimport of all wallets using seed phrase was successful

**Observed behaviour**

Upon restoring all wallets, he observed:

* Activity: all displayed
* Bookmarks: all lost
* Tokens:
- custom tokens automatically displayed (he expected that he would need to manually re-add, per first time when he started usin

[2021-10-05 10:08] hboon commented on #3260
No. Thanks!

[2021-10-05 16:39] #3267 closed

[2021-10-06 10:16] hboon opened #3275 "Timeout new WalletConnect connections and show user-friendly message"
A common problem with WalletConnect occurs when we first try to connect after scanning a QR code. We are stuck in the (sometimes empty) screen with a spinner. When it doesn't work, this can go on for minutes.

<img width="300" alt="Screenshot 2021-10-06 at 5 59 04 PM" src="https://user-images.githubusercontent.com/56189/136184193-81d7430e-2e27-4c43-8a8b-b34187c89720.png">

So one simple way to imp

[2021-10-06 10:24] hboon commented on #3265
Oh, not that kind of log. I mean to attach the log files created by CocoaLumberjack that you worked on recently.

And the reason to hide it behind a feature flag, disabled by default is because we don't log much yet. Doesn't look so good to the users.

[2021-10-06 12:32] vladyslav-iosdev commented on #3259
@hboon canu please clarify what field is need to change?  For `RPCServer` value for `symbol` is seens  like correct.

[2021-10-06 12:50] hboon commented on #3259
Token symbol is BNB but the chain (if we
do display it in short form) should be BSC. Do we?

Our fields might not allow this.

[2021-10-06 12:52] vladyslav-iosdev commented on #3259
as i know we are not displaying chain short name in browser or any other places, only chain full name, and its symbol.

[2021-10-06 12:56] vladyslav-iosdev commented on #3262
@hboon what if we add check before adding a custom chain, to validat if chain with this chainID already exists, in this way it could resolve the issue.

[2021-10-06 13:53] hboon commented on #3262
That’s needed and I thought we do it. But this issue is about if the user add the custom chain before we add support for that chain in the app.

[2021-10-06 13:54] hboon commented on #3262
Eg. I have Arbitrum One as a custom chain and I loaded the PR for Arbitrum One

[2021-10-06 13:54] vladyslav-iosdev commented on #3262
ok, i see

[2021-10-06 14:59] colourfreak opened #3278 "Activity changes (discussion only)"
Let's start with something very generic.

**Issue 01**
Waste of space when we are displaying Activity with the same information you can find in the Activity list. They should be merged. I know that in the past we planned to use this real estate for TokenScript notes, but we have never used it.

Note that in Android you learn even less. As you don't even see who is a recipient. You have to reveal T

[2021-10-06 15:27] colourfreak commented on #3278
Issue 3
iOS and Android have a different layout of the Activity page. The icon is in a different size, Android lacks Recipient information, Android has the amount below the line, weird font. Also, the timestamp is different.

![03](https://user-images.githubusercontent.com/51817359/136234618-1080b34b-e04f-4c1d-ab43-5ec13aa27dbf.jpg)

[2021-10-06 15:32] colourfreak commented on #3278
Issue 4
Trade on Uniswap is recognized as "Contract Execution" on iOS and just two transactions one after another "Sent ETH" and "Received DAI".

![06](https://user-images.githubusercontent.com/51817359/136235304-0974257c-5d09-445b-abb7-ec394413e48d.jpg)

If you look at Etherscan, you will find exactly what I am looking for
https://etherscan.io/tx/0x37213c42bb82505f355cd44ad38e678cc1bb98d33bb1f982

[2021-10-07 04:01] hboon opened #3279 "When browser's `DappBrowserNavigationBar.state` is `.browserOnly`, the home button, bookmarks, history, etc shouldn't be shown"
We shouldn't let the user use it like a dapp browser (let's just keep the provider injection for now), but:

* Hide the home button
* Remove all the actions in the "…" button except:
    * Reload
    * Share

Eg. when accessed from Settings > Support > FAQ

[2021-10-07 11:39] akhilccrb opened #3281 "How to check wallet backup is complete ? in tockenviewcontroller.swift ?"
How to check wallet backup is complete ? in tockenviewcontroller.swift ? or in any view controller ?

[2021-10-08 04:25] hboon opened #3283 "Show the camera right away (or go back) instead of an empty WalletConnect session screen"
How about something descriptive when it's empty?

Something like "Scan a WalletConnect QR code to start"?

<img width="300" alt="Screenshot 2021-10-08 at 12 23 34 PM" src="https://user-images.githubusercontent.com/56189/136498172-f624c8dd-7b9e-4b28-9989-8ba27b0dd5e7.png">

[2021-10-08 05:05] JamesSmartCell opened #3284 "Add DAS name lookup"
As per Android we now have DAS name lookup.

Currently there's no Reverse Lookup, so it's one way only, DAS name -> Ethereum Address

Here's the lookup method: API route ```https://indexer.da.systems/```

cURL example to lookup 'dasloveckb.bit':

[code]

Output:

[code]

Select the record "address.eth".

Can be used for any .bit address

[2021-10-08 08:47] hboon opened #3287 "Display optional site icon when prompting to make a new WalletConnect connection"
In this screen, we sometimes (often?) have the dapp's icon available through the WalletConnect (code) interface. Shall we display it somehow? Assume it's around the size of the AlphaWallet icon in the screenshot below. There's a chance the icon is not available.

<img width="300" alt="Screenshot 2021-10-08 at 4 39 17 PM" src="https://user-images.githubusercontent.com/56189/136526537-21b2ea81-01dc-

[2021-10-09 04:39] hboon opened #3289 "Make WalletConnect signature request be clearer about where it's coming from"
Since users can connect to multiple WalletConnect sessions, including multiple sessions with the same dapp, it looks like we ought to add information to this actionsheet, e.g.

* Be clear this is coming from WalletConnect
* the (optional) dapp icon in #3287
* the network/chain (not editable)
* the site's name
* session ID — unfortunately, if the user connects to the same dapp on the same chain, we

[2021-10-09 04:39] hboon commented on #3289
- [ ] Implement
- [ ] Create Android issue

[2021-10-11 03:13] hboon opened #3290 "Should show "Watch-only Wallets" headers when there are only watched wallets"
Because it's not apparent the users can't sign with them until they get an error message

<img width="300" alt="Screenshot 2021-10-11 at 11 10 41 AM" src="https://user-images.githubusercontent.com/56189/136728117-7de64308-6883-4bce-87d5-72771d97ab1e.png">

[2021-10-11 04:09] hboon opened #3291 "Tweak address/name resolutions so ENS forward and reverse lookups are tried first before others (like DAS), etc"

[2021-10-11 04:13] hboon opened #3292 "Activity indicator for ENS look up disappears too quickly for ENS (vs DAS) lookups"
Compare how soon it disappears for ENS, unlikely DAS name (seems to be similar behaviour for typing and pasting):

https://user-images.githubusercontent.com/56189/136732172-b03ee918-2a76-4bfb-b945-87f30d4f4fd2.mp4

https://user-images.githubusercontent.com/56189/136732179-ba074b39-017a-4629-bfbd-bffe450226a1.mp4

[2021-10-11 06:54] #3241 closed

[2021-10-11 06:54] #3242 closed

[2021-10-11 06:54] #3245 closed

[2021-10-11 06:54] #3246 closed

[2021-10-11 06:57] hboon opened #3294 "Arbitrum native token should display price history"
Since it uses Ethereum mainnet's price

<img width="300" alt="Screenshot 2021-10-11 at 2 56 21 PM" src="https://user-images.githubusercontent.com/56189/136745695-235fbc69-aac1-46dd-9a01-dd0beaf1cf27.png">

[2021-10-11 07:15] hboon opened #3295 "Keep remote and local logs separate"
A. `RemoteLogger` is used to log to Papertrail (remotely) for selected errors. `RMPaperTrailLogger` is a third party library to do that.
B. We also created DDLogger to create local logs (to the console and appending to files).

Can we make it so that messages logged using A just goes to Papertrail and not B, and messages logged using `verbose()` etc only go to B?

This line seems problematic:

htt

[2021-10-11 08:13] #3290 closed, assigned to vladyslav-iosdev

[2021-10-11 08:14] #3294 closed, assigned to vladyslav-iosdev

[2021-10-11 08:42] hboon opened #3301 "Copy address icon squashed when built with Xcode 13"
<img width="300" alt="Screenshot 2021-10-11 at 4 41 01 PM" src="https://user-images.githubusercontent.com/56189/136760033-f4d42d62-8748-44bd-9b49-f4ddd784f05a.png">

[2021-10-11 08:43] hboon opened #3302 "Cell height in Set Speed screen looks wrong"
Generally seems taller than it was. And cell for custom gas is much taller than the rest:

<img width="300" alt="Screenshot 2021-10-11 at 4 42 36 PM" src="https://user-images.githubusercontent.com/56189/136760255-066c97a3-4c0f-48f9-a74a-06ea61da4ebd.png">

[2021-10-11 08:59] #3292 closed

[2021-10-11 09:13] hboon opened #3304 "Test build seems broken"

[2021-10-11 13:52] #3304 closed, assigned to vladyslav-iosdev

[2021-10-11 13:53] #3295 closed

[2021-10-11 13:54] #3301 closed, assigned to vladyslav-iosdev

[2021-10-11 13:55] #3302 closed, assigned to vladyslav-iosdev

[2021-10-12 03:01] hboon opened #3309 "Tests broken"
Especially running on:

* iOS 12.4 (12.x?)
* iOS 15

[2021-10-12 07:49] hboon opened #3311 "Header sizes in "Enable Networks" screen has different heights"
<img width="300" alt="Screenshot 2021-10-12 at 3 49 00 PM" src="https://user-images.githubusercontent.com/56189/136914290-e3f7662a-4116-4a42-bc9c-fe4e71440fdb.png">

[2021-10-12 08:31] #3281 closed, assigned to nobody

[2021-10-12 09:46] hboon opened #3315 "Add GitHub action to Support options"
Refer to https://github.com/AlphaWallet/alpha-wallet-android/issues/2056#issuecomment-940831984

[2021-10-12 09:53] #3311 closed, assigned to vladyslav-iosdev

[2021-10-12 10:34] colourfreak commented on #3278
Issue 5
Android is missing a search option.
![05](https://user-images.githubusercontent.com/51817359/136940226-9052688a-f05e-44ac-8cb2-fb078e050326.jpg)

[2021-10-12 11:43] colourfreak commented on #3278
Issue 8
The same transaction is called "Contact call" on Android and "Sent ETH" on iOS
https://cn.etherscan.com/tx/0x52921c840a7501c9bfbb9417f9d0ceb6dd8619210dd238d1d96c733d7cc5aef1

This transaction was about setting an ENS avatar. So neither of these transactions show a correct activity.
![08](https://user-images.githubusercontent.com/51817359/136949899-66ec8b26-47ea-481d-96e9-d5aaecaf9cd9.jpg)

[2021-10-12 14:02] #3315 closed

[2021-10-13 04:30] JamesSmartCell opened #3318 "Use Gas Oracles where possible"
The following chains have working gas oracles:

Mainnet, Heco, BSC, Polygon

Like this (respecitvely)

https://api-cn.etherscan.com/api?module=gastracker&action=gasoracle
https://api.hecoinfo.com/api?module=gastracker&action=gasoracle
https://api.bscscan.com/api?module=gastracker&action=gasoracle
https://api.polygonscan.com/api?module=gastracker&action=gasoracle

The testnets and other Etherscan c

[2021-10-13 05:41] #3318 closed

[2021-10-13 05:50] hboon opened #3319 "WalletConnect accept new connection actionsheet truncating "Name" too soon"
This is against https://zora.co

<img width="300" alt="Screenshot 2021-10-13 at 1 49 51 PM" src="https://user-images.githubusercontent.com/56189/137074662-db7f499f-f60a-46b5-98dc-dd208a8093f4.png">

[2021-10-14 03:44] hboon opened #3321 "App stuck when running debug build with Xcode 13 to iOS 15 device"
I can't delete the app to experiment with another wallet in case it's isolated to my setup/data :)

It might be due to combination of threads being locked up or/and `ThreadSafeDictionary`.

Can you help verify if it works for you?

[2021-10-14 03:50] hboon commented on #3321
In particular, the code seems to get past displaying the tab bar (and printing out the contents of the  window's root view controller verifies this), but the screen is still stuck at the splash screen.

[2021-10-14 06:23] akhilccrb opened #3322 "XMLHttpRequest cannot load due to access control checks."
1. XMLHttpRequest cannot load www.exapmlw.com due to access control checks.
2. Request header field API-KEY is not allowed by Access-Control-Allow-Headers.

While debugging with safari developer option , am facing the issue that javascript is not loading.

[2021-10-14 06:28] #3322 closed, assigned to nobody

[2021-10-14 06:52] vladyslav-iosdev commented on #3321
@hboon is there any specific steps to reproduce this issue?

[2021-10-14 07:00] hboon commented on #3321
I did this:

1. Open in Xcode 13
2. Plug in iPhone running iOS 15
3. Run against that device
4. See it stuck at the launch screen

[2021-10-14 07:07] vladyslav-iosdev opened #3325 "Fix iOS 15 back button, seems they different on screens"
i am facing issue when back button images are diffrent for screens
<img width="334" alt="Screenshot 2021-10-14 at 10 05 38" src="https://user-images.githubusercontent.com/55975226/137268335-efeadfeb-d2d3-471c-b62f-7ac97901bb15.png">
<img width="365" alt="Screenshot 2021-10-14 at 10 05 54" src="https://user-images.githubusercontent.com/55975226/137268341-7dc08e55-628b-4824-ae2d-6180b4976223.png">

[2021-10-14 07:09] vladyslav-iosdev commented on #3321
its not about simulator, i see, trying to check

[2021-10-14 07:25] vladyslav-iosdev commented on #3321
stucking on `splash screen` could be because of this check:
`if MigrationInitializer.hasRealmDatabasesForWallet && !keystore.hasWallets && !isRunningTests() {
            return false
        }`

[2021-10-14 07:26] hboon commented on #3321
Not because of that. Remember:

Hmm.. Could you help to check if the implementation of cache in the gist is good as a `ThreadSafeDictionary` replacement? I like the concept more because it delegates to `NSCache` so we don't fiddle with threads and queues.

[2021-10-14 07:37] hboon commented on #3283
Yeah sounds good. Always A then.

[2021-10-14 07:58] hboon opened #3326 "Empty ClipBoard message should be aligned to the left edge of the textfield"
Probably due to the Xcode 13 upgrade

<img width="400" alt="Screenshot 2021-10-14 at 3 57 01 PM" src="https://user-images.githubusercontent.com/56189/137275507-5ed07504-abef-43c3-8e9a-adaccf0b62ad.png">

[2021-10-14 08:24] hboon commented on #3321
Whoops. Might be a problem here. Subscribable can't use `ThreadSafeDictionary`. Or rather We can't use the `NSCache` wrapped to replace `ThreadSafeDictionary` since it evicts key-values automatically. Let me test that a bit more and get back to you. Maybe we can just use it for `AlphaWallet.Address` or something when it's really a cache and revisit this.

[2021-10-14 09:11] #3326 closed, assigned to vladyslav-iosdev

[2021-10-14 09:14] #3325 closed, assigned to vladyslav-iosdev

[2021-10-15 02:23] hboon commented on #3275
Thanks @colourfreak !

[2021-10-15 04:23] hboon commented on #3321
@vladyslav-iosdev I added a simple bit of code to `AppDelegate`:

[code]

And look out for the main thread being blocked while running `master` (i.e. without any change to `ThreadSafeDictionary`). After a short while, itt blocks for a least a few minutes (might be forever, I didn't wait more than 10 minutes), as it is no longer printing that line above.

I then made a simple change to `ThreadSafeD

[2021-10-15 08:47] hboon commented on #3321
Doesn’t feel good. Let’s skip that first and see if it works well enough for us.

[2021-10-16 06:23] shahidghafoor00 opened #3331 "Can I rebrand it?"
Is there any documentation on how can I rebrand it, what steps do I have to follow?

[2021-10-18 02:33] #3331 closed, assigned to nobody

[2021-10-18 06:37] hboon opened #3334 "Should not be able to swipe and reveal the delete option in Settings > Select Active Networks for built-in chains or enabled custom chains"

[2021-10-18 07:19] hboon opened #3335 "Crash with Xcode 13 + iOS 12.4 simulator"
Crashes with:

[code]

Works with Xcode 13 + iOS 15 simulator

[2021-10-18 07:23] #3335 closed

[2021-10-18 11:45] 0x1992 opened #3340 "Add NFTSCAN DAPP"
Title: NFTSCAN
Desc: NFTSCAN is a professional NFT asset browser and data analysis platform.
Website: https://nftscan.com/
Logo_url: https://twitter.com/nftscan_com/photo
Tags: NFTSCAN, infrastructure, NFT

[2021-10-19 02:21] hboon opened #3341 "(3) WalletConnect sessions show up after installing a new build but the cells are empty"
Build based on eed58dbe4564e0172a5e23d77d45f2db315d4a8c

These are apparently sessions made prior to the new build.

So the 3 cells in the WalletConnect session screen look like they have the correct height, but they are completely empty (sorry forgot to take a screenshot).

I can tap on the cells and they do show information of the session.

Not sure if it's related: During this time, it appears

[2021-10-19 02:42] hboon opened #3342 "Support SVGs for ENS avatar text records"
Test with Victor's ENS

[2021-10-19 02:59] hboon commented on #3342
I don't know if we still have the conversion code for SVG -> raster image in the code base and not sure if it will work well enough.

[2021-10-19 03:30] hboon commented on #3243
Option isn't available in "..." after tapping on AETH (Arbitrum One) token nor ETH (on mainnet)

3.40.2 (171) RC3

[2021-10-19 06:23] vladyslav-iosdev commented on #3342
@hboon can u please remind me his ens, was trying to find it, but couldn't

[2021-10-19 06:49] hboon commented on #3342
@vladyslav-iosdev I messaged you in Telegram :)

[2021-10-19 08:14] #3283 closed, assigned to vladyslav-iosdev

[2021-10-19 08:58] #3319 closed, assigned to vladyslav-iosdev

[2021-10-19 09:35] hboon opened #3343 "Adding chain with chain list.org (and hence EIP3085?) not working anymore"
When adding expanse with chainlist.org. Thai chain too:

Maybe broken recently.

[2021-10-20 02:40] hboon opened #3344 "Make sure deleting a active custom network in "Enabled Networks" screen right after tapping on it (to disable it) works correctly"
1. Add a custom chain X
2. Make sure it's enabled then,
3. Settings > Enabled Networks
4. Tap X
5. Swipe on X
6. The Delete (x) button appears
7. Delete

Make sure this deleting works correctly, i.e. the chain-specific resources (datastores, etc) are cleaned up.

- [ ] If and when this is working properly, then we can already allow/implement swiping to delete custom chains that are active without

[2021-10-20 06:24] hboon opened #3347 "Tests not building"
e.g. https://app.travis-ci.com/github/AlphaWallet/alpha-wallet-ios/builds/240193524

But careful to not switch to running iOS 15 for Travis until we resolve keychain problems too (or we can switch and just let those 1-2 tests fail in Travis, which is better than the entire suite not being able to run)

[2021-10-20 09:12] hboon opened #3350 "Set token image for Palm"
For this: https://palm.io

Will have to be embedded in the app, not in the `iconassets` repo

- [ ] Developer add it

[2021-10-21 08:19] hboon opened #3355 "Create app icons for Safari extension"
Follow up to: #3282

<img width="200" alt="Screenshot 2021-10-21 at 4 11 37 PM" src="https://user-images.githubusercontent.com/56189/138238709-c15ead02-6dae-4e09-87d3-09c1e638c969.png">

This is to replace the yellow icon in the screenshot above.

These are the sizes (in px):

* 48 x 48
* 64 x 64
* 96 x 96
* 128 x 128
* 256 x 256
* 512 x 512
* 16 x 16
* 19 x 19
* 32 x 32
* 38 x 38

Total 10 files.

[2021-10-21 13:49] vladyslav-iosdev commented on #3343
@hboon is there issue only in presenting `UIAlertController`? for me adding chains from `chainlist.org` works (but not for all)

[2021-10-22 02:30] #3343 closed, assigned to vladyslav-iosdev

[2021-10-22 02:38] #3334 closed, assigned to vladyslav-iosdev

[2021-10-22 08:27] hboon opened #3363 "Make Safari extension rewrite WalletConnect (`wc:`) URLs like EIP681 links"
Complement #3362

Might need to tweak some of the extension's copy since it's no longer just for EIP681

[2021-10-22 08:28] hboon opened #3364 "Make sure in-app browser handles WalletConnect (`wc:`) links"
Follow up to #3362

[2021-10-22 08:41] #3341 closed, assigned to vladyslav-iosdev

[2021-10-22 08:42] #3344 closed, assigned to vladyslav-iosdev

[2021-10-22 08:50] #3350 closed, assigned to hboon

[2021-10-22 09:49] hboon opened #3365 "If homepage is not set, tapping home button or Browser tab bar button should go to the root"
i.e. if `Config.homePageURL` is nil, tapping on the 2 buttons should go to the screen with the "My Bookmarks" and "My History" buttons.

[2021-10-22 10:30] hboon opened #3366 "walletAddEthereumChain and walletSwitchEthereumChain should be allowed for watched wallets"
https://github.com/AlphaWallet/alpha-wallet-ios/blob/a7660e4b1c912860c5dfda4cfb4fdda8f9171c0f/AlphaWallet/Browser/Coordinators/DappBrowserCoordinator.swift#L479

@vladyslav-iosdev It's easy to change, but do you have any idea how to write it without destroying the code here? :) i.e. we might have 2 switches (then the check and the meat of the logic is separated), or we can duplicate the guard for

[2021-10-25 01:49] #3347 closed, assigned to vladyslav-iosdev

[2021-10-25 08:09] #3366 closed, assigned to vladyslav-iosdev

[2021-10-25 08:41] #3365 closed, assigned to vladyslav-iosdev

[2021-10-26 00:58] Euroman123 opened #3375 "I don't want to be an author"
My account is not safe here

[2021-10-26 04:25] #3363 closed, assigned to vladyslav-iosdev

[2021-10-26 04:25] #3364 closed, assigned to vladyslav-iosdev

[2021-10-26 07:58] Euroman123 opened #3376 "Alpha wallet"
I want to unsubscribe

[2021-10-27 10:24] #3355 closed, assigned to nobody

[2021-10-27 12:23] colourfreak opened #3382 "Add Dapp Icons in the WalletConnect list"
https://zpl.io/aXRYQ6g

![Active_Connections](https://user-images.githubusercontent.com/51817359/139064371-426ec9d1-835a-48aa-933b-c2b4674dd91c.jpg)

When you swipe, it reveals option to disconnect.

https://zpl.io/bP34EPy

![Active_Connections_Swipe](https://user-images.githubusercontent.com/51817359/139064603-33d644f0-f871-4088-b217-8ec134e8de6b.jpg)

[2021-10-27 12:24] colourfreak opened #3383 "Add option to switch network in active WalletConnect session"
![QR_WalletConnect_Zerion_Switch](https://user-images.githubusercontent.com/51817359/139064709-b909283d-1b8b-4d89-b999-2aa74465f2b8.jpg)
![QR_WalletConnect_Zerion](https://user-images.githubusercontent.com/51817359/139064715-f9cb8cbd-c366-4b54-b4a5-dea6a1f6c6ae.jpg)

https://zpl.io/bJ6EPM3
https://zpl.io/2935mjY

[2021-10-27 12:26] colourfreak opened #3384 "Update the top Dapp icon in Active WalletConnect session"
We need a small, rounded icon taken from favicon + the Name below.

https://zpl.io/blnlzGz
![QR_WalletConnect_Aave](https://user-images.githubusercontent.com/51817359/139064982-fd005b20-b6e4-45c1-9c3a-16a2ba9dfc82.jpg)

[2021-10-28 03:27] hboon opened #3385 "Empty WalletConnect cell on iOS 15 device right after connecting"
Maybe related to: #3341 but this happen right after attempting to connect (and maybe the connection was successful)

<img width='200' src='https://user-images.githubusercontent.com/56189/139181129-943aa77d-4f8a-4d6d-afe9-51646ed48452.PNG'>

[2021-10-28 03:30] #3376 closed, assigned to nobody

[2021-10-28 03:30] #3375 closed, assigned to nobody

[2021-10-28 08:25] colourfreak opened #3387 "Remove the shadow below the chart line"
![2021-10-28 10 16 12](https://user-images.githubusercontent.com/51817359/139216023-6838c300-999c-4c70-91c8-681019ca5834.png)
![2021-10-28 10 19 08](https://user-images.githubusercontent.com/51817359/139217084-3029f91e-dd19-4f46-af4c-825e18fd21ef.png)

Just a line looks much better. https://zpl.io/2p8ozYy
<img width="434" alt="Screenshot 2021-10-28 at 10 23 20" src="https://user-images.githubuserc

[2021-10-28 09:46] hboon opened #3389 "Height or vertical alignment of cells in Settings > Advanced is off"
Both iOS 12.4 and iOS 15 simulator. But better to be sure on iOS 15

iOS 12|iOS 15
-|-
<img width="300" alt="Screenshot 2021-10-28 at 5 37 48 PM" src="https://user-images.githubusercontent.com/56189/139231415-6c845dd1-51e0-47ad-82ec-2469493c7fbb.png">|<img width="300" alt="Screenshot 2021-10-28 at 5 44 41 PM" src="https://user-images.githubusercontent.com/56189/139231437-75fc53f2-2328-42d3-aa9d-99

[2021-10-28 14:12] #3389 closed, assigned to vladyslav-iosdev

[2021-10-28 14:12] #3387 closed, assigned to vladyslav-iosdev

[2021-10-29 02:39] hboon opened #3395 "Check if possible to switch network for active WalletConnect session"
Refer to #3384

[2021-10-29 02:42] #3384 closed, assigned to vladyslav-iosdev

[2021-10-29 06:33] #3382 closed, assigned to vladyslav-iosdev

[2021-10-31 13:23] colourfreak opened #3398 "Allow users to import a wallet with 24 seed phrase"

[2021-11-01 12:14] vladyslav-iosdev commented on #3224
@hboon i was able to retrieve these values out with enjin api, for now the problem is it requires authorization. Authorization returns expirable token. And we have to manage it some how.

[2021-11-01 12:53] hboon commented on #3224
Hmm. Could you implement a simple version of its really simple or describe how it works? Whichever is easy and easier to understand it so we can see if it’s a good solution or how we might tweak it?

[2021-11-01 13:25] vladyslav-iosdev commented on #3224
once i done i will push changes

[2021-11-01 13:39] hboon commented on #3224
Only if it’s simple enough and you don’t mind throwing it away :) because Enjin sounds like it’s specific to their contract, but let’s see. Thanks

[2021-11-02 03:38] #3383 closed

[2021-11-02 03:38] #3395 closed

[2021-11-02 04:47] hboon opened #3401 "Vertical alignment for avatar and address under address field (eg in Import wallet screen) is off"
<img width="200" alt="Screenshot 2021-11-02 at 12 02 14 PM" src="https://user-images.githubusercontent.com/56189/139788204-609cd659-8af1-4b96-b3e0-8b7c0d47d856.png">

[2021-11-02 06:42] #3401 closed

[2021-11-02 07:09] hboon opened #3403 "Indicate which chain for each WalletConnect session more prominently by showing an icon for the chain for each session"
In the list of WalletConnect sessions screen, we current show the connected chain in brackets, but it's not very readable and may not be visible if the site name is long. This comes in handy when we connect multiple sessions to the same dapp (eg. Swap). Can we improve it?

Current|Design
-|-
<img width="240" alt="Screenshot 2021-11-02 at 3 05 21 PM" src="https://user-images.githubusercontent.com/5

[2021-11-02 10:20] colourfreak commented on #3403
How about having a small icon indicating the network?

Network icons
https://zpl.io/adoPDwe

Screen
https://zpl.io/adoPDM7

That can be a good basement before we automatically add network icons to all icons (currently I have to upload an icon, but it will be better if I just upload one, and the network icon is added automatically)

![Active_Connections](https://user-images.githubusercontent.com/51

[2021-11-02 12:32] #3289 closed

[2021-11-02 12:37] hboon commented on #3403
@colourfreak looks good. Thanks!

[2021-11-02 12:37] hboon commented on #3403
@colourfreak yes

[2021-11-02 12:38] hboon commented on #3403
@vladyslav-iosdev would you help to show the little chain icon overlay in each chain?

[2021-11-02 13:00] #3342 closed

[2021-11-03 02:32] #3385 closed

[2021-11-03 08:24] hboon opened #3409 "Support editing custom chains"
We ship with many built-in chains (See Settings > Select Active Networks), but users can add custom chains.

Custom chains can be added by going to the Browser tab and visiting https://chainlist.org. "Expanse Network" is one example you can add (since it's not bundled with the app). Follow through the flow and when you visit Settings > Select Active Networks again, the chain ("Expanse") should be

[2021-11-03 14:21] eviltofu commented on #3409
The scope describes setting up the Delete button but not the delete function. Is the delete function to be hooked up to the button?

[2021-11-03 14:30] hboon commented on #3409
Sorry, I just have edited that part out. Delete is already supported when you swipe; so you only need to implement editing.

[2021-11-03 15:10] eviltofu commented on #3409
Is there a localised string for the edit button title or should I use `R.string.localizable.editButtonTitle()`? The delete button which was already implemented by someone else has a X using `R.string.localizable.delete()`. It doesn't look consistent.

[2021-11-03 15:16] hboon commented on #3409
`R.string.localizable.editButtonTitle()` is fine.

[2021-11-05 01:52] #3340 closed

[2021-11-05 03:51] #3403 closed

[2021-11-05 04:27] hboon opened #3412 "Improve/update listing in https://ethereum.org/en/wallets/find-wallet/#results"

[2021-11-05 08:22] hboon opened #3413 "WalletConnect v2"
* Docs: https://docs.walletconnect.com
* SDK
    * Swift: https://github.com/WalletConnect-Labs/WalletConnectSwiftV2
        * Doc mentions requires minimum deployment iOS 13 (but doesn't seem so in practice?)
    * Kotlin: https://github.com/WalletConnect-Labs/WalletConnectKotlinV2
* Test sites
    Test wallet site
       https://react-wallet.walletconnect.com
    Test dapp site
        https://r

[2021-11-05 08:45] hboon commented on #3413
A few screenshots to highlight how some of the information/hierarchy changes:

v2 Prompt to connect|v1 Prompt to connect
-|-
<img width="300" alt="Screenshot 2021-11-05 at 4 24 53 PM" src="https://user-images.githubusercontent.com/56189/140481726-af521a29-494b-433b-84ab-b838b631fb10.png">|<img width="300" alt="Screenshot 2021-11-05 at 4 32 12 PM" src="https://user-images.githubusercontent.com/5618

[2021-11-05 08:54] hboon commented on #3413
We'll need to support both WalletConnect v1 and v2 at the same time in the app and since it's possible for users to connect to a dapp that uses v1 and another that uses v2, the UI have to display sessions from both in the same list.

We need to:

- [ ] Add support for v2
- [ ] Continues to support v1
- [ ] The correct version to use is detected by reading the `wc:` URL/QR code
- [ ] Add or modify

[2021-11-06 08:18] hieronymus4826 commented on #3412
I have sent an enquiry, will update you once I have news on it.

[2021-11-08 01:16] eviltofu commented on #3409
How do I validate a CustomRPC?

[2021-11-08 01:23] eviltofu commented on #3409
Are duplicate chainName, symbol, rpcEndpoint, explorerEndpoint allowed when editing a CustomRPC?

[2021-11-08 01:43] eviltofu commented on #3409
What sort of activity need to be logged to the Analytics?

[2021-11-08 01:48] eviltofu commented on #3409
How do I indicate there are new entries to the localisation strings? Who do I inform so new translations can be added?

[2021-11-08 02:47] hboon commented on #3409
@eviltofu

For validation logic, check how it's done when manually adding one (instead of via the browser). The title of that screen is "Add Custom RPC Network". UI for error messages/handling should be quite similar.

We don't check those (probably could check the endpoints just to be sure, but not at this moment). But it is important that chain ID is unique.

Ignore it for now

Don't have to. Ju

[2021-11-08 11:02] zhangzhongnan928 commented on #1298
https://user-images.githubusercontent.com/33795543/140730823-0d8f72bf-deb1-454a-a1b0-8a20ac1fdfe5.MOV

The issue is still there. The balance and activity is not synced.

[2021-11-08 15:11] eviltofu commented on #3409
There is a side effect where if you select/deselect several servers, then edit a custom server, the new selected server don't appear to be saved. Am I to fix this?

[2021-11-08 15:24] hboon commented on #3409
If it's because of adding editing support than would be good to include it (as a separate commit (if that's possible). If it's not related to editing, then would be great if you can just create an issue.

[2021-11-08 15:37] vladyslav-iosdev commented on #3224
@hboon
i was not able to find how to fetch these fields information:
- Issuer
- Assets
- Melts
- Hodlers/Holders
- Transfers

[2021-11-08 16:38] hboon commented on #3224
That’s fine. We use what we have first.

[2021-11-09 00:27] eviltofu commented on #3409
This flaw is present when I manually add a network so I believe it is an existing bug.

[2021-11-09 00:28] eviltofu commented on #3409
Also why does the UI drop back to the main screen after manually adding or editing? Should it not be in the previous screen instead of jumping two screens down?

[2021-11-09 03:21] hboon commented on #3409
Technical constraint. Some of the resources for connecting to servers was never designed to clean up well so killing all of them is much easier. There's a whole bunch of logic for fetching from each server running.

[2021-11-09 05:29] hboon opened #3416 "Search UI in Activities broken with spurious white background"
Screenshot is taken on device iOS 15. Should verify on device if this is a problem. Can't reproduce on simulator

<img width='200' src='https://user-images.githubusercontent.com/56189/140867687-e2e2687d-665b-47ea-9e16-2d920f7a4248.PNG'>

[2021-11-09 07:27] colourfreak commented on #2979
@hboon I have the same problem when using Uniswap.

https://user-images.githubusercontent.com/51817359/140880367-528e3a76-f91f-4aac-822d-f087a5ae4f4c.mp4

[2021-11-09 14:53] colourfreak opened #3418 "Add thin gray lines behind the chart with edge values"
<img width="973" alt="Screenshot 2021-11-09 at 15 51 51" src="https://user-images.githubusercontent.com/51817359/140946713-1a870a17-8b10-4c8e-a5bc-5672e5bf5298.png">

https://zpl.io/bo7Pj8m

[2021-11-10 08:29] colourfreak opened #3419 "Get listed among Fantom Wallets"
https://www.fantom.foundation/wallets/

[2021-11-10 14:17] eviltofu opened #3420 "When selecting/deselecting networks on the chain list screen, enable/disable changes are not saved if the new chain is saved"
When in the enabled network screen, a user selects / deselects one or more networks. Then the user deletes a custom network or adds a custom network. The changes made to the selections are not preserved.

The following instructions assume the Expanse Network has not been previously added.

1. Tap the settings tab button when on the Home Screen.
2. Tap the select active networks table row.
3. Tap o

[2021-11-10 14:27] eviltofu opened #3421 "Spurious (2nd) dialog after hitting cancel when manually adding a network"
When adding a network manually, hitting the cancel option when presented with a warning about unresolved Block chain URLs results in a redundant Error alert.

1. Tap the settings tab button when on the Home Screen.
2. Tap the select active networks table row.
3. Tap the + button in the upper right hand corner to add a network.
4. Type "Expanse Network" in the network name field.
5. Type "https://n

[2021-11-11 02:44] hboon commented on #3421
Reproducible with 51d241451ea627d45998352640338afbf34b5909

We should not show the 2nd dialog: "No blockchain explorer URL provided".

[2021-11-11 02:48] hboon commented on #3420
Reproducible with 51d2414

[2021-11-11 02:49] hboon commented on #3420
@eviltofu thanks for filing issues clearly.

[2021-11-11 06:15] JamesSmartCell commented on #3403
I like this a lot.

Can we also re-use this for the main wallet and activity pages? The way that the code works means one change can do this. This will clean up the activity pages in Android too.

[2021-11-11 06:19] hboon commented on #3403
If you are referring to using those little icons, that's what Tomek is referring to here: https://github.com/AlphaWallet/alpha-wallet-ios/issues/3403#issuecomment-957469567

But token icons in the iconassets already show this, so we might need to coordinate it a bit. Better to separate the work for this screen and elsewhere.

[2021-11-11 06:46] JamesSmartCell commented on #3403
Yes, I have seen those, and indeed we should do a coordinated swap to a code driven graphic approach. I can isolate this chain icon to just the WC session screen for now.

[2021-11-11 07:54] colourfreak commented on #3403
I can do it again and get rid of the network icon already placed in the token icon's corner. But I would prefer if we first make https://github.com/AlphaWallet/alpha-wallet-ios/issues/2629 so we have all tokens organized. Having #2629 ready is the gateway to all further wallet changes (adding sorting options, grouping, filtering, etc.) Kind of like metadata about the tokens we display. @hboon @Jam

[2021-11-11 08:03] hboon opened #3423 "Display price and price history for tokens that are on L2 or wrapped versions based on the original token"
Refer to #2629 starting from https://github.com/AlphaWallet/alpha-wallet-ios/issues/2629#issuecomment-915278303

[2021-11-11 08:04] hboon commented on #2629
Created #3423 since we are mixing 2 issues into one. The price history display is already implemented.

[2021-11-11 08:04] #2629 closed

[2021-11-11 08:05] hboon commented on #3403
@colourfreak when you refer to #2629, are you referring to:

A. Display charts when we have the data
B. Make A work for more tokens, in particular for tokens that are on L2s or wrapped versions (eg. WETH). Have created #3423 for this to reduce confusion

A is already implemented on iOS, so I have created #3423 and closed #2629

[2021-11-11 08:06] hboon commented on #3423
FWIW, I think the discussion in #2629 is over-engineering things. If we want to ship this, we should just create a manually list and run with it.

[2021-11-11 08:39] colourfreak commented on #3403
https://github.com/AlphaWallet/alpha-wallet-ios/issues/2629#issuecomment-918291148

@hboon I am referring to this comment. I think we can make it a separate issue.

[2021-11-12 04:07] #3409 closed

[2021-11-12 06:18] hboon commented on #1298
Found a separate bug, the fiat value is incorrect in that screen. Fixing it now.

As for the balance being stuck at 0, it works for me. Can you try this:

1. Wallet tab
2. Add/Hide Tokens
3. +
4. Paste WETH address: 0x7ceB23fD6bC0adD59E62ac25578270cFf1b9f619
5. Don't tap Done

See if it detects the name and symbol etc. Wonder if it's rate limited by Infura

[2021-11-12 07:28] vladyslav-iosdev commented on #3413
@hboon are u able to geenrage qr code with https://react-app.walletconnect.com/ app? not sure how to test the app

[2021-11-12 07:33] hboon commented on #3413
@vladyslav-iosdev yes, you need to tap to select the chain(s) you want to connect with:

1. Tap Ethereum Kovan
2. Tap Optimistm Kovan
3. Tap Connect
4. Tap New Pairing

[2021-11-12 07:34] vladyslav-iosdev commented on #3413
for me, after pasting url nothing happens, i will try to scan qr code

[2021-11-12 07:36] hboon commented on #3413
Where do you paste the URL? Are you testing with the test wallet site? https://react-wallet.walletconnect.com. That worked for me a few days ago.

[2021-11-12 07:37] vladyslav-iosdev commented on #3413
<img width="1904" alt="Screenshot 2021-11-12 at 09 37 12" src="https://user-images.githubusercontent.com/55975226/141428529-a2271cf1-a432-4304-80e8-d262402abd79.png">

[2021-11-12 07:38] vladyslav-iosdev commented on #3413
and here https://react-app.walletconnect.com/ for me it displays lik
<img width="398" alt="Screenshot 2021-11-12 at 09 38 04" src="https://user-images.githubusercontent.com/55975226/141428657-0f22f2bc-ffc9-499d-86ff-d300211a8b6e.png">
e

[2021-11-12 07:41] hboon commented on #3413
Strange. Try Safari in private mode.

Dapp:

<img width="496" alt="Screenshot 2021-11-12 at 3 38 52 PM" src="https://user-images.githubusercontent.com/56189/141428964-b20f14e0-b1bf-4f31-8e76-b1bc52f2a68d.png">

Wallet after pasting URL:

<img width="496" alt="Screenshot 2021-11-12 at 3 38 52 PM" src="https://user-images.githubusercontent.com/56189/141428912-fcf89cf5-a855-461a-afea-7b5863906903.png

[2021-11-12 07:42] vladyslav-iosdev commented on #3413
ok, thx, checking!

[2021-11-12 09:45] colourfreak commented on #2629
Do we have an issue for the second part? I mean the one when I am trying to describe each token? https://github.com/AlphaWallet/alpha-wallet-ios/issues/2629#issuecomment-918291148

[2021-11-12 11:20] hboon commented on #2629
@colourfreak not specifically. If you need it not ti support #3423, then would you help create one an issue describe what it’s for?

[2021-11-12 13:36] vladyslav-iosdev commented on #3413
@hboon i currently stuck here, as there some topics and visibility of some needed properties. Created a few PRs, and waiting for approvance from guys now.

[2021-11-12 15:11] hboon commented on #3413
@vladyslav-iosdev great. Thanks! You can use a local fork of the v2 SDK in the mean time right? But yes, we should still get them to merge it upstream.

[2021-11-13 07:08] JamesSmartCell commented on #3403
OK, I am done with the side projects for a bit, back on AW for the next week so I'll do another big Samoa work-push

[2021-11-13 13:32] hboon opened #3426 "Get listed in https://everest.link"
https://everest.link/category/0xc00f480db7754ce2e0f992a1080598e53fc511a0/

[2021-11-13 15:31] vladyslav-iosdev commented on #3224
@hboon hope changings applied to `WebImageView` will not broke existed logic

[2021-11-13 15:33] hboon commented on #3224
@vladyslav-iosdev test them with ENS avatar? That seems the most fragile.

[2021-11-13 15:36] vladyslav-iosdev commented on #3224
it should affect on  ENS avatar, as its related to urls that don't have `url.pathExtension == "svg"`

[2021-11-13 15:37] vladyslav-iosdev commented on #3224
i updated web view to fit parents actual size, so it loads not with :
`webView.load(.init(url: url))` but with
`
let html = generateHtmlForThumbnailSvg(url: url, size: size)
webView.loadHTMLString(html, baseURL: nil)
`

[2021-11-13 16:17] vladyslav-iosdev commented on #3416
i wasn't be able to reproduce it with real device on iOS 15 os version.

[2021-11-13 17:23] #3416 closed

[2021-11-14 07:51] #3418 closed

[2021-11-14 10:10] #3421 closed

[2021-11-15 07:42] colourfreak opened #3431 "How to update token list with right balances and remaining tokens?"
So looking at the list here, I know that it has only two tokens on Optimism Ethereum.

![2021-11-15 08 12 58](https://user-images.githubusercontent.com/51817359/141741483-c5c836e9-812e-4200-bbb9-57430044aa9c.png)
But I know that I have more tokens on Optimism.

<img width="514" alt="Screenshot 2021-11-15 at 08 40 40" src="https://user-images.githubusercontent.com/51817359/141741291-51faa061-4138-4

[2021-11-15 08:05] colourfreak commented on #3431
I forgot about the wallet and re-imported it with the seed phrase. Same story. It does not display the full list.
When I removed the app and reinstalled it again. Does not work either.

[2021-11-15 08:29] vladyslav-iosdev opened #3432 "Fix chevron icon on confirmation screen"

[2021-11-15 08:30] vladyslav-iosdev opened #3433 "Hide empty ens image view if there is no resolved ens icon, (on initial state)"

[2021-11-15 16:34] #3432 closed

[2021-11-15 16:45] #3433 closed

[2021-11-17 02:25] #3420 closed

[2021-11-17 09:14] colourfreak opened #3444 "Move the search bar down, move Add/Hide Tokens"
**Changes:**
* Replace "My Wallet Address" with the additional menu icon
* When revealed additional menu, show two options "My Wallet Address" and "Add/Hide Tokens"
* Move search bar where "Add/Hide Tokens" was before

**Positives**
* More clear interface
* Less real estate occupied by "Add/Hide Tokens"
* We allow Android to be identical to iOS, and it was difficult to include a search bar anywher

[2021-11-18 06:07] hboon commented on #3444
Vlad: can you try to retain that behavoir where the navigation bar is hidden when the taps the search bar and search if it's not too hackish? UISearchbar is too fragile for tricks, so if it's not feasible, never mind.

@colourfreak remember the option to copy wallet address too.

[2021-11-18 06:09] hboon opened #3445 "Eden icon"
We are adding support for Eden as another option, alongside Ethermine for users to send their transactions privately. Would you help to create an appropriate icon for it to appear in this screen?

<img width="300" alt="Screenshot 2021-11-18 at 2 05 33 PM" src="https://user-images.githubusercontent.com/56189/142361343-7b4fe654-f114-44e3-b99b-45ba0d14e170.png">

They gave us these:

![EDN_Logo_02_ED

[2021-11-18 08:36] vladyslav-iosdev commented on #3444
ok, sure i will try

[2021-11-18 11:07] colourfreak commented on #3444
https://zpl.io/brOBvJX
https://zpl.io/VkPqp8g
![Wallet_Menu](https://user-images.githubusercontent.com/51817359/142404248-9001bb57-7167-44e4-b409-fbd72fdaf6c7.jpg)
![Wallet_New](https://user-images.githubusercontent.com/51817359/142404256-8c5be6b1-129b-4341-aca2-d0e618271872.jpg)

[2021-11-18 13:25] colourfreak commented on #3223
![ERC-1155-Project-Assets-List-Placeholder](https://user-images.githubusercontent.com/51817359/142423087-f0ee7335-42b0-4322-9dda-6d5e80f454ab.jpg)
![ERC-1155-Project-Placeholder](https://user-images.githubusercontent.com/51817359/142423091-51fc0970-e445-4136-893b-12105fe3ad09.jpg)

https://zpl.io/an8q4gv
https://zpl.io/2E3NoMv

[2021-11-18 13:40] hboon opened #3447 "Allow users to import a wallet with 24 seed phrase"
Refer https://github.com/AlphaWallet/alpha-wallet-android/issues/2204#issuecomment-972776818

- [x] Also need to check for references to "12 words seed phrases" or similar in the app
- [x] Also need to check if export functionality needs to be changed
- [x] Hide functionality behind a `Features` flag.
- [ ] Check verify seed phrase screen works for both 12-words and 24-words. This might not be acc

[2021-11-18 13:41] hboon commented on #3223
Thanks @colourfreak !

[2021-11-18 13:42] hboon commented on #3223
@colourfreak BTW, do you think we can use the same or similarly styled icon in the dapp browser history/bookmarks? It seems more intention-revealing than the color app icon version that we use now. If so, We can create a new issue.

[2021-11-18 13:51] colourfreak opened #3448 "Redesign ERC721 to be align with recent ERC1155 update we made [ERC721]"
The good news is, that we already made the layout for ERC1155 (at least on Android), which now can be applied to the ERC721 redesign. Note, that unlike ERC1155, in the Assets tab you will not find the menu icon in the top right. Since there no way for multiple selection, I skipped it.

**Zeplin:**
https://zpl.io/bzzgow7

![ERC721-ios](https://user-images.githubusercontent.com/51817359/142427701-fe

[2021-11-18 14:07] colourfreak opened #3449 "Improve how Collectibles tab look like in the wallet [ERC721]"
We need to make this component and apply it to all Collections:
https://zpl.io/VD3E0we
https://zpl.io/2vXJZ47

![Wallet-Collectibles](https://user-images.githubusercontent.com/51817359/142430392-6ba68d1d-27d1-4587-a3f8-8a4bc3e4674b.jpg)

[2021-11-19 04:21] hboon commented on #3448
@vladyslav-iosdev probably ready to go after #3411

[2021-11-19 13:09] colourfreak commented on #3445
https://zpl.io/VO3O5gj

[2021-11-22 00:47] hboon opened #3451 "Fix SwiftLint results not appearing in build results"

[2021-11-22 00:52] hboon opened #3452 "Refactor so `AddRPCServerViewController.validateInputs()` is shared for both adding and editing custom chains"

[2021-11-22 00:52] hboon opened #3453 "Next button (keyboard) should scroll screen so textfield is visible for EditCustomRPCViewController"
Probably the add equivalent too.

[2021-11-22 02:25] eviltofu commented on #3451
### SwiftLint is working correctly.
The .swiftlint.yml file has disabled a lot of the rules. Deleting `trailing_whitespace` in the `disabled_rules` section of the file makes the warnings appear again.
### Build Phases position
In the build phases of the AlphaWallet target, the `Run SwiftLint` phase is after the `Compile sources` phase. The SwiftLint home page recommends that the lint phase be run

[2021-11-22 08:48] hboon commented on #3451
It's working.

[2021-11-22 08:48] #3451 closed

[2021-11-22 09:17] hboon opened #3455 "Keys can't be accessed on iOS 15 simulator"
This is different from the problem with iOS 13.

Reproduce:

1. Backup HD wallet
2. Can't access seed phrase

[2021-11-22 09:17] hboon opened #3456 "Make tests pass on iOS 15 simulator"
Seems to be `QRCodeValueParserTests.swift` (strange!) and maybe `EtherKeystoreTests.swift`.

Follow up:

- [ ] Make travis use iOS 15 instead of 14.x

[2021-11-22 09:29] #3455 closed

[2021-11-22 12:50] eviltofu commented on #3452
The validation method is already extracted out to `EditCustomRpcViewModel.validate(...)`. Would it be better to refactor `EditRpcServerCoordinator` , `EditRpcServerViewController`, and `EditCustomRpcViewModel` to `SaveCustomRpcServerCoordinator`, `SaveCustomRpcServerViewController`, and `SaveCustomRpcViewModel` and introduce two options `add` and `edit` in the constructor of the Coordinator? Then

[2021-11-22 13:00] eviltofu opened #3459 "Add SwiftLint phase in Build Phase for Targets AlphaWalletShare and AlphaWalletSafariExtension"
Currently, in both targets, the SwiftLint phase is not installed.

[2021-11-22 13:35] hboon commented on #3452
@eviltofu sounds like it could work too, yes.

BTW, there is this maybe unorthodox-looking extension inner class trick we are experimenting with. Look for an example in:

[code]

Lowercase "functional". Basically immutable functions are placed in there. The compiler can't check, but we shouldn't modify the args of reference types (classes) too.

Look for ".functional {" for more examples.

So you

[2021-11-22 14:12] colourfreak opened #3460 "Make Buy Crypto option more available and visible"
There are 3 things we can do. I would definitely go for 1., and keep 2. and 3. optional.

1. Add an additional item in the hidden menu called "Buy Crypto"
2. Add a button to buy crypto at the end of the token list
3. Add one more icon in the Tab Bar.

<img width="1503" alt="Screenshot 2021-11-22 at 15 08 38" src="https://user-images.githubusercontent.com/51817359/142876312-bf70609d-a506-40fb-8832-

[2021-11-23 05:58] hboon commented on #3460
@colourfreak thanks! Yeah, 2 and 3 probably would be later like you said. But I think we ought to expand the feature discovery a bit more beyond (1). We already do that when the user tries to send a transaction but don't have enough for gas (will have to check it opens up the Ramp page easily, I forgot how we do it). For example, maybe we can do a one-time prompt similar to prompting for newslette

[2021-11-23 06:34] hboon opened #3462 "What's new dialog upon 1st launch after app is update"
Show a list of changes. Textual, for example the following, but probably shorter:

Users tend not to read release notes especially if they have auto-update enabled. Also opens up the opportunity to use the same UI to highlight specific 1-2 features at selected times.

Might tweak this format to just be about a single feature with a lengthier feature in the future, but let's roll something out firs

[2021-11-23 08:05] #3445 closed

[2021-11-23 11:30] colourfreak opened #3464 "Let users browse among all possible RPC networks"
Problem: users have to enter RPC networks manually, where in most cases it can be automated.

**Changes:**

- We add a second line in the list where we mention ChainID
- We add tabs in "Add Custom RPC Network". One is to Enter it manually, second to browse among all existing networks (we can use chainlist)
- Users should be able to hide any network they want except Ethereum Mainnet, but by default

[2021-11-23 11:55] colourfreak commented on #3462
Zeplin:
https://zpl.io/V4X8jk4

![Wallet_News](https://user-images.githubusercontent.com/51817359/143019888-b6c07df3-b8a8-47f4-8eaf-cbf80ff0dda0.jpg)

[2021-11-23 22:27] eviltofu commented on #3453
The number pad has no next button. Perhaps a previous (<) and next (>) button should be set up on top of all the keyboards in this screen to move the focus.

[2021-11-24 01:57] eviltofu commented on #3456
Does this include the AlphaWalletUI tests which fail with `“Cannot test target “AlphaWalletUITests” on “iPhone 12”: UITargetAppPath should be provided`?

[2021-11-24 02:47] hboon commented on #3453
Yeah, it's a funny thing with the built-in numeric keyboard.

If you do it, can you do it in a separate PR? Because there are a few screens that use it. Same general approach, you can either add it just for this save custom chain screen or all of them at one go (if the changes don't look massive).

[2021-11-24 02:47] hboon commented on #3456
No, ignore `AlphaWalletUITests`. I haven't used it in ages and don't think that work at all.

[2021-11-24 02:48] hboon commented on #3456
Remember to `.travis.yml`. That one.

[2021-11-24 03:31] hboon commented on #3462
Thanks!

[2021-11-24 03:47] hboon commented on #3464
This looks useful. I think we spoke about (or I wanted to but forgot) showing the chain icon here too. Do you think we could add both as a separate change, separate from this issue?

---

The chain data can be pulled from https://github.com/ethereum-lists/chains so it's not a problem.

But the chain data is sometimes wrong or possibly outdated and is community maintained. We can help to fix the da

[2021-11-24 06:45] eviltofu commented on #3456
The tests were failing to complete because `LockEnterPasscodeCoordinator` in `LockEnterPasscodeCoordinatorTest` did not have a corresponding `.stop` after `.start`. After fixing this issue, the unit tests were able to run again but one test `QRCodeValueParserTests` sometimes failed due to a time out.

I noticed that the following files had no tests. Should they be removed?

- EnterSellTokensCardPr

[2021-11-24 06:48] hboon commented on #3456
Push a PR?

Keep them there for now since they are disabled because they weren't working for some reason. You can try to fix it separately if you know what they are about. But very low priority.

Sure. Separate PR, as usual/

[2021-11-24 08:01] eviltofu opened #3470 "Empty UI tests should be removed"
The Empty UI tests are failing and prevents testers from running unit tests via CMD-T. These Empty UI tests should be removed.

[2021-11-24 08:41] eviltofu commented on #3453
Also, the url text fields should have a https:// button. This should go into another pull request?

[2021-11-24 08:45] hboon commented on #3453
Yeah, sounds like they are different things. For example, if it's a single screen that's affected with these:

* Make numeric fields use numeric keyboard
* Make URL fields have http button

Then it's perfectly fine to be in a single PR.

[2021-11-24 08:59] eviltofu commented on #3453
Searching shows 4 instances of .numberPad and 7 instances of .decimalPad keyboards. I should add only for this screen and then we add the rest one by one.

[2021-11-24 10:55] eviltofu commented on #3470
Can the tests be randomised? Right now the tests all run in sequence. I'd like a random order to throw up more errors.
I've found that `AppCoordinatorTests` fails when not run early in the tests sequence.

[2021-11-24 11:30] hboon commented on #3470
No idea

[2021-11-24 11:30] eviltofu commented on #3456
It seems that it is not `QRCodeValueParserTests` but another test which uses networking which is causing the problem.

[2021-11-25 02:49] #3452 closed

[2021-11-25 03:30] hboon commented on #3462
@vladyslav-iosdev I thought you added a base class that provides this actionsheet-type look and feel but I don't remember which. Can you help to point out which one this is or a similar one which we can base this screen on? It's just used to display some static text from a data source.

@eviltofu can you help to build this? So a new coordinator + UIViewController (or child) subclass with some hard

[2021-11-25 03:32] eviltofu opened #3475 "Keyboard enhancements for Save Custom RPC Network sequence"
There are several keyboard items which need to be corrected.
1. Next and Previous buttons should be added to the top of the decimal pad to allow users to navigate.
2. https:// buttons should be added to the top of keyboards for url type fields.
3. The Done button and it's functionality is missing from the SaveCustomRpcView when the Block Explorer URL text field is first responder.
![IMG_CC3ADFE49F

[2021-11-25 03:49] hboon commented on #3447
@eviltofu may need some context but see what you can discover by yourself.

[2021-11-25 03:49] hboon commented on #3398
Duplicate #3447

[2021-11-25 03:49] #3398 closed

[2021-11-25 03:51] hboon commented on #3123
Closing for now.

[2021-11-25 03:51] #3123 closed

[2021-11-25 03:52] hboon commented on #2996
^

[2021-11-25 03:52] #2996 closed

[2021-11-25 03:53] hboon commented on #2913
Hold for now.

[2021-11-25 03:53] #2913 closed

[2021-11-25 06:37] vladyslav-iosdev commented on #3462
@eviltofu Look up for `ModalViewController`, its prettry what u need

[2021-11-25 12:51] eviltofu commented on #3462
Does this have to be multilingual?

[2021-11-25 12:57] hboon commented on #3462
Probably not. At least not now. Why does it matter?

[2021-11-25 14:38] eviltofu commented on #3453
@hboon On iPad, the decimal pad does have the NEXT button.

[2021-11-26 00:12] eviltofu commented on #3462
How does this handle scrolling when there are too many items to display? Does the "What's new?" stay and the other news items scroll? @colourfreak

[2021-11-26 02:03] hboon commented on #3462
It should scroll. `ModalViewController` has a `UIScrollView`. Use that. The original idea is for the whole view to scroll up, but leave it for now unless it's built into `ModalViewController`.

[2021-11-26 02:13] #3470 closed

[2021-11-26 02:44] #3456 closed

[2021-11-26 02:59] #3459 closed

[2021-11-26 08:01] #3475 closed

[2021-11-26 08:37] colourfreak commented on #3464
Yeah, we need two issues.

I would not overcomplicate this. We can connect (message) to each one of these networks and let them know that this is available in the AlphaWallet app now. And we can kindly request them to file an issue if something has changed.

You can figure this out with their names. If hasTestnet = true, then put this into Testnets. We need to write simple scripts that will automa

[2021-11-26 08:46] hboon commented on #3464
Ah yes, and there's actually a "network" field that says whether it is testnet or not, though the data is dirty too. But we can make a guess.

[2021-11-26 10:17] eviltofu opened #3482 "Unexpected and very long error message when saving custom rpc"
When the RPC URL field in a CustomRPC is a valid URL but does not point to any actual location, the following error message is given. An example of such a url is https://node.expanse.tect.

![error](https://user-images.githubusercontent.com/1050309/143564712-c9bd214e-dc2c-4aa3-a026-8baeca858b28.png)

A better error message should be used.

[2021-11-26 13:24] #2941 closed

[2021-11-26 14:15] colourfreak opened #3483 "Add Dark Mode"
# Dark mode conversion checklist

- [x] [Launch Screen](https://github.com/AlphaWallet/alpha-wallet-ios/pull/4700)
- [x] [Initial Wallet Creation](https://github.com/AlphaWallet/alpha-wallet-ios/pull/4830)
- [x] [Initial Network Selection Screen](https://github.com/AlphaWallet/alpha-wallet-ios/pull/4955)
- [x] [Main wallet tab](https://github.com/AlphaWallet/alpha-wallet-ios/pull/5159)
- [x] [Main

[2021-11-26 14:17] colourfreak commented on #3483
**Import/Create new wallet screen wallet**

White #ffffff background becomes Cod #141414
The secondary button changes the background color to Mine #2f2f2f

<img width="1626" alt="Screenshot 2021-11-26 at 15 08 04" src="https://user-images.githubusercontent.com/51817359/143594376-f6e825d3-0d7d-42c8-b798-dda84b836746.png">

[2021-11-26 14:54] colourfreak commented on #3483
**ERC20 Token**
https://zpl.io/a3J4611

- All separators (thin 1pt horizontal lines, mostly in Mercury #e9e9e9) becomes Venus #232323
- Whenever we have a gray text Dove #727272 it becomes Dusty #999999
- All blue Azure #007fed becomes Dodge #0c84ff
- Background behind Action buttons from White #FFFFFF goes to Venus #232323
- Background from White #ffffff to Cod #141414

<img width="1744" alt="Scr

[2021-11-26 15:11] colourfreak commented on #3483
**Wallet**
https://zpl.io/blnKyD1

- All separators (thin 1pt horizontal lines, mostly in Mercury #e9e9e9) becomes Venus #232323
- Whenever we have a gray text Dove #727272 it becomes Dusty #999999
- Tab Bar icons were Dove #727272 now becomes Dusty #999999
- All blue Azure #007fed becomes Dodge #0c84ff
- Background behind Action buttons from White #FFFFFF goes to Venus #232323
- Background from W

[2021-11-26 15:21] colourfreak commented on #3483
**Transaction screen**
https://zpl.io/bW3MvN1

- All separators (thin 1pt horizontal lines, mostly in Mercury #e9e9e9) becomes Venus #232323
- Whenever we have a gray text Dove #727272 it becomes Dusty #999999
- All blue Azure #007fed becomes Dodge #0c84ff
- Background from White #ffffff to Cod #141414
- Search Bar bg becomes Mine #2F2F2F

<img width="1784" alt="Screenshot 2021-11-26 at 16 20 09"

[2021-11-26 15:33] colourfreak commented on #3483
**Confirmation**
https://zpl.io/brOqgvr

- Only in this screen separators (thin 1pt horizontal lines, mostly in Mercury #e9e9e9) becomes Cobalt #444444
- Whenever we have a gray text Dove #727272 it becomes Dusty #999999
- All blue Azure #007fed becomes Dodge #0c84ff
- Background from White #ffffff to Cod #141414

<img width="1751" alt="Screenshot 2021-11-26 at 16 31 47" src="https://user-images.g

[2021-11-26 15:39] colourfreak commented on #3483
Settings
https://zpl.io/awlzpJg

- All separators (thin 1pt horizontal lines, mostly in Mercury #e9e9e9) becomes Venus #232323
- Whenever we have a gray text Dove #727272 it becomes Dusty #999999
- Tab Bar icons were Dove #727272 now becomes Dusty #999999
- All blue Azure #007fed becomes Dodge #0c84ff
- Background behind Action buttons from White #FFFFFF goes to Venus #232323
- Background from Whi

[2021-11-27 23:41] CodahUy opened #3485 "How to set up the project? (New to xcode and student looking forward to contribute)"
Hello,

I'm a programmer in C# and Java and last month I bought myself a Mac.

I'm starting to learn swift and make experiments in Xcode but I don't seem to be able to install the dependencies as it is explained in "Get started" section.

I have already cloned the project and opened it in Xcode but when I try to build it has some errors because I can't find the place or the right console where I s

[2021-11-28 06:46] eviltofu opened #3486 "Additional instructions and upgrading makefile"
Instructions needs a bit of clarification and makefile needs to be upgraded to handle cocoa pod version issues.

[2021-11-29 02:59] hboon commented on #2719
Refer to https://github.com/AlphaWallet/alpha-wallet-android/issues/1809

[2021-11-29 03:15] #3486 closed

[2021-11-29 03:20] hboon commented on #3485
Welcome! Check out [this part](https://github.com/AlphaWallet/alpha-wallet-ios#getting-started) of the README. You need to run `make bootstrap` in the Terminal in the directory which you cloned the repository (it's probably still called `alpha-wallet-ios`).

[2021-11-29 03:38] #3453 closed

[2021-11-29 04:45] CodahUy commented on #3485
Oh, ok! I didn't realise that. Thank you so much! As I said, looking forward to contribute to the community :)

[2021-11-29 04:45] #3485 closed

[2021-11-29 07:39] hboon commented on #3223
@colourfreak bump ^

[2021-11-29 07:39] hboon commented on #3216
Done. Refer to #3409

[2021-11-29 07:39] #3216 closed

[2021-11-29 09:29] colourfreak commented on #3223
What is the size of it? Can you send me a screenshot of how it looks right now?

[2021-11-29 09:51] colourfreak commented on #3223
https://zpl.io/aN3xkAD
https://zpl.io/V0Ool99

![Browser_Icons](https://user-images.githubusercontent.com/51817359/143845625-79438778-4e69-4a1a-aa13-60bc30b1f1ac.jpg)

[2021-11-30 02:57] hboon commented on #3482
Seems like it should appear as how errors look like when filing in the form

<img width="300" alt="Screenshot 2021-11-30 at 10 56 47 AM" src="https://user-images.githubusercontent.com/56189/143977736-1ceab5cc-8cc1-4ed2-801a-f8c2c9818954.png">

[2021-11-30 03:06] hboon commented on #2719
@eviltofu this would need some context. But would still be useful if you help to build the UI first. So basically:

- [ ] Add an item to the end of the Settings > Advanced screen
- [ ] Followed by 2 new screens

[2021-11-30 03:28] eviltofu commented on #3447
As far as I can tell, accepting a 24 word seed phrase is not a problem. The problem appears to be generating a 24 word seed phrase. The 12 word seed phrase is generated by the `mnemonic` property of a `HDWallet` via `TWHDWalletMnemonic` which takes an `OpaquePointer`. I'm looking at the GitHub repository and
[code]
is as far as I got. I could not find any function definition for `getMenemonic`.

[2021-11-30 05:56] hboon opened #3489 "Update to latest WalletConnect v1.x SDK"
Check diffs against `1.3.1` which we are currently using https://github.com/WalletConnect/WalletConnectSwift/releases. Some changes mentioned might break compatibility?

If it is too much breakage, we should consider not upgrading at all.

[2021-11-30 23:05] eviltofu commented on #2719
I always wonder why the final save button is always at the bottom. When I'm entering a form with text fields, the keyboard is often up. So I have to dismiss the keyboard then scroll down and hit the save button. Can the save button be positioned in the upper right hand corner?

[2021-12-01 00:44] eviltofu commented on #2719
@colourfreak when I try `https://zpl.io/V1A8qDQ`, Zeppelin says I'm not invited to this project. Email invite to eviltofu@gmail.com.

[2021-12-01 01:14] eviltofu commented on #3462
How is colour defined in the app? I see colours defined in `Assests.xcassets` and `AppStyle.swift`. Can we stick with one?

[2021-12-01 01:18] eviltofu opened #3491 "Colour usage in code is not consis"
How is colour defined in the app? I see colours defined in `Assests.xcassets` and `AppStyle.swift`. Both methods are used throughout the project. Can we stick with one? And put that in a readme doc?

[2021-12-01 01:19] eviltofu opened #3492 "Colour usage in code is not consistent."
How is colour defined in the app? I see colours defined in `Assests.xcassets` and `AppStyle.swift`. Both methods are used throughout the project. Can we stick with one? And put that in a readme doc?

[2021-12-01 01:20] #3491 closed

[2021-12-01 01:21] eviltofu commented on #3491
Duplicate of #3492

[2021-12-01 01:48] eviltofu commented on #2719
@colourfreak I scrolled through the Zeplin dashboard and found the screens.

https://zpl.io/bLJwNyJ
https://zpl.io/VOyWBZL
https://zpl.io/aBPEOrA
https://zpl.io/bJLKNr6
https://zpl.io/blemNgX

[2021-12-01 03:02] hboon commented on #3492
@eviltofu This should evolve when, or in the preparation of building #3483. Most hex/rgb values will probably be defined in the assets catalog (at least to support Dark mode). We will probably still need some in `AppStyle.swift` though, eg. switching colors programmatically or giving them a semantic name.

Do you have a better suggestion to reduce it to just be in one place?

[2021-12-01 03:21] hboon commented on #2719
Good point. I think it's mainly legacy reasons. But this one should be coordinated across the app and some screens might not have that space available (or we decide to do it per-screen). Better to keep it separate. Create an issue?

[2021-12-01 05:33] hboon opened #3493 "Does ModalViewController need both didDismiss and didClose?"
[code]

They seem to be about the same concept?

[2021-12-01 05:34] hboon commented on #3493
Related: the "actionsheet" doesn't seem to dismiss with an animation

[2021-12-01 06:59] eviltofu commented on #2719
@hboon From a design perspective, should the view controllers of the two new screens have their own single coordinator OR can the SettingsCoordinator handle this?

[2021-12-01 07:00] hboon commented on #2719
Separate if feasible.

[2021-12-01 07:14] eviltofu commented on #2719
I will make the Export JSON keystone process have their own coordinator.

[2021-12-01 08:02] hboon opened #3495 "Stuck at send ERC20 screen after tapping Send button. Screen grayed out"
Can't reproduce.

Expecting the actionsheet to show up next.

Maybe a race condition or problem related to `DispatchQueue`?

![IMG_9695](https://user-images.githubusercontent.com/56189/144195059-7d99a9fc-5524-4d57-abc4-d30c4d73d4bc.png)

[2021-12-01 08:55] hboon opened #3496 "Umbrella issue for using token mapping"
1. Use the same/one copy of token icon in https://github.com/AlphaWallet/iconassets for matching tokens on the same/different chains
    1. Dependency: apps overlaying the smaller chain icon over the icon sourced from `iconassets`

More:

* Price
* Groups

[2021-12-01 09:10] colourfreak commented on #3496
So we have this small network icon in the bottom left corner of each token.

https://zpl.io/aB3X98k
<img width="537" alt="Screenshot 2021-12-01 at 10 03 42" src="https://user-images.githubusercontent.com/51817359/144204216-f43ccd0e-2d7d-4cd8-baa8-f46d3f8511db.png">

It's 16x16.

This is an example:
<img width="797" alt="Screenshot 2021-12-01 at 09 41 19" src="https://user-images.githubusercontent.

[2021-12-01 09:13] colourfreak commented on #3496
Second usage
**The token symbol is only uploaded once and reused if there is the same token on a different network.**

That means that I can remove all uploads from iconassets that were related to BSC, Polygon, Heco, etc. and upload only one token icon without any network icon in a corner (Mainnet Ethereum).

[2021-12-02 02:36] #3482 closed

[2021-12-02 02:42] #3462 closed

[2021-12-02 03:36] #3444 closed

[2021-12-02 12:53] eviltofu opened #3499 "Localised strings files needs to be organised?"
I've noticed that some of the files appear to have more lines? Also the lines should be sorted and perhaps some form of organization be introduced to the naming nomenclature?

[2021-12-02 21:52] eviltofu commented on #3493
I believe one function is called when the X is tapped. The other is called when the view disappears from the screen.

[2021-12-03 02:33] eviltofu commented on #3492
@hboon We should place all colours in `.xcasset` files. The colours can be given semantic style names. For `UIView` background colour, we can specify "UIView-Background" as the name and the light and dark colours, all in one entry. For other usages, we can put them into a `.xcassets` file.

We should move all colours to `Colours.xcasset`. R.swift does pick up extra `.xcassets` files. I removed the

[2021-12-03 02:54] eviltofu opened #3500 "Inconsistent minimum versions"
The Xcode project is set to iOS 11.0. The Cocoapods file is set to 12.0. Should we bump the Xcode project to 12.0 as well?

[2021-12-03 03:33] hboon commented on #3500
Good point. We can't bump the minimum deployment target for Xcode yet though. I do intend to bump it up more (at least 13 actually). But we have white-label projects that still rely on iOS 11. There is work on WalletConnect v2 and their SDK requires at least 12 (or 13, I forgot), so we'll be moving to at least iOS 12 anyway in this 1-2 months.

So let's leave this for now.

[2021-12-03 03:38] hboon commented on #3492
Yes, hex/rgb colors has to be defined in asset catalogs to better support Dark mode.

But I mean, we still need at least some to be defined in `AppStyle.swift` for when we need to explicitly switch colors dynamically. Another thing is the way the UI design system is set up, colors are given names (like `azure` and yes we do use `R.swift` for it, eg. `R.color.azure()`). We have to make the semantic

[2021-12-03 03:39] hboon commented on #3493
Is it necessary to have that distinction and there's a bug somewhere where it doesn't dismiss with an animation for both cases.

[2021-12-03 03:47] hboon commented on #3499
Can you help fix those files that has fewer lines? Add the missing lines in English at the right position.

I think just leave the mess for now. One thought I have is to combine both Android and iOS strings [^1] so the file format itself might not matter so much. But seems not worth the effort to do it now.

[^1]: It'll be faster and easier to get localisations updated and in sync, but maybe lots